<form [formGroup]="fForm">
<div class="md-form-modified">
  <div class="gradient-card-header bg-sidebar border-gradient">
    <div class="container-fluid">
      <!-- Title -->
      <div class="row">
        <div class="col-6">
          <div class="card-header-title white-text">Divizari</div>
        </div>
      </div>
    </div>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade">
    <table class="table table-widths text-center">
      <thead class="bg-sidebar white-text">
      <tr>
        <th scope="col">Nr.</th>
        <th scope="col">Numărul de unități</th>
        <th scope="col">Volum</th>
        <th scope="col">Unitate de masura (volum)</th>
        <th scope="col">Include</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let division of divisions;let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ division.description }}</td>
        <td>{{ division.volume }}</td>
        <td>{{ division.volumeQuantityMeasurement ? division.volumeQuantityMeasurement.description : '' }}</td>
        <td>
          <mat-checkbox #include [checked]="division.include" (change)="checkInclude(include,division)"></mat-checkbox>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="divisions.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
  <div *ngIf="notIncluded">
    <small class="text-muted"><strong class="text-danger">Nu a fost selectata nici o valoare</strong></small>
  </div>
  <div *ngIf="isExtensionInvalid">
    <small class="text-muted"><strong class="text-danger">Nu se permite atasarea instructiunilor cu aceasta extensie. Extensiile permise: ["jpg", "jpeg", "png", "jfif", "bmp", "svg", "pdf"]</strong></small>
  </div>
  <div *ngIf="isFileAlreadyAdded">
    <small class="text-muted"><strong class="text-danger">Fisierul cu acest nume a fost deja atasat.</strong></small>
  </div>
</div>
</form>
<div class="text-center">
  <div mat-dialog-actions>
    <div class="w-100">
      <button class="btn btn-danger btn-sm waves-light" (click)="cancel()">Anulare</button>
      <button *ngIf="dataDialog.type=='edit'" class="btn btn-dark-green-color btn-sm waves-light" (click)="save()">Salvare</button>
      <button *ngIf="dataDialog.type=='add'" class="btn btn-dark-green-color btn-sm waves-light" (click)="checkFields() ? incarcaInstructiune.click() : ''">Adaugare</button>
      <input id="incarcaFisier" #incarcaInstructiune type="file" style="display:none;" (click)="resetInstructiune()" (change)="addInstructiune($event);" attr.disabled="this.disabled"
             accept=".pdf,image/*">
    </div>
  </div>
</div>