primar<div class="container-fluid sky z-depth-2">
	<form [formGroup]="eForm">
		<h3 class="text-center my-3 font-weight-bold">Evaluare primara</h3>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="md-form">
					<input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="requestNumber" [attr.disabled]="true">
					<label for="nrCererii">Nr. cererii</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker touchUi #picker></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
		</div>
		<hr>
		<app-document [documents]="documents" [nrCerere]="eForm.get('requestNumber').value"></app-document>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="md-form" formGroupName="medicament">
					<input id="compSolicitant" mdbInputDirective type="text" class="form-control" formControlName="companyValue" [attr.disabled]="true">
					<label for="compSolicitant">Compania solicitant</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form" formGroupName="medicament">
					<input id="med" mdbInputDirective type="text" class="form-control" formControlName="name" [attr.disabled]="true">
					<label for="med">Medicamentul</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="md-form">
					<h5 class="text-center font-weight-bold">
						Inregistrare
					</h5>
					<hr>
					<mat-radio-group formControlName="typeValue">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<mat-radio-button name="prop1" value="MEDP">Primară</mat-radio-button>
								</div>
								<div class="col-12">
									<mat-radio-button name="prop2" value="MEDR">Repetată</mat-radio-button>
								</div>
							</div>
						</div>
					</mat-radio-group>
				</div>
			</div>
		</div>
		<hr>
		<h5 class="text-center font-weight-bold">Forma farmaceutică</h5>
		<hr>
		<div class="row" formGroupName="medicament">
			<div class="col-6">
				<div class="md-form-modified">
					<ng-select id="pharmaceuticalFormTypes" name="pharmaceuticalFormTypes" [items]="pharmaceuticalFormTypes"
					           bindLabel="description"
					           placeholder="Tip"
					           (ngModelChange)="checkPharmaceuticalFormTypeValue()"
					           formControlName="pharmaceuticalFormType"
					           required="true">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.pharmaceuticalFormType').invalid">
						<small class="text-muted"><strong class="text-danger">Tipul trebuie selectat</strong></small>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="md-form-modified">
					<ng-select id="pharmaceuticalForms" name="pharmaceuticalForms" [items]="pharmaceuticalForms"
					           bindLabel="description"
					           placeholder="Denumire"
					           formControlName="pharmaceuticalForm"
					           required="true">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.pharmaceuticalForm').invalid">
						<small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
					</div>
					<!--<div *ngIf="isWrongValuePharmaceuticalForm && eForm.get('medicament.pharmaceuticalForm').valid">-->
					<!--<small class="text-muted"><strong class="text-danger">Denumirea este incorecta</strong></small>-->
					<!--</div>-->
				</div>
			</div>
		</div>
		<h5 class="text-center font-weight-bold">Substanţe active</h5>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="md-form-modified">
					<!--<mat-form-field class="w-100">-->
					<!--<mat-label>Denumire <span class="text-danger">*</span></mat-label>-->
					<!--<input type="text" aria-label="Number" matInput-->
					<!--formControlName="activeSubstance" [matAutocomplete]="auto3" (ngModelChange)="checkActiveSubstanceValue()">-->
					<!--<mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayDescription">-->
					<!--<mat-option *ngFor="let x of filteredActiveSubstances | async" [value]="x">-->
					<!--{{x.description}}-->
					<!--</mat-option>-->
					<!--</mat-autocomplete>-->
					<!--</mat-form-field>-->
					<!--placeholder="Denumire"-->

					<!--placeholder="`Denumire <span class='text-danger'>*</span>`"-->

					<ng-select id="activeSubstances" name="activeSubstances" [items]="activeSubstances"
					           bindLabel="description"
					           placeholder="Denumire*"
					           (ngModelChange)="checkActiveSubstanceValue()"
					           formControlName="activeSubstance">
					</ng-select>

					<div *ngIf="isAddSubstancePressed && (eForm.get('activeSubstance').value==null || eForm.get('activeSubstance').value.toString().length==0)">
						<small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
					</div>
					<!--<div *ngIf="isWrongValueActiveSubstance && eForm.get('activeSubstance').valid">-->
					<!--<small class="text-muted"><strong class="text-danger">Denumirea este incorecta</strong></small>-->
					<!--</div>-->
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form">
					<input id="codCas" mdbInputDirective type="text" class="form-control" [attr.disabled]="true" formControlName="activeSubstanceCode">
					<label for="codCas">Cod CAS</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form">
					<input id="quantity" mdbInputDirective min="0" step=".01" type="number" class="form-control" formControlName="activeSubstanceQuantity">
					<label for="quantity">Concentratie<span class="text-danger">*</span></label>
					<div *ngIf="isAddSubstancePressed && (eForm.get('activeSubstanceQuantity').value==null || eForm.get('activeSubstanceQuantity').value.toString().length==0)">
						<small class="text-muted"><strong class="text-danger">Cantitatea trebuie introdusa</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form-modified">
					<ng-select id="activeSubstanceUnit" name="activeSubstanceUnit" [items]="unitsOfMeasurement"
					           bindLabel="description"
					           placeholder="Unitate de masură *"
					           formControlName="activeSubstanceUnit">
					</ng-select>
					<div *ngIf="isAddSubstancePressed && (eForm.get('activeSubstanceUnit').value==null || eForm.get('activeSubstanceUnit').value.toString().length==0)">
						<small class="text-muted"><strong class="text-danger">Unitatea de masură trebuie selectata</strong></small>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="md-form">
					<input id="proSubsActiv" mdbInputDirective type="text" formControlName="manufactureSA" class="form-control" [attr.disabled]="true">
					<label for="taraProSubsActiv">Producător</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="taraProSubsActiv" mdbInputDirective type="text" formControlName="manufactureCountrySA" class="form-control" [attr.disabled]="true">
					<label for="taraProSubsActiv">Ţară producător</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="adresaProdSubsActive" mdbInputDirective type="text" formControlName="manufactureAddressSA" class="form-control" [attr.disabled]="true">
					<label for="adresaProdSubsActive">Adresă producător</label>
				</div>
			</div>
		</div>
		<div class="position-button">
			<button class="btn btn-indigo btn-sm" mdbWavesEffect (click)="addActiveSubstance()">Adaugă substanţa activă</button>
		</div>
		<table class="table table-widths text-center">
			<thead class="black white-text">
			<tr>
				<th scope="col">Denumire</th>
				<th scope="col">Cod CAS</th>
				<th scope="col">Cantitate</th>
				<th scope="col">Unitate de masură</th>
				<th scope="col">Producător</th>
				<th scope="col">Ţară producător</th>
				<th scope="col">Adresă producător</th>
				<th scope="col">Actiuni</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let substance of activeSubstancesTable;let i = index">
				<th scope="row">{{ substance.activeSubstance.description }}</th>
				<td>{{ substance.activeSubstance.code }}</td>
				<td>{{ substance.quantity }}</td>
				<td>{{ substance.unitsOfMeasurement.description }}</td>
				<td>{{ substance.manufacture.description }}</td>
				<td>{{ substance.manufacture.country.description }}</td>
				<td>{{ substance.manufacture.address }}</td>
				<td>
					<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeSubstance(i)" mdbWavesEffect>Delete</button>
				</td>
			</tr>
			</tbody>
		</table>
		<div *ngIf="formSubmitted && activeSubstancesTable.length==0">
			<small class="text-muted"><strong class="text-danger">Nici o substanta activa nu a fost adaugata</strong></small>
		</div>
		<hr>
		<h5 class="text-center font-weight-bold">Informatii generale medicament</h5>
		<hr>
		<div class="row" formGroupName="medicament">
			<div class="col-md-6">
				<div class="md-form">
					<input id="dose" mdbInputDirective min="0" step=".01" type="number" class="form-control" formControlName="dose">
					<label for="dose">Doza <span class="text-danger">*</span></label>
					<div *ngIf="formSubmitted && eForm.get('medicament.dose').invalid">
						<small class="text-muted"><strong class="text-danger">Doza trebuie introdusa</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form-modified">
					<ng-select id="medUnit" name="medUnit" [items]="unitsOfMeasurement"
					           bindLabel="description"
					           placeholder="Unitate de masura *"
					           formControlName="unitsOfMeasurement">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.unitsOfMeasurement').invalid">
						<small class="text-muted"><strong class="text-danger">Unitatea de masura trebuie selectata</strong></small>
					</div>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form-modified">
					<ng-select id="internationalName" name="internationalName" [items]="internationalNames"
					           bindLabel="description"
					           placeholder="Denumirea internationala *"
					           formControlName="internationalMedicamentName">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.internationalMedicamentName').invalid">
						<small class="text-muted"><strong class="text-danger">Denumirea comuna internationala trebuie introdusa</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="codMed" mdbInputDirective numberOnly type="text" class="form-control" formControlName="code">
					<label for="codMed">Codul medicamentului <span class="text-danger">*</span></label>
				</div>
				<div *ngIf="formSubmitted && eForm.get('medicament.code').invalid">
					<small class="text-muted"><strong class="text-danger">Codul medicamentului trebuie introdus</strong></small>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="termenVal" mdbInputDirective type="number" class="form-control" formControlName="termsOfValidity">
					<label for="termenVal">Termen de valabilitate <span class="text-danger">*</span></label>
				</div>
				<div *ngIf="formSubmitted && eForm.get('medicament.termsOfValidity').invalid">
					<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie introdus</strong></small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="md-form-modified">
					<ng-select id="medType" name="medType" [items]="medicamentTypes"
					           bindLabel="description"
					           placeholder="Clasificarea medicamentului *"
					           formControlName="medicamentType">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.medicamentType').invalid">
						<small class="text-muted"><strong class="text-danger">Clasificarea medicamentului trebuie selectata</strong></small>
					</div>
				</div>
			</div>
		</div>
		<h5 class="text-center font-weight-bold">Divizare</h5>
		<div class="row" formGroupName="medicament">
			<div class="col-md-6">
				<div class="md-form">
					<input id="nrUnits" mdbInputDirective type="number" class="form-control" formControlName="unitsQuantity">
					<label for="volum">Numar de bucati</label>
				</div>
				<div *ngIf="formSubmitted && eForm.get('medicament.unitsQuantity').invalid">
					<small class="text-muted"><strong class="text-danger">Numar de bucati trebuie introdus</strong></small>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form-modified">
					<ng-select id="unitsQuantityMeasurement" name="unitsQuantityMeasurement" [items]="unitsOfMeasurement"
					           bindLabel="description"
					           placeholder="Unitate de masura *"
					           formControlName="unitsQuantityMeasurement">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.unitsQuantityMeasurement').invalid">
						<small class="text-muted"><strong class="text-danger">Unitatea de masura trebuie selectata</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form">
					<input id="storageQuantity" mdbInputDirective type="number" class="form-control" formControlName="storageQuantity">
					<label for="volum">Cantitate stocare</label>
				</div>
				<div *ngIf="formSubmitted && eForm.get('medicament.storageQuantity').invalid">
					<small class="text-muted"><strong class="text-danger">Cantitate stocare trebuie introdusa</strong></small>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form-modified">
					<ng-select id="storageQuantityMeasurement" name="storageQuantityMeasurement" [items]="unitsOfMeasurement"
					           bindLabel="description"
					           placeholder="Unitate de masura *"
					           formControlName="storageQuantityMeasurement">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.unitsQuantityMeasurement').invalid">
						<small class="text-muted"><strong class="text-danger">Unitatea de masura trebuie selectata</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form">
					<input id="volum" mdbInputDirective type="text" class="form-control" formControlName="volume">
					<label for="volum">Volumul</label>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-6">
				<div class="md-form" formGroupName="group">
					<h5 class="text-center font-weight-bold">Grupa medicament</h5>
					<hr>
					<div class="container">
						<mat-radio-group formControlName="code">
							<div class="row">
								<div class="col-12">
									<mat-radio-button name="prop1" value="VIT">Vital</mat-radio-button>
								</div>
								<div class="col-12">
									<mat-radio-button name="prop2" value="ES">Esenţial</mat-radio-button>
								</div>
								<div class="col-12">
									<mat-radio-button name="prop2" value="NES">Nonesenţial</mat-radio-button>
								</div>
							</div>
						</mat-radio-group>
					</div>
					<br/>
					<div *ngIf="formSubmitted && eForm.get('medicament.group.code').invalid">
						<small class="text-muted"><strong class="text-danger">Grupa medicament trebuie selectata</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form">
					<h5 class="text-center font-weight-bold">Eliberare receta</h5>
					<hr>
					<div class="container">
						<mat-radio-group formControlName="prescription">
							<div class="row">
								<div class="col-12">
									<mat-radio-button name="prop1" value="1">Cu prescripţia</mat-radio-button>
								</div>
								<div class="col-12">
									<mat-radio-button name="prop2" value="0">Fără prescripţia</mat-radio-button>
								</div>
							</div>
						</mat-radio-group>
					</div>
					<br/>
					<div *ngIf="formSubmitted && eForm.get('medicament.prescription').invalid">
						<small class="text-muted"><strong class="text-danger">Eliberare receta trebuie selectata</strong></small>
					</div>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form-modified">
					<ng-select id="denumireaAutProd" name="denumireaAutProd" [items]="manufactureAuthorizations"
					           bindLabel="description"
					           placeholder="Deţinătorul autorizaţiei de producere *"
					           (ngModelChange)="fillAutorizationHolderDetails()"
					           formControlName="authorizationHolder">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.authorizationHolder').invalid">
						<small class="text-muted"><strong class="text-danger">Deţinătorul autorizaţiei de producere trebuie selectat</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="taraDetinAutProd" mdbInputDirective type="text" formControlName="authorizationHolderCountry" class="form-control" [attr.disabled]="true">
					<label for="taraDetinAutProd">Ţara deţinătorului autorizaţiei de producere</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="adresaDetAutProd" mdbInputDirective type="text" formControlName="authorizationHolderAddress" class="form-control" [attr.disabled]="true">
					<label for="adresaDetAutProd">Adresa deţinătorului autorizaţiei de producere</label>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form-modified">
					<ng-select id="denumireaProdFinit" name="denumireaProdFinit" [items]="manufactures"
					           bindLabel="description"
					           placeholder="Producătorul produsului finit *"
					           (ngModelChange)="fillManufactureDetails()"
					           formControlName="manufacture">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.manufacture').invalid">
						<small class="text-muted"><strong class="text-danger">Producătorul produsului finit trebuie selectat</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="taraProdProduInit" mdbInputDirective type="text" formControlName="manufactureMedCountry" class="form-control" [attr.disabled]="true">
					<label for="taraProdProduInit">Ţara producătorului produsului finit</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="adresaProdProduFinish" mdbInputDirective type="text" formControlName="manufactureMedAddress" class="form-control" [attr.disabled]="true">
					<label for="adresaProdProduFinish">Adresa producătorului produsului finit</label>
				</div>
			</div>
		</div>
		<hr>
		<app-payment [receipts]="receiptsList" [paymentOrders]="paymentOrdersList" (totalValueChanged)="paymentTotalUpdate($event)"></app-payment>
		<div *ngIf="formSubmitted && paymentTotal<0">
			<small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
		</div>
		<hr>
		<div class="text-center">
			<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="requestAdditionalData()">Solicitare date aditionale</button>
			<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="requestLaboratoryAnalysis()">Solicitare analiza laborator</button>
			<button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date</button>
			<button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="nextStep()">Urmatorul pas</button>
			<button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">Intrerupere</button>
		</div>
	</form>
</div>