<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Inregistrare notificare</h3>
    <hr>
    <form [formGroup]='clinicTrailNotifForm' #f="ngForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regNr" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber">
                    <label for="regNr">Nr. cererii
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regDate" [matDatepicker]="picker" mdbInputDirective type="text" class="form-control"
                           formControlName="startDate">
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <label for="regDate">Data
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form" *ngIf="f.value.company">
                    <input id="company" mdbInputDirective type="text" class="form-control"
                           value={{f.value.company.name}} [attr.disabled]="true">
                    <label for="company">Compania solicitant
                    </label>
                </div>
                <div class="md-form" *ngIf="!f.value.company">
                    <input id="person" mdbInputDirective type="text" class="form-control"
                           value={{mandatedContactName}} [attr.disabled]="true">
                    <label for="person">Persoana fizica
                    </label>
                </div>
            </div>
        </div>
        <hr>

        <app-document [documents]="docs" [nrCerere]="f.value.requestNumber" [dcTypes]="docTypes"></app-document>
        <h5 class="text-center my-3 font-weight-bold">Studiu Clinic</h5>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form">
                    <textarea type="text" id="titluStud" class="md-textarea form-control" mdbInputDirective rows="1"
                              value={{f.value.clinicalTrails?.title}} [attr.disabled]="true"></textarea>
                    <label for="titluStud">Titlul studiului</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="code" mdbInputDirective type="text" class="form-control"
                           value={{f.value.clinicalTrails?.code}}
                           [attr.disabled]="true">
                    <label for="code">Codul studiului</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="eudra" mdbInputDirective type="text" class="form-control"
                           value={{f.value.clinicalTrails?.eudraCtNr}}
                           [attr.disabled]="true">
                    <label for="eudra">Eudra Nr.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="sponsor" mdbInputDirective type="text" class="form-control"
                           value={{f.value.clinicalTrails?.sponsor}}
                           [attr.disabled]="true">
                    <label for="sponsor">Sponsor</label>
                </div>
            </div>
        </div>
        <hr>

        <div [formGroup]="addNotificationTypesForm" #f2="ngForm">
            <div class="row">
                <div class="col-4">
                    <div class="md-form-modified">
                        <mat-form-field class="w-30">
                            <input matInput value="{{f.value.clinicalTrails?.code}}-N" disabled>
                        </mat-form-field>
                        <mat-form-field class="w-70">
                            <input matInput placeholder="Codul notificarii" formControlName="notifCode" maxlength="2">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-8">
                    <div class="md-form-selected">
                        <ng-select id="allNotificationTypes" name="allNotificationTypes"
                                   [items]="allNotificationTypesList"
                                   placeholder="Tip notificare" formControlName="notificationType" required="true">
                            <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                {{item?.name}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <textarea type="text" id="titluNotificare" class="md-textarea form-control" mdbInputDirective
                                  rows="1" formControlName="notificationTitle"></textarea>
                        <label for="titluNotificare">Titlul notificarii</label>
                    </div>
                </div>
                <hr>
            </div>

            <div class="row" *ngIf="f2.value.notificationType?.code === 'DDGSC'">
                <div class="col-md-12">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker1"
                                   placeholder="Data deschiderii globale a studiului clinic"
                                   formControlName="startDateInternational">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="f2.value.notificationType?.code === 'DDLSC'">
                <div class="col-md-12">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker2"
                                   placeholder="Data deschiderii locale a studiului clinic"
                                   formControlName="startDateNational">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="f2.value.notificationType?.code === 'DIGSC'">
                <div class="col-md-12">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker3"
                                   placeholder="Data inchiderii locale a studiului clinic"
                                   formControlName="endDateInternational">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="f2.value.notificationType?.code === 'DILSC'">
                <div class="col-md-12">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker4"
                                   placeholder="Data inchiderii globale a studiului clinic"
                                   formControlName="endDateNational">
                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker4></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="form-group" formGroupName="reportDsurEntity" *ngIf="f2.value.notificationType?.code === 'DSUR'">
                <h5 class="text-center my-3 font-weight-bold">Forma DSUR</h5>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form-selected">
                            <ng-select id="registerModesDSUR" name="registerModesDSUR" [items]="registerTypeValues"
                                       placeholder="Mod inregistrare" formControlName="registerTypeValue">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker5" placeholder="Data raport din"
                                       formControlName="dateFrom">
                                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker5></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker6" placeholder="Data raport pina la"
                                       formControlName="dateTo">
                                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker6></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input id="reporter" mdbInputDirective type="text" class="form-control"
                                   formControlName="reporter">
                            <label for="reporter">Raportor</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input id="numeMedicament" mdbInputDirective type="text" class="form-control"
                                   formControlName="drugName" [attr.disabled]="true">
                            <label for="numeMedicament">Descriere produs de investigat / Doza</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="idenRisk" class="md-textarea form-control" mdbInputDirective
                                      rows="1"
                                      formControlName="identifiedRisks"></textarea>
                            <label for="idenRisk">Riscuri identificate</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="potentRisk" class="md-textarea form-control" mdbInputDirective
                                      rows="1" formControlName="potentialRisks"></textarea>
                            <label for="potentRisk">Riscuri potentiale</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="otherData" class="md-textarea form-control" mdbInputDirective
                                      rows="1" formControlName="otherRelevantData"></textarea>
                            <label for="otherData">Date aditionale</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="conclusions" class="md-textarea form-control" mdbInputDirective
                                      rows="1" formControlName="conclusions"></textarea>
                            <label for="conclusions">Concluzii</label>
                        </div>
                    </div>
                </div>
            </div>


            <!--SARLLR-->
            <div class="form-group" formGroupName="reportSarLlrEntity"
                 *ngIf="f2.value.notificationType?.code === 'LLR'">
                <h5 class="text-center my-3 font-weight-bold">Forma SAR LLR</h5>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form-selected">
                            <ng-select id="registerModesSARLLR" name="registerModesSARLLR" [items]="registerTypeValues"
                                       placeholder="Mod inregistrare" formControlName="registerTypeValue">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker7" placeholder="Data raport din"
                                       formControlName="dateFrom">
                                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker7></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker8" placeholder="Data raport pina la"
                                       formControlName="dateTo">
                                <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker8></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input id="reporter2" mdbInputDirective type="text" class="form-control"
                                   formControlName="reporter">
                            <label for="reporter2">Raportor</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input id="recordedCases" mdbInputDirective type="number" class="form-control"
                                   formControlName="recordedCases">
                            <label for="recordedCases">Cazuri raportate</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="conclusions2" class="md-textarea form-control" mdbInputDirective
                                      rows="1" formControlName="conclusions"></textarea>
                            <label for="conclusions2">Concluzii</label>
                        </div>
                    </div>
                </div>
            </div>

            <!--SAE/SUSAR-->
            <div class="form-group" formGroupName="reportSaeSusarEntity"
                 *ngIf="f2.value.notificationType?.code === 'SUSAR/SAE'">
                clinical-trials
                <h5 class="text-center my-3 font-weight-bold">Forma SAE/SUSAR</h5>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form-selected">
                            <ng-select id="specificReportTypeValue" name="specificReportTypeValue"
                                       [items]="specificReportTypeValues"
                                       placeholder="Tip raport SAE/SUSAR" formControlName="specificReportTypeValue">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker14" placeholder="DATE OF THIS REPORT"
                                       formControlName="thisReportDate">
                                <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker14></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form-selected">
                            <ng-select id="registerModes" name="registerModes" [items]="registerTypeValues"
                                       placeholder="Mod inregistrare"
                                       formControlName="registerTypeValue">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="reporter3" mdbInputDirective type="text" class="form-control"
                                   formControlName="reporter">
                            <label for="reporter3">Raportor</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col">
                                <div class="md-form-selected">
                                    <ng-select id="reportType" name="reportType" class="w-100"
                                               [items]="reportTypeValues"
                                               placeholder="Report Type" formControlName="reportTypeValue">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-6" *ngIf="showReportType">
                                <div class="md-form">
                                    <input id="reporter3" mdbInputDirective type="text" class="form-control"
                                           formControlName="reportType">
                                    <label for="reporter3">Follow up nr.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form-selected">
                            <ng-select id="level" name="level" [items]="levelValues" placeholder="Level"
                                       formControlName="level">
                            </ng-select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="study" mdbInputDirective type="text" class="form-control"
                                   formControlName="studyId">
                            <label for="study">Study ID</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="patient" mdbInputDirective type="text" class="form-control"
                                   formControlName="patientId">
                            <label for="patient">Patient ID</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="center" mdbInputDirective type="text" class="form-control"
                                   formControlName="centerId">
                            <label for="center">Center ID</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form-selected">
                            <ng-select id="Causality" name="Causality" [items]="casualityValues" placeholder="Causality"
                                       formControlName="casualityValue">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="actionTakenDrug" class="md-textarea form-control"
                                      mdbInputDirective rows="1" formControlName="actionTakenDrug"></textarea>
                            <label for="actionTakenDrug">Action(s) taken with drug</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="companyRemarks" class="md-textarea form-control"
                                      mdbInputDirective rows="1" formControlName="companyRemarks"></textarea>
                            <label for="companyRemarks">Company remarks</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="patientInitials" mdbInputDirective type="text" class="form-control"
                                   formControlName="patientInitials">
                            <label for="patientInitials">PATIENT INITIALS</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker" placeholder="DATE OF BIRTH"
                                       formControlName="dateOfBirth">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="age" mdbInputDirective type="number" class="form-control" formControlName="age">
                            <label for="age">AGE</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form-selected">
                            <ng-select id="gender" name="gender" [items]="reportGenderValues" placeholder="SEX"
                                       formControlName="sexValue">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-45">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker9" placeholder="REACTION ONSET"
                                   formControlName="reactionOnSet">
                            <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker9></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-9">
                        <div class="md-form">
                            <textarea type="text" id="describeReactions" class="md-textarea form-control"
                                      mdbInputDirective rows="1" formControlName="describeReactions"></textarea>
                            <label for="describeReactions">DESCRIBE REACTIONS (including relevant tests/ lab
                                data)</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mt-36">
                        <div class="row">
                            <div class="col">
                                <div class="md-form-selected">
                                    <ng-select id="reportTypeSaesusar" name="reportTypeSaesusar" class="w-100"
                                               [items]="reportTypeSaesusarValues"
                                               placeholder="TYPES OF SAE / SUSAR" formControlName="typeSaesusarValue">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-6" *ngIf="showDiedDate">
                                <div class="md-form-modified">
                                    <mat-form-field class="w-100">
                                        <input matInput [matDatepicker]="picker10" placeholder="DIED DATE"
                                               formControlName="patientDiedDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker10></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="suspectDrug" class="md-textarea form-control" mdbInputDirective
                                      rows="1" formControlName="suspectDrug"></textarea>
                            <label for="suspectDrug">SUSPECT DRUG(S) (include generic name)</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 mt-36">
                        <div class="md-form">
                            <input id="dailyDose" mdbInputDirective type="text" class="form-control"
                                   formControlName="dailyDose">
                            <label for="dailyDose">DAILY DOSE(S)</label>
                        </div>
                    </div>
                    <div class="col-md-3 mt-36">
                        <div class="md-form">
                            <input id="routesOfAdmin" mdbInputDirective type="text" class="form-control"
                                   formControlName="routesOfAdmin">
                            <label for="routesOfAdmin">ROUTE(S) OF ADMINISTRATION)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="indicationForUse" class="md-textarea form-control"
                                      mdbInputDirective rows="1" formControlName="indicationForUse"></textarea>
                            <label for="indicationForUse">INDICATION(S) FOR USE</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker11" placeholder="THERAPY DATES (from)"
                                       formControlName="therapyDateFrom">
                                <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker11></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker12" placeholder="THERAPY DATES (to)"
                                       formControlName="therapyDateTo">
                                <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker12></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input id="therapyDuration" mdbInputDirective type="text" class="form-control"
                                   formControlName="therapyDuration">
                            <label for="therapyDuration">THERAPY DURATION</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form-selected">
                            <ng-select id="reactionAbated" name="reactionAbated" [items]="reportResponseTypeValues"
                                       placeholder="DID REACTION ABATE AFTER STOPPING DRUG?"
                                       formControlName="reactionAbatedValue">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form-selected">
                            <ng-select id="eventReappear" name="eventReappear" [items]="reportResponseTypeValues"
                                       placeholder="DID EVENT REAPPEAR AFTER REINTRODUCTION?"
                                       formControlName="eventReappearValue">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="concDrugDates" class="md-textarea form-control" mdbInputDirective
                                      rows="1" formControlName="concDrugDates"></textarea>
                            <label for="concDrugDates">CONCOMITANT DRUGS AND DATES OF ADMINISTRATION (Exclude those
                                used to treat event)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <textarea type="text" id="otherRelevantHistory" class="md-textarea form-control"
                                      mdbInputDirective rows="1" formControlName="otherRelevantHistory"></textarea>
                            <label for="otherRelevantHistory">OTHER RELEVANT HISTORY</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="nameAdressManufacturer" mdbInputDirective type="text" class="form-control"
                                   formControlName="nameAdressManufacturer">
                            <label for="nameAdressManufacturer">NAME AND ADDRESS OF MANUFACTURER</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="mfrControlNo" mdbInputDirective type="text" class="form-control"
                                   formControlName="mfrControlNo">
                            <label for="mfrControlNo">MFR. CONTROL NO.</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker13" placeholder="DATE RECEIVED BY MANUFACTURER"
                                       formControlName="dateManufactReceived">
                                <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker13></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form-selected">
                            <ng-select id="reportSource" name="reportSource" [items]="reportSourceValues"
                                       placeholder="REPORT SOURCE"
                                       formControlName="reportSourceValue">
                            </ng-select>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </form>

    <div class="text-center">
        <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="onSubmit()">
            Finisare
        </button>
    </div>
</div>