
.md-form-modified {
  position: relative;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

.bg-gradient-dark-green {
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}

.alert-currency {
  color: #0c5460;
  background-image: linear-gradient(40deg, #a8edea, #fed6e3);
}
.table-width {
  width: 100%;
}

w-20 {
  width: 20%;
}
w-5 {
  width: 10%;
}

.w-40 {
  width: 40px !important;
}
table.table th, td {
  text-align: center !important;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
}

table.table {
  margin-bottom: 0px !important;
}

table.table td {
  border-right: 1px solid rgba(0,0,0,.12);
  border-left: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding-top: 3px;
  padding-bottom: 3px;
}


::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.peach-gradient{background:-webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;background:-o-linear-gradient(50deg,#ffd86f,#fc6262)!important;background:linear-gradient(40deg,#ffd86f,#fc6262)!important}

.btn-fixed {
  position: fixed;
  z-index: 101;
  bottom: 15px;
  right: 45px;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
  border-radius: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.input-currency {
  border:none; background: transparent; outline: 0; color: #0c5460;
}
.modal-size {
  width: 1200px !important;
}

.modal-content .close {
  top: 13px;
}

.p-0 {
  padding: 0 !important;
}