<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Evaluarea cererii de inregistrare a pretului la medicamente</h3>

    <form [formGroup]='PriceRegForm'>
        <div class="row">
            <div class="col-lg-3">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber" [attr.disabled]="true">
                    <label for="nrCererii">Numarul cererii</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="md-form">
                    <input id="reqStatus" mdbInputDirective type="text" class="form-control"
                           formControlName="requestStatus" [attr.disabled]="true">
                    <label for="reqStatus">Statutul cererii</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="md-form" formGroupName="price">
                    <input id="nrFolder" mdbInputDirective type="text" class="form-control"
                           formControlName="folderNr" [attr.disabled]="true">
                    <label for="nrFolder">Numarul dosarului</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="din data" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col" formGroupName="company">
                <div class="md-form">
                    <input id="compName" mdbInputDirective type="text" class="form-control"
                           formControlName="name" [attr.disabled]="true">
                    <label for="compName">Compania solicitantă</label>
                </div>
            </div>

            <div class="col" formGroupName="medicament">
                <div class="md-form">
                    <input id="prod" mdbInputDirective type="text" class="form-control" [attr.disabled]="true"
                           formControlName="manufactureName">
                    <label for="prod">Producatorul medicamentului </label>
                </div>
            </div>

            <div class="col" formGroupName="medicament">
                <div class="md-form">
                    <input id="valab" mdbInputDirective type="number" class="form-control"
                           formControlName="termsOfValidity"  [attr.disabled]="true">
                    <label for="valab">Termen de valabilitate (luni)</label>
                </div>
            </div>

            <div class="col" formGroupName="medicament">
                <div class="md-form">
                    <input id="expiration" mdbInputDirective type="text" class="form-control"
                           formControlName="expirationDate"  [attr.disabled]="true">
                    <label for="expiration">Data expirării licenței</label>
                </div>
            </div>

            <div class="col">
                <div class="md-form">
                    <input id="typeMed" mdbInputDirective type="text" class="form-control" [value]="medicamentType.description" [attr.disabled]="true">
                    <label for="typeMed">Tipul medicamentului</label>
                </div>
            </div>
        </div>


        <table mdbTable class="my-5">
            <thead class="black white-text">
            <tr>
                <th mdbTooltip="Tipul Medicamenului">Tipul Medicamenului</th>
                <th mdbTooltip="Codul">Codul</th>
                <th mdbTooltip="Denumirea">Denumirea</th>
                <th mdbTooltip="Forma farmaceutică">Forma farmaceutică</th>
                <th mdbTooltip="Doza">Doza</th>
                <th mdbTooltip="Divizarea">Divizarea</th>
                <th mdbTooltip="Denumirea internaţională">Denumirea internaţională</th>
                <th mdbTooltip="Preţul MDL">Preţul MDL</th>
                <th mdbTooltip="Preţul Valuta">Preţul Valuta</th>
            </tr>
            </thead>
            <tbody>

            <tr mdbTableCol *ngFor="let el of medicaments">
                <td mdbTooltip="{{el.target}}" placement="top">{{el.target}}</td>
                <td mdbTooltip="{{el.code}}" placement="top">{{el.code}}</td>
                <td mdbTooltip="{{el.name}}" placement="top">{{el.name}}</td>
                <td mdbTooltip="{{el.pharmaceuticalForm.description}}" placement="top">{{el.pharmaceuticalForm.description}}</td>
                <td mdbTooltip="{{el.dose}}" placement="top">{{el.dose}}</td>
                <td mdbTooltip="{{el.division}}" placement="top">{{el.division}}</td>
                <td mdbTooltip="{{el.internationalMedicamentName.description}}" placement="top">{{el.internationalMedicamentName.description}}</td>
                <td mdbTooltip="{{el.price.mdlValue | number:'1.4'}}" placement="top">{{el.price.mdlValue | number:'1.4'}}</td>
                <td mdbTooltip="{{el.price.value | number:'1.4'}} {{el.price.currency.shortDescription}}" placement="top">{{el.price.value | number:'1.4'}} {{el.price.currency.shortDescription}}</td>
            </tr>
            </tbody>
        </table>

        <h5 class="text-center font-weight-bold mt-4 mb-4">Rata medie a BNM pentru luna precedentă evaluării
            dosarului</h5>
        <div class="container ">
            <div class="row" *ngFor="let avgCur of avgCurrencies; let i = index">
                <div class="offset-2"></div>
                <div class="col-8">
                    <div class="row text-center font-weight-bold alert alert-currency">
                        <div class="col-5">{{'1 ' + avgCur?.currency?.shortDescription}}</div>
                        <div class="col-2">=</div>
                        <div class="col-3">
                            <input #exchangeField
                                   id="myText"
                                   type="number"
                                   class="text-right font-weight-bold" style=" border:none; background: transparent; outline: 0;"
                                   [value]="avgCur?.value | number:'1.4'"
                                   (change)="exchangeRateModified(i, exchangeField.value)" />
                        </div>
                        <div class="col-2 text-left font-weight-bold">MDL</div>
                    </div>
                </div>
                <div class="offset-2"></div>
            </div>
        </div>

            <div [hidden]="!hasReferencePrices">
                    <!-- Card gradient -->
                    <div class="cascade-header bg-sidebar">

                        <!-- Title -->
                        <div class="row">
                            <div class="col-10">
                                <div class="card-header-title white-text mt-2">Prețul medicamentului în 9 țări de referință</div>
                            </div>
                            <div class="col-2">
                                <div class="text-right text-white pr-2 fap">
                                    <span class="cursorPointer" (click)="addNewReferencePrice(PriceRefType.ReferenceCountry)"><i class="fa fa-plus-circle fa-2x fa-mt" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade z-depth-3">
                        <table mdbTable striped="true" hover="true" small="true" class="text-center">
                            <thead class="black white-text">
                            <tr>
                                <th scope="col" mdbTooltip="Țara de referință">Țara de referință</th>
                                <th mdbTooltip="Valuta ţării de referinţă">Valuta ţării de referinţă</th>
                                <th>Preţ</th>
                                <th mdbTooltip="Rata de schimb (valuta ţării de referinta/MDL)">Rata de schimb (valuta ţării de referinta/MDL)</th>
                                <th>MDL</th>
                                <th mdbTooltip="Rata de schimb (EUR/lei)">Rata de schimb (EUR/lei)</th>
                                <th>EUR</th>
                                <th mdbTooltip="Rata de schimb (USD/lei)">Rata de schimb (USD/lei)</th>
                                <th>USD</th>
                                <th>Actiuni</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr mdbTableCol *ngFor="let el of refPrices; let i = index">
                                <ng-container *ngIf="el.type.id == PriceRefType.ReferenceCountry">
                                    <td mdbTooltip="{{el.country?.description}}" class="align-middle" scope="row">{{el.country?.description}}</td>
                                    <td mdbTooltip="{{el.currency?.shortDescription}}" class="align-middle">{{el.currency?.shortDescription}}</td>
                                    <td mdbTooltip="{{el.value | number:'1.4'}}" class="align-middle">{{el.value | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateRef | number:'1.4'}}" class="align-middle">{{el?.xchRateRef | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateRefVal | number:'1.4'}}" class="align-middle">{{el?.xchRateRefVal | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateEur | number:'1.4'}}" class="align-middle">{{el?.xchRateEur | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateEurVal | number:'1.4'}}" class="align-middle">{{el?.xchRateEurVal | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateUsd | number:'1.4'}}" class="align-middle">{{el?.xchRateUsd | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateUsdVal | number:'1.4'}}" class="align-middle">{{el?.xchRateUsdVal | number:'1.4'}}</td>
                                    <td mdbTooltip="" class="align-middle"><button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                                                                     (click)="priceEditModalOpen(el, i)">
                                        Editare
                                    </button></td>
                                </ng-container>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                <div class="my-5">
                <div class="cascade-header bg-sidebar">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-header-title white-text mt-2">Media celor mai mici prețuri în țările de referință</div>
                        </div>
                    </div>

                </div>
                        <!-- Card content -->
                        <div class="card-body card-body-cascade z-depth-3">
                            <table mdbTable striped="true" hover="true" small="true" class="text-center">
                                <thead class="black white-text">
                                <tr>
                                    <th scope="col">Cele mai mici 3 prețuri</th>
                                    <th>MDL</th>
                                    <th>EUR</th>
                                    <th>USD</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr mdbTableCol *ngFor="let el of minRefPrices">
                                    <td scope="row">{{el.country?.description}}</td>
                                    <td>{{el?.xchRateRefVal | number:'1.4'}}</td>
                                    <td>{{el?.xchRateEurVal | number:'1.4'}}</td>
                                    <td>{{el?.xchRateUsdVal | number:'1.4'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

        <div [hidden]="prevPrices == undefined || prevPrices.length == 0">

            <div class="my-5">
                <div class="cascade-header bg-sidebar">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-header-title white-text mt-2">Date despre înregistrările precedente</div>
                        </div>
                    </div>

                </div>
                <!-- Card content -->
                <div class="card-body card-body-cascade z-depth-3">
                    <table mdbTable striped="true" hover="true" small="true" class="text-center">
                        <thead class="black white-text">
                        <tr>
                            <th scope="col">Data aprobării ordinului</th>
                            <th>Data revizuirii preţului</th>
                            <th>MDL</th>
                            <th>Valuta</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr mdbTableCol *ngFor="let el of prevPrices">
                            <td scope="row">{{el.orderApprovDate | date: 'dd/MM/yyyy'}}</td>
                            <td>{{el.revisionDate | date: 'dd/MM/yyyy'}}</td>
                            <td>{{el.mdlValue | number:'1.4'}}</td>
                            <td>{{el.value | number:'1.4'}} {{el.currency?.shortDescription}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

            <div [hidden]="!hasOriginCountryPrices">

                    <div class="my-5">
                        <div class="cascade-header bg-sidebar">
                            <!-- Title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-header-title white-text mt-2">Prețul medicamentului în țara de origine</div>
                                </div>
                            </div>

                        </div>
                        <!-- Card content -->
                        <div class="card-body card-body-cascade z-depth-3">
                            <table mdbTable striped="true" hover="true" small="true"
                                   class="text-center">
                                <thead class="black white-text">
                                <tr>
                                    <th mdbTooltip="Țara de origine" scope="col">Țara de origine</th>
                                    <th mdbTooltip="Valuta ţării de referinţă">Valuta ţării de referinţă</th>
                                    <th mdbTooltip="Preţ">Preţ</th>
                                    <th mdbTooltip="Rata de schimb (valuta ţării de referinta/MDL)">Rata de schimb (valuta ţării de referinta/MDL)</th>
                                    <th mdbTooltip="MDL">MDL</th>
                                    <th mdbTooltip="Rata de schimb (EUR/lei)">Rata de schimb (EUR/lei)</th>
                                    <th mdbTooltip="EUR">EUR</th>
                                    <th mdbTooltip="Rata de schimb (USD/lei)">Rata de schimb (USD/lei)</th>
                                    <th mdbTooltip="USD">USD</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr mdbTableCol *ngFor="let el of refPrices">
                                    <ng-container *ngIf="el.type.id == PriceRefType.OriginCountry">
                                        <td mdbTooltip="{{el.country?.description}}" scope="row">{{el.country?.description}}</td>
                                        <td mdbTooltip="{{el.currency?.shortDescription}}">{{el.currency?.shortDescription}}</td>
                                        <td mdbTooltip="{{el.value | number:'1.4'}}">{{el.value | number:'1.4'}}</td>
                                        <td mdbTooltip="{{el?.xchRateRef | number:'1.4'}}">{{el?.xchRateRef | number:'1.4'}}</td>
                                        <td mdbTooltip="{{el?.xchRateRefVal | number:'1.4'}}">{{el?.xchRateRefVal | number:'1.4'}}</td>
                                        <td mdbTooltip="{{el?.xchRateEur | number:'1.4'}}">{{el?.xchRateEur | number:'1.4'}}</td>
                                        <td mdbTooltip="{{el?.xchRateEurVal | number:'1.4'}}">{{el?.xchRateEurVal | number:'1.4'}}</td>
                                        <td mdbTooltip="{{el?.xchRateUsd | number:'1.4'}}">{{el?.xchRateUsd | number:'1.4'}}</td>
                                        <td mdbTooltip="{{el?.xchRateUsdVal | number:'1.4'}}">{{el?.xchRateUsdVal | number:'1.4'}}</td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            <div [hidden]="!hasOtherCountriesPrices">
                <div class="my-5">
                    <div class="cascade-header bg-sidebar">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-10">
                                <div class="card-header-title white-text mt-2">Prețul medicamentului în cataloagele în care medicamentul este plasat pe piaţă</div>
                            </div>
                            <div class="col-2">
                                <div class="text-right text-white pr-2 fap">
                                    <span class="cursorPointer" (click)="addNewReferencePrice(PriceRefType.OtherCountriesCatalog)"><i class="fa fa-plus-circle fa-2x fa-mt" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Card content -->
                    <div class="card-body card-body-cascade z-depth-3">
                        <table mdbTable  striped="true" hover="true" small="true"
                               class="text-center">
                            <thead class="black white-text">
                            <tr>
                                <th mdbTooltip="Țara" scope="col">Țara</th>
                                <th mdbTooltip="Valuta ţării de referinţă">Valuta ţării de referinţă</th>
                                <th mdbTooltip="Preţ">Preţ</th>
                                <th mdbTooltip="Rata de schimb (valuta ţării de referinta/MDL)">Rata de schimb (valuta ţării de referinta/MDL)</th>
                                <th mdbTooltip="MDL">MDL</th>
                                <th mdbTooltip="Rata de schimb (EUR/lei)">Rata de schimb (EUR/lei)</th>
                                <th mdbTooltip="EUR">EUR</th>
                                <th mdbTooltip="Rata de schimb (USD/lei)">Rata de schimb (USD/lei)</th>
                                <th mdbTooltip="USD">USD</th>
                                <th mdbTooltip="Actiuni">Actiuni</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr mdbTableCol *ngFor="let el of refPrices; let i = index">
                                <ng-container *ngIf="el.type.id == PriceRefType.OtherCountriesCatalog">
                                    <td mdbTooltip="{{el.country?.description}}" class="align-middle" scope="row">{{el.country?.description}}</td>
                                    <td mdbTooltip="{{el.currency?.shortDescription}}" class="align-middle">{{el.currency?.shortDescription}}</td>
                                    <td mdbTooltip="{{el.value | number:'1.4'}}" class="align-middle">{{el.value | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateRef | number:'1.4'}}" class="align-middle">{{el?.xchRateRef | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateRefVal | number:'1.4'}}" class="align-middle">{{el?.xchRateRefVal | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateEur | number:'1.4'}}" class="align-middle">{{el?.xchRateEur | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateEurVal | number:'1.4'}}" class="align-middle">{{el?.xchRateEurVal | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateUsd | number:'1.4'}}" class="align-middle">{{el?.xchRateUsd | number:'1.4'}}</td>
                                    <td mdbTooltip="{{el?.xchRateUsdVal | number:'1.4'}}" class="align-middle">{{el?.xchRateUsdVal | number:'1.4'}}</td>
                                    <td class="align-middle"><button class="btn btn-mdb-color waves-light btn-sm" mdbWavesEffect (click)="priceEditModalOpen(el, i)">
                                        Editare
                                    </button></td>
                                </ng-container>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="my-5">
                    <div class="cascade-header bg-sidebar">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card-header-title white-text mt-2">Media celor mai mici preţuri de pe cataloagele în care medicamentul este plasat pe piaţă</div>
                            </div>
                        </div>

                    </div>
                    <!-- Card content -->
                    <div class="card-body card-body-cascade z-depth-3">
                        <table mdbTable striped="true" hover="true" small="true" class="text-center">
                            <thead class="black white-text">
                            <tr>
                                <th scope="col">Cele mai mici 3 prețuri</th>
                                <th>MDL</th>
                                <th>EUR</th>
                                <th>USD</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr mdbTableCol *ngFor="let el of minOtherCountriesCatPrices">
                                <td scope="row">{{el.country?.description}}</td>
                                <td>{{el?.xchRateRefVal | number:'1.4'}}</td>
                                <td>{{el?.xchRateEurVal | number:'1.4'}}</td>
                                <td>{{el?.xchRateUsdVal | number:'1.4'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        <div [hidden]="relatedMeds == undefined || relatedMeds.length == 0">
            <div class="my-5">
                <div class="cascade-header bg-sidebar">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-header-title white-text mt-2">Medicamente similare înregistrate în CNP conform denumirii comune internaţionale</div>
                        </div>
                    </div>

                </div>
                <!-- Card content -->
                <div class="card-body card-body-cascade z-depth-3">
                    <table mdbTable striped="true" hover="true" small="true" class="text-center">
                        <thead class="black white-text">
                        <tr>
                            <th scope="col" mdbTooltip="Codul medicamentului">Codul medicamentului</th>
                            <th mdbTooltip="Denumirea">Denumirea</th>
                            <th mdbTooltip="Forma farmaceutică">Forma farmaceutică</th>
                            <th mdbTooltip="Doza">Doza</th>
                            <th mdbTooltip="Divizarea">Divizarea</th>
                            <th mdbTooltip="Țara">Țara</th>
                            <th mdbTooltip="Producător">Producător</th>
                            <th mdbTooltip="Denumirea internațională">Denumirea internațională</th>
                            <th mdbTooltip="MDL">MDL</th>
                            <th mdbTooltip="Valuta">Valuta</th>
                            <th mdbTooltip="Șterge">Șterge</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr mdbTableCol *ngFor="let m of relatedMeds; let i = index">
                            <td class="align-middle" scope="row">{{m.code}}</td>
                            <td class="align-middle" mdbTooltip="{{m.name}}">{{m.name}}</td>
                            <td class="align-middle" mdbTooltip="{{m.pharmaceuticalForm}}">{{m.pharmaceuticalForm}}</td>
                            <td class="align-middle" mdbTooltip="{{m.dose}}">{{m.dose}}</td>
                            <td class="align-middle" mdbTooltip="{{m.division}}">{{m.division}}</td>
                            <td class="align-middle" mdbTooltip="{{m.country}}">{{m.country}}</td>
                            <td class="align-middle" mdbTooltip="{{m.manufacture}}">{{m.manufacture}}</td>
                            <td class="align-middle" mdbTooltip="{{m.internationalName}}">{{m.internationalName}}</td>
                            <td class="align-middle">{{m.mdlValue | number:'1.4'}}</td>
                            <td class="align-middle">{{m.price | number:'1.4'}} {{m.currency}}</td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-danger btn-circle" (click)="deleteRelatedMed(i)">
                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td scope="row" colspan="8">Media</td>
                            <td>{{avgRelatedMeds | number:'1.4'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        <div [hidden]="(relatedMeds == undefined || relatedMeds.length == 0) && !hasOriginCountryPrices" >
            <div class="my-5">
                <div class="cascade-header bg-sidebar">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-header-title white-text mt-2">Media preţului din ţara de origine şi medicamentele similare înregistrate în CNP conform DCI</div>
                        </div>
                    </div>

                </div>
                <!-- Card content -->
                <div class="card-body card-body-cascade z-depth-3">

                    <table mdbTable striped="true" hover="true" small="true" class="text-center">
                        <thead class="black white-text">
                        <tr>
                            <th scope="col">Sursa</th>
                            <th>Media MDL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr mdbTableCol *ngFor="let m of dciAndOriginAvgs">
                            <td scope="row">{{m.source}}</td>
                            <td>{{m.avg | number:'1.4'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <hr>
        <app-document [dcTypeIdentifier]="{code: 'PMED', step: 'E'}"
                      [canUpload]="true"
                      [documents]="documents"
                      (documentModified)="documentAdded($event)"
                      [nrCerere]="PriceRegForm.get('requestNumber').value"></app-document>


        <h5 class="text-center font-weight-bold mt-5">Documente necesare</h5>

        <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="sendInfoLetter()">Scrisoare de informare</button>
        <table class="table table-widths-lg text-center">
            <thead class="black white-text">
            <tr>
                <th class="w-50" scope="col">Denumirea</th>
                <th class="w-25" scope="col">Numărul</th>
                <th class="w-20" scope="col">Statusul documentului</th>
                <th class="w-5">Acțiuni</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of outputDocuments">
                <td scope="row">{{ a.description }}</td>
                <td scope="row">{{ a.number }}</td>
                <td scope="row">{{ a.status }}</td>
                <td>
                    <button class="btn btn-default btn-sm waves-light" mdbWavesEffect [disabled]="true" (click)="viewDoc(a)">Generare</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="formSubmitted && this.hasUnloadedDocs()">
            <small class="text-muted"><strong class="text-danger">Încărcați toate documentele necesare</strong>
            </small>
        </div>


        <div class="row" >
            <div class="col-md-6" formGroupName="evaluation">
                <div class="md-form-modified">
                    <ng-select class="w-100"
                               [items]="decisions"
                               [required]="false"
                               formControlName="decision"
                               bindLabel="description"
                               (change)="onDecisionChange($event)"
                               placeholder="Decizia luată în urma evaluării">
                    </ng-select>
                    <!--<div *ngIf="formSubmitted && PriceRegForm.get('evaluation.decision').invalid">-->
                        <!--<small class="text-muted"><strong class="text-danger">Selectați decizia privind-->
                            <!--prețurile</strong>-->
                        <!--</small>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-6" formGroupName="evaluation">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data expirarii"
                               formControlName="expirationDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="formSubmitted && needSelectPrice && PriceRegForm.get('evaluation.expirationDate') == undefined">
                        <small class="text-muted"><strong class="text-danger">Indicați data expirării prețului</strong>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-mdb-color waves-light btn-sm waves-light" mdbWavesEffect (click)="save()">Salvează rezultatele evaluării</button>
        </div>
    </form>
</div>

<!--<button class="btn peach-gradient btn-md btn-fixed z-depth-5" (click)="exchangeModalOpen()">Curs valutar</button>-->