<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Evaluarea cererii de inregistrare a pretului la medicamente</h3>
    <hr>

    <form [formGroup]='PriceRegForm'>
    <div class="row">
        <div class="col-lg-6">
            <div class="md-form">
                <input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="requestNumber" [attr.disabled]="true">
                <label for="nrCererii">Numarul cererii</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="md-form-modified">
                <mat-form-field class="w-100">
                    <input matInput [matDatepicker]="picker" placeholder="din data" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <app-document [canUpload]="false" [documents]="documents" [nrCerere]="PriceRegForm.get('requestNumber').value"></app-document>

    <hr>
        <div class="row" formGroupName="medicament">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="compName" mdbInputDirective type="text" class="form-control" formControlName="companyValue" [attr.disabled]="true">
                    <label for="compName">Compania solicitantă</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form" >
                    <input id="medName" mdbInputDirective type="text" class="form-control" formControlName="name" [attr.disabled]="true">
                    <label for="medName">Medicamentul</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="prod" mdbInputDirective type="text" class="form-control" [attr.disabled]="true" formControlName="manufactureName">
                    <label for="prod">Producator </label>
                </div>
            </div>
        </div>

        <div class="row" formGroupName="medicament">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="intName" mdbInputDirective type="text" class="form-control" [attr.disabled]="true" formControlName="internationalMedicamentName">
                    <label for="intName">Denumirea Internațională</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="codMed" mdbInputDirective type="text" class="form-control" formControlName="code"  [attr.disabled]="true">
                    <label for="codMed">Codul medicamentului</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="valab" mdbInputDirective type="number" class="form-control" formControlName="termsOfValidity"  [attr.disabled]="true">
                    <label for="valab">Termen de valabilitate </label>
                </div>
            </div>
        </div>

        <div class="row" formGroupName="medicament">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="dose" mdbInputDirective type="number" class="form-control" formControlName="dose" [attr.disabled]="true">
                    <label for="dose">Doza</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="sds" mdbInputDirective type="text" class="form-control" formControlName="unitsOfMeasurementDesc"  [attr.disabled]="true">
                    <label for="sds">Unitate de măsură</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="expiration" mdbInputDirective type="text" class="form-control" formControlName="expirationDate"  [attr.disabled]="true">
                    <label for="expiration">Data expirării licenței</label>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="text-center font-weight-bold">Divizare</h5>
        <div class="row" formGroupName="medicament">
            <div class="col-md-5">
                <div class="md-form">
                    <input id="nrUnits" mdbInputDirective type="number" class="form-control" formControlName="unitsQuantity"  [attr.disabled]="true">
                    <label for="nrUnits">Număr de bucăți</label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="md-form-modified">
                    <div class="md-form">
                        <input id="unitsOfMeasurement" mdbInputDirective type="text" class="form-control" formControlName="unitsQuantityMeasurementName" [attr.disabled]="true">
                        <label for="unitsOfMeasurement">Unitatea de măsură</label>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="md-form">
                    <input id="storageQuantity" mdbInputDirective type="number" class="form-control" formControlName="storageQuantity" [attr.disabled]="true">
                    <label for="storageQuantity">Cantitate stocare</label>
                </div>
            </div>
            <div class="col-md-5">
                <div class="md-form-modified">
                    <div class="md-form">
                        <input id="storageMeass" mdbInputDirective type="text" class="form-control" formControlName="storageQuantityMeasurementName" [attr.disabled]="true">
                        <label for="storageMeass">Unitatea de măsură</label>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="md-form">
                    <input id="volum" mdbInputDirective type="number" class="form-control" formControlName="volume" [attr.disabled]="true">
                    <label for="volum">Volumul</label>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="text-center font-weight-bold mt-4 mb-4">Rata medie a BNM pentru luna precedentă evaluării dosarului</h5>
        <div class="container ">
            <div class="row" *ngFor="let avgCur of avgCurrencies">
                <div class="offset-2"></div>
                <div class="col-8">
                    <div class="row text-center font-weight-bold alert alert-currency">
                        <div class="col">{{'1 ' + avgCur?.currency?.shortDescription}}</div>
                        <div class="col-2">=</div>
                        <div class="col">{{avgCur?.value + ' MDL'}}</div>
                    </div>
                </div>
                <div class="offset-2"></div>
            </div>
        </div>
        <hr>

        <div *ngIf="this.PriceRegForm.get('medicament')['controls'].medicamentType.value == MedType.Generic">
            <div>
                <h5 class="text-center font-weight-bold mt-4 mb-4">Prețul medicamentului în 9 țări de referință</h5>
                <table mdbTable bordered="true" striped="true" hover="true" small="true" class="mt-4 mb-4 text-center">
                    <thead class="black white-text">
                    <tr>
                        <th scope="col">Țara de referință</th>
                        <th>Valuta ţării de referinţă</th>
                        <th>Preţ</th>
                        <th>Rata de schimb (valuta ţării de referinta/MDL)</th>
                        <th>MDL</th>
                        <th>Rata de schimb (EUR/lei)</th>
                        <th>EUR</th>
                        <th>Rata de schimb (USD/lei)</th>
                        <th>USD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr mdbTableCol *ngFor="let el of refPrices">
                        <ng-container *ngIf="el.type.id == PriceRefType.ReferenceCountry">
                            <td scope="row">{{el.country?.description}}</td>
                            <td>{{el.currency?.shortDescription}}</td>
                            <td>{{el.value | number:'1.4'}}</td>
                            <td>{{el?.xchRateRef | number:'1.4'}}</td>
                            <td>{{el?.xchRateRefVal | number:'1.4'}}</td>
                            <td>{{el?.xchRateEur | number:'1.4'}}</td>
                            <td>{{el?.xchRateEurVal | number:'1.4'}}</td>
                            <td>{{el?.xchRateUsd | number:'1.4'}}</td>
                            <td>{{el?.xchRateUsdVal | number:'1.4'}}</td>
                        </ng-container>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h5 class="text-center font-weight-bold mt-4 mb-4">Media celor mai mici prețuri în țările de referință</h5>
            <table mdbTable bordered="true" striped="true" hover="true" small="true" class="mt-4 mb-4 text-center">
                <thead class="black white-text">
                <tr>
                    <th scope="col">Cele mai mici 3 prețuri</th>
                    <th>MDL</th>
                    <th>EUR</th>
                    <th>USD</th>
                </tr>
                </thead>
                <tbody>
                <tr mdbTableCol *ngFor="let el of minRefPrices">
                    <td scope="row">{{el.country?.description}}</td>
                    <td>{{el?.xchRateRefVal | number:'1.4'}}</td>
                    <td>{{el?.xchRateEurVal | number:'1.4'}}</td>
                    <td>{{el?.xchRateUsdVal | number:'1.4'}}</td>
                </tr>
                </tbody>
            </table>
            <hr>

            <div>
                <h5 class="text-center font-weight-bold mt-4 mb-4">Prețul medicamentului în țara de origine</h5>
                <table mdbTable bordered="true" striped="true" hover="true" small="true" class="mt-4 mb-4 text-center">
                    <thead class="black white-text">
                    <tr>
                        <th scope="col">Țara de origine</th>
                        <th>Valuta ţării de referinţă</th>
                        <th>Preţ</th>
                        <th>Rata de schimb (valuta ţării de referinta/MDL)</th>
                        <th>MDL</th>
                        <th>Rata de schimb (EUR/lei)</th>
                        <th>EUR</th>
                        <th>Rata de schimb (USD/lei)</th>
                        <th>USD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr mdbTableCol *ngFor="let el of refPrices">
                        <ng-container *ngIf="el.type.id == PriceRefType.OriginCountry">
                            <td scope="row">{{el.country?.description}}</td>
                            <td>{{el.currency?.shortDescription}}</td>
                            <td>{{el.value | number:'1.4'}}</td>
                            <td>{{el?.xchRateRef | number:'1.4'}}</td>
                            <td>{{el?.xchRateRefVal | number:'1.4'}}</td>
                            <td>{{el?.xchRateEur | number:'1.4'}}</td>
                            <td>{{el?.xchRateEurVal | number:'1.4'}}</td>
                            <td>{{el?.xchRateUsd | number:'1.4'}}</td>
                            <td>{{el?.xchRateUsdVal | number:'1.4'}}</td>
                        </ng-container>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h5 class="text-center font-weight-bold mt-4 mb-4">Prețul medicamentului în cataloagele în care medicamentul este plasat pe piaţă</h5>
                <table mdbTable bordered="true" striped="true" hover="true" small="true" class="mt-4 mb-4 text-center">
                    <thead class="black white-text">
                    <tr>
                        <th scope="col">Țara</th>
                        <th>Valuta ţării de referinţă</th>
                        <th>Preţ</th>
                        <th>Rata de schimb (valuta ţării de referinta/MDL)</th>
                        <th>MDL</th>
                        <th>Rata de schimb (EUR/lei)</th>
                        <th>EUR</th>
                        <th>Rata de schimb (USD/lei)</th>
                        <th>USD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr mdbTableCol *ngFor="let el of refPrices">
                        <ng-container *ngIf="el.type.id == PriceRefType.OtherCountriesCatalog">
                            <td scope="row">{{el.country?.description}}</td>
                            <td>{{el.currency?.shortDescription}}</td>
                            <td>{{el.value | number:'1.4'}}</td>
                            <td>{{el?.xchRateRef | number:'1.4'}}</td>
                            <td>{{el?.xchRateRefVal | number:'1.4'}}</td>
                            <td>{{el?.xchRateEur | number:'1.4'}}</td>
                            <td>{{el?.xchRateEurVal | number:'1.4'}}</td>
                            <td>{{el?.xchRateUsd | number:'1.4'}}</td>
                            <td>{{el?.xchRateUsdVal | number:'1.4'}}</td>
                        </ng-container>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h5 class="text-center font-weight-bold mt-4 mb-4">Media celor mai mici preţuri de pe cataloagele în care medicamentul este plasat pe piaţă</h5>
            <table mdbTable bordered="true" striped="true" hover="true" small="true" class="mt-4 mb-4 text-center">
                <thead class="black white-text">
                <tr>
                    <th scope="col">Cele mai mici 3 prețuri</th>
                    <th>MDL</th>
                    <th>EUR</th>
                    <th>USD</th>
                </tr>
                </thead>
                <tbody>
                <tr mdbTableCol *ngFor="let el of minOtherCountriesCatPrices">
                    <td scope="row">{{el.country?.description}}</td>
                    <td>{{el?.xchRateRefVal | number:'1.4'}}</td>
                    <td>{{el?.xchRateEurVal | number:'1.4'}}</td>
                    <td>{{el?.xchRateUsdVal | number:'1.4'}}</td>
                </tr>
                </tbody>
            </table>
            <hr>
        </div>


        <div class="row" formGroupName="evaluation">
            <div class="col-md-4">
                <div class="md-form">
                        <ng-select class="w-100"
                                   [items]="proposedPrices"
                                   [required]="false"
                                   formControlName="selectedPrice"
                                   bindLabel="description"
                                   placeholder="Selectați prețul potrivit din cele propuse"
                                   (change)="onPriceSelected($event)">
                        </ng-select>
                        <div *ngIf="formSubmitted && PriceRegForm.get('evaluation.selectedPrice').invalid">
                            <small class="text-muted"><strong class="text-danger">Selectați un preț pentru aprobare</strong>
                            </small>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data expirarii" formControlName="expirationDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="formSubmitted && PriceRegForm.get('evaluation.expirationDate') == undefined">
                        <small class="text-muted"><strong class="text-danger">Indicați data expirării prețului</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <ng-select class="w-100"
                               [items]="expirationReasons"
                               [required]="false"
                               formControlName="selectedReason"
                               bindLabel="description"
                               placeholder="Motivul expirării"
                               (change)="onReasonSelected($event)">
                    </ng-select>
                    <div *ngIf="formSubmitted && PriceRegForm.get('evaluation.selectedReason').invalid">
                        <small class="text-muted"><strong class="text-danger">Selectați motivul expirării prețului</strong>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <hr>
            <div class="row" formGroupName="evaluation">
                <div class="col-md-4">
                    <div class="md-form">
                        <ng-select class="w-100"
                                   [items]="decisions"
                                   [required]="false"
                                   formControlName="decision"
                                   bindLabel="description"
                                   placeholder="Decizia luată în urma evaluării"
                                   (change)="onReasonSelected($event)">
                        </ng-select>
                        <div *ngIf="formSubmitted && PriceRegForm.get('evaluation.decision').invalid">
                            <small class="text-muted"><strong class="text-danger">Selectați decizia privind prețurile</strong>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
        <h5 class="text-center font-weight-bold">Documente de iesire</h5>
        <hr>
        <table class="table table-widths-lg text-center">
            <thead class="black white-text">
            <tr>
                <th scope="col">Denumirea</th>
                <th>Statut</th>
                <th>Actiuni</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of docIesire">
                <th scope="row">{{ a.denumire }}</th>
                <td>{{ a.statut }}</td>
                <td>
                    <button class="btn btn-default btn-sm waves-light" mdbWavesEffect>Generare</button>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="md-form">
                    <input id="ordAprobPret" mdbInputDirective type="text" class="form-control" value="AB123">
                    <label for="ordAprobPret">Ordin de aprobare a pretului</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker3" placeholder="Data emiterii ordinului">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form">
                    <input id="anexa" mdbInputDirective type="text" class="form-control">
                    <label for="anexa">Nr. Anexei pentru care a fost selectat documentul</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form">
                    <textarea id="note" type="text" class="md-textarea form-control" mdbInputDirective></textarea>
                    <label for="note" for="note">Notă (Textul notificării sau scrisorii de însoțire pentru agentul
                        economic)</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-mdb-color waves-light btn-sm waves-light"  mdbWavesEffect (click)="save()">Salvează rezultatele evaluării</button>
        </div>
    </form>
</div>
<!--<app-request-additional-data-dialog></app-request-additional-data-dialog>-->