<div class="container-fluid sky z-depth-2">
	<mat-tab-group>
		<mat-tab label="Nomenclatorul medicamentului">
			<ng-template matTabContent><br>
				<app-nomenclator-drugs></app-nomenclator-drugs>
			</ng-template>
		</mat-tab>
		<mat-tab label="Catalogul național de prețuri de producător la medicamente">
			<ng-template matTabContent><br>
				<app-catalog-currencyCode-drugs></app-catalog-currencyCode-drugs>
			</ng-template>
		</mat-tab>
		<mat-tab label="Clasificatorul agenților economici cu activitate farmaceutică">
			<ng-template matTabContent><br>
				<app-clasify-economics-agency></app-clasify-economics-agency>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</div>