<div class="mat-dialog-content">
    <h3 class="text-center my-3 font-weight-bold">Detalii autorizare</h3>
    <form [formGroup]='mForm'>

        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="protocol" mdbInputDirective type="text" class="form-control" formControlName="protocolNr"
                           [attr.disabled]="true">
                    <label for="protocol">Numarul procesului verbal</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="protocolDate" placeholder="Data procesului verbal"
                               formControlName="protocolDate" [attr.disabled]="true">
                        <mat-datepicker-toggle matSuffix [for]="protocolDate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #protocolDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-2">
                <div class="md-form">
                    <input id="company" mdbInputDirective type="text" class="form-control" formControlName="companyName"
                           [attr.disabled]="true">
                    <label for="company">Compania</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="md-form">
                    <input id="registrationNumber" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber" [attr.disabled]="true">
                    <label for="registrationNumber">Numarul cererii</label>
                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<div class="md-form">-->
                    <!--<input id="medicament" mdbInputDirective type="text" class="form-control"-->
                           <!--formControlName="medicamentCommercialName" [attr.disabled]="true">-->
                    <!--<label for="medicament">Denumire medicamnet</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="md-form">-->
                    <!--<input id="code" mdbInputDirective type="text" class="form-control" formControlName="medicamentCode"-->
                           <!--[attr.disabled]="true">-->
                    <!--<label for="code">Cod medicament </label>-->
                <!--</div>-->
            <!--</div>-->

        </div>

        <div class="row">
            <div class="col-4">
                <div class="md-form">
                    <mat-checkbox formControlName="precursor">Precursori</mat-checkbox>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    <mat-checkbox formControlName="psihotrop">Psihotrope</mat-checkbox>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    <mat-checkbox formControlName="stupefiant">Stupefiante</mat-checkbox>
                </div>
            </div>
        </div>

    </form>

</div>

<div class="gradient-card-header bg-sidebar border-gradient">
    <div class="container-fluid">
        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <div class="card-header-title white-text">Substante autorizate</div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]='nForm'>
    <div class="example-container">
        <table class="table table-widths text-center">
            <thead class="bg-sidebar white-text">
            <tr>
                <th scope="col">Denumire substanta</th>
                <th scope="col">Tip autorizare</th>
                <th scope="col">Data autorizarii</th>
                <th scope="col">Data expirarii</th>
                <th scope="col">Cantitate autorizata</th>
                <th scope="col">Cantitate utilizata</th>
                <th scope="col">Actiuni</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let substance of authorizedSubstancesTable;let i = index">
                <td>{{ substance.substanceName }}</td>
                <td>{{ substance.authorizationType }}</td>
                <td>{{ substance.fromDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ substance.toDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ substance.authorizedQuantity }}</td>
                <td>
                    <div ng-hide="viewField">{{substance.usedQuantity}}</div>
                    <input mdbInputDirective type="number" class="form-control"
                           formControlName="usedQuantity">
                </td>
                <td>
                    <button type="button" class="btn btn-primary waves-light btn-sm waves-light"
                            (click)="updateUsedQuantity(substance)"
                            mdbWavesEffect attr.disabled="this.disabled">Salvare
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="hasError">
        <small class="text-muted"><strong class="text-danger">Datele pentru autorizare nu sunt valide.</strong>
        </small>
    </div>
    <div *ngIf="hasErrorUsedQuantity">
        <small class="text-muted"><strong class="text-danger">Cantitatea utilizata nu poate fi mai mare ca cantitatea
            autorizata.</strong>
        </small>
    </div>
    <div *ngIf="authorizationNotValid">
        <small class="text-muted"><strong class="text-danger">Autorizatia nu a intrat in vigoare.</strong>
        </small>
    </div>
    <div *ngIf="authorizationExpired">
        <small class="text-muted"><strong class="text-danger">Autorizatia este expirata.</strong>
        </small>
    </div>
</form>
<div class="text-center">
    <div mat-dialog-actions>
        <div class="w-100">
            <button class="btn btn-dark-green-color btn-sm-bl btn-sm" (click)="confirm()">Ok</button>
        </div>
    </div>
</div>