.table-width {
  width: 100%;
  }
th, td {
  text-align: center !important;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }
 ::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.pr-search {
  padding-right: 30px;
}