.table-width {
  width: 100%;
  }
th, td {
  text-align: center !important;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }
 ::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.pr-search {
  padding-right: 30px;
}

.fa-touched {
  font-size: 0.95em;
}

.fa-untouched {
  font-size: 1.33em;
}

.modal-mdb-color {
  background: #59698d !important;
}

.modal-dark-green {
  background: #218c74 !important;
}