<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Evaluarea cererii de licentiere</h3>
    <hr>

    <div class="text-center">
        <div class="container">
            <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICEL'">Eliberarea licentei</h5>
            <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICM'">Modificarea licentei</h5>
            <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICD'">Eliberarea duplicatului</h5>
        </div>
    </div>
    <form [formGroup]="mForm">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCererii">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data adresarii" id="dataEliberarii"
                               formControlName="dataEliberarii">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>


        <app-document [documents]="docs" [nrCerere]="mForm.get('nrCererii').value"
                      (documentModified)="documentAdded($event)" [dcTypeIdentifier]="docTypeIdentifier"></app-document>
        <div *ngIf="rFormSubbmitted && docs.length==0">
            <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
        </div>

    </form>

    <form [formGroup]="rForm">
        <section *ngIf="tipCerere">
            <hr>
            <!--=====================================================================================================================================-->
            <h5 class="text-center font-weight-bold">Obiectele adresarii</h5>
            <hr>
            <form [formGroup]="oForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form-modified-select">
                            <ng-select class="custom" [items]="companiiPerIdnoNotSelected"
                                       bindLabel="name"
                                       placeholder="Filiala"
                                       formControlName="filiala"
                                       [required]="true"
                            >
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.name}} <br/>
                                    <small class="form-text text-muted">{{item.idno}}</small>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngIf="oFormSubbmitted && !oForm.get('filiala').valid">
                            <small class="text-muted"><strong class="text-danger">Filiala trebuie selectata</strong>
                            </small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="md-form">
                            <input id="tipIntreprindere" mdbInputDirective type="text" class="form-control"
                                   formControlName="tipIntreprindere">
                            <label for="tipIntreprindere">Tipul intreprinderii</label>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="md-form">
                            <input id="region" mdbInputDirective type="text" class="form-control"
                                   formControlName="region">
                            <label for="region">Regiunea</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input id="locality" mdbInputDirective type="text" class="form-control"
                                   formControlName="locality">
                            <label for="locality">Localitate</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input id="street" mdbInputDirective type="text" class="form-control"
                                   formControlName="street">
                            <label for="street">Strada</label>
                        </div>
                    </div>

                    <div class="col-md-3" *ngIf="pharmacyRepresentantProf">
                        <div class="md-form-modified-select">
                            <ng-select class="custom" [items]="farmacistiPerAddress"
                                       [addTag]="addTagPromise"
                                       bindLabel="fullName"
                                       placeholder="{{pharmacyRepresentantProf}}"
                                       formControlName="farmDir"
                                       [required]="true"
                                       [hideSelected]="true"

                            >
                                <ng-template ng-tag-tmp let-search="searchTerm">
                                    <b>Adauga {{pharmacyRepresentantProf}}</b>: {{search}}
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                    <div>{{item.fullName}}</div>
                                    <small class="form-text text-muted">{{item.selectionDate| date: 'dd/MM/yyyy
                                        HH:mm:ss'}}
                                    </small>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngIf="oFormSubbmitted && !oForm.get('farmDir').valid">
                            <small class="text-muted"><strong class="text-danger">{{pharmacyRepresentantProf}} trebuie
                                introdus</strong>
                            </small>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="col">
                            <div class="md-form-modified-select">
                                <ng-select [items]="activities"
                                           bindLabel="description"
                                           placeholder="Tipuri de activitate"
                                           formControlName="licenseActivities"
                                           [multiple]="true"
                                           [required]="true"
                                >
                                </ng-select>
                            </div>
                            <div *ngIf="oFormSubbmitted && !oForm.get('licenseActivities').valid">
                                <small class="text-muted"><strong class="text-danger">Trebuie de ales cel putin un gen
                                    de
                                    activitate</strong>
                                </small>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="text-center">
                            <div class="md-form">
                                <button type="button" class="btn btn-indigo waves-light btn-sm btn-sm-bl" mdbWavesEffect
                                        (click)="addNewObjAddres()" [disabled]="tipCerere === 'LICD'">Adauga
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <div class="example-container">
                <table class="table table-widths text-center">
                    <thead class="black white-text">
                    <tr>
                        <th scope="col">Tipul intreprinderii</th>
                        <th scope="col">Adresa</th>
                        <th scope="col">Farmacist/Sef de filiala</th>
                        <th scope="col">Activitatile</th>
                        <th scope="col">Decizia</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Actiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let objAddr of companiiPerIdnoSelected;let i = index">
                        <th scope="row">{{ objAddr.companyType }}</th>
                        <td>{{ objAddr.address }}</td>
                        <td>{{ objAddr.selectedPharmaceutist.fullName }}</td>
                        <td mdbTooltip="{{objAddr.activitiesStr}}" placement="top">
                            <a title="Activitatile" (click)="setActivities(objAddr)">{{ objAddr.activitiesStr }}</a>
                        </td>
                        <td>
                            <!--<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" type="button"-->
                            <!--(click)="addDecision(objAddr)" mdbWavesEffect [disabled]="tipCerere === 'LICD'">Decizia-->
                            <!--</button>-->
                            <a title="Decizia" (click)="addDecision(objAddr)">Decizia</a>
                        </td>
                        <td>
                            <div *ngIf="objAddr.currentResolution">
                                <i class="fa fa-check-circle text-success fa-2x" aria-hidden="true"
                                   *ngIf="objAddr.currentResolution.resolution === '1'"></i>
                                <i class="fa fa-times-circle text-danger fa-2x" aria-hidden="true"
                                   *ngIf="objAddr.currentResolution.resolution === '0'"></i>
                            </div>

                        </td>
                        <td>
                            <button class="btn btn-dark-red-color waves-light btn-sm waves-light" type="button"
                                    (click)="removeDocument(i)" mdbWavesEffect [disabled]="tipCerere === 'LICD'">Sterge
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="rFormSubbmitted && companiiPerIdnoSelected.length==0">
                <small class="text-muted"><strong class="text-danger">Nici un obiect nu a fost adaugat</strong></small>
            </div>
            <hr>


            <!--=====================================================================================================================================-->
            <h5 class="text-center font-weight-bold" *ngIf="tipCerere !== 'LICD'">Comisiile</h5>
            <hr>
            <div class="row" *ngIf="tipCerere == 'LICM'">


                <!--  <div class="col-md-4">
                      <div class="md-form">
                          <input id="seriaLic" mdbInputDirective type="text" class="form-control"
                                 formControlName="seriaLic">
                          <label for="seriaLic">Seria licenţei<span class="text-danger"> * </span></label>
                      </div>
                      <div *ngIf="rFormSubbmitted && !rForm.get('seriaLic').valid">
                          <small class="text-muted"><strong class="text-danger">Seria licentei trebuie introdusa</strong>
                          </small>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="md-form">
                          <input id="nrLic" mdbInputDirective type="text" class="form-control"
                                 formControlName="nrLic">
                          <label for="nrLic">Numarul licenţei<span class="text-danger"> * </span></label>
                      </div>
                      <div *ngIf="rFormSubbmitted && !rForm.get('nrLic').valid">
                          <small class="text-muted"><strong class="text-danger">Numarul licentei trebuie introdus</strong>
                          </small>
                      </div>
                  </div>-->

                <div class="col-md-3">
                    <div class="md-form">
                        <input id="mnrIntrareCPCD" mdbInputDirective type="text" class="form-control"
                               formControlName="CPCDNrdeintrare">
                        <label for="mnrIntrareCPCD">Nr. de intrare a răspunsului CPCD</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker7" placeholder="Data anunţării CPCD"
                                   formControlName="CPCDDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker7 [disabled]="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form-modified">
                        <ng-select [items]="announces"
                                   bindLabel="description"
                                   placeholder="Metoda"
                                   formControlName="CPCDMethod"

                        >
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="!rForm.get('CPCDMethod').value">
                </div>
                <div class="col-md-3"
                     *ngIf="rForm.get('CPCDMethod').value && rForm.get('CPCDMethod').value.code === 'email'">
                    <div class="md-form">
                        <input id="email1" mdbInputDirective type="text" class="form-control"
                               formControlName="CPCDEmail">
                        <label for="email1">Email</label>
                    </div>
                    <div *ngIf="rFormSubbmitted && !rForm.get('CPCDEmail').valid">
                        <small class="text-muted"><strong class="text-danger">Email ul nu este valid.</strong>
                        </small>
                    </div>
                </div>
                <div class="col-md-3"
                     *ngIf="rForm.get('CPCDMethod').value && rForm.get('CPCDMethod').value.code === 'phone'">
                    <div class="md-form">
                        <input id="telefon1" mdbInputDirective type="text" class="form-control"
                               formControlName="CPCDPhone" maxlength="9">
                        <label for="telefon1">Telefon</label>
                    </div>
                    <div *ngIf="rFormSubbmitted && !rForm.get('CPCDPhone').valid">
                        <small class="text-muted"><strong class="text-danger">Telefonul trebuie introdus sau nu este valid.</strong>
                        </small>
                    </div>
                </div>
            </div>


            <div class="row" *ngIf="tipCerere !== 'LICD'">
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="nrRasASP" mdbInputDirective type="text" class="form-control"
                               formControlName="ASPNrdeintrare">
                        <label for="nrRasASP">Nr. de intrare a răspunsului ANSP</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker6" placeholder="Data anunţării ANSP"
                                   formControlName="ASPDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker6 [disabled]="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form-modified">
                        <ng-select [items]="announces"
                                   bindLabel="description"
                                   placeholder="Metoda"
                                   formControlName="ASPMethod">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="!rForm.get('ASPMethod')">
                </div>
                <div class="col-md-3"
                     *ngIf="rForm.get('ASPMethod').value && rForm.get('ASPMethod').value.code === 'email'">
                    <div class="md-form">
                        <input id="email" mdbInputDirective type="text" class="form-control" formControlName="ASPEmail">
                        <label for="email">Email</label>
                    </div>
                    <div *ngIf="rFormSubbmitted && !rForm.get('ASPEmail').valid">
                        <small class="text-muted"><strong class="text-danger">Email ul nu este valid.</strong>
                        </small>
                    </div>
                </div>
                <div class="col-md-3"
                     *ngIf="rForm.get('ASPMethod').value && rForm.get('ASPMethod').value.code === 'phone'">
                    <div class="md-form">
                        <input id="telefon" mdbInputDirective type="text" class="form-control"
                               formControlName="ASPPhone" maxlength="9">
                        <label for="telefon">Telefon</label>
                    </div>
                    <div *ngIf="rFormSubbmitted && !rForm.get('ASPPhone').valid">
                        <small class="text-muted"><strong class="text-danger">Telefonul trebuie introdus sau nu este valid.</strong>
                        </small>
                    </div>
                </div>


            </div>
            <hr>


            <app-payment [receipts]="receiptsList" [paymentOrders]="paymentOrdersList"
                         (totalValueChanged)="paymentTotalUpdate($event)"
                         [isBonSuplimentarNotRender]="true"></app-payment>
            <div *ngIf="rFormSubbmitted && nextSubmit && paymentTotal < 0">
                <small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
            </div>
            <hr>

            <hr>
            <h5 class="text-center font-weight-bold">Documente de iesire</h5>
            <hr>

            <table class="table table-widths-lg text-center">
                <thead class="black white-text">
                <tr>
                    <th scope="col">Denumirea</th>
                    <th scope="col">Numar</th>
                    <th scope="col">Status document</th>
                    <th>Actiuni</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let a of outDocuments">
                    <th scope="row">{{ a.name }}</th>
                    <th scope="row">{{ a.number }}</th>
                    <th scope="row">{{ a.status ? a.status.description : ''}}</th>
                    <td>
                        <button class="btn btn-default btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)">
                            Vizualizare
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
           <!-- <div *ngIf="rFormSubbmitted && !checkAllDocumentsWasAttached()">
                <small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong>
                </small>
            </div>-->


            <div class="text-center">
                <button type="button" (click)="submit()" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl"
                        mdbWavesEffect>Salvare date
                </button>
                <button type="button" (click)="submitNextStep()"
                        class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                >Urmatorul pas
                </button>
                <button type="button" (click)="cancelRequest()"
                        class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                > Intrerupere proces
                </button>
            </div>
        </section>
    </form>
</div>