<div class="container-fluid sky z-depth-2">
	<form [formGroup]="expertForm">
		<div class="row">
			<div class="col-md-6">
				<div class="md-form">
					<input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="requestNumber"
					       [attr.disabled]="true">
					<label for="nrCererii">Nr. cererii</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker touchUi #picker></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-6">
				<div class="md-form">
					<input id="comiteeNr" mdbInputDirective type="text" class="form-control"
					       formControlName="comiteeNr">
					<label for="comiteeNr">Nr. comisie</label>
				</div>
				<!--<div *ngIf="formSubmitted && expertForm.get('comiteeNr').invalid">-->
					<!--<small class="text-muted"><strong class="text-danger">Numarul comisiei trebuie introdus</strong></small>-->
				<!--</div>-->
			</div>
			<div class="col-lg-6">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="picker2" placeholder="Data comisiei" formControlName="expertDate">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker touchUi #picker2></mat-datepicker>
					</mat-form-field>
				</div>
				<!--<div *ngIf="formSubmitted && expertForm.get('expertDate').invalid">-->
					<!--<small class="text-muted"><strong class="text-danger">Data comisiei trebuie introdusa</strong></small>-->
				<!--</div>-->
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="md-form-modified">
					<ng-select id="chairman" name="chairman" [items]="chairmans"
					           bindLabel="name"
					           placeholder="Presedintele comisiei *"
					           formControlName="chairman">
					</ng-select>
					<!--<div *ngIf="formSubmitted && expertForm.get('chairman').invalid">-->
						<!--<small class="text-muted"><strong class="text-danger">Presedintele comisiei trebuie selectat</strong></small>-->
					<!--</div>-->
				</div>
			</div>
			<div class="col-lg-3">
				<div class="md-form">
					<input id="decisionChairman" mdbInputDirective type="text" class="form-control"
					       formControlName="decisionChairman">
					<label for="decisionChairman">Decizia presedintelui</label>
				</div>
			</div>
			<div class="col-3">
				<div class="md-form-modified">
					<ng-select id="farmacolog" name="farmacolog" [items]="farmacologs"
					           bindLabel="name"
					           placeholder="Farmacolog *"
					           formControlName="farmacolog">
					</ng-select>
					<!--<div *ngIf="formSubmitted && expertForm.get('farmacolog').invalid">-->
						<!--<small class="text-muted"><strong class="text-danger">Farmacologul trebuie selectat</strong></small>-->
					<!--</div>-->
				</div>
			</div>
			<div class="col-lg-3">
				<div class="md-form">
					<input id="decisionFarmacolog" mdbInputDirective type="text" class="form-control"
					       formControlName="decisionFarmacolog">
					<label for="decisionFarmacolog">Decizia farmacologului</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="md-form-modified">
					<ng-select id="farmacist" name="farmacist" [items]="farmacists"
					           bindLabel="name"
					           placeholder="Farmacist *"
					           formControlName="farmacist">
					</ng-select>
					<!--<div *ngIf="formSubmitted && expertForm.get('farmacist').invalid">-->
						<!--<small class="text-muted"><strong class="text-danger">Farmacistul trebuie selectat</strong></small>-->
					<!--</div>-->
				</div>
			</div>
			<div class="col-lg-3">
				<div class="md-form">
					<input id="decisionFarmacist" mdbInputDirective type="text" class="form-control"
					       formControlName="decisionFarmacist">
					<label for="decisionFarmacist">Decizia farmacistului</label>
				</div>
			</div>
			<div class="col-3">
				<div class="md-form-modified">
					<ng-select id="medic" name="medic" [items]="medics"
					           bindLabel="name"
					           placeholder="Clinician *"
					           formControlName="medic">
					</ng-select>
					<!--<div *ngIf="formSubmitted && expertForm.get('medic').invalid">-->
						<!--<small class="text-muted"><strong class="text-danger">Clinicianul trebuie selectat</strong></small>-->
					<!--</div>-->
				</div>
			</div>
			<div class="col-lg-3">
				<div class="md-form">
					<input id="decisionMedic" mdbInputDirective type="text" class="form-control"
					       formControlName="decisionMedic">
					<label for="decisionMedic">Decizia clinicianului</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="md-form">
					<textarea type="text" id="comment" class="md-textarea form-control" mdbInputDirective formControlName="commentExperts"></textarea>
					<label for="comment">Comentariu</label>
				</div>
			</div>
		</div>
		<div class="position-button">
			<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="dd()" [disabled]="modelToSubmit && modelToSubmit.ddIncluded">Include expertii in dispozitia de distribuire</button>
		</div>
		<div class="col-md-12">
			<div class="md-form">
				<h5 class="text-center font-weight-bold">
					Cerere inregistrare medicament
				</h5>
				<hr>
				<mat-radio-group formControlName="statusExperts">
					<div class="container">
						<div class="row">
							<div class="offset-3">
							</div>
							<div class="col-5">
								<mat-radio-button name="prop1" value="1">Acceptată</mat-radio-button>
							</div>
							<div class="col-4">
								<mat-radio-button name="prop2" value="0">Respinsă</mat-radio-button>
							</div>
						</div>
					</div>
				</mat-radio-group>
			</div>
			<br/>
			<div *ngIf="formSubmitted && expertForm.get('statusExperts').invalid">
				<small class="text-muted"><strong class="text-danger">Status inregistrare trebuie selectat</strong></small>
			</div>
		</div>
		<hr>
		<app-document [docDetails]="docDetails" [documents]="documents" [nrCerere]="expertForm.get('requestNumber').value" [dcTypes]="docTypes" (documentModified)="documentModified($event)"></app-document>
		<div class="row">
			<div class="col-md-4">
				<div class="md-form">
					<input id="compSolicitant" mdbInputDirective type="text" class="form-control" formControlName="companyValue" [attr.disabled]="true">
					<label for="compSolicitant">Compania solicitant</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form" formGroupName="medicament">
					<input id="med" mdbInputDirective type="text" class="form-control" formControlName="commercialName" [attr.disabled]="true">
					<label for="med">Denumire comerciala medicament</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="typeValue" mdbInputDirective type="text" class="form-control" formControlName="typeValue" [attr.disabled]="true">
					<label for="typeValue">Inregistrare</label>
				</div>
			</div>
		</div>
		<!-- <h5 class="text-center font-weight-bold">Divizari</h5> -->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Divizari</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white">
							<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="addToAuthorizationOrder()" [disabled]="expertForm.get('statusExperts').value!=1 || oaAttached">Include in ordinul de autorizare</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
					<tr>
						<th scope="col">Nr.</th>
						<th scope="col">Denumire</th>
						<th scope="col">Aprobat</th>					
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let division of divisions;let i = index">
						<td>{{ i + 1 }}</td>
						<td>{{ division.description }}</td>
						<td>  <mat-checkbox #checkboxApproved  [checked]="division.approved" (change)="checkApproved(division,checkboxApproved)"></mat-checkbox></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <h5 class="text-center font-weight-bold">Substanţe active</h5> -->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-12">
						<div class="card-header-title white-text">Substanţe active</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
					<tr>
						<th scope="col">Denumire</th>
						<th scope="col">Cod CAS</th>
						<th scope="col">Concentratie</th>
						<th scope="col">Unitate de masură</th>
						<th scope="col">Producători</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let substance of activeSubstancesTable;let i = index">
						<th scope="row">{{ substance.activeSubstance.description }}</th>
						<td>{{ substance.activeSubstance.code }}</td>
						<td>{{ substance.quantity }}</td>
						<td>{{ substance.unitsOfMeasurement.description }}</td>
						<td>{{ manufacturesStr(substance)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<!--Substante auxiliare-->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Excipienti</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Tabela substante auxiliare -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Nr.</th>
					<th scope="col">Denumire</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let substance of auxiliarySubstancesTable;let i = index">
					<td>{{ i+1 }}</td>
					<th scope="row">{{ substance.auxSubstance.description }}</th>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="auxiliarySubstancesTable.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<hr>
		<h5 class="text-center font-weight-bold">Informatii generale medicament</h5>
		<hr>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form">
					<input id="dose" mdbInputDirective type="text" class="form-control" formControlName="dose" [attr.disabled]="true">
					<label for="dose">Doza</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="volum" mdbInputDirective type="text" class="form-control" formControlName="volume">
					<label for="volum">Volum </label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="volumeQuantityMeasurement" mdbInputDirective type="text" class="form-control" formControlName="volumeQuantityMeasurement" [attr.disabled]="true">
					<label for="volumeQuantityMeasurement">Unitate de masura (volum)</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="atcCode" mdbInputDirective type="text" class="form-control" formControlName="atcCode" [attr.disabled]="true">
					<label for="atcCode">Cod ATC</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="pharmaceuticalFormType" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalFormType" [attr.disabled]="true">
					<label for="pharmaceuticalFormType">Tip forma farmaceutica</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="pharmaceuticalForm" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalForm" [attr.disabled]="true">
					<label for="pharmaceuticalForm">Denumire forma farmaceutica</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="group" mdbInputDirective type="text" class="form-control" formControlName="group" [attr.disabled]="true">
					<label for="group">Grupa medicament</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="prescription" mdbInputDirective type="text" class="form-control" formControlName="prescription" [attr.disabled]="true">
					<label for="prescription">Eliberare receta</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="internationalMedicamentName" mdbInputDirective type="text" class="form-control" formControlName="internationalMedicamentName" [attr.disabled]="true">
					<label for="prescription">Denumirea internationala</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="termenVal" mdbInputDirective type="number" class="form-control" formControlName="termsOfValidity">
					<label for="termenVal">Termen de valabilitate (luni) <span class="text-danger">*</span></label>
				</div>
				<div *ngIf="formSubmitted && expertForm.get('medicament.termsOfValidity').invalid">
					<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie introdus</strong></small>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="medicamentType" mdbInputDirective type="text" class="form-control" formControlName="medicamentType" [attr.disabled]="true">
					<label for="medicamentType">Clasificarea medicamentului</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="customsCode" mdbInputDirective type="text" class="form-control" formControlName="customsCode" [attr.disabled]="true">
					<label for="customsCode">Cod vamal</label>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-12">
				<div class="md-form">
					<input id="medType2" mdbInputDirective type="text" class="form-control" formControlName="medTypesValues" [attr.disabled]="true">
					<label for="medType2">Tipul medicamentului</label>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form">
					<input id="authorizationHolder" mdbInputDirective type="text" class="form-control" formControlName="authorizationHolder" [attr.disabled]="true">
					<label for="medicamentType">Deţinătorul certificatului de inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="taraDetinAutProd" mdbInputDirective type="text" formControlName="authorizationHolderCountry" class="form-control" [attr.disabled]="true">
					<label for="taraDetinAutProd">Ţara deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="adresaDetAutProd" mdbInputDirective type="text" formControlName="authorizationHolderAddress" class="form-control" [attr.disabled]="true">
					<label for="adresaDetAutProd">Adresa deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
		</div>
		<hr>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card-header-title white-text">Producatori</div>
					</div>
				</div>
			</div>

		</div>

		<div class="card-body card-body-cascade">
		<table class="table table-widths text-center">
			<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Tara</th>
					<th scope="col">Adresa</th>
					<th scope="col">Comentariu</th>
					<th scope="col">Producator produs finit</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let manufacture of manufacturesTable;let i = index">
					<td>{{ manufacture.manufacture.description }}</td>
					<td>{{ manufacture.manufacture.country.description }}</td>
					<td>{{ manufacture.manufacture.address }}</td>
					<td>{{ manufacture.comment }}</td>
					<th scope="row">
						<mat-checkbox [checked]="manufacture.producatorProdusFinit" [disabled]="true"></mat-checkbox>
					</th>
				</tr>
			</tbody>
		</table>
		</div>
		<hr>
		<app-instruction [divisions]="divisions" [instructions]="instructions" [nrCerere]="expertForm.get('requestNumber').value"></app-instruction>
		<app-macheta [divisions]="divisions" [machets]="machets" [nrCerere]="expertForm.get('requestNumber').value"></app-macheta>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card-header-title white-text">Documente de iesire</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card content -->
		<div class="card-body card-body-cascade">
		<table class="table table-widths-lg text-center">
			<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumirea</th>
					<th scope="col">Numar</th>
					<th scope="col">Status document</th>
					<th>Actiuni</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let a of outputDocuments">
					<th scope="row" *ngIf="a.docType && (a.docType.category=='CA')">{{ a.name }}</th>
					<th scope="row" *ngIf="a.docType && (a.docType.category=='CA')">{{ a.number }}</th>
					<th scope="row" *ngIf="a.docType && (a.docType.category=='CA')">{{ a.status }}</th>
					<td *ngIf="a.docType && (a.docType.category=='CA')">
						<button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i class="fa fa-file fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<!--<div *ngIf="formSubmitted && isNonAttachedDocuments">-->
		<!--<small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong></small>-->
		<!--</div>-->
		<hr>
		<div class="text-center">
			<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date</button>
			<button [disabled]="oaAttached" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="back()">Inapoi</button>
			<button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="finish()">Finisare</button>
			<!--<button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">Intrerupere</button>-->
		</div>
	</form>
</div>