<div class="container-fluid sky z-depth-2">
  <form [formGroup]='expertForm'>
    <h3 class="text-center my-3 font-weight-bold">Expertiza</h3>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="md-form">
          <input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="requestNumber" [attr.disabled]="true">
          <label for="nrCererii">Nr. cererii</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form-modified">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr>
    <app-expert-comitee [expert]="expert" [formSubmitted]="formSubmitted"></app-expert-comitee>
    <app-document [documents]="documents" [nrCerere]="expertForm.get('requestNumber').value"></app-document>
    <hr>
    <h5 class="text-center font-weight-bold">Detalii medicament</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="md-form" formGroupName="medicament">
          <input id="compSolicitant" mdbInputDirective type="text" class="form-control" formControlName="companyValue" [attr.disabled]="true">
          <label for="compSolicitant">Compania solicitant</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form" formGroupName="medicament">
          <input id="med" mdbInputDirective type="text" class="form-control" formControlName="name" [attr.disabled]="true">
          <label for="med">Medicamentul</label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="md-form">
          <h5 class="text-center font-weight-bold">
            Inregistrare
          </h5>
          <hr>
          <mat-radio-group formControlName="typeValue">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <mat-radio-button name="prop1" value="MEDP">Primară</mat-radio-button>
                </div>
                <div class="col-12">
                  <mat-radio-button name="prop2" value="MEDR">Repetată</mat-radio-button>
                </div>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <hr>
    <h5 class="text-center font-weight-bold">Forma farmaceutică</h5>
    <hr>
    <div class="row" formGroupName="medicament">
      <div class="col-6">
        <div class="md-form">
          <input id="pharmaceuticalFormTypes" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalFormType" [attr.disabled]="true">
          <label for="med">Tip</label>
        </div>
      </div>
      <div class="col-6">
        <div class="md-form">
          <input id="pharmaceuticalForms" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalForm" [attr.disabled]="true">
          <label for="med">Denumire</label>
        </div>
      </div>
    </div>
    <h5 class="text-center font-weight-bold">Substanţe active</h5>
    <hr>
    <table class="table table-widths text-center">
      <thead class="black white-text">
      <tr>
        <th scope="col">Denumire</th>
        <th scope="col">Cod CAS</th>
        <th scope="col">Cantitate</th>
        <th scope="col">Unitate de masură</th>
        <th scope="col">Producător</th>
        <th scope="col">Ţară producător</th>
        <th scope="col">Adresă producător</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let substance of activeSubstancesTable;let i = index">
        <th scope="row">{{ substance.activeSubstance.description }}</th>
        <td>{{ substance.activeSubstance.code }}</td>
        <td>{{ substance.quantity }}</td>
        <td>{{ substance.unitsOfMeasurement.description }}</td>
        <td>{{ substance.activeSubstance.manufacture.description }}</td>
        <td>{{ substance.activeSubstance.manufacture.country.description }}</td>
        <td>{{ substance.activeSubstance.manufacture.address }}</td>
      </tr>
      </tbody>
    </table>
    <hr>
    <h5 class="text-center font-weight-bold">Informatii generale medicament</h5>
    <hr>
    <div class="row" formGroupName="medicament">
      <div class="col-md-6">
        <div class="md-form">
          <input id="dose" mdbInputDirective type="text" class="form-control" formControlName="dose" [attr.disabled]="true">
          <label for="med">Doza</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input id="unitsOfMeasurement" mdbInputDirective type="text" class="form-control" formControlName="unitsOfMeasurement" [attr.disabled]="true">
          <label for="med">Unitate de masura</label>
        </div>
      </div>
    </div>
    <div class="row" formGroupName="medicament">
      <div class="col-md-4">
        <div class="md-form">
          <input id="internationalName" mdbInputDirective type="text" class="form-control" formControlName="internationalMedicamentName" [attr.disabled]="true">
          <label for="med">Denumirea internationala</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="codMed" mdbInputDirective numberOnly type="text" class="form-control" formControlName="code" [attr.disabled]="true">
          <label for="codMed">Codul medicamentului</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="termenVal" mdbInputDirective type="text" class="form-control" formControlName="termsOfValidity" [attr.disabled]="true">
          <label for="termenVal">Termen de valabilitate</label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="md-form">
          <input id="medType" mdbInputDirective type="text" class="form-control" formControlName="medicamentType" [attr.disabled]="true">
          <label for="termenVal">Clasificarea medicamentului</label>
        </div>
      </div>
    </div>
    <h5 class="text-center font-weight-bold">Divizare</h5>
    <div class="row" formGroupName="medicament">
      <div class="col-md-6">
        <div class="md-form">
          <input id="nrUnits" mdbInputDirective type="text" class="form-control" formControlName="unitsQuantity" [attr.disabled]="true">
          <label for="termenVal">Numar de bucati</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input id="unitsQuantityMeasurement" mdbInputDirective type="text" class="form-control" formControlName="unitsQuantityMeasurement" [attr.disabled]="true">
          <label for="termenVal">Unitate de masura</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input id="storageQuantity" mdbInputDirective type="text" class="form-control" formControlName="storageQuantity" [attr.disabled]="true">
          <label for="termenVal">Cantitate stocare</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input id="storageQuantityMeasurement" mdbInputDirective type="text" class="form-control" formControlName="storageQuantityMeasurement" [attr.disabled]="true">
          <label for="termenVal">Unitate de masura</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input id="volum" mdbInputDirective type="text" class="form-control" formControlName="volume" [attr.disabled]="true">
          <label for="volum">Volumul</label>
        </div>
      </div>
    </div>
    <div class="row" formGroupName="medicament">
      <div class="col-md-6">
        <div class="md-form" formGroupName="group">
          <h5 class="text-center font-weight-bold">Grupa medicament</h5>
          <hr>
          <div class="container">
            <mat-radio-group formControlName="code">
              <div class="row">
                <div class="col-12">
                  <mat-radio-button name="prop1" value="VIT">Vital</mat-radio-button>
                </div>
                <div class="col-12">
                  <mat-radio-button name="prop2" value="ES">Esenţial</mat-radio-button>
                </div>
                <div class="col-12">
                  <mat-radio-button name="prop2" value="NES">Nonesenţial</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
          <br/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <h5 class="text-center font-weight-bold">Eliberare receta</h5>
          <hr>
          <div class="container">
            <mat-radio-group formControlName="prescription">
              <div class="row">
                <div class="col-12">
                  <mat-radio-button name="prop1" value="1">Cu prescripţia</mat-radio-button>
                </div>
                <div class="col-12">
                  <mat-radio-button name="prop2" value="0">Fără prescripţia</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
          <br/>
        </div>
      </div>
    </div>
    <div class="row" formGroupName="medicament">
      <div class="col-md-4">
        <div class="md-form">
          <input id="authorizationHolder" mdbInputDirective type="text" class="form-control" formControlName="authorizationHolder" [attr.disabled]="true">
          <label for="volum">Deţinătorul autorizaţiei de producere</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="taraDetinAutProd" mdbInputDirective type="text" formControlName="authorizationHolderCountry" class="form-control" [attr.disabled]="true">
          <label for="taraDetinAutProd">Ţara deţinătorului autorizaţiei de producere</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="adresaDetAutProd" mdbInputDirective type="text" formControlName="authorizationHolderAddress" class="form-control" [attr.disabled]="true">
          <label for="adresaDetAutProd">Adresa deţinătorului autorizaţiei de producere</label>
        </div>
      </div>
    </div>
    <div class="row" formGroupName="medicament">
      <div class="col-md-4">
        <div class="md-form">
          <input id="manufacture" mdbInputDirective type="text" class="form-control" formControlName="manufacture" [attr.disabled]="true">
          <label for="volum">Producătorul produsului finit</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="taraProdProduInit" mdbInputDirective type="text" formControlName="manufactureMedCountry" class="form-control" [attr.disabled]="true">
          <label for="taraProdProduInit">Ţara producătorului produsului finit</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="adresaProdProduFinish" mdbInputDirective type="text" formControlName="manufactureMedAddress" class="form-control" [attr.disabled]="true">
          <label for="adresaProdProduFinish">Adresa producătorului produsului finit</label>
        </div>
      </div>
    </div>
    <hr>
    <h5 class="text-center font-weight-bold">Documente de iesire</h5>
    <hr>
    <table class="table table-widths-lg text-center">
      <thead class="black white-text">
      <tr>
        <th scope="col">Denumirea</th>
        <th>Actiuni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of outDocuments">
        <th scope="row">{{ a.name }}</th>
        <td>
          <button class="btn btn-default btn-sm waves-light" mdbWavesEffect (click)="viewDoc()">Vizualizare</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="nextStep()">Finisare</button>
      <button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">Intrerupere</button>
    </div>
  </form>
</div>