<div class="container-fluid sky z-depth-2">
	<form [formGroup]="expertForm">
		<div class="row">
			<div class="col-md-6">
				<div class="md-form">
					<input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="requestNumber"
					       [attr.disabled]="true">
					<label for="nrCererii">Nr. cererii</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker touchUi #picker></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
		</div>
		<hr>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Experti</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white" *ngIf="modelToSubmit && !modelToSubmit.ddIncluded">
							<i (click)="addExpert()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Nr.</th>
					<th scope="col">Expert intern</th>
					<th scope="col">Nume</th>
					<th scope="col">Decizie</th>
					<th scope="col">Data adaugare</th>
					<th scope="col">Inclus in scrisoare de solicitare date aditionale</th>
					<th scope="col">Numarul solicitarii date aditionale</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let expert of expertList;let i = index">
					<td>{{ i + 1 }}</td>
					<td>{{ expert.intern==1 ? 'Da' : 'Nu' }}</td>
					<td>{{ expert.intern==1 ? expert.expert.name :  expert.expertName}}</td>
					<td>{{ expert.decision }}</td>
					<td>{{ expert.date| date: 'dd/MM/yyyy HH:mm:ss' }}</td>
					<td>{{ expert.requestAdditionalDataNumber ? 'Da' : 'Nu'}}</td>
					<td>{{ expert.requestAdditionalDataNumber }}</td>
					<td>
						<button class="btn btn-mdb-color waves-light btn-sm waves-light" (click)="editExpert(expert,i)" *ngIf="!expert.requestAdditionalDataNumber"
						        mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
						<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeExpert(i)" *ngIf="!expert.requestAdditionalDataNumber"
						        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="expertList.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<hr>
		<div class="position-button">
			<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="dd()" [disabled]="modelToSubmit && modelToSubmit.ddIncluded">Include expertii in dispozitia de distribuire</button>
		</div>
		<hr>
		<app-document [docDetails]="docDetails" [documents]="documents" [nrCerere]="expertForm.get('requestNumber').value" [dcTypes]="docTypes" (documentModified)="documentModified($event)"></app-document>
		<h5 class="text-center font-weight-bold">Detalii medicament</h5>
		<div class="row">
			<div class="col-md-4">
				<div class="md-form">
					<input id="compSolicitant" mdbInputDirective type="text" class="form-control" formControlName="companyValue" [attr.disabled]="true">
					<label for="compSolicitant">Compania solicitant</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="typeValue" mdbInputDirective type="text" class="form-control" formControlName="typeValue" [attr.disabled]="true">
					<label for="typeValue">Inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form" formGroupName="medicament">
					<input id="med" mdbInputDirective type="text" class="form-control" formControlName="commercialName" [attr.disabled]="true">
					<label for="med">Denumire comerciala medicament</label>
				</div>
			</div>
		</div>
		<!-- <h5 class="text-center font-weight-bold">Divizari</h5> -->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Divizari</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white">
							<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="addToAuthorizationOrder()" [disabled]="oaAttached">Include in ordinul de autorizare</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
					<tr>
						<th scope="col">Nr.</th>
						<th scope="col">Numărul de unități</th>
						<th scope="col">Volum</th>
						<th scope="col">Unitate de masura (volum)</th>
						<th scope="col">Numărul de eșantione</th>
						<th scope="col">Seria medicamentului</th>
						<th scope="col">Data expirării mostrelor</th>
						<th scope="col" *ngIf="expertForm.get('type').value && (expertForm.get('type').value.code=='MERG' || expertForm.get('type').value.code=='MERS')">Cod medicament</th>
						<th scope="col">Aprobat</th>
						<th scope="col" *ngIf="expertForm.get('type').value && (expertForm.get('type').value.code=='MERG' || expertForm.get('type').value.code=='MERS')">Actiuni</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let division of divisions;let i = index">
						<td>{{ i + 1 }}</td>
						<td>{{ division.description }}</td>
						<td>{{ division.volume }}</td>
						<td>{{ division.volumeQuantityMeasurement ? division.volumeQuantityMeasurement.description : '' }}</td>
						<td>{{ division.samplesNumber }}</td>
						<td>{{ division.serialNr }}</td>
						<td>{{ division.samplesExpirationDate | date: 'dd/MM/yyyy' }}</td>
						<td *ngIf="expertForm.get('type').value && (expertForm.get('type').value.code=='MERG' || expertForm.get('type').value.code=='MERS')">{{ division.code }}</td>
						<td>  <mat-checkbox #checkboxApproved  [checked]="division.approved" [disabled]="oaAttached" (change)="checkApproved(division,checkboxApproved)"></mat-checkbox></td>
						<td *ngIf="expertForm.get('type').value && (expertForm.get('type').value.code=='MERG' || expertForm.get('type').value.code=='MERS')">
							<button  type="button" class="btn btn-mdb-color btn-sm waves-light"
							        (click)="editDivision(division,i)" mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <h5 class="text-center font-weight-bold">Substanţe active</h5> -->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-12">
						<div class="card-header-title white-text">Substanţe active</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
					<tr>
						<th scope="col">Denumire</th>
						<th scope="col">Cod CAS</th>
						<th scope="col">Concentratie</th>
						<th scope="col">Unitate de masură</th>
						<th scope="col">Producători</th>
						<th scope="col">Numărul compoziției</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let substance of activeSubstancesTable;let i = index">
						<th scope="row">{{ substance.activeSubstance.description }}</th>
						<td>{{ substance.activeSubstance.code }}</td>
						<td>{{ substance.quantity }}</td>
						<td>{{ substance.unitsOfMeasurement.description }}</td>
						<td>{{ manufacturesStr(substance)}}</td>
						<td>{{ substance.compositionNumber }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<!--Substante auxiliare-->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Excipienti</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Tabela substante auxiliare -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Nr.</th>
					<th scope="col">Denumire</th>
					<th scope="col">Numărul compoziției</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let substance of auxiliarySubstancesTable;let i = index">
					<td>{{ i+1 }}</td>
					<th scope="row">{{ substance.auxSubstance.description }}</th>
					<td>{{ substance.compositionNumber }}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="auxiliarySubstancesTable.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<hr>
		<h5 class="text-center font-weight-bold">Informatii generale medicament</h5>
		<hr>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form">
					<input id="dose" mdbInputDirective type="text" class="form-control" formControlName="dose" [attr.disabled]="true">
					<label for="dose">Doza</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="pharmaceuticalFormType" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalFormType" [attr.disabled]="true">
					<label for="pharmaceuticalFormType">Tip forma farmaceutica</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="pharmaceuticalForm" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalForm" [attr.disabled]="true">
					<label for="pharmaceuticalForm">Denumire forma farmaceutica</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="atcCode" mdbInputDirective type="text" class="form-control" formControlName="atcCode" [attr.disabled]="true">
					<label for="atcCode">Cod ATC</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="group" mdbInputDirective type="text" class="form-control" formControlName="group" [attr.disabled]="true">
					<label for="group">Grupa medicament</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="prescription" mdbInputDirective type="text" class="form-control" formControlName="prescription" [attr.disabled]="true">
					<label for="prescription">Eliberare reţetă</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="internationalMedicamentName" mdbInputDirective type="text" class="form-control" formControlName="internationalMedicamentName" [attr.disabled]="true">
					<label for="prescription">Denumirea internationala</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="termenVal" mdbInputDirective type="number" class="form-control" formControlName="termsOfValidity" [attr.disabled]="true">
					<label for="termenVal">Termen de valabilitate (luni) <span class="text-danger">*</span></label>
				</div>
				<div *ngIf="formSubmitted && expertForm.get('medicament.termsOfValidity').invalid">
					<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie introdus</strong></small>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<mat-checkbox [disabled]="true" [checked]="expertForm.get('medicament.originale').value">Original</mat-checkbox>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<mat-checkbox [disabled]="true" [checked]="expertForm.get('medicament.orphan').value">Orfan</mat-checkbox>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-12">
				<div class="md-form">
					<input id="medType2" mdbInputDirective type="text" class="form-control" formControlName="medTypesValues" [attr.disabled]="true">
					<label for="medType2">Tip cerere</label>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form">
					<input id="authorizationHolder" mdbInputDirective type="text" class="form-control" formControlName="authorizationHolder" [attr.disabled]="true">
					<label for="authorizationHolder">Deţinătorul certificatului de inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="taraDetinAutProd" mdbInputDirective type="text" formControlName="authorizationHolderCountry" class="form-control" [attr.disabled]="true">
					<label for="taraDetinAutProd">Ţara deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="adresaDetAutProd" mdbInputDirective type="text" formControlName="authorizationHolderAddress" class="form-control" [attr.disabled]="true">
					<label for="adresaDetAutProd">Adresa deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
		</div>
		<hr>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card-header-title white-text">Producatori</div>
					</div>
				</div>
			</div>

		</div>

		<div class="card-body card-body-cascade">
		<table class="table table-widths text-center">
			<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Tara</th>
					<th scope="col">Adresa</th>
					<th scope="col">Comentariu</th>
					<th scope="col">Producator produs finit</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let manufacture of manufacturesTable;let i = index">
					<td>{{ manufacture.manufacture.description }}</td>
					<td>{{ manufacture.manufacture.country.description }}</td>
					<td>{{ manufacture.manufacture.address }}</td>
					<td>{{ manufacture.comment }}</td>
					<th scope="row">
						<mat-checkbox [checked]="manufacture.producatorProdusFinit" [disabled]="true"></mat-checkbox>
					</th>
				</tr>
			</tbody>
		</table>
		</div>
		<hr>
		<app-instruction (removeInstr)="removeInstr($event)" (addInstr)="addInstr($event)" [canUpload]="expertForm.get('type').value && expertForm.get('type').value.code!='MERG' && expertForm.get('type').value.code!='MERS'" [divisions]="divisions" [instructions]="instructions" [nrCerere]="expertForm.get('requestNumber').value"></app-instruction>
		<app-macheta (removeMaket)="removeMacheta($event)" (addMaket)="addMacheta($event)" [canUpload]="expertForm.get('type').value && expertForm.get('type').value.code!='MERG' && expertForm.get('type').value.code!='MERS'" [divisions]="divisions" [machets]="machets" [nrCerere]="expertForm.get('requestNumber').value"></app-macheta>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Documente de iesire</div>
					</div>
					<div class="col-6">
						<div class="position-button">
							<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="requestAdditionalData()">Solicitare
								date aditionale
							</button>
							<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" [disabled]="isDisabledLabButton()" mdbWavesEffect (click)="requestLaboratoryAnalysis()">Solicitare
								analiza laborator
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card content -->
		<div class="card-body card-body-cascade">
		<table class="table table-widths-lg text-center">
			<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumirea</th>
					<th scope="col">Numar</th>
					<th scope="col">Status document</th>
					<th scope="col">Status raspuns</th>
					<th>Actiuni</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let a of outputDocuments">
					<th scope="row">{{ a.name }}</th>
					<th scope="row">{{ a.number }}</th>
					<th scope="row">{{ a.status }}</th>
					<th scope="row">
						<mat-checkbox *ngIf="a.docType && (a.docType.category=='SL')" #checkBoxResponse
						              [checked]="a.responseReceived==1" (change)="checkResponseReceived(a,checkBoxResponse)">Raspuns primit
						</mat-checkbox>

					</th>
					<td>
						<button  *ngIf="a.docType.category!='LAB'" class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i class="fa fa-file fa-lg" aria-hidden="true"></i></button>
						<button *ngIf="(a.status=='Nu este atasat' && a.responseReceived==false && a.docType.category=='SL' && modelToSubmit && !modelToSubmit.ddIncluded) ||( a.docType.category=='LAB' && !a.number)"
						        class="btn btn-dark-red-color btn-sm waves-light" mdbWavesEffect (click)="remove(a)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<!--<div *ngIf="formSubmitted && isNonAttachedDocuments">-->
		<!--<small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong></small>-->
		<!--</div>-->
		<hr>
		<div class="text-center">
			<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date</button>
			<button [disabled]="oaAttached" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="back()">Inapoi</button>
			<button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="success()">Finisare</button>
			<button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">Intrerupere</button>
		</div>
	</form>
</div>