<div class="mat-dialog-content">
	<h3 class="text-center my-3 font-weight-bold">Detalii medicament</h3>
	<form [formGroup]='mForm'>
		<div class="position-button">
			<button type="button" class="btn btn-mdb-color btn-sm" title="Istoric" (click)="showMedicamentHistory()">
				<i class="fa fa-history fa-lg" aria-hidden="true"></i>
			</button>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="md-form">
					<input id="name1" mdbInputDirective type="text" class="form-control" formControlName="commercialName">
					<label for="name1">Denumire comerciala</label>
					<div *ngIf="formSubmitted && !mForm.get('commercialName').value">
						<small class="text-muted"><strong class="text-danger">Denumirea comerciala a medicamentului trebuie introdusa</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="dose1" mdbInputDirective type="text" class="form-control" formControlName="dose">
					<label for="dose1">Doza</label>
					<div *ngIf="formSubmitted && !mForm.get('dose').value">
						<small class="text-muted"><strong class="text-danger">Doza trebuie introdusa</strong></small>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="registrationNumber" mdbInputDirective type="text" class="form-control" formControlName="registrationNumber" [attr.disabled]="true">
					<label for="registrationNumber">Numar de inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div *ngIf="!checkRole('scr_admin')" class="md-form">
					<input id="atcCode" mdbInputDirective type="text" class="form-control" formControlName="atcCode" [attr.disabled]="true">
					<label for="atcCode">Cod ATC</label>
				</div>
				<div *ngIf="checkRole('scr_admin')" class="md-form-modified">
					<ng-select [items]="atcCodes | async"
							   bindLabel="code"
							   placeholder="Cod ATC"
							   formControlName="atcCode"
							   [loading]="loadingAtcCodes"
							   [typeahead]="atcCodesInputs"
							   required="true">
						<ng-template ng-option-tmp let-item="item">
							{{item.code}} <br/>
							<small class="form-text text-muted">{{item.description}}</small>
						</ng-template>
					</ng-select>
					<div *ngIf="formSubmitted && mForm.get('atcCode').invalid">
						<small class="text-muted"><strong class="text-danger">Codul ATC trebuie introdus</strong></small>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="registrationDate" placeholder="Data inregistrarii" formControlName="registrationDate" [attr.disabled]="true">
						<mat-datepicker-toggle matSuffix [for]="registrationDate"></mat-datepicker-toggle>
						<mat-datepicker touchUi #registrationDate></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="expirationDate" placeholder="Data expirarii" formControlName="expirationDate" [attr.disabled]="true">
						<mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
						<mat-datepicker touchUi #expirationDate></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form" *ngIf="!checkRole('scr_admin')">
					<input id="pharmaceuticalFormType" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalFormType" [attr.disabled]="true">
					<label for="pharmaceuticalFormType">Tip forma farmaceutica</label>
				</div>
                <div class="md-form-modified" *ngIf="checkRole('scr_admin')">
                    <ng-select id="pharmaceuticalFormTypes" name="pharmaceuticalFormTypes" [items]="pharmaceuticalFormTypes" bindLabel="description"
                               placeholder="Tip forma farmaceutica" (ngModelChange)="loadPharmaceuticalForms()" formControlName="pharmaceuticalFormType"
                               required="true">
                    </ng-select>
                    <div *ngIf="formSubmitted && mForm.get('pharmaceuticalFormType').invalid">
                        <small class="text-muted"><strong class="text-danger">Tipul trebuie selectat</strong></small>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div class="md-form" *ngIf="!checkRole('scr_admin')">
					<input id="pharmaceuticalForm" mdbInputDirective type="text" class="form-control" formControlName="pharmaceuticalForm" [attr.disabled]="true">
					<label for="pharmaceuticalForm">Denumire forma farmaceutica</label>
				</div>
                <div class="md-form-modified" *ngIf="checkRole('scr_admin')">
                    <ng-select id="pharmaceuticalForms" name="pharmaceuticalForms" [items]="pharmaceuticalForms" bindLabel="description"
                               placeholder="Denumire forma farmaceutica" formControlName="pharmaceuticalForm" required="true">
                    </ng-select>
                    <div *ngIf="formSubmitted && mForm.get('pharmaceuticalForm').invalid">
                        <small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div class="md-form" *ngIf="!checkRole('scr_admin')">
					<input id="group" mdbInputDirective type="text" class="form-control" formControlName="group" [attr.disabled]="true">
					<label for="group">Grupa medicament</label>
				</div>
                <div class="md-form-modified" *ngIf="checkRole('scr_admin')">
                    <ng-select id="groups" name="group" [items]="groups" bindLabel="description"
                               placeholder="Grupa medicament" formControlName="group" required="true">
                    </ng-select>
                    <div *ngIf="formSubmitted && mForm.get('group').invalid">
                        <small class="text-muted"><strong class="text-danger">Grupa medicament trebuie selectata</strong></small>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div class="md-form" *ngIf="!checkRole('scr_admin')">
					<input id="prescription" mdbInputDirective type="text" class="form-control" formControlName="prescription" [attr.disabled]="true">
					<label for="prescription">Eliberare receta</label>
				</div>
                <div class="md-form-modified" *ngIf="checkRole('scr_admin')">
                    <ng-select id="prescriptions" name="prescription" [items]="prescriptions" bindLabel="description"
                               placeholder="Eliberare reţetă" formControlName="prescription" required="true">
                    </ng-select>
                    <div *ngIf="formSubmitted && mForm.get('prescription').invalid">
                        <small class="text-muted"><strong class="text-danger">Tipul eliberarii recetei trebuie selectat</strong></small>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div class="md-form" *ngIf="!checkRole('scr_admin')">
					<input id="internationalMedicamentName" mdbInputDirective type="text" class="form-control" formControlName="internationalMedicamentName" [attr.disabled]="true">
					<label for="prescription">Denumirea internationala</label>
				</div>
                <div class="md-form-modified" *ngIf="checkRole('scr_admin')">
                    <ng-select id="internationalName" name="internationalName" [items]="internationalNames"
                               bindLabel="description"
                               placeholder="Denumirea internationala *"
                               formControlName="internationalMedicamentName">
                    </ng-select>
                    <div *ngIf="formSubmitted && mForm.get('internationalMedicamentName').invalid">
                        <small class="text-muted"><strong class="text-danger">Denumirea comuna internationala trebuie selectata</strong></small>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="termenVal1" mdbInputDirective type="number" class="form-control" formControlName="termsOfValidity">
					<label for="termenVal1">Termen de valabilitate (luni) <span class="text-danger">*</span></label>
				</div>
				<div *ngIf="formSubmitted && mForm.get('termsOfValidity').invalid">
					<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie introdus</strong></small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="md-form" *ngIf="!checkRole('scr_admin')">
					<input id="medType2" mdbInputDirective type="text" class="form-control" formControlName="medTypesValues" [attr.disabled]="true">
					<label for="medType2">Tip cerere</label>
				</div>
                <div class="md-form-modified" *ngIf="checkRole('scr_admin')">
                    <ng-select id="medType21" name="medType2" [items]="medicamentTypes2" bindLabel="description" [multiple]="true"
                               placeholder="Tip cerere" formControlName="medTypesValues">
                    </ng-select>
                </div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<mat-checkbox #clasificareMedicament (change)="checkClasificareMedicament(clasificareMedicament)" [checked]="mForm.get('originale').value" [disabled]="!checkRole('scr_admin')">Original</mat-checkbox>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<mat-checkbox #orfanMedicament (change)="checkOrphanMedicament(orfanMedicament)" [checked]="mForm.get('orphan').value" [disabled]="!checkRole('scr_admin')">Orfan</mat-checkbox>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="md-form" *ngIf="!checkRole('scr_admin')">
					<input id="authorizationHolder" mdbInputDirective type="text" class="form-control" formControlName="authorizationHolder" [attr.disabled]="true">
					<label for="authorizationHolder">Deţinătorul certificatului de inregistrare</label>
				</div>
                <div class="md-form-modified" *ngIf="checkRole('scr_admin')">
					<ng-select id="denumireaAutProd" name="denumireaAutProd" [items]="manufactureAuthorizationsAsync | async"
							   bindLabel="description"
							   placeholder="Deţinătorul certificatului de inregistrare *"
							   (ngModelChange)="fillAutorizationHolderDetails()"
							   [loading]="loadingManufactureAsync"
							   [typeahead]="manufacturesAuthorizationsInputsAsync"
							   formControlName="authorizationHolder"
							   required="true">
						<ng-template ng-option-tmp let-item="item">
							{{item.description}} <br/>
							<small class="form-text text-muted">{{item.address}}</small>
						</ng-template>
					</ng-select>
                    <div *ngIf="formSubmitted && mForm.get('authorizationHolder').invalid">
                        <small class="text-muted"><strong class="text-danger">Deţinătorul certificatului de inregistrare trebuie selectat</strong></small>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="taraDetinAutProd" mdbInputDirective type="text" formControlName="authorizationHolderCountry" class="form-control" [attr.disabled]="true">
					<label for="taraDetinAutProd">Ţara deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="adresaDetAutProd" mdbInputDirective type="text" formControlName="authorizationHolderAddress" class="form-control" [attr.disabled]="true">
					<label for="adresaDetAutProd">Adresa deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="md-form">
					<input id="priceMdl" mdbInputDirective type="text" class="form-control" formControlName="priceMdl" [attr.disabled]="true">
					<label for="priceMdl">Prețul MDL</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="price" mdbInputDirective type="text" formControlName="price" class="form-control" [attr.disabled]="true">
					<label for="price">Prețul în valută</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="currency" mdbInputDirective type="text" formControlName="currency" class="form-control" [attr.disabled]="true">
					<label for="currency">Valuta</label>
				</div>
			</div>
		</div>
		<!--Divizari tabela-->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Divizari</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Nr.</th>
					<th scope="col">Cod medicament</th>
					<th scope="col">Numărul de unități</th>
					<th scope="col">Volum</th>
					<th scope="col">Unitate de masura (volum)</th>
					<th scope="col" *ngIf="checkRole('scr_admin')">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let division of divisions;let i = index">
					<td>{{ i + 1 }}</td>
					<td>{{ division.code }}</td>
					<td>{{ division.description }}</td>
					<td>{{ division.volume }}</td>
					<td>{{ division.volumeQuantityMeasurement?.description }}</td>
					<td *ngIf="checkRole('scr_admin')">
						<button type="button" class="btn btn-mdb-color btn-sm waves-light"
								(click)="editDivision(division,i)" mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!--Substante active tabela-->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Substanţe active</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Cod CAS</th>
					<th scope="col">Concentratie</th>
					<th scope="col">Unitate de masură</th>
					<th scope="col">Producători</th>
					<th scope="col">Numărul compoziției</th>
					<th scope="col" *ngIf="checkRole('scr_admin')">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let substance of activeSubstancesTable;let i = index">
					<th scope="row">{{ substance.activeSubstance.description }}</th>
					<td>{{ substance.activeSubstance.code }}</td>
					<td>{{ substance.quantity }}</td>
					<td>{{ substance.unitsOfMeasurement.description }}</td>
					<td>{{ manufacturesStr(substance)}}</td>
					<td>{{ substance.compositionNumber }}</td>
					<td *ngIf="checkRole('scr_admin')">
						<button class="btn btn-mdb-color waves-light btn-sm waves-light" (click)="editSubstance(substance,i)"
								mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!--Substante auxiliare-->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Excipienti</div>
					</div>
					<div class="col-6" *ngIf="checkRole('scr_admin')">
						<div class="text-right fap text-white">
							<i (click)="addAuxiliarySubstanceDialog()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Tabela substante auxiliare -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Nr.</th>
					<th scope="col">Denumire</th>
					<th scope="col">Numărul compoziției</th>
					<th scope="col" *ngIf="checkRole('scr_admin')">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let substance of auxiliarySubstancesTable;let i = index">
					<td>{{ i+1 }}</td>
					<th scope="row">{{ substance.auxSubstance.description }}</th>
					<td>{{ substance.compositionNumber }}</td>
					<td *ngIf="checkRole('scr_admin')">
						<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeAuxiliarySubstance(i)"
								mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="auxiliarySubstancesTable.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<!--Producatori tabela-->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Producatori</div>
					</div>
					<div class="col-6" *ngIf="checkRole('scr_admin')">
						<div class="text-right fap text-white">
							<i (click)="addManufacture()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Tara</th>
					<th scope="col">Adresa</th>
					<th scope="col">Comentariu</th>
					<th scope="col">Producator produs finit</th>
					<th scope="col" *ngIf="checkRole('scr_admin')">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let manufacture of manufacturesTable;let i = index">
					<td>{{ manufacture.manufacture.description }}</td>
					<td>{{ manufacture.manufacture.country.description }}</td>
					<td>{{ manufacture.manufacture.address }}</td>
					<td>{{ manufacture.comment }}</td>
					<th scope="row">
						<mat-checkbox #checkBoxProducatorProdusFinit [checked]="manufacture.producatorProdusFinit" (change)="checkProducatorProdusFinit(manufacture,checkBoxProducatorProdusFinit)" [disabled]="!checkRole('scr_admin')"></mat-checkbox>
					</th>
					<td *ngIf="checkRole('scr_admin')">
						<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeManufacture(i)"
								mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="formSubmitted && manufacturesTable.length==0">
			<small class="text-muted"><strong class="text-danger">Nici un producator nu a fost adaugat</strong></small>
		</div>
		<div *ngIf="formSubmitted && produsFinitInvalid">
			<small class="text-muted"><strong class="text-danger">Nu a fost selectat producatorul produsului finit</strong></small>
		</div>

		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-8">
						<div class="card-header-title white-text">Instructiuni</div>
					</div>
				</div>
			</div>

		</div>
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center table-sm">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Data incarcarii</th>
					<th scope="col">Divizare</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let instruction of instructions; let i = index">
					<td>{{ instruction.name }}</td>
					<td>{{ instruction.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
					<td>{{ getConcatenatedDivision(instruction.divisions) }}</td>
					<td>
						<button type="button" class="btn btn-mdb-color btn-sm waves-light" (click)="viewFile(instruction)"
						        mdbWavesEffect><i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-8">
						<div class="card-header-title white-text">Machete</div>
					</div>
				</div>
			</div>

		</div>
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center table-sm">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Data incarcarii</th>
					<th scope="col">Divizare</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let macheta of machets; let i = index">
					<td>{{ macheta.name }}</td>
					<td>{{ macheta.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
					<td>{{ getConcatenatedDivision(macheta.divisions)}}</td>
					<td>
						<button type="button" class="btn btn-mdb-color btn-sm waves-light" (click)="viewFile(macheta)"
						        mdbWavesEffect><i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<div class="row">
					<div class="col-8">
						<div class="card-header-title white-text">Documente</div>
					</div>
				</div>
			</div>

		</div>
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center table-sm">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Tip document</th>
					<th scope="col">Numar document</th>
					<th scope="col">Data emiterii</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let document of documents; let i = index">
					<td>{{ document.name }}</td>
					<td>{{ document.docType.description }}</td>
					<td>{{ document.number }}</td>
					<td>{{ document.dateOfIssue | date: 'dd/MM/yyyy' }}</td>
					<td>
						<button type="button" class="btn btn-mdb-color btn-sm waves-light" (click)="loadFile(document.path)"
						        mdbWavesEffect><i class="fa fa-download fa-lg" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="formSubmitted">
			<small class="text-muted"><strong class="text-danger">Exista cimpuri mandatorii necompletate</strong></small>
		</div>
	</form>
</div>
<div class="text-center">
	<div mat-dialog-actions>
		<div class="w-100">
			<button *ngIf="!checkRole('scr_admin')" class="btn btn-dark-green-color btn-sm-bl btn-sm" (click)="confirm()">Ok</button>
			<button *ngIf="checkRole('scr_admin')" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date</button>
			<button *ngIf="checkRole('scr_admin')" class="btn btn-danger btn-sm waves-light" (click)="cancel()">Anulare</button>
		</div>
	</div>
</div>