.table-width {
  width: 100%;
  }
th, td {
  text-align: center !important;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }
 ::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.pr-search {
  padding-right: 30px;
}

.modal-open .modal {
  overflow-y: auto;
}

.example-container {
  width: 100%;
  overflow: auto;
}

table {
  width: 1200px;
}

.modal {
  overflow-y:auto;
}

.fa-touched {
  font-size: 0.95em;
}

.fa-untouched {
  font-size: 1.33em;
}

.modal-mdb-color {
  background: #59698d !important;
}

.modal-dark-green {
  background: #218c74 !important;
}

.md-form {
  position: relative;
  margin-top: 14px !important;
  margin-bottom: 5px !important;
}

.md-form-modified {
  position: relative;
  margin-top: 2px;
  margin-bottom: 5px !important;
}