<div class="container-fluid sky z-depth-2">
	<form [formGroup]='taskForm'>
		<div class="row">
			<div class="col-3">
				<div class="md-form">
					<input id="requestNumber" mdbInputDirective type="number" class="form-control" formControlName="requestNumber">
					<label for="requestNumber">Request number</label>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<ng-select id="request" name="request" [items]="requests"
					           bindLabel="description"
					           placeholder="Nume cerere"
					           (ngModelChange)="retrieveRequestTypes();"
					           formControlName="request">
					</ng-select>
				</div>
			</div>
			<div class="col-3">
				<div class="md-form-modified">
					<ng-select id="requestType" name="requestType" [items]="requestTypes"
					           bindLabel="description"
					           placeholder="Tip cerere"
					           (ngModelChange)="retrieveRequestTypeSteps();"
					           formControlName="requestType">
					</ng-select>
				</div>
			</div>
			<div class="col">
				<div class="md-form-modified">
					<ng-select id="step" name="step" [items]="steps"
					           bindLabel="description"
					           placeholder="Pas"
					           formControlName="step">
					</ng-select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="md-form">
					<input id="assignedPerson" mdbInputDirective type="text" class="form-control" formControlName="assignedPerson">
					<label for="assignedPerson">Persoana asignata</label>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate">
						<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
						<mat-datepicker touchUi #startDate></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col-3">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="endDate"  placeholder="End date" formControlName="endDate">
						<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
						<mat-datepicker touchUi #endDate></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col">
				<div class="md-form-modified text-center">
					<button type="button" class="btn btn-indigo waves-light btn-md btn-rounded-button z-depth-4" mdbWavesEffect (click)="findTasks();"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
	</form>
	<div class="table-width">
		<div class="text-right">
			<mat-form-field class="w-25">
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtru" class="w-25">
			</mat-form-field>
		</div>
		<div class="example-container">
			<table mat-table [dataSource]="dataSource" matSort>
				<ng-container matColumnDef="requestNumber">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Numar cerere</th>
					<td mat-cell *matCellDef="let element">
						<a title="Deschide proces" (click)="navigateToUrl(element)" *ngIf="isLink(element)">
							{{element.requestNumber}}
						</a>
						<i class="font-weight-bold" title="Deschide proces" *ngIf="!isLink(element)">
							{{element.requestNumber}}
						</i>
					</td>
				</ng-container>

				<ng-container matColumnDef="processName">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Nume cerere</th>
					<td mat-cell *matCellDef="let element"> {{element.processName}} </td>
				</ng-container>

				<ng-container matColumnDef="requestType">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Tip cerere</th>
					<td mat-cell *matCellDef="let element"> {{element.requestType}} </td>
				</ng-container>

				<ng-container matColumnDef="username">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Username</th>
					<td mat-cell *matCellDef="let element"> {{element.username}} </td>
				</ng-container>

				<ng-container matColumnDef="startDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Start date</th>
					<td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy'}} </td>
				</ng-container>

				<ng-container matColumnDef="endDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> End date</th>
					<td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/yyyy'}} </td>
				</ng-container>

				<ng-container matColumnDef="step">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Step</th>
					<td mat-cell *matCellDef="let element"> {{element.step}} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>