<div class="container-fluid sky z-depth-2">
    <form [formGroup]="mForm">
        <div class="text-center">
            <div class="container">
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICEL'">Eliberarea licentei</h5>
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICM'">Modificarea licentei</h5>
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICD'">Eliberarea duplicatului</h5>
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICP'">Prelungire</h5>
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICS'">Suspendare</h5>
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICRL'">Reluare</h5>
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICA'">Anulare</h5>
                <h5 class="text-center font-weight-bold" *ngIf="tipCerere === 'LICC'">Cesionare</h5>
            </div>
        </div>

        <div class="row" *ngIf="tipCerere">
            <div class="col-md-6">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCererii">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data de inregistrare a cererii"
                               id="dataEliberarii"
                               formControlName="dataEliberarii">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <app-document *ngIf="tipCerere" [documents]="docs" [nrCerere]="mForm.get('nrCererii').value"
                      (documentModified)="documentAdded($event)" [dcTypeIdentifier]="docTypeIdentifier"></app-document>
        <div *ngIf="rFormSubbmitted && docs.length==0">
            <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
        </div>

    </form>

    <form [formGroup]="rForm" name="form" #f="ngForm">
    <h5 class="text-center font-weight-bold">Detalii licenta</h5>
    <div class="row">
            <div class="col-md-6">
            <div class="md-form">
                <input id="seriaLic" mdbInputDirective type="text" class="form-control"
                       formControlName="seriaLic">
                <label for="seriaLic">Seria licenţei<span class="text-danger"> * </span></label>
            </div>
            <div *ngIf="rFormSubbmitted && !rForm.get('seriaLic').valid && !rForm.get('seriaLic').disabled">
                <small class="text-muted"><strong class="text-danger">Seria licentei trebuie introdusa</strong>
                </small>
            </div>
        </div>

            <div class="col-md-6">
            <div class="md-form">
                <input id="nrLic" mdbInputDirective type="text" class="form-control"
                       formControlName="nrLic">
                <label for="nrLic">Numarul licenţei<span class="text-danger"> * </span></label>
            </div>
            <div *ngIf="rFormSubbmitted && !rForm.get('nrLic').valid && !rForm.get('nrLic').disabled">
                <small class="text-muted"><strong class="text-danger">Numarul licentei trebuie introdus</strong>
                </small>
            </div>
        </div>
    </div>



        <h5 class="text-center font-weight-bold">Persoana care a depus solicitarea</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="persResDepCereriiFirstname" mdbInputDirective type="text" class="form-control"
                           formControlName="persResDepCereriiFirstname">
                    <label for="persResDepCereriiFirstname">Nume persoana responsabilă </label>

                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="persResDepCereriiLastname" mdbInputDirective type="email" class="form-control"
                           formControlName="persResDepCereriiLastname">
                    <label for="persResDepCereriiLastname">Prenume persoana responsabilă</label>

                </div>

            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="telefonContact" mdbInputDirective type="text" class="form-control"
                           formControlName="telefonContact"
                    >
                    <label for="telefonContact">Telefon de contact </label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="emailContact" mdbInputDirective type="text" class="form-control"
                           formControlName="emailContact">
                    <label for="emailContact">Email de contact</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrProcurii1" mdbInputDirective type="text" class="form-control"
                           formControlName="nrProcurii1">
                    <label for="nrProcurii1">Nr. procurii</label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input id="dataProcurii1" matInput [matDatepicker]="picker3"
                               placeholder="Data eliberării procurii" formControlName="dataProcurii1"
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>


        <hr>
        <h5 class="text-center font-weight-bold">Persoana care primeste licenta</h5>
        <mat-checkbox id="otherPerson" formControlName="otherPerson">Alta persoana</mat-checkbox>
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="persResDepCereriiFirstnameRec" mdbInputDirective type="text" class="form-control"
                           formControlName="persResDepCereriiFirstnameRec">
                    <label for="persResDepCereriiFirstnameRec">Prenume persoana responsabilă <span
                            class="text-danger">*</span></label>

                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('persResDepCereriiFirstnameRec').valid && !rForm.get('persResDepCereriiFirstnameRec').disabled">
                    <small class="text-muted"><strong class="text-danger">Prenumele persoanei de contact trebuie
                        introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="persResDepCereriiLastnameRec" mdbInputDirective type="text" class="form-control"
                           formControlName="persResDepCereriiLastnameRec">
                    <label for="persResDepCereriiLastnameRec">Nume persoana responsabilă <span
                            class="text-danger">*</span></label>

                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('persResDepCereriiLastnameRec').valid && !rForm.get('persResDepCereriiLastnameRec').disabled">
                    <small class="text-muted"><strong class="text-danger">Numele persoanei de contact trebuie
                        introdus</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="telefonContactRec" mdbInputDirective type="text" class="form-control"
                           formControlName="telefonContactRec"
                    >
                    <label for="telefonContactRec">Telefon de contact <span class="text-danger">*</span> </label>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('telefonContactRec').valid && !rForm.get('telefonContactRec').disabled">
                    <small class="text-muted"><strong class="text-danger">Telefonul trebuie introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="emailContactRec" mdbInputDirective type="text" class="form-control"
                           formControlName="emailContactRec">
                    <label for="emailContactRec">Email de contact</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrProcurii1Rec" mdbInputDirective type="text" class="form-control"
                           formControlName="nrProcurii1Rec">
                    <label for="nrProcurii1Rec">Nr. procurii <span class="text-danger">*</span></label>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('nrProcurii1Rec').valid && !rForm.get('nrProcurii1Rec').disabled">
                    <small class="text-muted"><strong class="text-danger">Numarul procurii trebuie introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input id="dataProcurii1Rec" matInput [matDatepicker]="picker2"
                               placeholder="Data eliberării procurii" formControlName="dataProcurii1Rec"
                        [max]="maxDate" >
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2 [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('dataProcurii1Rec').valid && !rForm.get('dataProcurii1Rec').disabled">
                    <small class="text-muted"><strong class="text-danger">Data procurii trebuie introdusa</strong>
                    </small>
                </div>
            </div>
        </div>
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-header-title white-text">Documente de iesire</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <table class="table table-widths-lg text-center">
                <thead class="bg-sidebar white-text">
                    <tr>
                        <th scope="col">Denumirea</th>
                        <th scope="col">Numar</th>
                        <th scope="col">Status document</th>
                        <th>Actiuni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of outDocuments">
                        <th scope="row">{{ a.name }}</th>
                        <th scope="row">{{ a.number }}</th>
                        <th scope="row">{{ a.status ? a.status.description : ''}}</th>
                        <td>
                            <button class="btn btn-default btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)">Vizualizare
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--  <div *ngIf="rFormSubbmitted && !checkAllDocumentsWasAttached()">
            <small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong>
            </small>
        </div>-->

        <div class="text-center">
            <button type="button" (click)="save()" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl"
                    mdbWavesEffect>Salvare date
            </button>
            <button type="button" (click)="submitFinish()" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl"
                    mdbWavesEffect>Finisare
            </button>
        </div>
    </form>

</div>
