<!--Navbar-->
<mdb-navbar [SideClass]="classValue" [containerInside]="false">
	<links>
		<!-- Links -->
		<span class="navbar-text navbar-center black-text">
                    {{title}}
                </span>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown" dropdown>
				<a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light dark-grey-text" mdbWavesEffect>
					Profile
					<span class="caret"></span>
				</a>
				<div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdown-menu-right" role="menu">
					<a class="dropdown-item waves-light dark-grey-text" mdbWavesEffect (click)="logout()">Log out</a>
					<a class="dropdown-item waves-light dark-grey-text" mdbWavesEffect routerLink="/module">Change Password</a>
					<a class="dropdown-item waves-light dark-grey-text" mdbWavesEffect routerLink="/module">About us</a>
					<a class="dropdown-item waves-light dark-grey-text" mdbWavesEffect routerLink="/autocomplete">Autocomplete</a>
				</div>
			</li>
		</ul>
		<!-- Links -->
	</links>
	<!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->