<div class="container-fluid sky z-depth-2">
  <div class="mt-5">
    <div class="row">
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/authorization-comment">
          <div class="module-a h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Authorization comment</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/bank">
          <div class="module-a h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Bank</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/bank-accounts">
          <div class="module-a h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Bank accounts</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/country">
          <div class="module-a h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Countries</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/country-group">
          <div class="module-b h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Country-group</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/currencies">
          <div class="module-b h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Currencies</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/currencies-history">
          <div class="module-b h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Curreciens history</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/custom-groups">
          <div class="module-b h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Custom groups</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/custom-points">
          <div class="module-c h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Custom points</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/customs-codes">
          <div class="module-c h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Custom codes</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/documents-archive">
          <div class="module-c h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Documents archive</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/documents-type">
          <div class="module-c h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Document type</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/economic-agent-bank-accounts">
          <div class="module-d h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Economic agent bank accounts</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/economic-agent-contact-info">
          <div class="module-d h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Economic agent contact info</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/economic-agents">
          <div class="module-d h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Economic agents</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/employees">
          <div class="module-d h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Employees</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/identification-document-types">
          <div class="module-e h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Identification document types</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/international-medicament-name">
          <div class="module-e h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">International medicament name</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/labels">
          <div class="module-e h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Labels</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/localities">
          <div class="module-e h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Localities</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/manufactures">
          <div class="module-f h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">manufactures</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/manufactures-bank-accounts">
          <div class="module-f h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Manufactures bank accounts</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/medicament-forms">
          <div class="module-f h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Medicament forms</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/medicament-group">
          <div class="module-f h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Medicament group</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/medicament-type">
          <div class="module-g h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Medicament type</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/organization">
          <div class="module-g h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Organization</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/organization-bank-accounts">
          <div class="module-g h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Organization bank accounts</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/partners">
          <div class="module-g h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Partners</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/pharmaceutical-form-types">
          <div class="module-h h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Pharmaceutical form types</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/pharmaceutical-forms">
          <div class="module-h h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Pharmaceutical forms</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/professions">
          <div class="module-h h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Professions</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/states">
          <div class="module-h h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">States</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/subdivisions">
          <div class="module-i h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Subdivision</div>
                </div>
              </div>
            </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/substanta-activa">
          <div class="module-i h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Substanta activa</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/substanta-aux">
          <div class="module-i h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Substanta aux</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/taxe">
          <div class="module-i h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Taxe</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/traffic-archive">
          <div class="module-j h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Traffic archive</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/types-of-customs-transactions">
          <div class="module-j h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Types of customs transactions</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/types-of-drugs-changes">
          <div class="module-j h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Types of drugs changes</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/types-of-economic-agents">
          <div class="module-j h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Types of economic agents</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/types-of-pharmacy-activity">
          <div class="module-a h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Types of pharmacy activity</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-4">
        <a routerLink="/dashboard/admin/units-of-measure">
          <div class="module-a h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Units of measure</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>