<div class="container-fluid sky z-depth-2">
  <div class="mt-5">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/admin/authorization-comment">
          <div class="module-a h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Autorizare notare!</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/post-modify/register">
          <div class="module-b h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Aprobarea modificărilor postautorizare</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/price/register">
          <div class="module-c h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Înregistrarea prețului medicamentului</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/import-authorization/register">
          <div class="module-d h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Autorizarea importului medicamentului</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/license/register">
          <div class="module-e h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Licentiere</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/nomenclature/medicament-classifier">
          <div class="module-f h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Nomenclatorul</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/drug-control/reg-drug-control">
          <div class="module-g h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Comitetul Permanent de Control Asupra Drogurilor</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/medicament-destruction/register">
          <div class="module-h h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Nimicirea medicamentelor</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/clinic-studies/register">
          <div class="module-i h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Inregistrarea studiilor clinice</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#">
          <div class="module-j h-box">
            <div class="row">
              <div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title mt-3">Gestionare documentelor</div>
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>
  </div>
</div>