<div class="container-fluid sky z-depth-2">
  <div class="mt-5">
    <div class="row">
      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(61)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Activități de import</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateToEconomicAgents()">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Agenti economici</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(55)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Ambalare primara</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(56)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Ambalare secundara</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(16)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Arhiva de documente</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(44)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Arhiva de trafic</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(3)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Autorizatii</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(6)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Banci</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(59)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Categorii de audit</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(2)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Coduri ATC</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(12)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Coduri Vamale</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(63)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Codurile registrelor</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(5)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Cont bancar</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(17)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Cont bancar agent economic</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(34)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Cont bancar organizatie</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(27)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Cont bancar producator</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(23)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Denumire internațională medicament</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(25)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Etichete</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(7)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Fazele studiilor clinice</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(53)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Fabricație</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(37)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Forme farmaceutice</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(30)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Forme medicale</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(31)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Grupe medicale</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(9)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Grupuri de tari</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(13)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Grupuri Vamale</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(22)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Identificatori de tipuri de documente</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(18)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Informatie de contact agent economic</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(29)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Institutii medicale</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(24)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Investigatori</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(11)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Istoricul Valutar</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(21)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Lista de angajati</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(26)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Localitati</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(52)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Medicamente biologice</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(33)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Organizatii</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(35)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Parteneri</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(39)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Preturi</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(28)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Producatori de medicamente</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(54)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Produse nesterile pentru investigație</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(40)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Profesii</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(14)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Puncte Vamale</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(64)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Rata de conversie a unitatilor de masura pentru droguri</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(41)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Regiuni</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(62)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Statuturile utilizatorilor LDAP</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(60)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Subcategorii de audit</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(42)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Subdiviziuni</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(1)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Substante active</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(4)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Substante auxiliare</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(50)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Substante psihotrope autorizate</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(8)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tari</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(43)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Taxe</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(51)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Taxe de servicii</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(58)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Teste pentru controlul calităţii</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(45)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de activitati farmaceutice</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(15)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de documente</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(36)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de forme farmaceutice</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(32)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de medicamente</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(47)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de modificari ale drogurilor</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(38)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de preturi</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(57)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw "></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de sterilizare a substanţelor</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(46)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipuri de tranzactii vamale</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(19)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Tipurile de agenti economici</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(48)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Unitati de masura</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(10)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Valute</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateTo(49)">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Variatiile tipurilor de cereri</div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="widget widget-stats bg-gradient-silvered" (click)="navigateToUserAdministration()">
          <div class="stats-icon stats-icon-lg "><i class="fa fa-cog fa-fw"></i></div>
          <div class="stats-content">
            <div class="stats-number">Utilizator</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>