<div class="container-fluid sky z-depth-2">
	<form [formGroup]='taskForm'>
		<!--<div class="row">
			<div class="col">
				<div class="md-form">
					<input id="orderNr" mdbInputDirective type="number" class="form-control"
						   formControlName="orderNr">
					<label for="orderNr">Numărul Ordinului</label>
				</div>
			</div>
			<div class="col">
				<div class="md-form">
					<input id="folderNr" mdbInputDirective type="number" class="form-control"
						   formControlName="folderNr">
					<label for="folderNr">Numărul Dosarului</label>
				</div>
			</div>
			<div class="col">
				<div class="md-form-modified">
					<ng-select class="custom" [items]="companyMedicaments | async"
							   bindLabel="name"
							   placeholder="Medicamentul"
							   formControlName="medicament"
							   [required]="false"
							   [typeahead]="medInputs"
							   [loading]="medLoading">
						<ng-template ng-option-tmp let-item="item">
							{{item.name}} <br/>
							<small>{{item.code}}</small>
						</ng-template>
					</ng-select>
				</div>
			</div>
			<div class="col">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="orderApprovDate1"  placeholder="Data aprobării ordinului" formControlName="orderApprovDate">
						<mat-datepicker-toggle matSuffix [for]="orderApprovDate1"></mat-datepicker-toggle>
						<mat-datepicker touchUi #orderApprovDate1></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="expiration1"  placeholder="Data expirării prețului" formControlName="expirationDate">
						<mat-datepicker-toggle matSuffix [for]="expiration1"></mat-datepicker-toggle>
						<mat-datepicker touchUi #expiration1></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col-1">
				<div class="md-form-modified text-center mt-3">
					<button type="button" class="btn btn-indigo waves-light btn-md btn-rounded-button z-depth-4" mdbWavesEffect (click)="getPrices();"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
					</div>
			</div>
		</div>-->
		<app-document [title]="'Încărcați actele necesare reevaluării prețurilor'"
					  [documents]="documents"
					  [nrCerere]="requestNumber"
					  [dcTypeIdentifier]="{code:'PMED',step:'E'}"
					  (documentModified)="documentAdded($event)"></app-document>

		<div class="md-form-modified text-center mt-1">
			<button type="button" class="btn btn-indigo waves-light btn-md btn-rounded-button z-depth-4" mdbWavesEffect (click)="getPrices()"><i class="fa fa-undo fa-lg" aria-hidden="true"></i></button>
		</div>
	</form>
	<div class="table-width">
		<div class="example-container">
			<table mat-table [dataSource]="dataSource" matSort>

				<ng-container matColumnDef="medicamentCode">
					<th mdbTooltip="Codul AMED" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Codul AMED</th>
					<td mdbTooltip="{{element.medicamentCode}}" mat-cell *matCellDef="let element"> {{element.medicamentCode}} </td>
				</ng-container>

				<ng-container matColumnDef="commercialName">
					<th mdbTooltip="Denumirea comercială" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Denumirea comercială</th>
					<td mdbTooltip="{{element.commercialName}}" mat-cell *matCellDef="let element"> {{element.commercialName}} </td>
				</ng-container>

				<ng-container matColumnDef="pharmaceuticalForm">
					<th mdbTooltip="Forma farmaceutică" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Forma farmaceutică</th>
					<td mdbTooltip="{{element.pharmaceuticalForm}}" mat-cell *matCellDef="let element"> {{element.pharmaceuticalForm}} </td>
				</ng-container>

				<ng-container matColumnDef="dose">
					<th mdbTooltip="Doza" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Doza</th>
					<td mdbTooltip="{{element.dose}}" mat-cell *matCellDef="let element"> {{element.dose}} </td>
				</ng-container>

				<ng-container matColumnDef="volume">
					<th mdbTooltip="Volumul" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Volumul</th>
					<td mdbTooltip="{{element.volume}}" mat-cell *matCellDef="let element"> {{element.volume}} </td>
				</ng-container>

				<ng-container matColumnDef="division">
					<th mdbTooltip="Divizare" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Divizare</th>
					<td mdbTooltip="{{element.division}}" mat-cell *matCellDef="let element"> {{element.division}} </td>
				</ng-container>

                <ng-container matColumnDef="registrationDate">
					<th mdbTooltip="Data înregistrării" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Data înregistrării</th>
					<td mdbTooltip="{{element.registrationDate}}" mat-cell *matCellDef="let element"> {{element.registrationDate | date: 'dd/MM/yyyy'}} </td>
				</ng-container>

				<ng-container matColumnDef="priceMdl">
					<th mdbTooltip="Prețul stabilit în MDL" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Preț MDL stabilit</th>
					<td mdbTooltip="{{element.priceMdl}}" mat-cell *matCellDef="let element"> {{element.priceMdl}} </td>
				</ng-container>

				<ng-container matColumnDef="price">
					<th mdbTooltip="Prețul în valuta stabilită" mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Preț Valută stabilit</th>
					<td mdbTooltip="{{element.price}} {{element.currency}}" mat-cell *matCellDef="let element"> {{element.price}} {{element.currency}}</td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
<app-xchangeinfo (changed)="currencyChanged($event)"></app-xchangeinfo>