<div class="gradient-card-header bg-sidebar border-gradient">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row">
			<div class="col-6">
				<div class="card-header-title white-text">Taxe spre achitare</div>
			</div>
			<div class="col-6">
				<div class="text-right fap text-white" *ngIf="!rOnly">
					<i *ngIf="!isManufactureAutohton" (click)="addTaxes()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
					<i *ngIf="!isManufactureAutohton" (click)="checkBeforeGenerateBonForAllTaxes()" mdbTooltip="Generare bon de plata" placement="top" class="fa fa-gears fa-lg fa-mt" aria-hidden="true"></i>
					<i *ngIf="!isManufactureAutohton && this.bonDePlataList[0] && this.bonDePlataList[0].number" (click)="viewBonDePlataForAll()" mdbTooltip="Vizualizare bon de plata" placement="top" class="fa fa-file-text-o fa-lg fa-mt" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-body card-body-cascade">
	<table class="table table-widths text-center table-sm">
		<thead class="bg-sidebar white-text">
		<tr>
			<th scope="col">Taxa</th>
			<th scope="col">Cantitate</th>
			<th scope="col">Suma</th>
			<th scope="col">Numar bon</th>
			<th scope="col">Data emitere</th>
			<th scope="col">Actiuni</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let bonDePlata of bonDePlataList; let i = index">
			<td>{{ bonDePlata.serviceCharge.description }}</td>
			<td>{{ bonDePlata.quantity }}</td>
			<td>{{ bonDePlata.amount }}</td>
			<th scope="row">{{ bonDePlata.number }}</th>
			<td>{{ bonDePlata.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
			<td>
				<button class="btn btn-mdb-color waves-light btn-sm waves-light" mdbTooltip="Generare bon de plata suplimentar" placement="top" (click)="generateSingleBonDePlata(bonDePlata)"
						[disabled] = "isDisableDeleteBonDePlata(bonDePlata)"
						mdbWavesEffect *ngIf="!rOnly && bonDePlata.serviceCharge.category=='BS'"><i class="fa fa-gears fa-lg" aria-hidden="true"></i></button>
				<button class="btn btn-mdb-color waves-light btn-sm waves-light" mdbTooltip="Vizualizare bon de plata suplimentar" placement="top" (click)="viewBonDePlataSuplimentar(bonDePlata)"
						[disabled] = "isDisableDeleteBonDePlata(bonDePlata)"
						mdbWavesEffect *ngIf="!rOnly && bonDePlata.serviceCharge.category=='BS' && bonDePlata.number"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i></button>
				<button *ngIf="!rOnly" class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="deleteBonDePlata(bonDePlata,i)"
				        [disabled] = "isDisableDeleteBonDePlata(bonDePlata)"
				        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div *ngIf="!isManufactureAutohton && bonDePlataList.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
<div *ngIf="isManufactureAutohton" class="text-center text-muted mt-3"><strong class="text-danger">Producator autohton</strong></div>
<br>
<div class="alert alert-primary text-center w-100">Spre plata : {{bonDePlataTotal}} lei
</div>
<div class="gradient-card-header bg-sidebar border-gradient">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row">
			<div class="col-6">
				<div class="card-header-title white-text">Incasari</div>
			</div>
			<div class="col-6">
				<div class="text-right fap text-white" *ngIf="!rOnly">
					<i (click)="checkReceipts()" mdbTooltip="Verificare incasari" placement="top" class="fa fa-refresh fa-lg fa-mt" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-body card-body-cascade">
<table class="table table-widths text-center table-sm">
	<thead class="bg-sidebar white-text">
	<tr>
		<th scope="col">Numar incasare</th>
		<th scope="col">Data incasarii</th>
		<th scope="col">Numar bon de plata</th>
		<th scope="col">Suma</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let receipt of receiptsList">
		<th scope="row">{{ receipt.number }}</th>
		<td>{{ receipt.paymentDate | date: 'dd/MM/yyyy' }}</td>
		<td>{{ receipt.paymentOrderNumber }}</td>
		<td>{{ receipt.amount }}</td>
	</tr>
	</tbody>
</table>
</div>
<div *ngIf="receiptsList.length === 0" class="text-center text-muserviceChargeted mt-3"> Nu sunt inregistrari gasite!</div>
<br>
<div class="alert alert-primary text-center w-100">Achitat : {{receiptsTotal}} lei</div>

<div class="row">
	<div class="col-12">
		<div *ngIf="total < 0">
			<div class="alert alert-danger text-center">Datorii: {{-total | number : '1.2-2'}} lei
			</div>
		</div>
		<div *ngIf="total >= 0">
			<div class="alert alert-success text-center">Datorii : {{0 | number : '1.2-2'}} lei
			</div>
		</div>
	</div>
</div>