<div class="container-fluid sky z-depth-2">
  <h3 class="text-center my-3 font-weight-bold">Inregistrare cerere</h3>
  <hr>
  <form [formGroup]='dataForm'>
    <div class="row">
      <div class="col-lg-5">
        <div class="md-form">
          <input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="nrCererii"
            [attr.disabled]="true">
          <label for="nrCererii">Nr. cererii</label>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="md-form-modified">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-2 position-button mt-3">
        <label class="btn btn-indigo btn-sm" for="incarcaraFisier">
          <input id="incarcaraFisier" type="file" style="display:none;" (change)="onChange($event)" onclick="this.value=null;">
          Incarca Cerere
        </label>
      </div>
    </div>
  </form>
  <hr>
  <table class="table text-center">
    <thead class="black white-text">
      <tr>
        <th scope="col">Denumire</th>
        <th scope="col">Format</th>
        <th scope="col">Data incarcarii</th>
        <th scope="col">Actiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of cereri; let i = index">
        <th scope="row">{{ x.denumirea }}</th>
        <td>{{ x.format }}</td>
        <td>{{ x.dataIncarcarii }}</td>
        <td>
          <button class="btn btn-mdb-color btn-sm waves-light" (click)="loadFile()" mdbWavesEffect>Vizualizare</button>
          <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeDocument(i)"mdbWavesEffect>Stergere</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <form [formGroup]='rForm'>
    <div class="row">
      <div class="col-md-4">
        <div class="md-form-modified">
          <mat-form-field class="w-100">
            <mat-label>Compania solicitant <span class="text-danger">*</span></mat-label>
            <input type="text" aria-label="Number" [formControl]="rForm.controls['compGet']" matInput formControlName="compGet"
              [matAutocomplete]="auto" (ngModelChange)="checkCompanyValue()">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let x of filteredOptions | async" [value]="x">
                {{x.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="seller" mdbInputDirective type="text" class="form-control" formControlName="seller">
          <label for="seller">Vînzător
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="sellerTaraAdresa" mdbInputDirective type="text" class="form-control" formControlName="sellerTaraAdresa">
          <label for="sellerTaraAdresa">Ţara şi adresa vînzătorului
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="autorizatiaImport" mdbInputDirective type="text" class="form-control" formControlName="autorizatiaImport">
          <label for="autorizatiaImport">Temeiul pentru autorizație de import
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="importator" mdbInputDirective type="text" class="form-control" formControlName="importator">
          <label for="importator">Importator
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="importatorTaraAdresa" mdbInputDirective type="text" class="form-control" formControlName="importatorTaraAdresa">
          <label for="importatorTaraAdresa">Ţara şi adresa importatorului
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="conditiiPrecizari" mdbInputDirective type="text" class="form-control" formControlName="conditiiPrecizari">
          <label for="conditiiPrecizari">Condiții și precizări
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="firmaProducatoare" mdbInputDirective type="text" class="form-control" formControlName="firmaProducatoare">
          <label for="firmaProducatoare">Firma producătoare
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form">
          <input id="producatorTaraAdresa" mdbInputDirective type="text" class="form-control" formControlName="producatorTaraAdresa">
          <label for="producatorTaraAdresa">Ţara şi adresa producătorului materiei prime
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="text-center w-100 mt-3">
        <div class="alert alert-primary">
          <span>Nr. de inregistrare a cererii: </span>
          <strong>{{generatedDocNrSeq}}</strong>
        </div>
      </div>
    </div>
    <!-- <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <mat-checkbox formControlName="medReg">Medicament inregistrat</mat-checkbox>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="medUnreg">Medicamentul neinregistrat</mat-checkbox>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="MatPrima">Materia primă</mat-checkbox>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="AmbalajProd">Ambalajul pentru producerea medicamentelor</mat-checkbox>
        </div>
      </div>
    </div> -->
    <hr>
    <section>
      <h5 class="text-center font-weight-bold">Informația despre medicamentul înregistrat</h5>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="md-form">
            <input id="codMed" mdbInputDirective type="text" class="form-control">
            <label for="codMed">Codul medicamentului</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="codVamal" mdbInputDirective type="text" class="form-control">
            <label for="codVamal">Codul vamal</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="denumireaComercMed" mdbInputDirective type="text" class="form-control">
            <label for="denumireaComercMed">Denumirea comercială a medicamentului</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form-modified">
            <mat-form-field class="w-100">
              <mat-select placeholder="Forma medicamentoasă">
                <mat-option *ngFor="let x of formaMedicamentoasa" [value]="x.value">{{ x.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="doza" mdbInputDirective type="number" class="form-control">
            <label for="doza">Doza</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form-modified">
            <mat-form-field class="w-100">
              <mat-select placeholder="Divizare (Unitatea de masura)">
                <mat-option *ngFor="let x of unitateDeMasura" [value]="x.value">{{ x.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="cantitatea" mdbInputDirective type="number" class="form-control">
            <label for="cantitatea">Cantitatea</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="nrDePaleta" mdbInputDirective type="number" class="form-control">
            <label for="nrDePaleta">Pretul</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="volumTotal" mdbInputDirective type="text" class="form-control">
            <label for="volumTotal">Valuta</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="volumTotal" mdbInputDirective type="number" class="form-control">
            <label for="volumTotal">Suma</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form-modified">
            <mat-form-field class="w-100">
              <mat-select placeholder="Tara producătoare">
                <mat-option *ngFor="let x of taraProd" [value]="x.value">{{ x.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="nrRegRM" mdbInputDirective type="text" class="form-control">
            <label for="nrRegRM">Nr. de înregistrare în RM</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form-modified">
            <mat-form-field class="w-100">
              <input matInput [matDatepicker]="picker1" placeholder="Data înregistrare în RM">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="codATC" mdbInputDirective type="text" class="form-control">
            <label for="codATC">Cod ATC</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form">
            <input id="denumireaComInt2" mdbInputDirective type="number" class="form-control">
            <label for="denumireaComInt2">Denumirea comună internaționala</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="md-form-modified">
            <mat-form-field class="w-100">
              <input matInput [matDatepicker]="picker22" placeholder="Termen de valabilitate">
              <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker22></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-indigo waves-light btn-md" mdbWavesEffect>Adauga</button>
      </div>
      <hr>
    </section>
    <!-- <div class="text-center">
      <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect type="button">Submit</button>
    </div> -->
  </form>
</div>