<div class="container-fluid sky z-depth-2">
  <h3 class="text-center my-3 font-weight-bold">Confirmarea procesului de nimicire a medicamentelor</h3>
  <hr>
  <form [formGroup]='dataForm'>
    <div class="row">
      <div class="col-lg-5">
        <div class="md-form">
          <input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="nrCererii"
            [attr.disabled]="true">
          <label for="nrCererii">Nr. cererii</label>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="md-form-modified">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-2 position-button mt-3">
        <label class="btn btn-indigo btn-sm" for="incarcaraFisier">
          <input id="incarcaraFisier" type="file" style="display:none;" (change)="onChange($event)" onclick="this.value=null;">
          Incarca Cerere
        </label>
      </div>
    </div>
  </form>
  <hr>
  <!-- Begin table -->
  <table class="table table-widths-lg text-center">
    <thead class="black white-text">
      <tr>
        <th scope="col">Denumire</th>
        <th scope="col">Format</th>
        <th scope="col">Data incarcarii</th>
        <th scope="col">Actiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of cerere">
        <th scope="row">{{ x.denumirea }}</th>
        <td>{{ x.format }}</td>
        <td>{{ x.dataIncarcarii }}</td>
        <td>
          <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect>View</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="md-form">
        <input id="compSolicitant" mdbInputDirective type="text" class="form-control">
        <label for="compSolicitant">Compania solicitant
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="md-form">
        <input id="nameMed" mdbInputDirective type="text" class="form-control">
        <label for="nameMed">Denumirea medicamentului
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
          <mat-select placeholder="Forma farmaceutică">
            <mat-option *ngFor="let x of forma" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-4">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
            <mat-select placeholder="Doza">
            <mat-option *ngFor="let x of dose" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-4">
      <div class="md-form">
        <input id="quantity" mdbInputDirective type="text" class="form-control">
        <label for="quantity">Cantitatea
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-4">
      <div class="md-form">
        <input id="ambalajPrimar" mdbInputDirective type="text" class="form-control">
        <label for="ambalajPrimar">Ambalaj primar
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form">
        <input id="seria" mdbInputDirective type="text" class="form-control">
        <label for="seria">Seria
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form">
        <input id="quantity2" mdbInputDirective type="text" class="form-control">
        <label for="quantity2">Cantitatea
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form">
        <input id="cauzaInutilitatii" mdbInputDirective type="text" class="form-control">
        <label for="cauzaInutilitatii">Cauza inutilității
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form">
        <input id="metodaNimicire" mdbInputDirective type="text" class="form-control">
        <label for="metodaNimicire">Metoda de nimicire
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
  </div>
  <hr>
  <h5 class="text-center font-weight-bold">Bonul de plată</h5>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="md-form">
        <input id="nr2" mdbInputDirective type="text" class="form-control">
        <label for="nr2">Nr.
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
          <input matInput [matDatepicker]="picker1" placeholder="Data">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="md-form">
        <input id="sumaAchitarii" mdbInputDirective type="number" class="form-control">
        <label for="sumaAchitarii">Suma pentru achitare (lei)
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form">
        <input id="sumaAchitata" mdbInputDirective type="number" class="form-control">
        <label for="sumaAchitata">Suma achitată (lei)
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
          <input matInput [matDatepicker]="picker2" placeholder="Data achitării">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="md-form">
        <textarea id="nota" type="text" class="md-textarea form-control" mdbInputDirective></textarea>
        <label for="nota">Nota</label>
      </div>
    </div>
  </div>
  <hr>
  <h5 class="text-center font-weight-bold">Comisia de nimicire inofensiva a medicamentelor</h5>
  <hr>
  <table class="table table-widths-lg">
    <thead class="black white-text">
      <tr class="text-center">
        <th scope="col">Institutia</th>
        <th scope="col">Nume, prenume</th>
        <th scope="col">Functie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of comisiaNimicire">
        <th scope="row">{{ x.institut }}</th>
        <td>{{ x.numePrenume }}</td>
        <td>{{ x.functie }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h5 class="text-center font-weight-bold">Documente</h5>
  <hr>
  <table class="table table-widths-lg">
    <thead class="black white-text">
      <tr>
        <th scope="col">Denumire</th>
        <th scope="col">Actiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of document">
        <th scope="row">{{ x.denumire }}</th>
        <td>
          <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect>Vizualizare</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="col-md-12">
    <div class="md-form">
      <textarea id="nota2" type="text" class="md-textarea form-control" mdbInputDirective></textarea>
      <label for="nota2">Nota</label>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Confirmare
      sfirsit proces</button>
  </div>
</div>