<div class="container-fluid sky z-depth-2">
  <div class="mt-5">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/medicament-registration/register">
          <div class="module-a">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Inregistrarea medicamentului</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/post-modify/register">
          <div class="module-b">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Aprobarea modificărilor postautorizare</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/price/register">
          <div class="module-c">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Înregistrarea prețului medicamentului</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/import-authorization/register">
          <div class="module-d">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Autorizarea importului medicamentului</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/license/register">
          <div class="module-e">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Licentiere</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/nomenclature/medicament-classifier">
          <div class="module-f">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Nomenclatorul</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/drug-control/reg-drug-control">
          <div class="module-g">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Comitetul Permanent de Control Asupra Drogurilor</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#">
          <div class="module-h">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Nimicirea medicamentelor</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a routerLink="/dashboard/module/clinic-studies/register">
          <div class="module-i">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Inregistrarea studiilor clinice</div>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#">
          <div class="module-j">
            <div class="row">
              <div class="col-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
              <div class="col">
                <div class="module-title">Gestionare documentelor</div>
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>
  </div>
</div>