<div class="container-fluid sky z-depth-2">
    <hr>

    <form [formGroup]='cerereSolicAutorForm'>

        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="requestNumber" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber"
                           [attr.disabled]="true">
                    <label for="requestNumber">Nr. de inregistrare a cererii
                        <span class="text-danger">*</span>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Data inregistrarii" required
                               formControlName="data">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <div class="md-form">
                        <input id="compSolicitant" mdbInputDirective type="text" class="form-control"
                               formControlName="companyValue"
                               [attr.disabled]="true">
                        <label for="compSolicitant">Compania solicitant</label>
                    </div>
                </div>
            </div>
        </div>


        <app-document [documents]="documents" [nrCerere]="cerereSolicAutorForm.get('requestNumber').value"
                      [dcTypes]="docTypes"
                      (documentModified)="documentModified($event)"></app-document>


        <div class="row">
            <div class="col-md-3">
                <div class="md-form-modified-select" formGroupName="drugCheckDecision">
                    <ng-select class="custom" [items]="companiiPerIdnoNotSelected"
                               bindLabel="name"
                               placeholder="Filiala"
                               formControlName="economicAgent"
                               [required]="true"
                    >
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br/>
                            <small class="form-text text-muted">{{item.address}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="formSubmitted && cerereSolicAutorForm.get('drugCheckDecision.economicAgent').invalid">
                    <small class="text-muted"><strong class="text-danger">Filiala trebuie selectata</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-1">
                <div class="md-form">
                    <button class="btn btn-mdb-color btn-sm" mdbTooltip="Filiala noua" (click)="newFilial()"><i
                            class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>


            <div class="col-md-2">
                <div class="md-form" formGroupName="drugCheckDecision">
                    <input id="region" mdbInputDirective type="text" class="form-control"
                           formControlName="region">
                    <label for="region">Regiunea</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="md-form" formGroupName="drugCheckDecision">
                    <input id="locality" mdbInputDirective type="text" class="form-control"
                           formControlName="locality">
                    <label for="locality">Localitate</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="md-form" formGroupName="drugCheckDecision">
                    <input id="street" mdbInputDirective type="text" class="form-control"
                           formControlName="street">
                    <label for="street">Strada</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="md-form" formGroupName="drugCheckDecision">
                    <input id="farmDir" mdbInputDirective type="text" class="form-control"
                           formControlName="farmDir">
                    <label for="farmDir">Farmacist diriginte<span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="col-md-4" formGroupName="drugCheckDecision">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <mat-checkbox formControlName="precursor">Precursori</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                        <mat-checkbox formControlName="psihotrop">Psihotrope</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                        <mat-checkbox formControlName="stupefiant">Stupefiante</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="md-form-modified" formGroupName="drugCheckDecision">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="pickerExp" placeholder="Data expirarii" required
                               formControlName="expireDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerExp"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerExp></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <hr>
        <h5 class="text-center font-weight-bold" >Decizia</h5>

        <div class="row">
            <div class="col-md-6">
                <div class="md-form" formGroupName="drugCheckDecision">
                    <input id="procesVerbal" mdbInputDirective type="text" class="form-control"
                           formControlName="protocolNr">
                    <label for="procesVerbal">Numarul procesului verbal
                        <span class="text-danger">*</span>
                    </label>
                    <div *ngIf="formSubmitted && cerereSolicAutorForm.get('drugCheckDecision.protocolNr').invalid">
                        <small class="text-muted"><strong class="text-danger">Numarul procesului verbal trebuie
                            introdus</strong></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form-modified">
                    <mat-form-field class="w-100" formGroupName="drugCheckDecision">
                        <input matInput [matDatepicker]="pickerCPCAD" placeholder="Data procesului verbal a CPCAD"
                               required formControlName="protocolDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerCPCAD"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerCPCAD></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form-modified" formGroupName="drugCheckDecision">

                    <mat-radio-group formControlName="decision">
                        <div class="container">
                            <div class="row mt-5">
                                <!--<div class="offset-2"></div>-->

                                <div class="col-12">
                                    <mat-radio-button name="prop1" value="1">Acceptare</mat-radio-button>
                                </div>
                                <div class="col-12">
                                    <mat-radio-button name="prop2" value="0">Refuz</mat-radio-button>
                                </div>
                                <!--<div class="offset-2"></div>-->
                            </div>
                            <div *ngIf="formSubmitted && cerereSolicAutorForm.get('drugCheckDecision.decision').invalid">
                                <small class="text-muted"><strong class="text-danger">Decizia trebuie introdusa</strong>
                                </small>
                            </div>
                        </div>
                    </mat-radio-group>
                </div>
            </div>

            <div class="col-md-9">
                <div class="md-form" formGroupName="drugCheckDecision">
                   <!-- <input id="reason" mdbInputDirective type="text" class="form-control">
                    <label for="reason">Motivul refuzului
                    </label>-->
                    <textarea type="text" id="reasonDecision" class="md-textarea form-control" mdbInputDirective
                              rows="2" formControlName="reasonDecision"></textarea>
                    <label for="reasonDecision">Motivul refuzului</label>
                </div>
            </div>
        </div>

        <hr>
        <app-payment [requestId]="cerereSolicAutorForm.get('id').value" (totalValueChanged)="paymentTotalUpdate($event)"
                      [processModule]="'CPCD'"></app-payment>
        <div *ngIf="formSubmitted && paymentTotal < 0">
            <small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
        </div>
        <hr>
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-header-title white-text">Documente de iesire</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body card-body-cascade">
            <table class="table table-widths-lg text-center">
                <thead class="bg-sidebar white-text">
                <tr>
                    <th scope="col">Denumirea</th>
                    <th scope="col">Numar</th>
                    <th>Actiuni</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let a of outDocuments">
                    <th scope="row">{{ a.name }}</th>
                    <th scope="row">{{ a.number }}</th>
                    <td>
                        <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i
                                class="fa fa-file fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">
                Intrerupere
            </button>
            <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="save()">Salvare
            </button>
            <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="nextStepRequest()">Finisare
            </button>

        </div>
    </form>
    <hr>
</div>