<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Înregistrarea prețului medicamentului</h3>
    <hr>
    <form [formGroup]='PriceRegForm'>
        <div class="row">
            <div class="col-lg-5">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCerereInput" [attr.disabled]="true">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="dataReg">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <hr>
        <app-document [documents]="documents" ></app-document>
        <div *ngIf="formSubmitted && documents.length == 0">
            <small class="text-muted"><strong class="text-danger">Încărcați actele necesare înregistrării prețului la
                medicament</strong></small>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="md-form-modified">
                    <ng-select class="w-100"
                               [items]="companies"
                               [required]="true"
                               formControlName="company"
                               bindLabel="name"
                               placeholder="Compania solicitant "
                               (change)="onCompanySelected($event)"
                               (clear)="onRemoveCompany()">
                    </ng-select>
                    <div *ngIf="formSubmitted && PriceRegForm.get('company').invalid">
                        <small class="text-muted"><strong class="text-danger">Selectați compania solicitantă</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form-modified">
                    <ng-select class="w-100"
                               [items]="companyMedicaments"
                               [required]="true"
                               (change)="onMedSelected($event)"
                               (clear)="onRemoveMed()"
                               formControlName="medicament"
                               bindLabel="name"
                               placeholder="Medicamentul">
                    </ng-select>
                    <div *ngIf="formSubmitted && PriceRegForm.get('medicament').invalid">
                        <small class="text-muted"><strong class="text-danger">Selectați medicamentul companiei</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="codMed" mdbInputDirective type="text" class="form-control" formControlName="medCode">
                    <label for="codMed">Codul(rile) medicamentului</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="pretPropusSol" mdbInputDirective type="number" class="form-control" min="0.1" step="0.1"
                           formControlName="proposedPrice">
                    <label for="pretPropusSol">Prețul(rile) propus(e) de solicitant <span
                            class="text-danger">*</span></label>
                    <div *ngIf="formSubmitted && PriceRegForm.get('proposedPrice').invalid">
                        <small class="text-muted"><strong class="text-danger">Indicați prețul solicitat</strong></small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="quantity" mdbInputDirective type="number" class="form-control" min="1"
                           formControlName="quantity">
                    <label for="quantity">Cantitatea <span class="text-danger">*</span></label>
                    <div *ngIf="formSubmitted && PriceRegForm.get('quantity').invalid">
                        <small class="text-muted"><strong class="text-danger">Indicați cantitatea de
                            medicamente</strong></small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <div class="md-form">
                        <input id="unityOfMess" mdbInputDirective type="text" class="form-control"
                               formControlName="unityOfMess">
                        <label for="unityOfMess">Unitatea de măsură</label>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="text-center font-weight-bold">Prețul medicamentului în 9 țări de referință</h5>
        <template #priceReferenceContainer></template>
        <div class="position-button">
            <button (click)="addReferencePriceRow()" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl"
                    mdbWavesEffect>Adaugă preț de
                referință
            </button>
        </div>
        <hr>
        <h5 class="text-center font-weight-bold">Cursul Valutar al Băncii Naționale din Moldova</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="usd2" mdbInputDirective type="number" class="form-control">
                    <label for="usd2">USD</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="eu2" mdbInputDirective type="number" class="form-control">
                    <label for="eu2">EU</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="rur2" mdbInputDirective type="number" class="form-control">
                    <label for="rur2">RUR</label>
                </div>
            </div>
        </div>
        <div class="position-button">
            <button type="submit" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Adauga unitate
                de masura
            </button>
        </div>
        <hr>
        <div class="text-center">
            <button type="submit" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="nextStep()">Urmatorul pas
            </button>
        </div>
    </form>
</div>