<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Înregistrarea prețului medicamentului</h3>
    <hr>
    <form [formGroup]='PriceRegForm'>
        <div class="row">
            <div class="col-lg-6">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber" [attr.disabled]="true">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="text-center font-weight-bold">Selectarea Medicamentului</h5>

        <div class="row">
            <div class="col-md-4">
                <div class="md-form-modified">
                    <ng-select class="w-100"
                               [items]="companies"
                               [required]="true"
                               formControlName="company"
                               bindLabel="name"
                               placeholder="Compania solicitant "
                               (change)="onCompanySelected($event)"
                               (clear)="onRemoveCompany()">
                    </ng-select>
                    <div *ngIf="formSubmitted && PriceRegForm.get('company').invalid">
                        <small class="text-muted"><strong class="text-danger">Selectați compania solicitantă</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form-modified">
                    <div class="md-form-modified-select">
                        <ng-select class="custom" [items]="companyMedicaments | async"
                                   bindLabel="name"
                                   placeholder="Medicamentul"
                                   formControlName="medicament"
                                   (change)="getMedicaments($event)"
                                   [required]="true"
                                   [typeahead]="medInputs"
                                   [loading]="medLoading" >
                            <ng-template ng-option-tmp let-item="item">
                                {{item.name}} <br />
                                <small>{{item.code}}</small>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div *ngIf="formSubmitted && PriceRegForm.get('pricesMedicament')['controls'].name.invalid">
                        <small class="text-muted"><strong class="text-danger">Selectați medicamentul companiei</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="typeMed" mdbInputDirective type="text" class="form-control" [value]="medicamentType.description" [attr.disabled]="true">
                    <label for="typeMed">Tipul medicamentului</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="intName" mdbInputDirective type="text" class="form-control" [value]="internationalName" [attr.disabled]="true">
                    <label for="intName">Denumirea Internațională</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="codMed" mdbInputDirective type="text" class="form-control" [value]="medCode" [attr.disabled]="true">
                    <label for="codMed">Codul medicamentului</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="valab" mdbInputDirective type="number" class="form-control" [value]="termsOfValidity" [attr.disabled]="true">
                    <label for="valab">Termen de valabilitate (luni)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="dose" mdbInputDirective type="number" class="form-control" [value]="dose" [attr.disabled]="true">
                    <label for="dose">Doza</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="sds" mdbInputDirective type="text" class="form-control" [value]="unitsOfMeasurement" [attr.disabled]="true">
                    <label for="sds">Unitate de măsură</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="expiration" mdbInputDirective type="text" class="form-control" [value]="expirationDate" [attr.disabled]="true">
                    <label for="expiration">Data expirării licenței</label>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="text-center font-weight-bold">Divizarea Medicamentului</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="md-form">
                    <input id="nrUnits" mdbInputDirective type="number" class="form-control" [value]="unitsQuantity" [attr.disabled]="true">
                    <label for="volum">Număr de bucăți</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form-modified">
                    <div class="md-form">
                        <input id="unitsOfMeasurement" mdbInputDirective type="text" class="form-control"
                               [value]="unitsQuantityMeasurement" [attr.disabled]="true">
                        <label for="unitsOfMeasurement">Unitatea de măsură</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form">
                    <input id="storageQuantity" mdbInputDirective type="number" class="form-control" [value]="storageQuantity" [attr.disabled]="true">
                    <label for="storageQuantity">Cantitate stocare</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form-modified">
                    <div class="md-form">
                        <input id="storageMeass" mdbInputDirective type="text" class="form-control"
                               [value]="storageQuantityMeasurement" [attr.disabled]="true">
                        <label for="storageMeass">Unitatea de măsură</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form">
                    <input id="volum" mdbInputDirective type="number" class="form-control" [value]="volumeProp" [attr.disabled]="true">
                    <label for="volum">Volumul</label>
                </div>
            </div>
        </div>

        <hr>
        <h5 class="text-center font-weight-bold">Prețuri propuse</h5>
        <template #proposedPriceContainer></template>
        <div class="position-button">
            <button (click)="addProposedPriceRow()" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl"
                    mdbWavesEffect>Adaugă preț propus
            </button>
        </div>
        <div *ngIf="formSubmitted && proposedPriceComponentRef.length == 0">
            <small class="text-muted"><strong class="text-danger">Introduceți variantele de prețuri</strong></small>
        </div>

        <div [hidden]="medicamentType == undefined || medicamentType.code == MedType.Original">
            <hr>
            <h5 class="text-center font-weight-bold">Medicamentul dat este unul <font color="red">GENERIC</font>. Indicați prețul acestuia în 9 țări de referință </h5>
            <template #priceReferenceContainer></template>
            <div>
                <div class="position-button" >
                    <button (click)="addReferencePriceRow()" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl"
                            mdbWavesEffect>Adaugă preț de referință
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="medicamentType == MedType.Generic && formSubmitted && priceReferenceComponentRef.length == 0">
            <small class="text-muted"><strong class="text-danger">Introduceți prețurile de referință</strong></small>
        </div>

        <hr>
        <app-document [documents]="documents" [nrCerere]="PriceRegForm.get('requestNumber').value"></app-document>
        <div *ngIf="formSubmitted && documents.length == 0">
            <small class="text-muted"><strong class="text-danger">Încărcați actele necesare înregistrării prețului la
                medicament</strong></small>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="nextStep()">Salvează cererea
            </button>
        </div>
    </form>
</div>