<div class="gradient-card-header bg-sidebar border-gradient">
	<div class="container-fluid">
		<div class="row">
			<div class="col-8">
				<div class="card-header-title white-text">Machete</div>
			</div>
			<div class="col-4" *ngIf="canUpload">
				<div class="text-right fap text-white">
					<i (click)="checkFields()" class="fa fa-upload fa-lg fa-mt" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="card-body card-body-cascade">
	<table class="table table-widths text-center table-sm">
		<thead class="bg-sidebar white-text">
		<tr>
			<th scope="col">Denumire</th>
			<th scope="col">Data incarcarii</th>
			<th scope="col">Divizari</th>
			<th *ngIf="isModify" scope="col">Status</th>
			<th scope="col">Actiuni</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let macheta of machets; let i = index">
			<td>{{ macheta.name }}</td>
			<td>{{ macheta.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
			<td>{{ getConcatenatedDivision(macheta.divisions)  }}</td>
			<td *ngIf="isModify">{{ macheta.status=='O' ? 'Macheta existenta' : (macheta.status=='N' ? 'Macheta noua' : 'Macheta  modificata') }}</td>
			<td>
				<button type="button" class="btn btn-mdb-color btn-sm waves-light" (click)="viewFile(macheta)"
				        mdbWavesEffect><i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
				</button>
				<button *ngIf="canUpload" type="button" class="btn btn-mdb-color btn-sm waves-light" (click)="edit(macheta)"
				        mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
				</button>
				<button *ngIf="canUpload" type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
				        (click)="removeMacheta(i)" mdbWavesEffect attr.disabled="this.disabled"><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div *ngIf="machets.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
<hr>