<div class="container-fluid sky z-depth-2">
	<form [formGroup]="eForm">
		<div class="row">
			<div class="col-md-5">
				<div class="md-form">
					<input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="requestNumber"
					       [attr.disabled]="true">
					<label for="nrCererii">Nr. cererii</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker touchUi #picker></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-2">
				<div class="position-button">
					<button type="button" class="btn btn-mdb-color btn-sm" title="Cartela medicament" (click)="showMedicamentDetails()" [disabled]="eForm.get('regnr').invalid">
						<i class="fa fa-medkit fa-lg" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
		<app-document [documents]="documents" [nrCerere]="eForm.get('requestNumber').value" [dcTypes]="docTypes"
		              (documentModified)="documentModified($event)"></app-document>
		<div class="row">
			<div class="col">
				<div class="md-form">
					<input id="compSolicitant" mdbInputDirective type="text" class="form-control" formControlName="companyValue" [attr.disabled]="true">
					<label for="compSolicitant">Compania solicitant</label>
				</div>
			</div>
			<div class="col">
				<div class="md-form-modified">
					<div class="md-form-modified-select">
						<ng-select class="custom" [items]="companyMedicaments | async"
						           bindLabel="regnr"
						           placeholder="Numar de inregistrare medicament "
						           formControlName="regnr"
						           [required]="true"
						           [typeahead]="medInputs"
						           [loading]="medLoading">
							<ng-template ng-option-tmp let-item="item">
								{{item.regnr}} <br/>
								<small>{{item.commercialName}}</small>
							</ng-template>
						</ng-select>
					</div>
					<div *ngIf="formSubmitted && eForm.get('regnr').invalid">
						<small class="text-muted"><strong class="text-danger">Medicamentul trebuie selectat</strong>
						</small>
					</div>
				</div>
			</div>
			<div class="col" formGroupName="medicament">
				<div class="md-form">
					<input id="med" mdbInputDirective type="text" class="form-control" formControlName="commercialNameTo">
					<label for="med">Denumire comerciala medicament
						<span class="text-danger">*</span>
					</label>
					<div *ngIf="formSubmitted && eForm.get('medicament.commercialNameTo').invalid">
						<small class="text-muted"><strong class="text-danger">Denumirea comerciala a medicamentului trebuie introdusa</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form-modified mt-3">
					<div class="text-center">
						<button title="variationType" (click)="addVariationType()" type="button" mdbBtn color="lights" class="btn-sm">
							Tip variatie
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Divizari</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white">
							<i (click)="addDivision()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Nr.</th>
					<th scope="col">Numărul de unități</th>
					<th scope="col">Volum</th>
					<th scope="col">Unitate de masura (volum)</th>
					<th scope="col">Numărul de eșantione</th>
					<th scope="col">Seria medicamentului</th>
					<th scope="col">Data expirării mostrelor</th>
					<th scope="col">Cod medicament</th>
					<th scope="col">Status</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let division of divisions;let i = index">
					<td>{{ i + 1 }}</td>
					<td>{{ division.description }}</td>
					<td>{{ division.volume }}</td>
					<td>{{ division.volumeQuantityMeasurement ? division.volumeQuantityMeasurement.description : '' }}</td>
					<td>{{ division.samplesNumber }}</td>
					<td>{{ division.serialNr }}</td>
					<td>{{ division.samplesExpirationDate | date: 'dd/MM/yyyy' }}</td>
					<td>{{ division.medicamentCode }}</td>
					<td *ngIf="division.old==1">Divizare existenta</td>
					<td *ngIf="division.old==0">Divizare noua</td>
					<td>
						<button type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
						        (click)="removeDivision(i,division)" mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
						</button>
						<button *ngIf="division.old==1" type="button" class="btn btn-mdb-color btn-sm waves-light"
						        (click)="editDivision(division,i)" mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="divisions.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<div *ngIf="formSubmitted && divisions.length==0">
			<small class="text-muted"><strong class="text-danger">Nici o divizare nu a fost adaugata</strong></small>
		</div>
		<hr>
		<!--Substante active-->
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Substanţe active</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white">
							<i (click)="addActiveSubstanceDialog()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Cod CAS</th>
					<th scope="col">Concentratie</th>
					<th scope="col">Unitate de masură</th>
					<th scope="col">Producători</th>
					<th scope="col">Numărul compoziției</th>
					<th scope="col">Status</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let substance of activeSubstancesTable;let i = index">
					<th scope="row">{{ substance.activeSubstance.description }}</th>
					<td>{{ substance.activeSubstance.code }}</td>
					<td>{{ substance.quantityTo }}</td>
					<td>{{ substance.unitsOfMeasurementTo.description }}</td>
					<td>{{ manufacturesStr(substance)}}</td>
					<td>{{ substance.compositionNumberTo }}</td>
					<td *ngIf="substance.status=='O'">Substanta existenta</td>
					<td *ngIf="substance.status!='O'">Substanta noua</td>
					<td>
						<button class="btn btn-mdb-color btn-sm waves-light" (click)="editSubstance(substance,i)" mdbWavesEffect><i
								class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
						<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeSubstance(i)"
						        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="activeSubstancesTable.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<div *ngIf="formSubmitted && activeSubstancesTable.length==0">
			<small class="text-muted"><strong class="text-danger">Nici o substanta activa nu a fost adaugata</strong></small>
		</div>
		<hr>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Excipienti</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white">
							<i (click)="addAuxiliarySubstanceDialog()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Nr.</th>
					<th scope="col">Denumire</th>
					<th scope="col">Numărul compoziției</th>
					<th scope="col">Status</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let substance of auxiliarySubstancesTable;let i = index">
					<td>{{ i + 1 }}</td>
					<th scope="row">{{ substance.auxSubstance.description }}</th>
					<td>{{ substance.compositionNumberTo }}</td>
					<td *ngIf="substance.status=='O'">Excipient existent</td>
					<td *ngIf="substance.status!='O'">Excipient nou</td>
					<td>
						<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeAuxiliarySubstance(i)"
						        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="!auxiliarySubstancesTable || auxiliarySubstancesTable.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<hr>
		<h5 class="text-center font-weight-bold">Informatii generale medicament</h5>
		<hr>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form">
					<input id="dose" mdbInputDirective type="text" class="form-control" formControlName="doseTo">
					<label for="dose">Doza</label>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<ng-select id="pharmaceuticalFormTypes" name="pharmaceuticalFormTypes" [items]="pharmaceuticalFormTypes" bindLabel="description"
					           placeholder="Tip forma farmaceutica" (ngModelChange)="checkPharmaceuticalFormTypeValue()" formControlName="pharmaceuticalFormType"
					           required="true">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.pharmaceuticalFormType').invalid">
						<small class="text-muted"><strong class="text-danger">Tipul trebuie selectat</strong></small>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<ng-select id="pharmaceuticalForms" name="pharmaceuticalForms" [items]="pharmaceuticalForms" bindLabel="description"
					           placeholder="Denumire forma farmaceutica" formControlName="pharmaceuticalFormTo" required="true">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.pharmaceuticalFormTo').invalid">
						<small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form-modified">
					<ng-select [items]="atcCodes | async"
					           bindLabel="code"
					           placeholder="Cod ATC"
					           formControlName="atcCodeTo"
					           [loading]="loadingAtcCodes"
					           [typeahead]="atcCodesInputs"
					           required="true">
						<ng-template ng-option-tmp let-item="item">
							{{item.code}} <br/>
							<small class="form-text text-muted">{{item.description}}</small>
						</ng-template>
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.atcCodeTo').invalid">
						<small class="text-muted"><strong class="text-danger">Codul ATC trebuie introdus</strong></small>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<ng-select id="group" name="group" [items]="groups" bindLabel="description"
					           placeholder="Grupa medicament" formControlName="groupTo" required="true">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.groupTo').invalid">
						<small class="text-muted"><strong class="text-danger">Grupa medicament trebuie selectata</strong></small>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="md-form-modified">
					<ng-select id="prescription" name="prescription" [items]="prescriptions" bindLabel="description"
					           placeholder="Eliberare reţetă" formControlName="prescriptionTo" required="true">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.prescriptionTo').invalid">
						<small class="text-muted"><strong class="text-danger">Tipul eliberarii recetei trebuie selectat</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form-modified">
					<ng-select id="internationalName" name="internationalName" [items]="internationalNames"
					           bindLabel="description"
					           placeholder="Denumirea internationala *"
					           formControlName="internationalMedicamentNameTo">
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.internationalMedicamentNameTo').invalid">
						<small class="text-muted"><strong class="text-danger">Denumirea comuna internationala trebuie introdusa</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="termenVal" mdbInputDirective type="number" class="form-control" formControlName="termsOfValidityTo">
					<label for="termenVal">Termen de valabilitate (luni) <span class="text-danger">*</span></label>
				</div>
				<div *ngIf="formSubmitted && eForm.get('medicament.termsOfValidityTo').invalid">
					<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie introdus</strong></small>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<mat-checkbox #clasificareMedicament [checked]="eForm.get('medicament.originaleTo').value" (change)="checkClasificareMedicament(clasificareMedicament)">Original</mat-checkbox>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<mat-checkbox #orfanMedicament [checked]="eForm.get('medicament.orphanTo').value" (change)="checkOrphanMedicament(orfanMedicament)">Orfan</mat-checkbox>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-12">
				<div class="md-form-modified">
					<ng-select id="medType2" name="medType2" [items]="medicamentTypes2" bindLabel="description" [multiple]="true"
					           placeholder="Tip cerere" formControlName="medTypesValues">
					</ng-select>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="medicament">
			<div class="col-md-4">
				<div class="md-form-modified">
					<ng-select id="denumireaAutProd" name="denumireaAutProd" [items]="manufactureAuthorizations"
					           bindLabel="description"
					           placeholder="Deţinătorul certificatului de inregistrare *"
					           (ngModelChange)="fillAutorizationHolderDetails()"
					           [loading]="loadingManufacture"
					           formControlName="authorizationHolderTo">
						<ng-template ng-option-tmp let-item="item">
							{{item.description}} <br/>
							<small class="form-text text-muted">{{item.address}}</small>
						</ng-template>
					</ng-select>
					<div *ngIf="formSubmitted && eForm.get('medicament.authorizationHolderTo').invalid">
						<small class="text-muted"><strong class="text-danger">Deţinătorul certificatului de inregistrare trebuie selectat</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="taraDetinAutProd" mdbInputDirective type="text" formControlName="authorizationHolderCountry" class="form-control" [attr.disabled]="true">
					<label for="taraDetinAutProd">Ţara deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="md-form">
					<input id="adresaDetAutProd" mdbInputDirective type="text" formControlName="authorizationHolderAddress" class="form-control" [attr.disabled]="true">
					<label for="adresaDetAutProd">Adresa deţinătorului certificatului de inregistrare</label>
				</div>
			</div>
		</div>
		<hr>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Producatori</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white">
							<i (click)="addManufacture()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Tara</th>
					<th scope="col">Adresa</th>
					<th scope="col">Comentariu</th>
					<th scope="col">Producator produs finit</th>
					<th scope="col">Status</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let manufacture of manufacturesTable;let i = index">
					<td>{{ manufacture.manufacture.description }}</td>
					<td>{{ manufacture.manufacture.country.description }}</td>
					<td>{{ manufacture.manufacture.address }}</td>
					<td>{{ manufacture.commentTo }}</td>
					<th scope="row">
						<mat-checkbox #checkBoxProducatorProdusFinit [checked]="manufacture.producatorProdusFinitTo" (change)="checkProducatorProdusFinit(manufacture,checkBoxProducatorProdusFinit)"></mat-checkbox>
					</th>
					<td *ngIf="manufacture.status=='O'">Producator existent</td>
					<td *ngIf="manufacture.status!='O'">Producator nou</td>
					<td>
						<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeManufacture(i)"
						        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="manufacturesTable.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<div *ngIf="formSubmitted && manufacturesTable.length==0">
			<small class="text-muted"><strong class="text-danger">Nici un producator nu a fost adaugat</strong></small>
		</div>
		<hr>
		<app-instruction (removeInstr)="removeInstr($event)" (addInstr)="addInstr($event)" [modify]="true" [divisions]="divisions" [instructions]="instructions" [nrCerere]="eForm.get('requestNumber').value"></app-instruction>
		<app-macheta (removeMaket)="removeMacheta($event)" (addMaket)="addMacheta($event)" [modify]="true" [divisions]="divisions" [machets]="machets" [nrCerere]="eForm.get('requestNumber').value"></app-macheta>
		<app-payment #payment [requestDetails]="this.eForm.value" [checkProducator]="true" [manufactures]="manufacturesTable" [requestId]="eForm.get('id').value" (totalValueChanged)="paymentTotalUpdate($event)"></app-payment>
		<div *ngIf="formSubmitted && paymentTotal<0">
			<small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
		</div>
		<hr>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Documente de iesire</div>
					</div>
					<div class="col-6">
						<div class="position-button">
							<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="requestAdditionalData()">Solicitare
								date aditionale
							</button>
							<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" [disabled]="isDisabledLabButton()" mdbWavesEffect (click)="requestLaboratoryAnalysis()">Solicitare
								analiza laborator
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths-lg text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumirea</th>
					<th scope="col">Numar</th>
					<th scope="col">Status document</th>
					<th scope="col">Status raspuns</th>
					<th>Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let a of outDocuments">
					<th scope="row">{{ a.name }}</th>
					<th scope="row">{{ a.number }}</th>
					<th scope="row">{{ a.status }}</th>
					<th scope="row">
						<mat-checkbox *ngIf="a.docType && (a.docType.category=='SL')" #checkBoxResponse
						              [checked]="a.responseReceived==1" (change)="checkResponseReceived(a,checkBoxResponse)">Raspuns primit
						</mat-checkbox>
					</th>
					<td>
						<button *ngIf="a.docType && (a.docType.category=='SL')" class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)">
							<i class="fa fa-file fa-lg" aria-hidden="true"></i></button>
						<button *ngIf="(a.status=='Nu este atasat' && a.responseReceived==false && a.docType.category=='SL') ||( a.docType.category=='LAB' && !a.number)"
						        class="btn btn-dark-red-color btn-sm waves-light" mdbWavesEffect (click)="remove(a)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="outDocuments.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<hr>
		<div class="row align-items-center">
			<div class="col-5">
				<h5 class="font-w400l text-center">
					Cerere aprobare a modificărilor postautorizare
				</h5>
			</div>
			<div class="col-7">
				<div class="md-form mt-3">
					<mat-radio-group formControlName="registrationStatus">
						<div class="container">
							<div class="row">
								<div class="offset-2"></div>
								<div class="col-3">
									<mat-radio-button name="prop1" value="1">Acceptată</mat-radio-button>
								</div>
								<div class="col-3">
									<mat-radio-button name="prop2" value="0">Respinsă</mat-radio-button>
								</div>
								<div class="offset-4"></div>
							</div>
						</div>
					</mat-radio-group>
				</div>
				<br/>
				<div *ngIf="formSubmitted && eForm.get('registrationStatus').invalid">
					<small class="text-muted"><strong class="text-danger">Status inregistrare trebuie selectat</strong></small>
				</div>
			</div>
		</div>
		<!--<div *ngIf="formSubmitted && !isResponseReceived">-->
		<!--<small class="text-muted"><strong class="text-danger">Exista documente fara raspuns</strong></small>-->
		<!--</div>-->
		<!--<div *ngIf="formSubmitted && isNonAttachedDocuments">-->
		<!--<small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong></small>-->
		<!--</div>-->
		<hr>
		<div class="text-center">
			<button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date</button>
			<button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="nextStep()">Urmatorul pas</button>
			<!--<button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">Intrerupere</button>-->
		</div>
	</form>
</div>