<h2 mat-dialog-title align="center">Detalii</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Codul medicamentului</div>
          <div class="col-7">{{row.codulMed}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Codul vamal</div>
          <div class="col-7">{{row.codVamal}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Denumirea comerciala</div>
          <div class="col-7">{{row.denumireComerciala}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Forma farmaceutica</div>
          <div class="col-7">{{row.formaFarmaceutica}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Doza</div>
          <div class="col-7">{{row.doza}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Volum</div>
          <div class="col-7">{{row.volum}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Divizare</div>
          <div class="col-7">{{row.divizare}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">ATC</div>
          <div class="col-7">{{row.atc}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Firma producatoare</div>
          <div class="col-7">{{row.firmaProducatoare}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Nr. de inregistrare</div>
          <div class="col-7">{{row.nrDeInregistrare}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Data de inregistrare</div>
          <div class="col-7">{{row.dataInregistrarii}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Detinatorul certificatului de intreg</div>
          <div class="col-7">{{row.detinatorulCertificatuluiDeIntreg}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Tara detinatorului</div>
          <div class="col-7">{{row.taraDetinatorului}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Statut de eliberare</div>
          <div class="col-7">{{row.statutDeEliberare}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Original</div>
          <div class="col-7">{{row.original}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Instructiunea</div>
          <div class="col-7">{{row.instructiunea}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Macheta ambalajului</div>
          <div class="col-7">{{row.machetaAmbalajului}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">DCI</div>
          <div class="col-7">{{row.dci}}</div>
        </div>
        <div class="row border-bottom py-3 align-items-center">
          <div class="col-5 font-weight-bold">Termen de valabilitate</div>
          <div class="col-7">{{row.termenValabilitate}}</div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="btn btn-mdb-color btn-sm-bl btn-sm" mat-dialog-close>Inchidere</button>
</mat-dialog-actions>