<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Cerere de autorizare a importului/exportului
        precursorilor/psihotropelor/stupefiantelor</h3>

    <hr>
    <form [formGroup]='cerereImpExpForm'>

        <app-document [documents]="documents" [nrCerere]="cerereImpExpForm.get('requestNumber').value"
                      [dcTypes]="docTypes"
                      (documentModified)="documentModified($event)"></app-document>

        <hr>
        <div class="row">

            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Data inregistrarii" required
                               formControlName="data">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrReg" mdbInputDirective type="text" class="form-control" formControlName="requestNumber"
                           [attr.disabled]="true">
                    <label for="nrReg">Nr. de inregistrare a cererii
                        <span class="text-danger">*</span>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <div class="md-form">
                        <input id="compSolicitant" mdbInputDirective type="text" class="form-control"
                               formControlName="companyValue"
                               [attr.disabled]="true">
                        <label for="compSolicitant">Compania solicitant</label>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <ng-select class="custom" [items]="authorizationTypes" bindLabel="viewValue"
                               formControlName="authorizationType"
                               placeholder="Tipul autorizarii">
                    </ng-select>
                    <div *ngIf="formSubmitted && !cerereImpExpForm.get('authorizationType').valid">
                        <small class="text-muted"><strong class="text-danger">Tipul autorizarii trebuie
                            selectat</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="comName" mdbInputDirective type="text" class="form-control"
                           formControlName="commercialName">
                    <label for="comName">Denumire comerciala
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="packaging" mdbInputDirective type="text" class="form-control"
                           formControlName="packaging">
                    <label for="packaging">Divizare
                    </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="md-form">
                    <input id="packagingQuantity" mdbInputDirective type="text" class="form-control"
                           formControlName="packagingQuantity">
                    <label for="packagingQuantity">Cantitatea
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form-modified">
                    <ng-select class="custom" [items]="authorizedSubstances | async" bindLabel="substanceName"
                               placeholder="Substante"
                               formControlName="substance" [required]="false" [typeahead]="medInputs"
                               [loading]="medLoading">
                        <ng-template ng-option-tmp let-item="item">
                            {{item.substanceName}} <br/>
                            <small>{{item.substanceCode}}</small>
                        </ng-template>
                    </ng-select>
                    <div *ngIf="substanceNotSelected">
                        <small class="text-muted"><strong class="text-danger">Substanta trebuie
                            selectata</strong></small>
                    </div>
                    <div *ngIf="substanceExistInTable">
                        <small class="text-muted"><strong class="text-danger">Substanta este deja adaugata
                        </strong></small>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="md-form">
                    <input id="availableQuantity" mdbInputDirective type="number" class="form-control"
                           formControlName="availableQuantity">
                    <label for="availableQuantity">Cantitatea disponibila
                    </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="md-form">
                    <input id="authorizedQuantity" mdbInputDirective type="number" class="form-control"
                           formControlName="authorizedQuantity">
                    <label for="authorizedQuantity">Cantitatea autorizata
                    </label>
                </div>
            </div>

            <div class="col-2">
                <div class="md-form">
                    <ng-select class="w-100"
                               [items]="unitsOfMeasurement"
                               bindLabel="description"
                               formControlName="unitOfMeasurement"
                               placeholder="Unitate de masura">
                    </ng-select>
                </div>
            </div>

        </div>

        <hr>

        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-6">
                        <div class="card-header-title white-text">Substanta activa</div>
                    </div>
                    <div class="col-6">
                        <div class="text-right fap text-white">
                            <i (click)="addSubstance()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body card-body-cascade">
            <table class="table table-widths text-center">
                <thead class="bg-sidebar white-text">
                <tr>
                    <th scope="col">Denumire</th>
                    <th scope="col">Cod</th>
                    <th scope="col">Cantitate admisibila</th>
                    <th scope="col">Disponibila din data</th>
                    <th scope="col">Valabila pana la data</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let substance of activeSubstancesTable;let i = index">
                    <th scope="row">{{ substance.substanceName }}</th>
                    <td>{{ substance.substanceCode }}</td>
                    <td>{{ substance.quantity  }}</td>
                    <td>{{ substance.fromDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ substance.toDate | date: 'dd/MM/yyyy' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-header-title white-text">Substante selectate</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body card-body-cascade">
            <table class="table table-widths text-center">
                <thead class="bg-sidebar white-text">
                <tr>
                    <th scope="col">Denumire</th>
                    <th scope="col">Cod</th>
                    <th scope="col">Denumire comerciala</th>
                    <th scope="col">Divizare</th>
                    <th scope="col">Cantitatea</th>
                    <th scope="col">Cantitate autorizata</th>
                    <th scope="col">Unitate de masura</th>
                    <th scope="col">Actiuni</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let susbstance of selectedSubstancesTable;let i = index">
                    <td>{{ susbstance.substanceName }}</td>
                    <td>{{ susbstance.substanceCode }}</td>
                    <td>{{ susbstance.commercialName }}</td>
                    <td>{{ susbstance.packaging }}</td>
                    <td>{{ susbstance.packagingQuantity }}</td>
                    <td>{{ susbstance.authorizedQuantity }}</td>
                    <td>{{ susbstance.authorizedQuantityUnit }}</td>
                    <td>
                        <button type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                (click)="removeSubstance(i)"
                                mdbWavesEffect attr.disabled="this.disabled">Stergere
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="md-form" formGroupName="drugCheckDecision">
                    <input id="procesVerbal" mdbInputDirective type="text" class="form-control"
                           formControlName="protocolNr">
                    <label for="procesVerbal">Numar proces verbal
                        <span class="text-danger">*</span>
                    </label>
                    <div *ngIf="formSubmitted && cerereImpExpForm.get('drugCheckDecision.protocolNr').invalid">
                        <small class="text-muted"><strong class="text-danger">Numarul procesului verbal trebuie
                            introdus</strong></small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100" formGroupName="drugCheckDecision">
                        <input matInput [matDatepicker]="pickerCPCAD" placeholder="Data proces verbal"
                               required formControlName="protocolDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerCPCAD"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerCPCAD></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="reason" mdbInputDirective type="text" class="form-control">
                    <label for="reason">Motiv refuz
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="partner" mdbInputDirective type="text" class="form-control" formControlName="partner">
                    <label for="partner">Compania partener
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="pickerExp" placeholder="Data expirarii" required
                               formControlName="dataExp">
                        <mat-datepicker-toggle matSuffix [for]="pickerExp"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerExp></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="custom" mdbInputDirective type="text" class="form-control" formControlName="custom">
                    <label for="custom">Post vamal
                    </label>
                </div>
            </div>
        </div>

        <hr>
        <app-payment [requestId]="cerereImpExpForm.get('id').value"
                     (totalValueChanged)="paymentTotalUpdate($event)"></app-payment>
        <div *ngIf="formSubmitted && paymentTotal<0">
            <small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
        </div>

        <hr>
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-header-title white-text">Documente de iesire</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body card-body-cascade">
            <table class="table table-widths-lg text-center">
                <thead class="bg-sidebar white-text">
                <tr>
                    <th scope="col">Denumirea</th>
                    <th scope="col">Numar</th>
                    <th scope="col">Statut document</th>
                    <th scope="col">Statut emitere</th>
                    <th>Actiuni</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let a of outDocuments">
                    <th scope="row">{{ a.name }}</th>
                    <th scope="row">{{ a.number }}</th>
                    <th scope="row">{{ a.status }}</th>
                    <th scope="row">
                        <mat-checkbox
                                *ngIf="a.docType && (a.docType.category=='SR' || a.docType.category=='IP' || a.docType.category=='IH' || a.docType.category=='IF' || a.docType.category=='EP' || a.docType.category=='EH' || a.docType.category=='EF')"
                                #checkBoxResponse [checked]="a.responseReceived || a.status=='Atasat'"
                                (change)="checkResponseReceived(a,checkBoxResponse)"
                                [disabled]="a.status=='Atasat'">Emitere
                            document
                        </mat-checkbox>
                    </th>
                    <td>
                        <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i
                                class="fa fa-file fa-lg" aria-hidden="true"></i>
                        </button>
                        <button *ngIf="a.status=='Nu este atasat' && a.responseReceived==false && (a.docType.category=='SR' || a.docType.category=='IP' || a.docType.category=='IH' || a.docType.category=='IF' || a.docType.category=='EP' || a.docType.category=='EH' || a.docType.category=='EF')"
                                class="btn btn-dark-red-color btn-sm waves-light" mdbWavesEffect (click)="remove(a)">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="formSubmitted && !isResponseReceived">
            <small class="text-muted"><strong class="text-danger">Nici un document pentru emitere nu a fost
                selectat</strong></small>
        </div>
        <div *ngIf="formSubmitted && isNonAttachedDocuments && isResponseReceived">
            <small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong>
            </small>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="saveRequest()">Inregistrare
            </button>
            <button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">
                Intrerupere
            </button>
        </div>
    </form>
</div>