  <div class="table-width">
    <div class="example-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="denumire">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter">
              <mat-label>Denumirea</mat-label>
              <input matInput [formControl]="denumireFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x">{{x.denumire}}</td>
        </ng-container>
        <ng-container matColumnDef="adresa">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter">
              <mat-label>Adresa</mat-label>
              <input matInput [formControl]="adresaFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x">{{x.adresa}}</td>
        </ng-container>
        <ng-container matColumnDef="seria">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter">
              <mat-label>Seria</mat-label>
              <input matInput [formControl]="seriaFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x">{{x.seria}}</td>
        </ng-container>
        <ng-container matColumnDef="idno">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter">
              <mat-label>IDNO</mat-label>
              <input matInput [formControl]="idnoFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x">{{x.idno}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let x; columns: columnsToDisplay"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>