.darkBlue {
  background: #122f3b;
}

nav {
width: 650px;
margin: 0 auto;
background: #122f3b;
border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li {
  font-size: 18px;
  padding: 10px 0px 10px 15px;
}

ul li:hover {
  background: linear-gradient(40deg, #207be0, #05b361)!important;
}

ul li a {
  color: #fff;
}

ul li a:hover {
  color: #fff;
}

.active {
    background: linear-gradient(40deg, #207be0, #05b361)!important;
}

th, td {
  text-align: center !important;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }
 ::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}