<div class="table-width">
	<div class="example-container">
		<table mat-table [dataSource]="dataSource">
			<ng-container matColumnDef="codulMed">
				<th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '152px'}">
              <mat-label>Codul medicamentului</mat-label>
              <input matInput [formControl]="codulMedFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.codulMedMed}}" placement="top">{{x.codulMed}}</td>
        </ng-container>
        <ng-container matColumnDef="codVamal">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '85px'}">
              <mat-label>Codul vamal</mat-label>
              <input matInput [formControl]="codVamalFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.codVamal}}" placement="top">{{x.codVamal}}</td>
        </ng-container>
        <ng-container matColumnDef="denumireComerciala">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '152px'}">
              <mat-label>Denumirea comerciala</mat-label>
              <input matInput [formControl]="denumireComercialaFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.denumireComerciala}}" placement="top">{{x.denumireComerciala}}</td>
        </ng-container>
        <ng-container matColumnDef="formaFarmaceutica">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '138px'}">
              <mat-label>Forma farmaceutica</mat-label>
              <input matInput [formControl]="formaFarmaceuticaFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.formaFarmaceutica}}" placement="top">{{x.formaFarmaceutica}}</td>
        </ng-container>
        <ng-container matColumnDef="doza">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '127px'}">
              <mat-label>Doza, concentratia</mat-label>
              <input matInput [formControl]="dozaFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.doza}}" placement="top">{{x.doza}}</td>
        </ng-container>
        <ng-container matColumnDef="volum">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '127px'}">
              <mat-label>Volum</mat-label>
              <input matInput [formControl]="volumFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.volum}}" placement="top">{{x.volum}}</td>
        </ng-container>
        <ng-container matColumnDef="divizare">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '127px'}">
              <mat-label>Divizare</mat-label>
              <input matInput [formControl]="divizareFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.divizare}}" placement="top">{{x.divizare}}</td>
        </ng-container>
        <ng-container matColumnDef="atc">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '33px'}">
              <mat-label>ATC</mat-label>
              <input matInput [formControl]="atcFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.atc}}" placement="top">{{x.atc}}</td>
        </ng-container>
        <ng-container matColumnDef="termenDeValabilitate">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '132px'}">
              <mat-label>Firma producatoare </mat-label>
              <input matInput [formControl]="termenDeValabilitateFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.termenDeValabilitate}}" placement="top">{{x.termenDeValabilitate}}</td>
        </ng-container>
        <ng-container matColumnDef="nrDeInregistrare">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '120px'}">
              <mat-label>Nr. de inregistrare</mat-label>
              <input matInput [formControl]="nrDeInregistrareFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.nrDeInregistrare}}" placement="top">{{x.nrDeInregistrare}}</td>
        </ng-container>
        <ng-container matColumnDef="dataInregistrarii">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '132px'}">
              <mat-label>Data de inregistrare</mat-label>
              <input matInput [formControl]="dataInregistrariiFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.dataInregistrarii | date: 'dd/MM/yyyy'}}" placement="top">{{x.dataInregistrarii | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="detinatorulCertificatuluiDeIntreg">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '222px'}">
              <mat-label>Detinatorul certificatului de intreg </mat-label>
              <input matInput [formControl]="detinatorulCertificatuluiDeIntregFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.detinatorulCertificatuluiDeIntreg}}" placement="top">{{x.detinatorulCertificatuluiDeIntreg}}</td>
        </ng-container>
        <ng-container matColumnDef="taraDetinatorului">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '120px'}">
              <mat-label>Tara detinatorului</mat-label>
              <input matInput [formControl]="taraDetinatoruluiFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.taraDetinatorului}}" placement="top">{{x.taraDetinatorului}}</td>
        </ng-container>
        <ng-container matColumnDef="statutDeEliberare">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '122px'}">
              <mat-label>Statut de eliberare</mat-label>
              <input matInput [formControl]="statutDeEliberareFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.statutDeEliberare}}" placement="top">{{x.statutDeEliberare}}</td>
        </ng-container>
        <ng-container matColumnDef="original">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '54px'}">
              <mat-label>Original</mat-label>
              <input matInput [formControl]="originalFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.original}}" placement="top">{{x.original}}</td>
        </ng-container>
        <ng-container matColumnDef="informatiaDespreProducator">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '196px'}">
              <mat-label>Informatia despre producator</mat-label>
              <input matInput [formControl]="informatiaDespreProducatorFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.informatiaDespreProducator}}" placement="top">{{x.informatiaDespreProducator}}</td>
        </ng-container>
        <ng-container matColumnDef="instructiunea">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '90px'}">
              <mat-label>Instructiunea</mat-label>
              <input matInput [formControl]="instructiuneaFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.instructiunea}}" placement="top">{{x.instructiunea}}</td>
        </ng-container>
        <ng-container matColumnDef="machetaAmbalajului">
          <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter" [ngStyle]="{'width': '140px'}">
              <mat-label>Macheta ambalajului</mat-label>
              <input matInput [formControl]="machetaAmbalajuluiFilter">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let x" mdbTooltip="{{x.machetaAmbalajului}}" placement="top">{{x.machetaAmbalajului}}</td>
      </ng-container>
      <ng-container matColumnDef="dci">
        <th class="header rgba-header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" [ngStyle]="{'width': '62px'}">
            <mat-label>DCI</mat-label>
            <input matInput [formControl]="dciFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let x" mdbTooltip="{{x.dci}}" placement="top">{{x.dci}}</td>
      </ng-container>

			<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
			<tr mat-row *matRowDef="let x; columns: columnsToDisplay"></tr>
		</table>
		<mat-paginator [pageSizeOptions]="[50, 200,500,1000]" showFirstLastButtons></mat-paginator>
	</div>
</div>