<div>
	<form [formGroup]='aForm'>
		<h3 class="text-center my-3 font-weight-bold">{{title}}</h3>
		<div class="row">
			<div class="col-md-12">
				<div class="md-form-modified">
					<ng-select id="activeSubstances" name="activeSubstances" [items]="activeSubstances" bindLabel="description" [loading]="loadingActiveSubst"
					           placeholder="Denumire *" (ngModelChange)="checkActiveSubstanceValue()" formControlName="activeSubstance">
					</ng-select>

					<div *ngIf="formSubmitted && (aForm.get('activeSubstance').value==null || aForm.get('activeSubstance').value.toString().length==0)">
						<small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="md-form">
					<input id="codCas" mdbInputDirective type="text" class="form-control" [attr.disabled]="true" formControlName="activeSubstanceCode">
					<label for="codCas">Cod CAS</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="md-form">
					<input id="quantity" mdbInputDirective min="0" step=".01" type="number" class="form-control" formControlName="activeSubstanceQuantity">
					<label for="quantity">Concentratie<span class="text-danger">*</span></label>
					<div *ngIf="formSubmitted && (aForm.get('activeSubstanceQuantity').value==null || aForm.get('activeSubstanceQuantity').value.toString().length==0)">
						<small class="text-muted"><strong class="text-danger">Cantitatea trebuie introdusa</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="md-form-modified">
					<ng-select id="activeSubstanceUnit" name="activeSubstanceUnit" [items]="activeSubstanceUnitsOfMeasurement"
					           bindLabel="description" placeholder="Unitate de masură *" formControlName="activeSubstanceUnit">
					</ng-select>
					<div *ngIf="formSubmitted && (aForm.get('activeSubstanceUnit').value==null || aForm.get('activeSubstanceUnit').value.toString().length==0)">
						<small class="text-muted"><strong class="text-danger">Unitatea de masură trebuie selectata</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="md-form">
					<input id="compositionNr" mdbInputDirective min="1" step="1" type="number" class="form-control" formControlName="compositionNumber">
					<label for="compositionNr">Numărul compoziției<span class="text-danger">*</span></label>
					<div *ngIf="formSubmitted && aForm.get('compositionNumber').invalid">
						<small class="text-muted"><strong class="text-danger">Numărul compoziției trebuie introdus</strong></small>
					</div>
				</div>
			</div>
		</div>
		<div class="gradient-card-header bg-sidebar border-gradient">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row">
					<div class="col-6">
						<div class="card-header-title white-text">Producatori</div>
					</div>
					<div class="col-6">
						<div class="text-right fap text-white">
							<i (click)="addManufacture()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Card content -->
		<div class="card-body card-body-cascade">
			<table class="table table-widths text-center">
				<thead class="bg-sidebar white-text">
				<tr>
					<th scope="col">Denumire</th>
					<th scope="col">Tara</th>
					<th scope="col">Adresa</th>
					<th scope="col">Actiuni</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let manufacture of manufacturesTable;let i = index">
					<td>{{ manufacture.manufacture.description }}</td>
					<td>{{ manufacture.manufacture.country.description }}</td>
					<td>{{ manufacture.manufacture.address }}</td>
					<td>
						<button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeManufacture(i)"
						        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="manufacturesTable.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
		<hr>
		<div *ngIf="formSubmitted && manufacturesTable.length==0">
			<small class="text-muted"><strong class="text-danger">Nu a fost introdus nici un producator</strong></small>
		</div>
	</form>
</div>
<div class="text-center">
	<div mat-dialog-actions>
		<div class="w-100">
			<button class="btn btn-danger btn-sm waves-light" (click)="cancel()">Anulare</button>
			<button *ngIf="!dataDialog" class="btn btn-dark-green-color btn-sm waves-light" (click)="add()">Adaugare</button>
			<button *ngIf="dataDialog" class="btn btn-dark-green-color btn-sm waves-light" (click)="add()">Salvare</button>
		</div>
	</div>
</div>