<h3 class="text-center my-3 font-weight-bold">Cererea Nr. {{PriceRegForm.get('requestNumber').value}}</h3>

<div>

<form [formGroup]='PriceRegForm'>

    <div class="row">
        <div class="col-md-6">
            <div class="md-form-modified">
                <div class="md-form-modified-select">
                    <ng-select class="custom" [items]="companyMedicaments | async"
                               bindLabel="name"
                               placeholder="Medicamentul"
                               formControlName="medicament"
                               (change)="getMedicaments($event)"
                               [required]="true"
                               [typeahead]="medInputs"
                               [loading]="medLoading">
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br/>
                            <small>{{item.code}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="formSubmitted && PriceRegForm.get('medicament').invalid">
                    <small class="text-muted"><strong class="text-danger">Selectați medicamentul companiei</strong>
                    </small>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="md-form">
                <input id="prod" mdbInputDirective type="text" class="form-control" [value]="manufacture?.manufacture?.description"
                       [attr.disabled]="true">
                <label for="prod">Producătorul medicamentului</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="md-form">
                <input id="intName" mdbInputDirective type="text" class="form-control" [value]="internationalName"
                       [attr.disabled]="true">
                <label for="intName">Denumirea Internațională</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="md-form">
                <input id="codMed" mdbInputDirective type="text" class="form-control" [value]="medCode"
                       [attr.disabled]="true">
                <label for="codMed">Codul medicamentului</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="md-form">
                <input id="valab" mdbInputDirective type="number" class="form-control" [value]="termsOfValidity"
                       [attr.disabled]="true">
                <label for="valab">Termen de valabilitate (luni)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="md-form">
                <input id="dose" mdbInputDirective type="text" class="form-control" [value]="dose"
                       [attr.disabled]="true">
                <label for="dose">Doza</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="md-form">
                <input id="divis" mdbInputDirective type="text" class="form-control" [value]="division"
                       [attr.disabled]="true">
                <label for="divis">Divizarea</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="md-form">
                <input id="expiration" mdbInputDirective type="text" class="form-control" [value]="expirationDate"
                       [attr.disabled]="true">
                <label for="expiration">Data expirării medicamentului</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="md-form">
                <input id="volum" mdbInputDirective type="number" class="form-control" [value]="volumeProp"
                       [attr.disabled]="true">
                <label for="volum">Volumul</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="md-form">
                <input id="volmess" mdbInputDirective type="text" class="form-control"
                       [value]="volumeQuantityMeasurement" [attr.disabled]="true">
                <label for="volmess">Unitate de măsură (volum)</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="md-form">
                <input [hidden]="originale" mdbInputDirective type="text" class="form-control"
                       value="Generic" [attr.disabled]="true">
                <input [hidden]="!originale" mdbInputDirective type="text" class="form-control"
                       value="Original" [attr.disabled]="true">
                <label>Tipul medicamentului</label>
            </div>
        </div>
    </div>

    <h5 class="text-center font-weight-bold">Prețul propus</h5>
    <div class="row">
        <div class="col">
            <div class="md-form">
                <input id="pretMed9Ref" mdbInputDirective type="number" class="form-control" min="0.1" step="0.1"
                       formControlName="value" (ngModelChange)="sendDTO()">
                <label for="pretMed9Ref">Prețul propus de solicitant<span class="text-danger">*</span></label>
                <div *ngIf="formSubmitted && this.PriceRegForm.get('value').invalid">
                    <small class="text-muted"><strong class="text-danger">Indicați prețul solicitat</strong></small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="md-form-modified">
                <ng-select class="w-100"
                           [items]="currencies"
                           [required]="true"
                           (ngModelChange)="sendDTO()"
                           formControlName="currency"
                           bindLabel="shortDescription"
                           placeholder="Valuta">
                </ng-select>
                <div *ngIf="formSubmitted && this.PriceRegForm.get('currency').invalid">
                    <small class="text-muted"><strong class="text-danger">Selectați valuta</strong></small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="pretQuant" mdbInputDirective type="number" class="form-control" min="0.1" step="0.1"
                       formControlName="totalQuantity" (ngModelChange)="sendDTO()">
                <label for="pretQuant">Cantitatea totală<span class="text-danger">*</span></label>
                <div *ngIf="formSubmitted && this.PriceRegForm.get('totalQuantity').invalid">
                    <small class="text-muted"><strong class="text-danger">Indicați cantitatea totală</strong></small>
                </div>
            </div>
        </div>
    </div>
</form>

    <div>
        <hr>
        <h5 class="text-center font-weight-bold">Prețul medicamentului în țările de referință </h5>
        <!--<template #priceReferenceContainer ></template>-->
<!------------------------------------------>
        <div *ngFor="let p of priceDTO?.currencyCode?.referencePrices; let i = index">
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        <input [id]="'priceId'+i" mdbInputDirective type="number" class="form-control" min="0.1" step="0.1" [(ngModel)]="p.value" (ngModelChange)="sendDTO()">
                        <label [for]="'priceId'+i">Preț de referință</label>
                        <div *ngIf="formSubmitted && !p.value">
                            <small class="text-muted"><strong class="text-danger">Indicați prețul de referință</strong></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input [id]="'divisionId'+i" mdbInputDirective type="text" class="form-control" [(ngModel)]="p.division" (ngModelChange)="sendDTO()">
                        <label [for]="'divisionId'+i">Divizarea medicamentului</label>
                        <div *ngIf="formSubmitted && !p.division">
                            <small class="text-muted"><strong class="text-danger">Indicați divizarea medicamentului</strong></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input [id]="'quantityId'+i" mdbInputDirective type="number" class="form-control" [(ngModel)]="p.totalQuantity" (ngModelChange)="sendDTO()">
                        <label [for]="'quantityId'+i">Cantitatea totală</label>
                        <div *ngIf="formSubmitted && !p.totalQuantity">
                            <small class="text-muted"><strong class="text-danger">Indicați cantitatea totală</strong></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form-modified">
                        <ng-select class="w-100"
                                   [dropdownPosition]="'top'"
                                   [items]="currencies"
                                   [required]="true"
                                   [(ngModel)]="p.currency"
                                   (ngModelChange)="sendDTO()"
                                   bindLabel="shortDescription"
                                   placeholder="Valuta">
                        </ng-select>
                        <div *ngIf="formSubmitted && !p.currency">
                            <small class="text-muted"><strong class="text-danger">Selectați valuta de referință</strong></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form-modified">
                        <ng-select #changeProp
                                   class="w-100"
                                   [dropdownPosition]="'top'"
                                   [items]="countries"
                                   [required]="true"
                                   [(ngModel)]="p.country"
                                   (ngModelChange)="sendDTO()"
                                   bindLabel="description"
                                   placeholder="Țara de referință">
                        </ng-select>
                        <div *ngIf="formSubmitted && !p.country">
                            <small class="text-muted"><strong class="text-danger">Selectați țara de referință</strong></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form-modified">
                        <ng-select class="w-100"
                                   [dropdownPosition]="'top'"
                                   [items]="priceTypes"
                                   [required]="true"
                                   [(ngModel)]="p.type"
                                   (ngModelChange)="sendDTO()"
                                   bindLabel="description"
                                   placeholder="Tipul">
                        </ng-select>
                        <div *ngIf="formSubmitted && !p.type">
                            <small class="text-muted"><strong class="text-danger">Selectați tipul prețului</strong></small>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="mt-4">
                        <!--<button type="button" class="btn btn-danger btn-circle" (click)="this.remove.emit(formNr)" ><i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        </button>-->
                        <button type="button" class="btn btn-dark-red-color btn-sm" (click)="removeReferencePrice(i)">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!------------------------------------------->
        <div>
            <div class="position-button">
                <button (click)="addReferencePriceRow()" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl"
                        mdbWavesEffect>Adaugă preț de referință
                </button>
            </div>
        </div>
    </div>
    <!--<div *ngIf="(medicamentType != undefined && medicamentType.code == MedType.Generic) && formSubmitted && priceReferenceComponentRef.length == 0">-->
        <!--<small class="text-muted"><strong class="text-danger">Introduceți prețurile de referință</strong></small>-->
    <!--</div>-->
    <app-document [title]="'Documente necesare înregistrării prețului medicamentului curent'"
                  [documents]="priceDTO?.documents"
                  [nrCerere]="PriceRegForm.get('requestNumber').value"
                  [dcTypeIdentifier]="{code:'PMED',step:'R'}"
                  (documentModified)="documentAdded($event)">
    </app-document>

</div>