<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Evaluarea primara</h3>
    <hr>

    <form [formGroup]='evaluateClinicalTrailForm' #f="ngForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regNr" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber">
                    <label for="regNr">Nr. cererii
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regDate" [matDatepicker]="picker" mdbInputDirective type="text" class="form-control"
                           formControlName="startDate">
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <label for="regDate">Data
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="company" mdbInputDirective type="text" class="form-control"
                           value={{evaluateClinicalTrailForm.value.company.name}} [attr.disabled]="true">
                    <label for="company">Compania solicitant
                    </label>
                </div>
            </div>
        </div>
        <hr>

        <app-document [documents]="docs"
                      [nrCerere]="evaluateClinicalTrailForm.get('requestNumber').value"></app-document>
        <hr>

        <mat-radio-group>
            <div class="container">
                <div class="row">
                    <div class="offset-4"></div>
                    <div class="col-4">
                        <mat-radio-group class="radio-btn-wrapper"
                                         value={{evaluateClinicalTrailForm.getRawValue().typeCode}} [disabled]="true">
                            <mat-radio-button name="prop1" value="CLAP">Aprobarea Studiilor Clinice la medicamente
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="offset-4"></div>
                </div>
            </div>
        </mat-radio-group>
        <hr>

        <div formGroupName="clinicalTrails">
            <div class="col-md-12">
                <div class="md-form">
                    <textarea type="text" id="titluStud" class="md-textarea form-control" mdbInputDirective rows="1"
                              formControlName="title"></textarea>
                    <label for="titluStud">Titlul studiului</label>
                </div>
            </div>

            <h5 class="text-center font-weight-bold">Tipul studiului clinic</h5>

            <div class="row">
                <div class="col-md-6">
                    <div class="md-form">
                        <div class="container">
                            <div class="col-md-12">
                                <mat-radio-group class="adio-btn-wrapper"
                                                 [value]="evaluateClinicalTrailForm.get('clinicalTrails').value.treatment.id"
                                                 (change)="onTreatmentChange($event)">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-center font-weight-bold">Tratament</h5>
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <mat-radio-button class="col-12" *ngFor="let treatment of treatmentList"
                                                              [value]="treatment.id">{{treatment.description}}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="md-form">
                        <div class="container">
                            <div class="col-md-12">
                                <mat-radio-group class="adio-btn-wrapper"
                                                 [value]="evaluateClinicalTrailForm.get('clinicalTrails').value.provenance.id"
                                                 (change)="onProvenanceChange($event)">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-center font-weight-bold">Tratament</h5>
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <mat-radio-button class="col-12" *ngFor="let provenance of provenanceList"
                                                              [value]="provenance.id">{{provenance.description}}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>


            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="sponsoStudClinic" mdbInputDirective type="text" class="form-control"
                               formControlName="sponsor">
                        <label for="sponsoStudClinic">Sponsorul Studiului clinic</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="fazaStudClinic" mdbInputDirective type="text" class="form-control"
                               formControlName="phase">
                        <label for="fazaStudClinic">Faza Studiului clinic</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="numEudraCT" mdbInputDirective type="text" class="form-control"
                               formControlName="eudraCtNr">
                        <label for="numEudraCT">Numărul Eudra CT nr.</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="codStud" mdbInputDirective type="text" class="form-control" formControlName="codeAmed">
                        <label for="codStud">Codul studiului</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="popStudClinicNumPacienti" mdbInputDirective type="number" class="form-control"
                               formControlName="trialPopulation">
                        <label for="popStudClinicNumPacienti">Populația studiului clinic / Numărul pacienţilor</label>
                    </div>
                </div>
            </div>
            <hr>

            <h5 class="text-center font-weight-bold">Instituţii medicale / Locul desfăşurării studiului</h5>
            <hr>
            <div class="row">
                <div class="col-10">
                    <div class="md-form-modified" [formGroup]="addMediacalInstitutionForm">
                        <ng-select id="allMediacalInstitutions" name="allMediacalInstitutions" [items]="allMediacalInstitutionsList"
                                   bindLabel="name"
                                   placeholder="Instituţia medicala"
                                   formControlName="medicalInstitution"
                                   required="true">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form-modified mt-3">
                        <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl"
                                mdbWavesEffect (click)="addMedicalInstitution()">Adaugare
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div formGroupName="medicalInstitutions">
                <table class="table table-widths text-center">
                    <thead class="black white-text">
                    <tr>
                        <th class="w-25" scope="col">Codul IMS</th>
                        <th class="w-25" scope="col">Denumire</th>
                        <th class="w-25" scope="col">Adresa</th>
                        <th class="w-25" scope="col">Actiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let institution of mediacalInstitutionsList">
                        <td>{{ institution.codIms}}</td>
                        <td>{{ institution.name }}</td>
                        <td> {{ institution.address }}</td>
                        <td>
                            <button class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                    (click)="deleteMedicalInstitution(institution)" mdbWavesEffect>Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>


            <div [formGroup]="medicamentForm">
                <h5 class="text-center font-weight-bold">Medicamentul de investigat</h5>
                <div class="row">
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput [matAutocomplete]="auto" placeholder="Nume medicament"
                                       formControlName="searchField">
                            </mat-form-field>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option (onSelectionChange)="onMedicamentsSearchSelect(option)"
                                            *ngFor="let option of medicamentSearches" [value]="option.name">{{
                                    option.name + ' _' }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Producatorul" formControlName="producer">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Doza" formControlName="dose">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Grupa farmaceutica" formControlName="group">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Forma farmaceutică"
                                       formControlName="pharmaceuticalForm">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Calea de administrare"
                                       formControlName="administeringMode">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div [formGroup]="referenceProductFormn">
                <h5 class="text-center font-weight-bold">Produsul de referinţă</h5>
                <div class="row">
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput [matAutocomplete]="auto2" placeholder="Nume medicament"
                                       formControlName="searchField">
                            </mat-form-field>
                            <mat-autocomplete #auto2="matAutocomplete">
                                <mat-option (onSelectionChange)="onReferenceProductSearchSelect(option)"
                                            *ngFor="let option of referenceProductSearches" [value]="option.name">{{
                                    option.name + 'hz' }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Producatorul" formControlName="producer">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Doza" formControlName="dose">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Grupa farmaceutica" formControlName="group">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Forma farmaceutică"
                                       formControlName="pharmaceuticalForm">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form-modified">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Calea de administrare"
                                       formControlName="administeringMode">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <hr>
            </div>



            <h5 class="text-center font-weight-bold">Lista de investigatori</h5>
            <hr>
            <div class="row">
                <div class="col-10">
                    <div class="md-form-modified" [formGroup]="addInvestigatorForm">
                        <ng-select id="allInvestigators" name="allInvestigators" [items]="allInvestigatorsList"
                                   bindLabel="description"
                                   placeholder="Investigator"
                                   formControlName="investigator"
                                   required="true">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form-modified mt-3">
                        <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl"
                                mdbWavesEffect (click)="addInvestigator()">Adaugare
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div formGroupName="investigators">
                <table class="table table-widths text-center">
                    <thead class="black white-text">
                    <tr>
                        <th class="w-25" scope="col">Nume</th>
                        <th class="w-25" scope="col">Prenume</th>
                        <th class="w-25" scope="col">Titlu</th>
                        <th class="w-25" scope="col">Actiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let investigator of investigatorsList">
                        <td>{{ investigator.firstName}}</td>
                        <td>{{ investigator.lastName }}</td>
                        <td> {{ investigator.title }}</td>
                        <td>
                            <button class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                    (click)="deleteInvestigator(investigator)" mdbWavesEffect>Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <app-payment [receipts]="receiptsList" [paymentOrders]="paymentOrdersList"
                         (totalValueChanged)="paymentTotalUpdate($event)"></app-payment>

        </div>
        <hr>
    </form>

    <div class="text-center">
        <button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date
        </button>
        <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="onSubmit()"
                [disabled]=this.disabledState>Urmatorul pas
        </button>
        <button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">Intrerupere</button>
    </div>
</div>


