<div class="container z-depth-2 sky">
  <div class="table-width">
    <div class="text-right">
      <mat-form-field class="w-50">
        <mat-icon matPrefix class="pr-search">search</mat-icon>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class="w-50">
      </mat-form-field>
    </div>
    <hr>
    <table mat-table [dataSource]="dataSource" class="w-100" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="cod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Cod </th>
        <td mat-cell *matCellDef="let element"> {{element.cod}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Denumirea </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="partner_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Partner ID </th>
        <td mat-cell *matCellDef="let element"> {{element.partner_id}} </td>
      </ng-container>

      <ng-container matColumnDef="analysis_num">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Analysis Number </th>
        <td mat-cell *matCellDef="let element"> {{element.analysis_num}} </td>
      </ng-container>

      <ng-container matColumnDef="analysis_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Analysis Data </th>
        <td mat-cell *matCellDef="let element"> {{element.analysis_date | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Actiune </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect data-toggle="modal" data-target="#edit" (click)="edit.show()">Editare</button>
          <button class="btn btn-dark-red-color waves-light btn-sm waves-light" mdbWavesEffect>Stergere</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <div class="position-button mt-3">
    <button class="btn btn-dark-green-color waves-light btn-sm waves-light" mdbWavesEffect data-toggle="modal" data-target="#add"
      (click)="add.show()">Adaugare</button>
  </div>
</div>


<div mdbModal #edit="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="editLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Editare</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="edit.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="md-form mb-4">
          <input type="number" id="cod" class="form-control" mdbInputDirective [formControl]="codEdit">
          <label for="cod" data-error="wrong" data-success="right">Cod</label>
        </div>

        <div class="md-form mb-4">
          <input type="text" id="denumire" class="form-control" mdbInputDirective [formControl]="denumireEdit">
          <label for="denumire" data-error="wrong" data-success="right">Denumire</label>
        </div>

        <div class="md-form mb-4">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Data" [formControl]="dataEdit">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="md-form mb-4">
          <input type="number" id="partner_id" class="form-control" mdbInputDirective [formControl]="partner_idEdit">
          <label for="partner_id" data-error="wrong" data-success="right">Partner ID</label>
        </div>

        <div class="md-form mb-4">
          <input type="number" id="analysis_num" class="form-control" mdbInputDirective [formControl]="analysis_numEdit">
          <label for="analysis_num" data-error="wrong" data-success="right">Analysis Number</label>
        </div>

        <div class="md-form mb-4">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker1" placeholder="Analysis Date" [formControl]="analysis_dateEdit">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect>Salveaza
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #add="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="addLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Adaugare</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="add.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="md-form mb-4">
          <input type="number" id="cod" class="form-control" mdbInputDirective [formControl]="codAdd">
          <label for="cod" data-error="wrong" data-success="right">Cod</label>
        </div>

        <div class="md-form mb-4">
          <input type="text" id="denumire" class="form-control" mdbInputDirective [formControl]="denumireAdd">
          <label for="denumire" data-error="wrong" data-success="right">Denumire</label>
        </div>

        <div class="md-form mb-4">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker3" placeholder="Data" [formControl]="dataAdd">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="md-form mb-4">
          <input type="number" id="partner_id" class="form-control" mdbInputDirective [formControl]="partner_idAdd">
          <label for="partner_id" data-error="wrong" data-success="right">Partner ID</label>
        </div>

        <div class="md-form mb-4">
          <input type="number" id="analysis_num" class="form-control" mdbInputDirective [formControl]="analysis_numAdd">
          <label for="analysis_num" data-error="wrong" data-success="right">Analysis Number</label>
        </div>

        <div class="md-form mb-4">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker2" placeholder="Analysis Date" [formControl]="analysis_dateAdd">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect>Salveaza
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>