<div class="container-fluid sky z-depth-2">
    <form [formGroup]="mForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCererii">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data de inregistrare a cererii"
                               id="dataCererii"
                               formControlName="dataCererii">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form-modified-select">
                    <ng-select class="custom" [items]="companii | async"
                               bindLabel="name"
                               placeholder="Compania beneficiara"
                               formControlName="company"
                               [required]="true"
                               [loading]="loadingCompany"
                               [typeahead]="companyInputs"
                    >
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br/>
                            <small class="form-text text-muted">{{item.idno}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="mFormSubbmitted && mForm.get('company').invalid">
                    <small class="text-muted"><strong class="text-danger">Agentul economic trebuie introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-1">
                <div class="md-form">
                    <button class="btn btn-mdb-color btn-sm" mdbTooltip="Agent economic nou" (click)="newAgent()"><i
                            class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <app-document [documents]="docs" [nrCerere]="mForm.get('nrCererii').value"

                      [dcTypeIdentifier]="{code : 'INMD', step : 'E'}"></app-document>

        <br/>
        <h3 class="text-center my-3 font-weight-bold">Colectare date</h3>
        <mat-radio-group formControlName="registeredMedicament">
            <div class="row">
                <div class="col-md-12">
                    <mat-radio-button name="prop1" value="1">Medicament inregistrat
                    </mat-radio-button>
                </div>
                <div class="col-md-12">
                    <mat-radio-button name="prop2" value="0">Medicament neinregistrat</mat-radio-button>
                </div>
            </div>
        </mat-radio-group>


        <div class="row" *ngIf="mForm.get('registeredMedicament').value">
            <div class="col-md-3" *ngIf="mForm.get('registeredMedicament').value === '1'">
                <div class="md-form-modified-select">
                    <ng-select class="custom" [items]="medicamente | async"
                               bindLabel="name"
                               placeholder="Medicament"
                               formControlName="medicaments"
                               [required]="true"
                               [typeahead]="medInputs"
                               [loading]="medLoading"
                    >
                        <ng-template ng-option-tmp let-item="item">
                            <div>{{item.name}}</div>
                            <small class="form-text text-muted">{{item.code}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('medicaments').valid">
                    <small class="text-muted"><strong class="text-danger">Medicamentul trebuie introdus</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3" *ngIf="mForm.get('registeredMedicament').value === '0'">
                <div class="md-form">
                    <input id="notRegMedName" mdbInputDirective type="text" class="form-control"
                           formControlName="notRegMedName"
                    >
                    <label for="notRegMedName">Medicament<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('notRegMedName').valid">
                    <small class="text-muted"><strong class="text-danger">Medicamentul trebuie introdus</strong>
                    </small>
                </div>
            </div>


            <div class="col-md-3">
                <div class="md-form">
                    <input id="dose" mdbInputDirective type="text" class="form-control" formControlName="dose"
                    >
                    <label for="dose">Doza</label>
                </div>
            </div>

            <div class="col-3">
                <div class="md-form-modified">
                    <ng-select id="pharmaceuticalFormTypes" name="pharmaceuticalFormTypes" [items]="pharmaceuticalFormTypes" bindLabel="description"
                               placeholder="Tip forma farmaceutica" formControlName="pharmaceuticalFormType"
                               required="true">
                    </ng-select>
                    <div *ngIf="mFormSubbmitted && mForm.get('pharmaceuticalFormType').invalid">
                        <small class="text-muted"><strong class="text-danger">Tipul trebuie selectat</strong></small>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="md-form-modified">
                    <ng-select id="pharmaceuticalForms" name="pharmaceuticalForms" [items]="pharmaceuticalForms" bindLabel="description"
                               placeholder="Denumire forma farmaceutica" formControlName="forma" required="true">
                    </ng-select>
                    <div *ngIf="mFormSubbmitted && mForm.get('forma').invalid">
                        <small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="ambalajPrimar" mdbInputDirective type="text" class="form-control"
                           formControlName="ambalajPrimar"
                    >
                    <label for="ambalajPrimar">Ambalaj primar</label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="seria" mdbInputDirective type="text" class="form-control" formControlName="seria"
                    >
                    <label for="seria">Seria</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form-modified">
                    <ng-select id="volumUnit" name="medUnit" [items]="unitsOfMeasurement"
                               bindLabel="description"
                               placeholder="Unitate de masura"
                               formControlName="unitOfMeasure">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="quantity" mdbInputDirective type="text" class="form-control" formControlName="quantity">
                    <label for="quantity">Cantitatea<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('quantity').valid">
                    <small class="text-muted"><strong class="text-danger">Cantitatea trebuie introdusa</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="reasonDestroy" mdbInputDirective type="text" class="form-control"
                           formControlName="reasonDestroy"
                    >
                    <label for="reasonDestroy">Cauza inutilitatii<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('reasonDestroy').valid">
                    <small class="text-muted"><strong class="text-danger">Cauza inutilitatii trebuie introdusa</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form-modified-select">
                    <ng-select [items]="destructionMethods"
                               bindLabel="description"
                               placeholder="Metoda de distrugere"
                               formControlName="destroyMethod"
                               [required]="true"
                    >
                    </ng-select>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('destroyMethod').valid">
                    <small class="text-muted"><strong class="text-danger">Metoda de distrugere trebuie introdusa.</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="tax" mdbInputDirective type="text" class="form-control"
                           formControlName="tax"
                    >
                    <label for="tax">Taxa per unitate<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('tax').valid">
                    <small class="text-muted"><strong class="text-danger">Taxa trebuie introdusa sau nu este valida.</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="taxTotal" mdbInputDirective type="text" class="form-control"
                           formControlName="taxTotal"
                    >
                    <label for="taxTotal">Taxa totala<span class="text-danger">*</span></label>
                </div>
            </div>




            <div class="col-md-12">
                <div class="md-form">
                <textarea type="text" id="confirmDocuments" class="md-textarea form-control" mdbInputDirective rows="2"
                          formControlName="confirmDocuments"></textarea>
                    <label for="note">Documente confirmative</label>
                </div>
            </div>

            <div class="col-md-10">
                <div class="md-form">
                <textarea type="text" id="note" class="md-textarea form-control" mdbInputDirective rows="2"
                          formControlName="note"></textarea>
                    <label for="note">Nota</label>
                </div>
            </div>



            <div class="col">
                <div class="text-center mt-button">
                    <div class="md-form">
                        <button type="button" class="btn btn-indigo waves-light btn-sm btn-sm-bl" mdbWavesEffect
                                (click)="addNewMedicament()">Adauga
                        </button>
                    </div>
                </div>
            </div>

        </div>



        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-header-title white-text">Lista medicamentelor pentru distrugere</div>
                    </div>
                    <!-- <div class="col-4">
                        <div class="text-right fap text-white">
                            <i class="fa fa-lg fa-mt" aria-hidden="true" (click)="changeVisibility();" [ngClass]="visibility ? 'fa-touched fa-search-plus' : 'fa-untouched fa-search-minus'"></i>
                            <i (click)="add.show()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"
                                data-toggle="modal" data-target="#add"></i>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
        <div class="card-body card-body-cascade">
        <table class="table table-widths text-center">
                <thead class="bg-sidebar white-text">
            <tr>
                <th scope="col">Medicament</th>
                <th scope="col">Cantitatea</th>
                <th scope="col">Cauza distrugerii</th>
                <th scope="col">Metoda de nimicire</th>
                <th scope="col">Taxa</th>
                <th scope="col">Taxa totala</th>
                <th scope="col">Detalii</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meds of medicamentsToDestroy;let i = index">
                <th scope="row">{{ meds.medicamentName }}</th>
                <td>{{ meds.quantity }}</td>
                <td>{{ meds.uselessReason }}</td>
                <td>{{ meds.destructionMethod ? meds.destructionMethod.description : '' }}</td>
                <td>{{ meds.tax }}</td>
                <td>{{ meds.taxTotal }}</td>
                <td>
                    
                    <button class="btn btn-dark-red-color waves-light btn-sm waves-light" type="button"
                            (click)="removeMedicamentToDestroy(i)" mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </button>
                </td>
                <!--  <td><input mdbInputDirective type="text" class="form-control"
                             [(ngModel)]="meds.destructionMethod"></td>-->
            </tr>
            <tr>
                <td colspan="5">

                </td>
                <td>
                    Total:{{totalSum}}
                </td>
                <td>
                            <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect mdbTooltip="Adauga in lista de plati" placement="top" (click)="generareTax()"><i class="fa fa-file fa-lg" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div *ngIf="mFormSubbmitted && medicamentsToDestroy.length === 0">
            <small class="text-muted"><strong class="text-danger">Trebuie adaugat cel putin un medicament pentru nimicire.</strong>
            </small>
        </div>
        <hr>

        <app-payment [requestId]="requestId" (totalValueChanged)="paymentTotalUpdate($event)"
                     [additionalBonDePlata]="additionalBonDePlata" [processModule]="'NIMICIRE'"
                     [requestAnnihilation]="viewModelData"></app-payment>
        <div *ngIf="mFormSubbmitted && paymentTotal < 0">
            <small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
        </div>

        <!--<hr>
        &lt;!&ndash; <h5 class="text-center font-weight-bold">Documente de iesire</h5>
        <hr> &ndash;&gt;
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
              &lt;!&ndash; Title &ndash;&gt;
              <div class="row">
                <div class="col-12">
                    <div class="card-header-title white-text">Documente de iesire</div>
                </div>
                &lt;!&ndash; <div class="col-4">
                  <div class="text-right fap text-white">
                    <i class="fa fa-lg fa-mt" aria-hidden="true" (click)="changeVisibility();" [ngClass]="visibility ? 'fa-touched fa-search-plus' : 'fa-untouched fa-search-minus'"></i>
                    <i (click)="add.show()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true" data-toggle="modal" data-target="#add"></i>
                  </div>
                </div> &ndash;&gt;
              </div>
            </div>
          
          </div>
          <div class="card-body card-body-cascade">
        <table class="table table-widths-lg text-center">
            <thead class="bg-sidebar white-text">
            <tr>
                <th scope="col">Denumirea</th>
                <th scope="col">Numar</th>
                <th scope="col">Status document</th>
                <th>Actiuni</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of outDocuments">
                <th scope="row">{{ a.name }}</th>
                <th scope="row">{{ a.number }}</th>
                <th scope="row">{{ a.status ? a.status.description : ''}}</th>
                <td>
                        <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i class="fa fa-file-text" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
          </div>-->
        <!--  <div *ngIf="mFormSubbmitted && !checkAllDocumentsWasAttached()">
              <small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong></small>
          </div>-->


        <div class="text-center">
            <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="confirm()">Salvare date
            </button>
            <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="submit()">Urmatorul pas
            </button>
        </div>
        <!--  </form>-->
    </form>

</div>