<div class="container-fluid sky z-depth-2">
    <form [formGroup]="mForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCererii">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data de inregistrare a cererii"
                               id="dataCererii"
                               formControlName="dataCererii">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="company" mdbInputDirective type="text" class="form-control"
                           formControlName="company">
                    <label for="company">Compania</label>
                </div>
            </div>
        </div>

        <app-document [documents]="docs" [nrCerere]="mForm.get('nrCererii').value"

                      [dcTypeIdentifier]="{code : 'INMD', step : 'E'}"></app-document>
      <!--  <div *ngIf="mFormSubbmitted && docs.length==0">
            <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
        </div>-->
        <!--  <form [formGroup]="rForm">-->

        <br/>
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-header-title white-text">Lista medicamentelor pentru distrugere</div>
                    </div>
                    <!-- <div class="col-4">
                        <div class="text-right fap text-white">
                            <i class="fa fa-lg fa-mt" aria-hidden="true" (click)="changeVisibility();" [ngClass]="visibility ? 'fa-touched fa-search-plus' : 'fa-untouched fa-search-minus'"></i>
                            <i (click)="add.show()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"
                                data-toggle="modal" data-target="#add"></i>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
        <div class="card-body card-body-cascade">
        <table class="table table-widths text-center">
                <thead class="bg-sidebar white-text">
            <tr>
                <th scope="col">Medicament</th>
                <th scope="col">Cantitatea</th>
                <th scope="col">Cauza distrugerii</th>
                <th scope="col">Metoda de nimicire</th>
                <th scope="col">Taxa</th>
                <th scope="col">Taxa totala</th>
                <th scope="col">Detalii</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meds of medicamentsToDestroy;let i = index">
                <th scope="row">{{ meds.medicamentName }}</th>
                <td>{{ meds.quantity }}</td>
                <td>{{ meds.uselessReason }}</td>
                <td>{{ meds.destructionMethod ? meds.destructionMethod.description : '' }}</td>
                <td>{{ meds.tax }}</td>
                <td>{{ meds.taxTotal }}</td>
                <td><a title="Detalii" (click)="details(meds)">Detalii...</a></td>
                <!--  <td><input mdbInputDirective type="text" class="form-control"
                             [(ngModel)]="meds.destructionMethod"></td>-->
            </tr>
            <tr>
                <td colspan="5">

                </td>
                <td>
                    Total:{{totalSum}}
                </td>
                <td>
                            <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect mdbTooltip="Adauga in lista de plati" placement="top" (click)="generareTax()"><i class="fa fa-file fa-lg" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <hr>

        <app-payment [requestId]="requestId" (totalValueChanged)="paymentTotalUpdate($event)"
                     [additionalBonDePlata]="additionalBonDePlata" [processModule]="'NIMICIRE'"
                     [requestAnnihilation]="viewModelData"></app-payment>
        <div *ngIf="mFormSubbmitted && paymentTotal < 0">
            <small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
        </div>

        <!--<hr>
        &lt;!&ndash; <h5 class="text-center font-weight-bold">Documente de iesire</h5>
        <hr> &ndash;&gt;
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
              &lt;!&ndash; Title &ndash;&gt;
              <div class="row">
                <div class="col-12">
                    <div class="card-header-title white-text">Documente de iesire</div>
                </div>
                &lt;!&ndash; <div class="col-4">
                  <div class="text-right fap text-white">
                    <i class="fa fa-lg fa-mt" aria-hidden="true" (click)="changeVisibility();" [ngClass]="visibility ? 'fa-touched fa-search-plus' : 'fa-untouched fa-search-minus'"></i>
                    <i (click)="add.show()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true" data-toggle="modal" data-target="#add"></i>
                  </div>
                </div> &ndash;&gt;
              </div>
            </div>
          
          </div>
          <div class="card-body card-body-cascade">
        <table class="table table-widths-lg text-center">
            <thead class="bg-sidebar white-text">
            <tr>
                <th scope="col">Denumirea</th>
                <th scope="col">Numar</th>
                <th scope="col">Status document</th>
                <th>Actiuni</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of outDocuments">
                <th scope="row">{{ a.name }}</th>
                <th scope="row">{{ a.number }}</th>
                <th scope="row">{{ a.status ? a.status.description : ''}}</th>
                <td>
                        <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i class="fa fa-file-text" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
          </div>-->
        <!--  <div *ngIf="mFormSubbmitted && !checkAllDocumentsWasAttached()">
              <small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong></small>
          </div>-->


        <div class="text-center">
            <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="confirm()">Salvare date
            </button>
            <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                    (click)="submit()">Urmatorul pas
            </button>
        </div>
        <!--  </form>-->
    </form>

</div>