<h2 [draggable] dragHandle=".mat-dialog-container"
    dragTarget=".mat-dialog-container" mat-dialog-title class="text-center alert">Rata medie a BNM pentru luna precedentă evaluării</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]='priceEntity'>
        <div class="container ">
            <div class="row" *ngFor="let avgCur of avgCurrencies">
                <div class="col">
                    <div class="row text-center font-weight-bold alert alert-currency">
                        <div class="col-5">{{'1 ' + avgCur?.currency?.shortDescription}}</div>
                        <div class="col-2">=</div>
                        <div class="col-3">
                            <input id="myText" type="number" class="text-center font-weight-bold" style=" border:none; background: transparent; outline: 0;" [value]="avgCur?.value | digitsAfterDecimal:4" />
                        </div>
                        <div class="col-1 text-right font-weight-bold">MDL</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn btn-dark-green-color btn-sm waves-light" [disabled]="this.priceEntity.invalid" (click)="save()">Salvează</button>
</mat-dialog-actions>