.login-bg {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: linear-gradient(40deg,#45cafc,#303f9f)!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.header-login {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.login {
  margin-top: 190px;
  margin-bottom: 50px;
  background: #f1f2f6;
  padding: 15px 30px;
  border-radius: 5px;
  width: 375px;
}

.fa-25px {
  font-size: 25px;
}

@media only screen and (max-width: 374px) {
  .login {
    margin-top: 80px;
    width: 100%;
  }
}
