<div class="login-bg">
	<div class="container z-depth-2 login">
		<div class="header-login">
			<p class="h5 text-center">AMED</p>
		</div>
		<div class="modal-body mb-0">
			<div *ngIf="error" class="container-fluid">
				<p class="mat-h4 text text-center text-danger">{{error}}</p>
			</div>
			<form #userLoginForm="ngForm" (ngSubmit)="userLoginForm.form.valid && login()">

				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<span matPrefix><i class="fa fa-user grey-text fa-25px"></i>&nbsp;</span>
						<input name="username" type="text" matInput placeholder="Username" required  [(ngModel)]="model.username">
					</mat-form-field>
				</div>

				<div class="md-form-modified">
					<mat-form-field class="w-100">
						<span matPrefix><i class="fa fa-lock grey-text fa-25px"></i>&nbsp;</span>
						<input type="password" matInput placeholder="Password" required name="password" [(ngModel)]="model.password">
					</mat-form-field>
				</div>

				<div class="text-center mt-1-half">
					<button class="btn btn-indigo mb-2 waves-light" mdbWavesEffect>Logare
					</button>
				</div>
			</form>
		</div>
	</div>
</div>