<div class="container-fluid sky z-depth-2">
    <!--<h3 class="text-center my-3 font-weight-bold">Inregistrare cerere</h3>-->
    <!--<hr>-->
    <form [formGroup]='rForm'>
        <div class="row">
            <div class="col-lg-3">
                <div class="md-form">
                    <input id="requestNumber" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber" [attr.disabled]="true">
                    <label for="requestNumber">Nr. cererii </label>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <!--<div class="col-md-4">-->
            <!--<div class="md-form-modified">-->
            <!--<mat-form-field class="w-100">-->
            <!--<mat-select id="solicitantCompany" placeholder="Compania solicitant" formControlName="company">-->
            <!--<mat-option *ngFor="let solicitantCompany of solicitantCompanyList" [value]="solicitantCompany">{{ solicitantCompany.name }}</mat-option>-->
            <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--</div>-->
            <!--</div>-->

            <div class="col-md-3">
                <div class="md-form-modified">
                    <ng-select [items]="importer | async"
                               bindLabel="name"
                               placeholder="Compania solicitant"
                               formControlName="company"
                               [loading]="loadingCompany"
                               [typeahead]="companyInputs"
                               required="true">
                        <ng-template ng-option-tmp let-item="item">
                            {{item?.name}} <br/>
                            <small class="form-text text-muted">IDNO: {{item?.idno}}</small>
                        </ng-template>
                    </ng-select>
                    <div *ngIf="formSubmitted && rForm.get('company').invalid">
                        <small class="text-muted"><strong class="text-danger">Compania solicitant trebuie
                            selectată</strong></small>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="md-form">
                    <input id="persResDepCereriiFirstname" mdbInputDirective type="text" class="form-control"
                           formControlName="mandatedFirstname">
                    <label for="persResDepCereriiFirstname">Nume persoana responsabilă <span
                            class="text-danger">*</span></label>
                    <div *ngIf="formSubmitted && !rForm.get('mandatedFirstname').valid">
                        <small class="text-muted"><strong class="text-danger">Prenumele persoanei de contact trebuie
                            introdus</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="persResDepCereriiLastname" mdbInputDirective type="text" class="form-control"
                           formControlName="mandatedLastname">
                    <label for="persResDepCereriiLastname">Prenume persoana responsabilă <span
                            class="text-danger">*</span></label>
                    <div *ngIf="formSubmitted && !rForm.get('mandatedLastname').valid">
                        <small class="text-muted"><strong class="text-danger">Numele persoanei de contact trebuie
                            introdus</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="idnp" mdbInputDirective type="text" class="form-control" maxlength="13"
                           formControlName="idnp">
                    <label for="idnp">IDNP <span class="text-danger">*</span></label>
                    <div *ngIf="formSubmitted && !rForm.get('idnp').valid">
                        <small class="text-muted"><strong class="text-danger">IDNP-ul trebuie introdus</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="telefonContact" mdbInputDirective type="text" class="form-control"
                           formControlName="phoneNumber" maxlength="9">
                    <label for="telefonContact">Telefon de contact</label>
                </div>
                <div *ngIf="formSubmitted && !rForm.get('phoneNumber').valid">
                    <small class="text-muted"><strong class="text-danger">Telefonul nu este valid.</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="emailContact" mdbInputDirective type="email" class="form-control"
                           formControlName="email">
                    <label for="emailContact">Email de contact</label>
                </div>
                <div *ngIf="formSubmitted && !rForm.get('email').valid">
                    <small class="text-muted"><strong class="text-danger">Email ul nu este valid.</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="nrProcurii1" mdbInputDirective type="text" class="form-control"
                           formControlName="requestMandateNr">
                    <label for="nrProcurii1">Numarul procurii</label>
                </div>
                <div *ngIf="formSubmitted && !rForm.get('requestMandateNr').valid">
                    <small class="text-muted"><strong class="text-danger">Numarul procurii trebuie introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input id="dataProcurii1" matInput [matDatepicker]="picker3" [max]="maxDate"
                               placeholder="Data eliberării procurii" formControlName="requestMandateDate">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12">
                <div class="md-form">
                    <textarea type="text" id="reqSubject" class="md-textarea form-control" mdbInputDirective rows="1"
                              formControlName="regSubject"></textarea>
                    <label for="reqSubject">Subiectul cererii<span class="text-danger">*</span></label>
                    <div *ngIf="formSubmitted && !rForm.get('regSubject').valid">
                        <small class="text-muted"><strong class="text-danger">Subiectul cererii trebuie introdus</strong>
                        </small>
                    </div>
                </div>
            </div>

        </div>
        <app-document [documents]="docs" [nrCerere]="generatedDocNrSeq"
                      [dcTypeIdentifier]="{code: 'ATIE', step : 'R'}"></app-document>

        <mat-radio-group formControlName="importType">
            <div class="container my-3">
                <div class="row">
                    <div class="col-12">
                        <mat-radio-button value="1">Medicament inregistrat</mat-radio-button>
                    </div>
                    <div class="col-12">
                        <mat-radio-button value="2">Medicamentul neinregistrat</mat-radio-button>
                    </div>
                    <div class="col-12">
                        <mat-radio-button value="3">Materia primă</mat-radio-button>
                    </div>
                    <div class="col-12">
                        <mat-radio-button value="4">Ambalajul pentru producerea medicamentelor</mat-radio-button>
                    </div>
                    <div class="col-12">
                        <mat-radio-button value="5" id="declaratia">Declarație de import</mat-radio-button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12" *ngIf="importRadioButton == 5">
                        <div class="md-form">
                            <input id="authorization" mdbInputDirective type="text" class="form-control"
                                   [(ngModel)]="authorizationNumber"
                                   [ngModelOptions]="{standalone: true}">
                            <label for="authorization">Numarul autorizatiei de import</label>
                        </div>
                    </div>
                </div>
            </div>

        </mat-radio-group>
        <div *ngIf="formSubmitted && rForm.get('importType').invalid">
            <small class="text-muted"><strong class="text-danger">Tipul de import trebuie selectat</strong></small>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="nextStep()">
                Urmatorul
                pas
            </button>
        </div>

    </form>
</div>

