<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Inregistrare cerere</h3>
    <hr>
    <form [formGroup]='rForm'>
        <div class="row">
            <div class="col-lg-4">
                <div class="md-form">
                    <input id="requestNumber" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber" [attr.disabled]="true">
                    <label for="requestNumber">Nr. cererii </label>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<div class="md-form-modified">-->
                    <!--<mat-form-field class="w-100">-->
                        <!--<mat-select id="solicitantCompany" placeholder="Compania solicitant" formControlName="company">-->
                            <!--<mat-option *ngFor="let solicitantCompany of solicitantCompanyList" [value]="solicitantCompany">{{ solicitantCompany.name }}</mat-option>-->
                        <!--</mat-select>-->
                    <!--</mat-form-field>-->
                <!--</div>-->
            <!--</div>-->

            <div class="col-md-4">
                <div class="md-form-modified">
                    <ng-select [items]="importer | async"
                               bindLabel="name"
                               placeholder="Importator"
                               formControlName="company"
                               [loading]="loadingCompany"
                               [typeahead]="companyInputs"
                               required="true">
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br/>
                            <small class="form-text text-muted">IDNO: {{item.idno}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="formSubmitted && rForm.get('company').invalid">
                    <small class="text-muted"><strong class="text-danger">Importator trebuie selectat</strong></small>
                </div>
                <div *ngIf="activeLicenses==null && formSubmitted">
                    <small class="text-muted"><strong class="text-danger">Importatorul selectat nu are licente valabile</strong></small>
                </div>
            </div>

        </div>
        <app-document [documents]="docs" [nrCerere]="generatedDocNrSeq" [dcTypes]="docTypes"></app-document>
        <div *ngIf="docs.length<=0 && formSubmitted">
            <small class="text-muted "><strong class="text-danger">Nici un document nu a fost încărcat</strong></small>
        </div>

        <mat-radio-group formControlName="importType">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <mat-radio-button value="1">Medicament inregistrat</mat-radio-button>
                    </div>
                    <div class="col-12">
                        <mat-radio-button value="2">Medicamentul neinregistrat</mat-radio-button>
                    </div>
                    <div class="col-12">
                        <mat-radio-button value="3">Materia primă</mat-radio-button>
                    </div>
                    <div class="col-12">
                        <mat-radio-button value="4">Ambalajul pentru producerea medicamentelor</mat-radio-button>
                    </div>
                </div>
            </div>
        </mat-radio-group>
        <div *ngIf="formSubmitted && rForm.get('importType').invalid">
            <small class="text-muted"><strong class="text-danger">Tipul de import trebuie selectat</strong></small>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="nextStep()">Urmatorul
                pas
            </button>
        </div>

    </form>
</div>