<div class="container-fluid sky z-depth-2">
    <form [formGroup]='clinicTrailAmendForm' #f="ngForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regNr" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber">
                    <label for="regNr">Nr. cererii
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regDate" [matDatepicker]="picker" mdbInputDirective type="text" class="form-control"
                           formControlName="startDate">
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <label for="regDate">Data
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form" *ngIf="f.value.company">
                    <input id="company" mdbInputDirective type="text" class="form-control"
                           value={{f.value.company.name}} [attr.disabled]="true">
                    <label for="company">Compania solicitant
                    </label>
                </div>
                <div class="md-form" *ngIf="!f.value.company">
                    <input id="person" mdbInputDirective type="text" class="form-control"
                           value={{mandatedContactName}} [attr.disabled]="true">
                    <label for="person">Persoana fizica
                    </label>
                </div>
            </div>
        </div>
        <hr>

        <div *ngIf="isAnalizePage">
            <div class="gradient-card-header bg-sidebar border-gradient">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-6">
                            <div class="card-header-title white-text">Experti</div>
                        </div>
                        <div class="col-6">
                            <div class="text-right fap text-white" *ngIf="!f.value.ddIncluded">
                                <i (click)="addExpert()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <table class="table table-widths text-center">
                    <thead class="bg-sidebar white-text">
                    <tr>
                        <th scope="col">Nr.</th>
                        <th scope="col">Expert intern</th>
                        <th scope="col">Nume</th>
                        <th scope="col">Data adaugare</th>
                        <th scope="col">Inclus in dispozitia de distribuire</th>
                        <th scope="col">Actiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let expert of expertList;let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ expert.intern==1 ? 'Da' : 'Nu' }}</td>
                        <td>{{ expert.intern==1 ? expert.expert.name : expert.expertName}}</td>
                        <td>{{ expert.date| date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>{{ f.value.ddIncluded ? 'Da' : 'Nu'}}</td>
                        <td>
                            <button type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                    (click)="removeExpert(i)" [disabled]="f.value.ddIncluded"
                                    mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="expertList.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
            <hr>
        </div>

        <app-document [documents]="docs" [nrCerere]="clinicTrailAmendForm.get('requestNumber').value"
                      [dcTypes]="docTypes"></app-document>
        <hr>

        <div *ngIf="isAnalizePage">
            <div class="gradient-card-header bg-sidebar border-gradient">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-6">
                            <div class="card-header-title white-text">Documente de iesire</div>
                        </div>
                        <div class="col-6">
                            <div class="text-right fap text-white">
                                <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                                        (click)="requestAdditionalData()">Solicitare date aditionale
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body card-body-cascade">
                <table class="table table-widths-lg text-center">
                    <thead class="bg-sidebar white-text">
                    <tr>
                        <th scope="col">Denumirea</th>
                        <th scope="col">Numar</th>
                        <th scope="col">Status document</th>
                        <th scope="col">Status raspuns</th>
                        <th>Actiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let doc of outDocuments; let i = index">
                        <th scope="row">{{ doc.name }}</th>
                        <th scope="row">{{ doc.number }}</th>
                        <th scope="row">{{ doc.status }}</th>
                        <th scope="row">
                            <mat-checkbox *ngIf="doc.docType?.category=='SL'" #checkBoxResponse
                                          [checked]="doc.responseReceived==1"
                                          (change)="checkResponseReceived(doc,checkBoxResponse)">Raspuns primit
                            </mat-checkbox>
                        </th>
                        <td>
                            <button type="button" class="btn btn-default btn-sm waves-light" mdbWavesEffect (click)="viewDoc(doc)">
                                Vizualizare
                            </button>
                            <button type="button" class="btn btn-dark-red-color btn-sm waves-light" mdbWavesEffect
                                    (click)="remove(doc, i)">
                                Stergere
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div *ngIf="outDocuments.length === 0" class="text-center text-muted mt-3">Nu sunt inregistrari gasite!</div>
            </div>
            <hr>
        </div>

        <mat-radio-group>
            <div class="container">
                <div class="row">
                    <div class="offset-4"></div>
                    <div class="col-4">
                        <mat-radio-group class="radio-btn-wrapper"
                                         value={{clinicTrailAmendForm.getRawValue().typeCode}} [disabled]="true">
                            <mat-radio-button name="prop1" value="CLPSC">Aprobarea amendamentelor la Protocoalele
                                Studiilor Clinice la medicamente
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="offset-4"></div>
                </div>
            </div>
        </mat-radio-group>
        <hr>

        <div formGroupName="clinicalTrailAmendment">
            <div class="col-md-12">
                <div class="md-form">
                    <textarea type="text" id="note" class="md-textarea form-control" mdbInputDirective rows="2"
                              formControlName="note"></textarea>
                    <label for="note">Obiectul amendamentului</label>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="md-form">
                    <textarea type="text" id="titluStud" class="md-textarea form-control" mdbInputDirective rows="2"
                              formControlName="titleTo"></textarea>
                    <label for="titluStud">Titlul studiului</label>
                </div>
            </div>


            <h5 class="text-center font-weight-bold">Tipul studiului clinic</h5>

            <div class="row">
                <div class="col-md-6">
                    <div class="md-form">
                        <div class="container">
                            <div class="col-md-12">
                                <mat-radio-group class="adio-btn-wrapper"
                                                 [value]="clinicTrailAmendForm.value.clinicalTrailAmendment.treatmentTo.id"
                                                 (change)="onTreatmentChange($event)">
                                    <div class="row">
                                        <!--<div class="col-12">-->
                                        <!--<h5 class="text-center font-weight-bold">Tratament</h5>-->
                                        <!--<hr>-->
                                        <!--</div>-->
                                        <div class="col-12">
                                            <mat-radio-button class="col-12" *ngFor="let treatment of treatmentList"
                                                              [value]="treatment.id">{{treatment.description}}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="md-form">
                        <div class="container">
                            <div class="col-md-12">
                                <mat-radio-group class="adio-btn-wrapper"
                                                 [value]="clinicTrailAmendForm.value.clinicalTrailAmendment.provenanceTo.id"
                                                 (change)="onProvenanceChange($event)">
                                    <div class="row">
                                        <!--<div class="col-12">-->
                                        <!--<h5 class="text-center font-weight-bold">Provenienta</h5>-->
                                        <!--<hr>-->
                                        <!--</div>-->
                                        <div class="col-12">
                                            <mat-radio-button class="col-12" *ngFor="let provenance of provenanceList"
                                                              [value]="provenance.id">{{provenance.description}}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="sponsoStudClinic" mdbInputDirective type="text" class="form-control"
                               formControlName="sponsorTo">
                        <label for="sponsoStudClinic">Sponsorul Studiului clinic</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form-modified">
                        <ng-select id="phaseid" name="step" [items]="phaseList"
                                   bindLabel="name"
                                   placeholder="Faza studiului"
                                   formControlName="phaseTo">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="numEudraCT" mdbInputDirective type="text" class="form-control"
                               formControlName="eudraCtNrTo">
                        <label for="numEudraCT">Eudra CT nr.</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="codStud" mdbInputDirective type="text" class="form-control" formControlName="codeTo">
                        <label for="codStud">Codul studiului</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="popStudClinicNumNational" mdbInputDirective type="number" class="form-control"
                               formControlName="trialPopNatTo">
                        <label for="popStudClinicNumNational">Numărul subiecți naționali</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="popStudClinicNumInternational" mdbInputDirective type="number" class="form-control"
                               formControlName="trialPopInternatTo">
                        <label for="popStudClinicNumInternational">Numărul subiecți internaționali</label>
                    </div>
                </div>
            </div>
            <hr>

            <h5 class="text-center font-weight-bold">Unitatea medicală pentru desfășurarea studiului</h5>
            <hr>
            <div class="row">
                <div class="col-10">
                    <div class="md-form-modified" [formGroup]="addMediacalInstitutionForm">
                        <ng-select id="allMediacalInstitutions" name="allMediacalInstitutions"
                                   [items]="allMediacalInstitutionsList"
                                   bindLabel="name"
                                   placeholder="Instituţia medicala"
                                   formControlName="medicalInstitution"
                                   required="true">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form-modified mt-3">
                        <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl"
                                mdbWavesEffect (click)="addMedicalInstitution()"
                                [disabled]="!this.addMediacalInstitutionForm.controls.medicalInstitution.valid">Adaugare
                        </button>
                    </div>
                </div>
            </div>
            <div class="gradient-card-header bg-sidebar border-gradient">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-header-title white-text">Unitatea medicală pentru desfășurarea studiului
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body card-body-cascade">
                <div class="container-fluid">
                    <div class="row text-center align-items-center">
                        <div class="col-5 bg-sidebar white-text">
                            <div class="ptc">Unitatea medicală pentru desfășurarea studiului</div>
                            <div class="row grey darken-3 white-text">
                                <div class="col-5">
                                    <div class="ptc">Denumire</div>
                                </div>
                                <div class="col-7">
                                    <div class="ptc">Subdiviziune</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 bg-sidebar white-text">
                            <div class="ptc">Lista de investigatori</div>
                            <div class="row text-center align-items-center">
                                <div class="col-3 grey darken-3 white-text">
                                    <div class="ptc ml-25">Nume</div>
                                </div>
                                <div class="col-2 grey darken-3 white-text">
                                    <div class="ptc ml-20">Prenume</div>
                                </div>
                                <div class="col-3 grey darken-3 white-text">
                                    <div class="ptc">Titlul</div>
                                </div>
                                <div class="col-2 grey darken-3 white-text">
                                    <div class="ptc">Status</div>
                                </div>
                                <div class="col-2 grey darken-3 white-text">
                                    <div class="ptc">Actiuni</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center align-items-center">
                        <div class="col">
                            <div class="row text-center align-items-center border"
                                 *ngFor="let medInst of mediacalInstitutionsList; let i = index">
                                <div class="col-2">
                                    <div class="row align-items-center">
                                        <div class="col ptc">{{medInst.nmMedicalInstitution.name}}</div>
                                    </div>
                                </div>

                                <div class="col-9">
                                    <div class="row text-center align-items-center"
                                         *ngFor="let subdiv of medInst.subdivisionsList">
                                        <div class="col-4">
                                            <div class="row align-items-center">
                                                <div class="col ptc">{{subdiv.nmSubdivision.name}}</div>
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div class="row text-center align-items-center"
                                                 *ngFor="let investigat of subdiv.investigatorsList">
                                                <div class="col ptc">{{investigat.nmInvestigator.firstName}}</div>
                                                <div class="col ptc">{{investigat.nmInvestigator.lastName}}</div>
                                                <div class="col ptc">{{investigat.nmInvestigator.title}}</div>
                                                <div class="col border-specs ptc">
                                                    <span *ngIf="investigat.isMain===true">Principal</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-1">
                                    <button type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                            (click)="deleteMedicalInstitution(i, medInst.nmMedicalInstitution)"
                                            mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr>

            <br>
            <h5 class="text-center font-weight-bold">Lista medicamente</h5>
            <div class="gradient-card-header bg-sidebar border-gradient">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-6">
                            <div class="card-header-title white-text">MIC Testat</div>
                        </div>
                        <div class="col-6">
                            <div class="text-right fap text-white">
                                <i mdbTooltip="Adauga MIC Testat" placement="top"
                                   class="fa fa-plus-circle fa-lg fa-mt"
                                   aria-hidden="true" (click)="addMedicament(ctMedTypes.MicTestat)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card header -->
            <div class="card-body card-body-cascade">
                <div class="container-fluid">
                    <div class="row bg-sidebar white-text text-center">
                        <div class="col">Nume</div>
                        <div class="col">Producătorul</div>
                        <div class="col">Concentrație</div>
                        <div class="col">Forma farmaceutică</div>
                        <div class="col">Grupa farmacoterapeutică</div>
                        <div class="col">Populaţie subiecţi SC</div>
                        <div class="col">Calea de administrare</div>
                        <div class="col">Actiuni</div>
                    </div>
                </div>
            </div>
            <!-- Card content -->
            <div class="container-fluid">
                <div class="row text-center align-items-center"
                     *ngFor="let medicament of medicamentList; let i = index">
                    <div class="col">{{medicament.name}}</div>
                    <div class="col">{{medicament.manufacture?.description}}</div>
                    <div class="col">{{medicament.dose}}</div>
                    <div class="col">{{medicament.pharmaceuticalForm?.description}}</div>
                    <div class="col">{{medicament.atcCode?.description}}</div>
                    <div class="col">{{medicament.subjectsSC}}</div>
                    <div class="col">{{medicament.administratingMode}}</div>
                    <div class="col">
                        <button type="button" class="btn btn-mdb-color waves-light btn-sm waves-light"
                                (click)="editMedicament(ctMedTypes.MicTestat, medicament, i)"
                                mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                (click)="deleteMedicament(ctMedTypes.MicTestat, i)"
                                mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="medicamentList.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!
            </div>
            <hr>

            <div class="gradient-card-header bg-sidebar border-gradient">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-6">
                            <div class="card-header-title white-text">MIC Referință</div>
                        </div>
                        <div class="col-6">
                            <div class="text-right fap text-white">
                                <i mdbTooltip="Adauga MIC Referință" placement="top"
                                   class="fa fa-plus-circle fa-lg fa-mt"
                                   aria-hidden="true" (click)="addMedicament(ctMedTypes.MicReferance)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card header -->
            <div class="card-body card-body-cascade">
                <div class="container-fluid">
                    <div class="row bg-sidebar white-text text-center">
                        <div class="col">Nume</div>
                        <div class="col">Producătorul</div>
                        <div class="col">Concentrație</div>
                        <div class="col">Forma farmaceutică</div>
                        <div class="col">Grupa farmacoterapeutică</div>
                        <div class="col">Calea de administrare</div>
                        <div class="col">Actiuni</div>
                    </div>
                </div>
            </div>
            <!-- Card content -->
            <div class="container-fluid">
                <div class="row text-center align-items-center"
                     *ngFor="let refProduct of refProductList; let i = index">
                    <div class="col">{{refProduct.name}}</div>
                    <div class="col">{{refProduct.manufacture?.description}}</div>
                    <div class="col">{{refProduct.dose}}</div>
                    <div class="col">{{refProduct.pharmaceuticalForm?.description}}</div>
                    <div class="col">{{refProduct.atcCode?.description}}</div>
                    <div class="col">{{refProduct.administratingMode}}</div>
                    <div class="col">
                        <button type="button" class="btn btn-mdb-color waves-light btn-sm waves-light"
                                (click)="editMedicament(ctMedTypes.MicReferance, refProduct, i)"
                                mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                (click)="deleteMedicament(ctMedTypes.MicReferance, i)"
                                mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="refProductList.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!
            </div>
            <hr>

            <div class="gradient-card-header bg-sidebar border-gradient">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-6">
                            <div class="card-header-title white-text">MIC Placebo</div>
                        </div>
                        <div class="col-6">
                            <div class="text-right fap text-white">
                                <i mdbTooltip="Adauga MIC Placebo" placement="top"
                                   class="fa fa-plus-circle fa-lg fa-mt"
                                   aria-hidden="true" (click)="addMedicament(ctMedTypes.MicPlacebo)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card header -->
            <div class="card-body card-body-cascade">
                <div class="container-fluid">
                    <div class="row bg-sidebar white-text text-center">
                        <div class="col">Nume</div>
                        <div class="col">Producătorul</div>
                        <div class="col">Forma farmaceutică</div>
                        <div class="col">Calea de administrare</div>
                        <div class="col">Actiuni</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row text-center align-items-center" *ngFor="let placebo of placeboList; let i = index">
                    <div class="col">{{placebo.name}}</div>
                    <div class="col">{{placebo.manufacture?.description}}</div>
                    <div class="col">{{placebo.pharmaceuticalForm?.description}}</div>
                    <div class="col">{{placebo.administratingMode}}</div>
                    <div class="col">
                        <button type="button" class="btn btn-mdb-color waves-light btn-sm waves-light"
                                (click)="editMedicament(ctMedTypes.MicPlacebo, placebo, i)"
                                mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-dark-red-color waves-light btn-sm waves-light"
                                (click)="deleteMedicament(ctMedTypes.MicPlacebo, i)"
                                mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="placeboList.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!
            </div>
            <hr>
        </div>

        <br>
        <h5 class="text-center font-weight-bold">Taxe și plăți</h5>
        <app-payment-clinical-trial [registrationRequest]="reqReqInitData"></app-payment-clinical-trial>
    </form>

    <div class="text-center">
        <button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date
        </button>
        <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="onSubmit()">
            Urmatorul pas
        </button>
        <button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">
            Intrerupere
        </button>
    </div>
</div>