<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">{{stepName}}</h3>
    <hr>

    <form [formGroup]='clinicTrailAmendForm' #f="ngForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regNr" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber">
                    <label for="regNr">Nr. cererii
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="regDate" [matDatepicker]="picker" mdbInputDirective type="text" class="form-control"
                           formControlName="startDate">
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <label for="regDate">Data
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="company" mdbInputDirective type="text" class="form-control"
                           value={{clinicTrailAmendForm.value.company.name}} [attr.disabled]="true">
                    <label for="company">Compania solicitant
                    </label>
                </div>
            </div>
        </div>
        <hr>

        <app-document [documents]="docs" [nrCerere]="clinicTrailAmendForm.get('requestNumber').value"
                      [dcTypes]="docTypes"></app-document>
        <div *ngIf="isAnalizePage">
            <h5 class="text-center font-weight-bold">Documente de iesire</h5>
            <hr>

            <div class="position-button">
                <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                        (click)="requestAdditionalData()">Solicitare date aditionale
                </button>
            </div>
            <table class="table table-widths-lg text-center">
                <thead class="black white-text">
                <tr>
                    <th scope="col">Denumirea</th>
                    <th scope="col">Numar</th>
                    <th scope="col">Status document</th>
                    <th>Actiuni</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let doc of outDocuments">
                    <th scope="row">{{ doc.name }}</th>
                    <th scope="row">{{ doc.number }}</th>
                    <th scope="row">{{ doc.status }}</th>
                    <!--<th scope="row"><mat-checkbox *ngIf="doc.docType.category=='RA'" #checkBoxResponse [checked]="doc.responseReceived" (change)="checkResponseReceived(doc,checkBoxResponse)">Raspuns primit</mat-checkbox></th>-->
                    <td>
                        <button class="btn btn-default btn-sm waves-light" mdbWavesEffect (click)="viewDoc(doc)">
                            Vizualizare
                        </button>
                        <button class="btn btn-dark-red-color btn-sm waves-light" mdbWavesEffect (click)="remove(doc)">
                            Stergere
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
        </div>

        <mat-radio-group>
            <div class="container">
                <div class="row">
                    <div class="offset-4"></div>
                    <div class="col-4">
                        <mat-radio-group class="radio-btn-wrapper"
                                         value={{clinicTrailAmendForm.getRawValue().typeCode}} [disabled]="true">
                            <mat-radio-button name="prop1" value="CLPSC">Aprobarea amendamentelor la Protocoalele
                                Studiilor Clinice la medicamente
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="offset-4"></div>
                </div>
            </div>
        </mat-radio-group>
        <hr>

        <div formGroupName="clinicalTrailAmendment">
            <div class="col-md-12">
                <div class="md-form">
                    <textarea type="text" id="titluStud" class="md-textarea form-control" mdbInputDirective rows="1"
                              formControlName="titleTo"></textarea>
                    <label for="titluStud">Titlul studiului</label>
                </div>
            </div>


            <h5 class="text-center font-weight-bold">Tipul studiului clinic</h5>

            <div class="row">
                <div class="col-md-6">
                    <div class="md-form">
                        <div class="container">
                            <div class="col-md-12">
                                <mat-radio-group class="adio-btn-wrapper"
                                                 [value]="clinicTrailAmendForm.value.clinicalTrailAmendment.treatmentTo.id"
                                                 (change)="onTreatmentChange($event)">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-center font-weight-bold">Tratament</h5>
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <mat-radio-button class="col-12" *ngFor="let treatment of treatmentList"
                                                              [value]="treatment.id">{{treatment.description}}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="md-form">
                        <div class="container">
                            <div class="col-md-12">
                                <mat-radio-group class="adio-btn-wrapper"
                                                 [value]="clinicTrailAmendForm.value.clinicalTrailAmendment.provenanceTo.id"
                                                 (change)="onProvenanceChange($event)">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-center font-weight-bold">Provenienta</h5>
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <mat-radio-button class="col-12" *ngFor="let provenance of provenanceList"
                                                              [value]="provenance.id">{{provenance.description}}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="sponsoStudClinic" mdbInputDirective type="text" class="form-control"
                               formControlName="sponsorTo">
                        <label for="sponsoStudClinic">Sponsorul Studiului clinic</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form-modified">
                        <ng-select id="phaseid" name="step" [items]="phaseList"
                                   bindLabel="name"
                                   placeholder="Faza studiului"
                                   formControlName="phaseTo">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="numEudraCT" mdbInputDirective type="text" class="form-control"
                               formControlName="eudraCtNrTo">
                        <label for="numEudraCT">Numărul Eudra CT nr.</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="codStud" mdbInputDirective type="text" class="form-control" formControlName="codeTo">
                        <label for="codStud">Codul studiului</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="popStudClinicNumNational" mdbInputDirective type="number" class="form-control"
                               formControlName="trialPopNatTo">
                        <label for="popStudClinicNumNational">Populația studiului clinic / Numărul pacienţilor
                            nationali</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="popStudClinicNumInternational" mdbInputDirective type="number" class="form-control"
                               formControlName="trialPopInternatTo">
                        <label for="popStudClinicNumInternational">Populația studiului clinic / Numărul pacienţilor
                            internationali</label>
                    </div>
                </div>
            </div>
            <hr>

            <h5 class="text-center font-weight-bold">Instituţii medicale / Locul desfăşurării studiului</h5>
            <hr>
            <div class="row">
                <div class="col-10">
                    <div class="md-form-modified" [formGroup]="addMediacalInstitutionForm">
                        <ng-select id="allMediacalInstitutions" name="allMediacalInstitutions"
                                   [items]="allMediacalInstitutionsList"
                                   bindLabel="name"
                                   placeholder="Instituţia medicala"
                                   formControlName="medicalInstitution"
                                   required="true">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form-modified mt-3">
                        <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl"
                                mdbWavesEffect (click)="addMedicalInstitution()"
                                [disabled]="!this.addMediacalInstitutionForm.controls.medicalInstitution.valid">Adaugare
                        </button>
                    </div>
                </div>
            </div>
            <div class="gradient-card-header bg-sidebar border-gradient">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-header-title white-text">Instituţii medicale / Locul desfăşurării
                                studiului</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body card-body-cascade">
                <div class="container-fluid">
                    <div class="row text-center align-items-center">
                        <div class="col-4 bg-sidebar white-text">
                            <div class="ptc">Instituţii medicale / Locul desfăşurării studiului</div>
                            <div class="row grey darken-3 white-text">
                                <div class="col-6">
                                    <div class="ptc">Denumire</div>
                                </div>
                                <div class="col-6">
                                    <div class="ptc">Adresa</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 bg-sidebar white-text">
                            <div class="ptc">Lista de investigatori</div>
                            <div class="row text-center">
                                <div class="col grey darken-3 white-text">
                                    <div class="ptc">Nume</div>
                                </div>
                                <div class="col grey darken-3 white-text">
                                    <div class="ptc">Prenume</div>
                                </div>
                                <div class="col grey darken-3 white-text">
                                    <div class="ptc">Titlul</div>
                                </div>
                                <div class="col grey darken-3 white-text">
                                    <div class="ptc">Status</div>
                                </div>
                                <div class="col-3 grey darken-3 white-text">
                                    <div class="ptc">Actiuni</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center align-items-center">
                        <div class="col-12">
                            <div class="row border-row py-2" *ngFor="let el of mediacalInstitutionsList; let i = index">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6 border-specs ptc">{{el.name}}</div>
                                        <div class="col-6 border-specs ptc">{{el.address}}</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row py-2" *ngFor="let x of el.investigators">
                                        <div class="col border-specs ptc">{{x.firstName}}</div>
                                        <div class="col border-specs ptc">{{x.lastName}}</div>
                                        <div class="col border-specs ptc">{{x.title}}</div>
                                        <div class="col border-specs ptc">
                                            <span *ngIf="x.main===true">Principal</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 border-specs ptc">
                                    <button class="btn btn-mdb-color waves-light btn-sm waves-light" (click)="editMedicalInstitution(i)"
                                        mdbWavesEffect><i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="deleteMedicalInstitution(i)"
                                        mdbWavesEffect><i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr>

            <div [formGroup]="medicamentForm">
                <h5 class="text-center font-weight-bold">Medicamentul de investigat</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Nume" formControlName="nameTo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <ng-select [items]="manufacturers | async"
                                       bindLabel="description"
                                       placeholder="Producatorul"
                                       formControlName="manufactureTo"
                                       [loading]="loadingManufacturer"
                                       [typeahead]="manufacturerInputs"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.description}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Doza" formControlName="doseTo">
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <!-- <h6 class="text-center font-weight-bold">Substanţe active</h6> -->
                <!-- <div class="position-button ">
                    <button class="btn btn-indigo btn-sm" mdbWavesEffect (click)="addMedActiveSubstanceDialog()">Adaugă
                        substanţa activă
                    </button>
                </div> -->
                <div class="gradient-card-header bg-sidebar border-gradient">
                    <div class="container-fluid">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-6">
                                <div class="card-header-title white-text">Substanţe active</div>
                            </div>
                            <div class="col-6">
                                <div class="text-right fap text-white">
                                    <i (click)="addMedActiveSubstanceDialog()" class="fa fa-plus-circle fa-lg fa-mt"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Card content -->
                <div class="card-body card-body-cascade">
                    <table class="table table-widths text-center">
                        <thead class="bg-sidebar white-text">
                            <tr>
                                <th scope="col">Denumire</th>
                                <th scope="col">Cod CAS</th>
                                <th scope="col">Concentratie</th>
                                <th scope="col">Unitate de masură</th>
                                <th scope="col">Producător</th>
                                <th scope="col">Ţară producător</th>
                                <th scope="col">Adresă producător</th>
                                <th scope="col">Actiuni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let substance of medActiveSubstances;let i = index">
                                <th scope="row">{{ substance.activeSubstance.description }}</th>
                                <td>{{ substance.activeSubstance.code }}</td>
                                <td>{{ substance.quantity }}</td>
                                <td>{{ substance.unitsOfMeasurement.description }}</td>
                                <td>{{ substance.manufacture.description }}</td>
                                <td>{{ substance.manufacture.country.description }}</td>
                                <td>{{ substance.manufacture.address }}</td>
                                <td>
                                    <button class="btn btn-mdb-color waves-light btn-sm waves-light" (click)="editMedActiveSubstance(substance,i)"
                                        mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeMedActiveSubstance(i)"
                                        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="md-form-modified">
                            <ng-select [items]="farmForms | async"
                                       bindLabel="description"
                                       placeholder="Forma farmaceutica"
                                       formControlName="pharmFormTo"
                                       [loading]="loadingFarmForms"
                                       [typeahead]="farmFormsInputs"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.description}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <ng-select [items]="atcCodes | async"
                                       bindLabel="description"
                                       placeholder="Grupa farmaceutica"
                                       formControlName="atcCodeTo"
                                       [loading]="loadingAtcCodes"
                                       [typeahead]="atcCodesInputs"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.code}} <br/>
                                    <small class="form-text text-muted">{{item.description}}</small>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Calea de administrae"
                                       formControlName="administModeTo">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div [formGroup]="referenceProductFormn">
                <h5 class="text-center font-weight-bold">Produsul de referinţă</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Nume" formControlName="nameTo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <ng-select [items]="manufacturersRfPr | async"
                                       bindLabel="description"
                                       placeholder="Producatorul"
                                       formControlName="manufactureTo"
                                       [loading]="loadingManufacturerRfPr"
                                       [typeahead]="manufacturerInputsRfPr"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.description}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Doza" formControlName="doseTo">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- <h6 class="text-center font-weight-bold">Substanţe active</h6>
                <div class="position-button ">
                    <button class="btn btn-indigo btn-sm" mdbWavesEffect (click)="addRefProdActiveSubstanceDialog()">
                        Adaugă
                        substanţa activă
                    </button>
                </div> -->
                <div class="gradient-card-header bg-sidebar border-gradient">
                    <div class="container-fluid">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-6">
                                <div class="card-header-title white-text">Substanţe active</div>
                            </div>
                            <div class="col-6">
                                <div class="text-right fap text-white">
                                    <i (click)="addRefProdActiveSubstanceDialog()" class="fa fa-plus-circle fa-lg fa-mt"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Card content -->
                <div class="card-body card-body-cascade">
                    <table class="table table-widths text-center">
                        <thead class="bg-sidebar white-text">
                            <tr>
                                <th scope="col">Denumire</th>
                                <th scope="col">Cod CAS</th>
                                <th scope="col">Concentratie</th>
                                <th scope="col">Unitate de masură</th>
                                <th scope="col">Producător</th>
                                <th scope="col">Ţară producător</th>
                                <th scope="col">Adresă producător</th>
                                <th scope="col">Actiuni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let substance of refProdActiveSubstances;let i = index">
                                <th scope="row">{{ substance.activeSubstance.description }}</th>
                                <td>{{ substance.activeSubstance.code }}</td>
                                <td>{{ substance.quantity }}</td>
                                <td>{{ substance.unitsOfMeasurement.description }}</td>
                                <td>{{ substance.manufacture.description }}</td>
                                <td>{{ substance.manufacture.country.description }}</td>
                                <td>{{ substance.manufacture.address }}</td>
                                <td>
                                    <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="editRefProdActiveSubstance(substance,i)"
                                        mdbWavesEffect><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeRefProdActiveSubstance(i)"
                                        mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="md-form-modified">
                            <ng-select [items]="farmFormsRfPr | async"
                                       bindLabel="description"
                                       placeholder="Forma farmaceutica"
                                       formControlName="pharmFormTo"
                                       [loading]="loadingFarmFormsRfPr"
                                       [typeahead]="farmFormsInputsRfPr"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.description}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <ng-select [items]="atcCodesRfPr | async"
                                       bindLabel="description"
                                       placeholder="Grupa farmaceutica"
                                       formControlName="atcCodeTo"
                                       [loading]="loadingAtcCodesRfPr"
                                       [typeahead]="atcCodesInputsRfPr"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.code}} <br/>
                                    <small class="form-text text-muted">{{item.description}}</small>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Calea de administrae"
                                       formControlName="administModeTo">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div [formGroup]="placeboFormn">
                <h5 class="text-center font-weight-bold">Placebo</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Nume" formControlName="nameTo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Doza" formControlName="doseTo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input type="text" matInput placeholder="Calea de administrae"
                                       formControlName="administModeTo">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <app-payment [requestId]="clinicTrailAmendForm.get('id').value"
                     (totalValueChanged)="paymentTotalUpdate($event)"></app-payment>
    </form>

    <div class="text-center">
        <button class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="save()">Salvare date
        </button>
        <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="onSubmit()">
            Urmatorul pas
        </button>
        <button class="btn btn-danger waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="interruptProcess()">
            Intrerupere
        </button>
    </div>
</div>