<div mdbModal #errorModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true" [config]='{backdrop: false, ignoreBackdropClick: true, focus: true, keyboard: true}'>
	<div class="modal-dialog modal-notify modal-side modal-bottom-right modal-danger" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="closeErrorModal();">
					<span aria-hidden="true" class="text-white">&times;</span>
				</button>
				<div class="modal-title w-100 font-weight-bold text-white" id="myModalLabel">Eroare!</div>
			</div>
			<div class="modal-body">
				<div><strong class="text-danger">{{error}}</strong></div>
			</div>
		</div>
	</div>
</div>