.table-width {
  width: 100%;
  }
th, td {
  text-align: center !important;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }
 ::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.pr-search {
  padding-right: 30px;
}

.modal-open .modal {
  overflow-y: auto;
}

.example-container {
  width: 100%;
  overflow: auto;
}

table {
  width: 1800px;
}

.modal {
  overflow-y:auto;
}