<div class="container-fluid z-depth-2 sky">
  <div class="table-width">
    <div class="text-right">
      <mat-form-field class="w-50">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" class="w-50">
      </mat-form-field>
    </div>
    <hr>
    <div class="example-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="stuffs_types">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Stuff type </th>
          <td mat-cell *matCellDef="let element"> {{element.stuffs_types}} </td>
        </ng-container>

        <ng-container matColumnDef="companies_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Companies ID </th>
          <td mat-cell *matCellDef="let element"> {{element.companies_id}} </td>
        </ng-container>

        <ng-container matColumnDef="seller_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Seller ID </th>
          <td mat-cell *matCellDef="let element"> {{element.seller_id}} </td>
        </ng-container>

        <ng-container matColumnDef="producer_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Producer ID </th>
          <td mat-cell *matCellDef="let element"> {{element.producer_id}} </td>
        </ng-container>

        <ng-container matColumnDef="nr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Nr </th>
          <td mat-cell *matCellDef="let element"> {{element.nr}} </td>
        </ng-container>

        <ng-container matColumnDef="stard_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Start Date </th>
          <td mat-cell *matCellDef="let element"> {{element.stard_date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> End Date </th>
          <td mat-cell *matCellDef="let element"> {{element.end_date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="customs_transaction_type_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Custom Transation ID </th>
          <td mat-cell *matCellDef="let element"> {{element.customs_transaction_type_id}} </td>
        </ng-container>

        <ng-container matColumnDef="custom_code_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Custom Code ID </th>
          <td mat-cell *matCellDef="let element"> {{element.custom_code_id}} </td>
        </ng-container>

        <ng-container matColumnDef="sampling">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Sampling </th>
          <td mat-cell *matCellDef="let element"> {{element.sampling}} </td>
        </ng-container>

        <ng-container matColumnDef="returned_quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Returned Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.returned_quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="customs_declarations_nr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Customs declarations Nr. </th>
          <td mat-cell *matCellDef="let element"> {{element.customs_declarations_nr}} </td>
        </ng-container>

        <ng-container matColumnDef="customs_declaration_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Customs declarations Date </th>
          <td mat-cell *matCellDef="let element"> {{element.customs_declaration_date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="import_authorization_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Import authorization ID </th>
          <td mat-cell *matCellDef="let element"> {{element.import_authorization_id}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Actiune </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect data-toggle="modal" data-target="#edit" (click)="edit.show()">Editare</button>
            <button class="btn btn-dark-red-color waves-light btn-sm waves-light" mdbWavesEffect>Stergere</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <div class="position-button mt-3">
    <button class="btn btn-dark-green-color waves-light btn-sm waves-light" mdbWavesEffect data-toggle="modal" data-target="#add"
      (click)="add.show()">Adaugare</button>
  </div>
</div>


<div mdbModal #edit="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="editLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Editare</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="edit.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="md-form mb-5">
          <input id="stuff" type="number" class="form-control" mdbInputDirective [formControl]="stuffsEdit">
          <label for="stuff" data-error="wrong" data-success="right">Stuff type</label>
        </div>

        <div class="md-form mb-5">
          <input id="company_id" type="number" class="form-control" mdbInputDirective [formControl]="companiesEdit">
          <label for="company_id" data-error="wrong" data-success="right">Companies ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="seller_id" type="number" class="form-control" mdbInputDirective [formControl]="sellerEdit">
          <label for="seller_id" data-error="wrong" data-success="right">Seller ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="producer_id" type="number" class="form-control" mdbInputDirective [formControl]="producerEdit">
          <label for="producer_id" data-error="wrong" data-success="right">Producer ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="nr" type="number" class="form-control" mdbInputDirective [formControl]="nrEdit">
          <label for="nr" data-error="wrong" data-success="right">Nr.</label>
        </div>

        <div class="md-form mb-5">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker2" placeholder="Start Date" [formControl]="startEdit">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="md-form mb-5">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker3" placeholder="End Date" [formControl]="endEdit">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="md-form mb-5">
          <input id="custom_transation_id" type="number" class="form-control" mdbInputDirective [formControl]="customTransactionEdit">
          <label for="custom_transation_id" data-error="wrong" data-success="right">Custom transation ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="custom_code_id" type="number" class="form-control" mdbInputDirective [formControl]="customCodeEdit">
          <label for="custom_code_id" data-error="wrong" data-success="right">Custom codeAmed ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="sampling" type="number" class="form-control" mdbInputDirective [formControl]="samplingEdit">
          <label for="sampling" data-error="wrong" data-success="right">Sampling</label>
        </div>

        <div class="md-form mb-5">
          <input id="returned_quantity" type="number" class="form-control" mdbInputDirective [formControl]="returnedEdit">
          <label for="returned_quantity" data-error="wrong" data-success="right">Returned quantity</label>
        </div>

        <div class="md-form mb-5">
          <input id="custom_declaration_date" type="number" class="form-control" mdbInputDirective [formControl]="customsDeclarationEdit">
          <label for="custom_declaration_date" data-error="wrong" data-success="right">Custom declarations date</label>
        </div>

        <div class="md-form mb-5">
          <input id="import_authorization_id" type="number" class="form-control" mdbInputDirective [formControl]="importEdit">
          <label for="import_authorization_id" data-error="wrong" data-success="right">Import authorization ID</label>
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect>Salveaza
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #add="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="addLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Adaugare</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="add.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>


      <!--Body-->
      <div class="modal-body">

        <div class="md-form mb-5">
          <input id="stuff" type="number" class="form-control" mdbInputDirective [formControl]="stuffsAdd">
          <label for="stuff" data-error="wrong" data-success="right">Stuff type</label>
        </div>

        <div class="md-form mb-5">
          <input id="companies_id" type="number" class="form-control" mdbInputDirective [formControl]="companiesAdd">
          <label for="companies_id" data-error="wrong" data-success="right">Companies ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="seller_id" type="number" class="form-control" mdbInputDirective [formControl]="sellerAdd">
          <label for="seller_id" data-error="wrong" data-success="right">Seller ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="producer_id" type="number" class="form-control" mdbInputDirective [formControl]="producerAdd">
          <label for="producer_id" data-error="wrong" data-success="right">Producer ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="nr" type="number" class="form-control" mdbInputDirective [formControl]="nrAdd">
          <label for="nr" data-error="wrong" data-success="right">Nr.</label>
        </div>

        <div class="md-form mb-5">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Start Date" [formControl]="startAdd">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="md-form mb-5">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker1" placeholder="End Date" [formControl]="endAdd">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="md-form mb-5">
          <input id="custom_transation_id" type="number" class="form-control" mdbInputDirective [formControl]="customTransactionAdd">
          <label for="custom_transation_id" data-error="wrong" data-success="right">Custom transation ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="custom_code_id" type="number" class="form-control" mdbInputDirective [formControl]="customCodeAdd">
          <label for="custom_code_id" data-error="wrong" data-success="right">Custom codeAmed ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="sampling" type="number" class="form-control" mdbInputDirective [formControl]="samplingAdd">
          <label for="sampling" data-error="wrong" data-success="right">Sampling</label>
        </div>

        <div class="md-form mb-5">
          <input id="returned_quantity" type="number" class="form-control" mdbInputDirective [formControl]="returnedAdd">
          <label for="returned_quantity" data-error="wrong" data-success="right">Returned quantity</label>
        </div>

        <div class="md-form mb-5">
          <input id="custom_declaration_date" type="number" class="form-control" mdbInputDirective [formControl]="customsDeclarationAdd">
          <label for="custom_declaration_date" data-error="wrong" data-success="right">Custom declarations date</label>
        </div>

        <div class="md-form mb-5">
          <input id="import_authorization_id" type="number" class="form-control" mdbInputDirective [formControl]="importAdd">
          <label for="import_authorization_id" data-error="wrong" data-success="right">Import authorization ID</label>
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect>Salveaza
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>