.md-forms {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

label.required:not(:empty):after, .field-header.required:after {
    content: " *";
    color: red;
    position: absolute;
    right: 0px;
    top: -15px;
}

td, td {
    text-align: center !important;
}

.mt-4s {
    padding-top: 45px;
}

.md-form-modified {
    position: relative;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

.table-width {
    width: 100%;
}
th, td {
    text-align: center !important;
}
mat-header-cell {
    display:flex;
    justify-content:flex-end;
}
::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}

.modal-open .modal {
    overflow-y: auto;
}

.modal {
    overflow-y:auto;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}
.mat-focused .mat-form-field-label {
    color: #5cb53f !important;
}

.fa-touched {
    font-size: 1.13em;
}

.fa-untouched {
    font-size: 1.33em;
}

.active-white-2 input[type=search]:focus:not([readonly]) {
    border-bottom: 0px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}

.active-white input[type=search] {
    border-bottom: 0px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}

.ng-select {
    padding-bottom: 0px !important;
}

.md-form {
    margin-bottom : 0em !important;
}

