<h5 class="text-center font-weight-bold">Documente atasate</h5>
<hr>
<form [formGroup]='docForm' *ngIf="canUpload">
  <div class="row">
    <div class="offset-6"></div>
    <div class="col-4">
      <div class="md-form-modified">
        <ng-select id="docType" name="docType" [items]="docTypes"
                   bindLabel="description"
                   placeholder="Tip document"
                   formControlName="docType">
        </ng-select>
      </div>
    </div>
    <div class="col-2 position-button mt-3">
      <label for="incarcaFisier" class="btn btn-indigo btn-sm">
        <input id="incarcaFisier" type="file" style="display:none;" (click)="this.value=null;" (change)="addDocument($event)" attr.disabled="this.docForm.get('docType').invalid || this.disabled"> Incarcă Document
      </label>
    </div>
  </div>
</form>
<table class="table table-widths text-center">
  <thead class="black white-text">
  <tr>
    <th scope="col">Denumire</th>
    <th scope="col">Tip document</th>
    <th scope="col">Data incarcarii</th>
    <th scope="col">Actiuni</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let doc of documents;let i = index">
    <th scope="row">{{ doc.name }}</th>
    <td>{{ doc.docType.description }}</td>
    <td>{{ doc.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
    <td>
      <button type="button" class="btn btn-mdb-color btn-sm waves-light" (click)="loadFile(doc.path)" mdbWavesEffect>View</button>
      <button type="button" *ngIf="!doc.isOld" class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeDocument(i)" mdbWavesEffect attr.disabled="this.disabled">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
