<form [formGroup]="fForm">
  <h3 class="text-center my-3 font-weight-bold">Adaugare standarte de referinta</h3>
  <div class="row" >
    <div class="col-12">
      <div class="md-form">
        <input id="standard" mdbInputDirective type="text" class="form-control" formControlName="standard">
        <label for="standard">Standart de referinta</label>
      </div>
      <div *ngIf="formSubmitted && fForm.get('standard').invalid">
        <small class="text-muted"><strong class="text-danger">Standartul de referinta trebuie introdus</strong></small>
      </div>
    </div>
  </div>
  <div class="md-form-modified">
    <div class="gradient-card-header bg-sidebar border-gradient">
      <div class="container-fluid">
        <!-- Title -->
        <div class="row">
          <div class="col-9">
            <div class="card-header-title white-text">Standarte de referinta</div>
          </div>
          <div class="col-3">
            <div class="text-right fap text-white">
              <i (click)="addStandard()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade">
      <table class="table table-widths text-center">
        <thead class="bg-sidebar white-text">
        <tr>
          <th scope="col">Nr.</th>
          <th scope="col">Denumire</th>
          <th scope="col">Actiuni</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let standard of standards;let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ standard.description }}</td>
          <td class="align-middle">
            <a role="button" class="text-danger" (click)="removeStandard(i)">
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="standards.length === 0" class="text-center text-muted mt-3"> Nu sunt inregistrari gasite!</div>
  </div>
</form>
<div class="text-center">
  <div mat-dialog-actions>
    <div class="w-100">
      <button class="btn btn-danger btn-sm waves-light" (click)="cancel()">Anulare</button>
      <button class="btn btn-dark-green-color btn-sm waves-light" (click)="save()">Salvare</button>
    </div>
  </div>
</div>