<div class="container-fluid sky z-depth-2">
	<div class="mt-5">
		<div class="row">
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/medicament-registration/register">
					<div class="module-a h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Inregistrare medicamente</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/post-modify/register">
					<div class="module-b h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Aprobare modificări postautorizate</div>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/price/register">
					<div class="module-c h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Înregistrare preț medicamente</div>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/import-authorization/register">
					<div class="module-d h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Autorizare import medicamente</div>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/license/register">
					<div class="module-e h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Licentiere</div>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/nomenclature">
					<div class="module-f h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Nomenclator</div>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/drug-control/reg-drug-control">
					<div class="module-g h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title">Comitetul permanent de control asupra drogurilor</div>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/medicament-destruction/register">
					<div class="module-h h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Nimicire medicamente</div>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/clinic-studies/register">
					<div class="module-i h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Înregistrare studii clinice</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-4">
				<a routerLink="/dashboard/module/documents/register">
					<div class="module-i h-box">
						<div class="row">
							<div class="col-3 mt-3"><i class="fa fa-user-o fa-sz" aria-hidden="true"></i></div>
							<div class="col">
								<div class="module-title mt-3">Înregistrare documente</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>