<div class="container-fluid sky z-depth-2">
    <form [formGroup]="mForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCererii">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data de inregistrare a cererii"
                               id="dataCererii"
                               formControlName="dataCererii">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="company" mdbInputDirective type="text" class="form-control"
                           formControlName="company">
                    <label for="company">Compania</label>
                </div>
            </div>
        </div>

        <app-document [documents]="docs" [nrCerere]="mForm.get('nrCererii').value"
                      (documentModified)="documentAdded($event)"
                      [dcTypeIdentifier]="{code : 'INMD', step : 'A'}"></app-document>
        <div *ngIf="rFormSubbmitted && docs.length==0">
            <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
        </div>

    </form>
    <!--  <form [formGroup]="rForm">-->
    <div class="gradient-card-header bg-sidebar border-gradient">
        <div class="container-fluid">
            <!-- Title -->
            <div class="row">
                <div class="col-12">
                    <div class="card-header-title white-text">Lista medicamentelor pentru distrugere</div>
                </div>
                <!-- <div class="col-4">
                    <div class="text-right fap text-white">
                        <i class="fa fa-lg fa-mt" aria-hidden="true" (click)="changeVisibility();" [ngClass]="visibility ? 'fa-touched fa-search-plus' : 'fa-untouched fa-search-minus'"></i>
                        <i (click)="add.show()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true" data-toggle="modal"
                            data-target="#add"></i>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
    <div class="card-body card-body-cascade">
    <table class="table table-widths text-center">
            <thead class="bg-sidebar-lighter white-text">
        <tr>
            <th scope="col">Medicament</th>
            <th scope="col">Cantitatea</th>
            <th scope="col">Cauza distrugerii</th>
            <th scope="col">Metoda de nimicire</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let meds of medicamentsToDestroy;let i = index">
            <th scope="row">{{ meds.medicamentName }}</th>
            <td>{{ meds.quantity }}</td>
            <td>{{ meds.uselessReason }}</td>
            <td>{{meds.destructionMethod ? meds.destructionMethod.description : ''}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <hr>
    <!-- <h5 class="text-center font-weight-bold">Comisia</h5> -->
    <form [formGroup]="rForm">
        <div class="row">
            <div class="col-3">
                <div class="md-form-modified-select">
                    <ng-select [items]="responsabilities"
                               bindLabel="value"
                               placeholder="Responsabilitatea"
                               formControlName="responsability"
                               [required]="true"
                    >
                    </ng-select>
                </div>
                <div *ngIf="rFormSubbmitted && this.rForm.get('responsability').value.id && this.checkIfPresidentAlreadyAdded()">
                    <small class="text-muted"><strong class="text-danger">Puteti selecta numai un singur presedinte al comisiei</strong>
                    </small>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('responsability').valid">
                    <small class="text-muted"><strong class="text-danger">Responsabilitatea trebuie selectata</strong>
                    </small>
                </div>

            </div>

            <div class="col-3">
                <div class="md-form-modified-select">
                    <ng-select [items]="commisions"
                               bindLabel="description"
                               placeholder="Institutia"
                               formControlName="commision"
                               [required]="true"
                    >
                    </ng-select>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('commision').valid">
                    <small class="text-muted"><strong class="text-danger">Institutia trebuie selectata</strong>
                    </small>
                </div>
            </div>
            <div class="col-3">
                <div class="md-form">
                    <input id="name" mdbInputDirective type="text" class="form-control"
                           formControlName="name">
                    <label for="name">Nume, prenume<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('name').valid">
                    <small class="text-muted"><strong class="text-danger">Trebuie de introdus numele si
                        prenumele</strong>
                    </small>
                </div>
            </div>

            <div class="col-3">
                <div class="md-form">
                    <input id="proffesion" mdbInputDirective type="text" class="form-control"
                           formControlName="proffesion">
                    <label for="proffesion">Functia<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('proffesion').valid">
                    <small class="text-muted"><strong class="text-danger">Introduceti functia</strong>
                    </small>
                </div>
            </div>


            <!-- <div class="col-2">
                <div class="text-center">
                    <div class="md-form mt-button">
                        <button type="button" class="btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                            (click)="addMember()">Adauga
                        </button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="gradient-card-header bg-sidebar border-gradient">
            <div class="container-fluid">
                <!-- Title -->
                <div class="row">
                    <div class="col-8">
                        <div class="card-header-title white-text">Comisia</div>
                    </div>
                    <div class="col-4">
                        <div class="text-right fap text-white">
                            <!-- <i class="fa fa-lg fa-mt" aria-hidden="true" (click)="changeVisibility();" [ngClass]="visibility ? 'fa-touched fa-search-plus' : 'fa-untouched fa-search-minus'"></i> -->
                            <i (click)="addMember()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true"
                                data-toggle="modal" data-target="#add"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body card-body-cascade">
        <table class="table table-widths text-center">
                <thead class="bg-sidebar white-text">
            <tr>
                <th scope="col">Nume</th>
                <th scope="col">Responsabilitatea</th>
                <th scope="col">Institutia</th>
                <th scope="col">Functia</th>
                <th scope="col">Actiuni</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mem of members;let i = index">
                <td>{{ mem.name }}</td>
                <th >{{ mem.memberDescription }}</th>
                <td>{{ mem.institution.description }}</td>
                <td>{{ mem.function }}</td>

                <td>
                    <button class="btn btn-dark-red-color waves-light btn-sm waves-light" type="button"
                            (click)="removeMember(i)" mdbWavesEffect><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div *ngIf="mFormSubbmitted && members.length==0">
            <small class="text-muted"><strong class="text-danger">Nici un membru nu a fost adaugat</strong></small>
        </div>

    </form>

    <hr>
    <form [formGroup]="kForm">
    <div class="row">
        <div class="col-md-6">
            <div class="md-form">
                <input id="firstname" mdbInputDirective type="text" class="form-control" formControlName="firstname"
                >
                <label for="firstname">Prenumele reprezentantului<span class="text-danger">*</span></label>
            </div>
            <div *ngIf="kFormSubbmitted && !kForm.get('firstname').valid">
                <small class="text-muted"><strong class="text-danger">Prenumele trebuie introdus</strong>
                </small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="md-form">
                <input id="lastname" mdbInputDirective type="text" class="form-control" formControlName="lastname"
                >
                <label for="lastname">Numele reprezentantului<span class="text-danger">*</span></label>
            </div>
            <div *ngIf="kFormSubbmitted && !kForm.get('lastname').valid">
                <small class="text-muted"><strong class="text-danger">Numele trebuie introdus</strong>
                </small>
            </div>
        </div>
        <br/>
        <br/>
        <div class="col-md-12">
           <!-- <div class="md-form">-->
                <mat-checkbox id="docLPAttached" formControlName="docLPAttached">Documentul cu lista medicamentelor pentru comisie a fost atasat si semnat</mat-checkbox>
               <!-- <label for="docLPAttached">Numele reprezentantului<span class="text-danger">*</span></label>-->
            <!--</div>-->
            <div *ngIf="kFormSubbmitted && !kForm.get('docLPAttached').value">
                <small class="text-muted"><strong class="text-danger">Documentul cu lista medicamentelor pentru comisie nu a fost atasat.</strong>
                </small>
            </div>
        </div>
        <br/>

    </div>
    </form>


    <hr>
    <!-- <h5 class="text-center font-weight-bold">Documente de iesire</h5> -->
    <div class="gradient-card-header bg-sidebar border-gradient">
        <div class="container-fluid">
            <!-- Title -->
            <div class="row">
                <div class="col-12">
                    <div class="card-header-title white-text">Documente de iesire</div>
                </div>
                <!-- <div class="col-4">
                    <div class="text-right fap text-white">
                        <i class="fa fa-lg fa-mt" aria-hidden="true" (click)="changeVisibility();" [ngClass]="visibility ? 'fa-touched fa-search-plus' : 'fa-untouched fa-search-minus'"></i>
                        <i (click)="add.show()" class="fa fa-plus-circle fa-lg fa-mt" aria-hidden="true" data-toggle="modal"
                            data-target="#add"></i>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
    <div class="card-body card-body-cascade">
        <table class="table table-widths-lg text-center">
            <thead class="bg-sidebar white-text">
        <tr>
            <th scope="col">Denumirea</th>
            <th scope="col">Numar</th>
            <th scope="col">Status document</th>
            <th>Actiuni</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of outDocuments">
            <th scope="row">{{ a.name }}</th>
            <th scope="row">{{ a.number }}</th>
            <th scope="row">{{ a.status ? a.status.description : ''}}</th>
            <td>
                        <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i class="fa fa-file fa-lg" aria-hidden="true"></i>
                        </button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div *ngIf="rFormSubbmitted && !checkAllDocumentsWasAttached()">
        <small class="text-muted"><strong class="text-danger">Exista documente care nu au fost atasate</strong></small>
    </div>


    <div class="text-center">
        <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                (click)="confirm()">Salvare date
        </button>
        <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                (click)="submit()">Finisare
        </button>
    </div>

</div>