<div class="container sky z-depth-2">
  <h3 class="text-center my-3 font-weight-bold">Cerere de solicitare a duplicatului autorizatiei de activitate cu precursori/psihotrope/stupefiante</h3>
  <hr>

  <form [formGroup]='cerereDupAutorForm'>
       <app-document [documents]="documents" [nrCerere]="cerereDupAutorForm.get('requestNumber').value"></app-document>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="md-form">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Data" required formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input id="nrReg" mdbInputDirective type="text" class="form-control" formControlName="requestNumber" [attr.disabled]="true">
          <label for="nrReg">Nr. de inregistrare a cererii
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <hr>
      <div class="col-md-12">
        <div class="md-form-modified">
          <div class="md-form" >
            <input id="compSolicitant" mdbInputDirective type="text" class="form-control" formControlName="companyValue" [attr.disabled]="true">
            <label for="compSolicitant">Compania solicitant</label>
          </div>
        </div>
      </div>
    </div>
      <hr>
      <app-payment [receipts]="receiptsList" [paymentOrders]="paymentOrdersList" (totalValueChanged)="paymentTotalUpdate($event)"></app-payment>
      <div *ngIf="formSubmitted && paymentTotal<0">
          <small class="text-muted"><strong class="text-danger">Clientul are datorii.</strong></small>
      </div>
      <hr>
    <div class="text-center">
      <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="saveRequest()">Inregistrare</button>
    </div>
  </form>
  <hr>
</div>