<h2 mat-dialog-title class="text-center alert alert-primary">Editare cerere de înregistrare a prețului</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]='priceReqEntity' class="margin-modal">
        <div class="row">
            <div class="col-4">
                <div class="md-form">
                    <input mdbInputDirective type="text" id="orderNr2" class="form-control" required
                           formControlName="orderNr">
                    <label for="orderNr2">Numărul Ordinului</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    <input mdbInputDirective type="text" id="folderNr2" class="form-control" required
                           formControlName="folderNr">
                    <label for="folderNr2">Numărul Dosarului</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form-modifieds">
                    <ng-select class="custom" [items]="companyMedicaments | async"
                               bindLabel="name"
                               placeholder="Medicamentul"
                               formControlName="medicament"
                               (change)="medChanged()"
                               [required]="true"
                               [typeahead]="medInputs"
                               [loading]="medLoading">
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br/>
                            <small>{{item.code}}</small>
                        </ng-template>
                    </ng-select>
                </div>
            </div>

            <!--<div class="col-3">
                <div class="md-form">
                    <input id="assignedPerson2" mdbInputDirective type="text" class="form-control" formControlName="assignedPerson">
                    <label for="assignedPerson2">Persoana asignata</label>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-4">
                <div class="md-form-modifieds">
                    <ng-select id="priceType" name="priceType" [items]="priceTypes"
                               class="w-100"
                               [required]="true"
                               bindLabel="description"
                               placeholder="Starea prețului"
                               formControlName="priceType">
                    </ng-select>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form-material">
                    <mat-form-field class="w-100">
                        <input required matInput [matDatepicker]="orderApprovDateX" placeholder="Data aprobării" formControlName="orderApprovDate">
                        <mat-datepicker-toggle matSuffix [for]="orderApprovDateX"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #orderApprovDateX></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form-material">
                    <mat-form-field class="w-100">
                        <input required matInput [matDatepicker]="expirationDate"  placeholder="Data expirării prețului" formControlName="expirationDate">
                        <mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #expirationDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="md-form">
                    <input id="price2" mdbInputDirective type="text" class="form-control" formControlName="currencyCode" [attr.disabled]="true">
                    <label for="price2">Prețul propus</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    <input id="currency2" mdbInputDirective type="text" class="form-control" formControlName="currency" [attr.disabled]="true">
                    <label for="currency2">Valuta propusă</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    <input id="mdlVal2" mdbInputDirective type="text" class="form-control" formControlName="mdlValue" [attr.disabled]="true">
                    <label for="mdlVal2">Prețul MDL</label>
                </div>
            </div>
        </div>
        </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn btn-dark-green-color btn-sm waves-light" [disabled]="this.priceReqEntity.invalid" (click)="save()">Salvează</button>
    <button class="btn btn-dark-red-color btn-sm waves-light" (click)="this.dialogRef.close()">Închide</button>
</mat-dialog-actions>