<div>
    <div class="container-fluid sky z-depth-2">
        <h3 class="text-center my-3 font-weight-bold">Inregistrare cerere</h3>
        <!--evaluateImportForm: {{evaluateImportForm.value | json}}-->
        <!--importTypeForms: {{importTypeForms.value | json}}-->
        <!--importTypeForms: {{importTypeForm.value | json}}-->

        <form [formGroup]="evaluateImportForm">
            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input id="requestNumber" mdbInputDirective type="text" class="form-control" formControlName="requestNumber"
                               [attr.disabled]="true">
                        <label for="requestNumber">Nr. cererii</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker" placeholder="Data"
                                   formControlName="startDate" [attr.disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="company" mdbInputDirective type="text" class="form-control"
                               value={{evaluateImportForm.value.company.name}} [attr.disabled]="true">
                        <label for="company">Compania solicitant
                        </label>
                        <!--value={{evaluateImportForm.value.importer.name}}-->
                    </div>
                </div>

            </div>

            <app-document [documents]="docs" [nrCerere]="evaluateImportForm.get('requestNumber').value"></app-document>
            <div *ngIf="formSubmitted && docs && docs.length==0">
                <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
            </div>


            <div formGroupName="importAuthorizationEntity">
                <div class="row">


                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <ng-select [items]="manufacturersRfPr | async"
                                       bindLabel="description"
                                       placeholder="Vînzător"
                                       formControlName="seller"
                                       [loading]="loadingManufacturerRfPr"
                                       [typeahead]="manufacturerInputsRfPr"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.description}}
                                    <small class="form-text text-muted">{{item.address}}, {{item.country.description}}</small>
                                </ng-template>
                            </ng-select>

                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <div class="md-form">
                                <input id="adresa" mdbInputDirective type="text" class="form-control"
                                       [attr.disabled]="true" [value]="sellerAddress"> <!--{{sellerAddress.value}}-->
                                <label for="adresa">Adresa vînzătorului</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="basisForImport" mdbInputDirective type="text" class="form-control" formControlName="basisForImport">
                            <label for="basisForImport">Temeiul pentru autorizație de import (Contract)
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <ng-select [items]="importer | async"
                                       bindLabel="name"
                                       placeholder="Importator"
                                       formControlName="importer"
                                       [loading]="loadingCompany"
                                       [typeahead]="companyInputs"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.name}} <br/>
                                    <small class="form-text text-muted">IDNO: {{item.idno}}</small>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="importerAddress" mdbInputDirective type="text" class="form-control"
                                   [value]="importerAddress" [attr.disabled]="true">
                            <label for="importerAddress">Ţara şi adresa importatorului
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="conditionsAndSpecification" mdbInputDirective type="text" class="form-control"
                                   formControlName="conditionsAndSpecification">
                            <label for="basisForImport">Condiții și precizări
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <!--=======================================================================================-->
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="authorizationsNumber" mdbInputDirective type="text" class="form-control" formControlName="authorizationsNumber">
                            <label for="authorizationsNumber">Nr. autorizaţiei de import în RM
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="customsNumber" mdbInputDirective type="text" class="form-control" formControlName="customsNumber">
                            <label for="customsNumber">Nr. declaraţiei vamale
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="importData.importAuthorizationEntity.medType==1">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker22" placeholder="Data declaraţiei  vamale"
                                       formControlName="customsDeclarationDate">
                                <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker22></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--=======================================================================================-->

                    <!--<div class="text-center w-100 mt-3">-->
                        <!--<div class="alert alert-primary">-->
                            <!--<span>Nr. de inregistrare a cererii: </span>-->
                            <!--<strong>{{generatedDocNrSeq}}</strong>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>


                <hr>


                <section>

                    <h5 class="text-center font-weight-bold" *ngIf="importData.importAuthorizationEntity.medType===1">Informația despre Medicamentul Înregistrat</h5>
                    <h5 class="text-center font-weight-bold" *ngIf="importData.importAuthorizationEntity.medType===2">Informația despre Medicamentul Neînregistrat</h5>
                    <hr>
                    <div formArrayName="unitOfImportTable">
                        <div class="row">

                            <!--<div class="col-4" *ngIf="importData.importAuthorizationEntity.medType==1">-->
                            <div class="col-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="medicaments | async"
                                               bindLabel="name"
                                               placeholder="Codul medicamentului"
                                               formControlName="medicament"
                                               [loading]="loadingmedicaments"
                                               [typeahead]="medicamentsInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.name}};
                                            <small class="form-text text-muted">Cod: {{item.code}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.medicament').invalid">
                                        <small class="text-muted"><strong class="text-danger">Medicamentul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="name" mdbInputDirective type="text" class="form-control"
                                           formControlName="name">
                                    <label for="name">Denumirea comercială a medicamentului</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.medicament').invalid">
                                    <small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
                                </div>
                            </div>

                            <div class="col-md-4" >
                                <div class="md-form-modified" >
                                    <ng-select
                                               [items]="internationalMedicamentNames | async"
                                               bindLabel="description"
                                               placeholder="Denumirea comună internaționala"
                                               formControlName="internationalMedicamentName"
                                               [loading]="loadinginternationalMedicamentName"
                                               [typeahead]="internationalMedicamentNameInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.description}} <br/>
                                            <small class="form-text text-muted">Cod: {{item.code}}</small>
                                        </ng-template>
                                    </ng-select>

                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.internationalMedicamentName').invalid">
                                        <small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="quantity" mdbInputDirective type="number" class="form-control"
                                           formControlName="quantity">
                                    <label for="quantity">Cantitatea</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.quantity').invalid">
                                    <small class="text-muted"><strong class="text-danger">Cantitatea trebuie selectată</strong></small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form">
                                    <input id="price" mdbInputDirective type="number" class="form-control"
                                           formControlName="price">
                                    <label for="price">Pretul</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.price').invalid">
                                    <small class="text-muted"><strong class="text-danger">Prețul trebuie selectat</strong></small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form-modified">
                                    <mat-form-field class="w-100">
                                        <mat-select id="currency" placeholder="Valuta"
                                                    formControlName="currency">
                                            <mat-option *ngFor="let valuta of valutaList" [value]="valuta">{{ valuta.shortDescription }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="[formSubmitted]==true && !evaluateImportForm.get('currency').valid "> /*!evaluateImportForm.get('currency')=== null &&*/
                                    <small class="text-muted"><strong class="text-danger">Valuta trebuie introdusă</strong>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form">
                                    <input id="summ" mdbInputDirective type="number" class="form-control"
                                           [attr.disabled]="true"
                                           formControlName="summ">
                                    <label for="summ">Suma</label>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="customsCodes | async"
                                               bindLabel="description"
                                               placeholder="Codul Vamal"
                                               formControlName="customsCode"
                                               [loading]="loadingcustomsCodes"
                                               [typeahead]="customsCodesInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.description}};
                                            <small class="form-text text-muted">Cod AMED: {{item.code}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.customsCode').invalid">
                                        <small class="text-muted"><strong class="text-danger">Codul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>

                            <!--======================================================================-->
                            <div class="col-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="pharmaceuticalForm | async"
                                               bindLabel="description"
                                               placeholder="Forma medicamentoasă"
                                               formControlName="pharmaceuticalForm"
                                               [loading]="loadingpharmaceuticalForm"
                                               [typeahead]="pharmaceuticalFormInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.description}};
                                            <!--<small class="form-text text-muted">Cod: {{item.code}}</small>-->
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.pharmaceuticalForm').invalid">
                                        <small class="text-muted"><strong class="text-danger">Forma medicamentoasă trebuie selectată</strong></small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="dose" mdbInputDirective type="text" class="form-control"
                                           formControlName="dose" >
                                    <label for="dose">Doza</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.dose').invalid">
                                    <small class="text-muted"><strong class="text-danger">Doza trebuie selectată</strong></small>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="unitsOfMeasurement" mdbInputDirective type="text" class="form-control"
                                           formControlName="unitsOfMeasurement">
                                    <label for="dose">Divizare (Unitatea  de măsură)</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.unitsOfMeasurement').invalid">
                                    <small class="text-muted"><strong class="text-danger">Divizarea trebuie selectată</strong></small>
                                </div>
                            </div>
                            <!--======================================================================-->


                            <div class="col-md-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="manufacturersRfPr | async"
                                               bindLabel="description"
                                               placeholder="Producatorul"
                                               formControlName="producer"
                                               [loading]="loadingManufacturerRfPr"
                                               [typeahead]="manufacturerInputsRfPr"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            Denumire: {{item.description}};
                                            <small class="form-text text-muted">{{item.address}}, {{item.country.description}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.producer').invalid">
                                        <small class="text-muted"><strong class="text-danger">Producatorul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="producerAddress" mdbInputDirective type="text" class="form-control"
                                           [value]="producerAddress" [attr.disabled]="true">
                                    <label for="producerAddress">Ţara şi adresa producătorului
                                        <span class="text-danger">*</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="atcCodes | async"
                                               bindLabel="code"
                                               placeholder="Cod ATC"
                                               formControlName="atcCode"
                                               [loading]="loadingAtcCodes"
                                               [typeahead]="atcCodesInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.code}} <br/>
                                            <small class="form-text text-muted">Denumire: {{item.description}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.atcCode').invalid">
                                        <small class="text-muted"><strong class="text-danger">Codul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4" *ngIf="importData.importAuthorizationEntity.medType==1">
                                <div class="md-form">
                                    <input id="registrationRmNumber" mdbInputDirective type="text" class="form-control" formControlName="registrationRmNumber">
                                    <label for="registrationRmNumber">Nr. de înregistrare în RM
                                        <span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.registrationRmNumber').invalid">
                                    <small class="text-muted"><strong class="text-danger">Nr. de înregistrare în RM trebuie selectat</strong></small>
                                </div>
                            </div>
                            <!--<div class="col-md-4" *ngIf="importData.importAuthorizationEntity.medType==1">-->
                            <!--<div class="md-form">-->
                            <!--<input id="registrationRmDate" mdbInputDirective type="text" class="form-control" formControlName="registrationRmDate">-->
                            <!--<label for="registrationRmDate">Data de înregistrare în RM-->
                            <!--<span class="text-danger">*</span>-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="col-4" *ngIf="importData.importAuthorizationEntity.medType==1">
                                <div class="md-form-modified">
                                    <mat-form-field class="w-100">
                                        <input matInput [matDatepicker]="picker22" placeholder="Data de înregistrare în RM"
                                               formControlName="registrationRmDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker22></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.registrationRmDate').invalid">
                                        <small class="text-muted"><strong class="text-danger">Data de înregistrare în RM trebuie selectată</strong></small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form-modified">
                                    <mat-form-field class="w-100">
                                        <input matInput [matDatepicker]="picker22" placeholder="Termen de valabilitate"
                                               formControlName="expirationDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker22></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">
                                    <small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <!--<button class="btn btn-danger waves-light btn-md" (click)="deleteImportTypeForm(i)">Sterge</button>-->
                            <!--<button type="submit" class="btn btn-indigo waves-light btn-md" mdbWavesEffect (click)="addImportTypeForm()" (click)="getProducerAddress(i)">Adauga</button>-->
                            <button type="submit" class="btn btn-indigo waves-light btn-md" mdbWavesEffect (click)="addUnitOfImport()">Adauga</button>
                        </div>
                        <!--</div>-->
                    </div>

                    <table class="table table-widths text-center">
                        <thead class="black white-text">
                        <tr>
                            <th scope="col">Codul Vamal</th>
                            <th scope="col">Denumirea comercială a medicamentului</th>
                            <th scope="col" *ngIf="importData.importAuthorizationEntity.medType==3">Codul ATC</th>
                            <th scope="col">Cantitate</th>
                            <th scope="col">Pretul</th>
                            <th scope="col">Valuta</th>
                            <th scope="col">Suma</th>
                            <th scope="col">Producatorul</th>
                            <th scope="col">Ţara şi adresa producătorului materiei prime</th>
                            <th scope="col">Termen de valabilitate</th>

                            <!--<th scope="col">Actiuni</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let unitOfImport of unitOfImportTable;let i = index">
                            <th scope="row">{{ unitOfImport.customsCode.description }}</th>
                            <td>{{ unitOfImport.name }}</td>
                            <td *ngIf="importData.importAuthorizationEntity.medType==3">{{ unitOfImport.atcCode.code}}</td>
                            <td>{{ unitOfImport.quantity }}</td>
                            <td>{{ unitOfImport.price }}</td>
                            <td>{{ unitOfImport.currency.shortDescription}}</td>
                            <td>{{ unitOfImport.summ }}</td>
                            <td>{{ unitOfImport.producer.description }}</td>
                            <td>{{ unitOfImport.producer.address }}, {{ unitOfImport.producer.country.description }}</td>
                            <td>{{ unitOfImport.expirationDate | date:'mediumDate' }}</td>

                            <td>
                                <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeunitOfImport(i)" mdbWavesEffect>Stergere</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div *ngIf="formSubmitted && unitOfImportTable.length==0">
                        <small class="text-muted"><strong class="text-danger">Nici o unitate de import nu a fost adaugata</strong></small>
                    </div>

                    <hr>
                </section>
                <div class="text-center">
                    <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl " mdbWavesEffect (click)="nextStep()" type="button">Submit</button>
                    <button class="btn btn-danger waves-light btn-sm btn-sm-bl " mdbWavesEffect (click)="interruptProcess()">
                        Intrerupere
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

