<div>
    <div class="container-fluid sky z-depth-2">
        <h3 class="text-center my-3 font-weight-bold">Inregistrare cerere</h3>
        <!--evaluateImportForm: {{evaluateImportForm.value | json}}-->
        <!--importTypeForms: {{importTypeForms.value | json}}-->
        <!--importTypeForms: {{importTypeForm.value | json}}-->

        <form [formGroup]="evaluateImportForm">
            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input id="requestNumber" mdbInputDirective type="text" class="form-control" formControlName="requestNumber"
                               [attr.disabled]="true">
                        <label for="requestNumber">Nr. cererii</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker" placeholder="Data"
                                   formControlName="startDate" [attr.disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="company" mdbInputDirective type="text" class="form-control"
                               value={{evaluateImportForm.value.company.name}} [attr.disabled]="true">
                        <label for="company">Compania solicitant
                        </label>
                        <!--value={{evaluateImportForm.value.importer.name}}-->
                    </div>
                </div>

            </div>

            <app-document *ngIf="importData !== null && importData?.importAuthorizationEntity.medType==1" [documents]="docs" [nrCerere]="generatedDocNrSeq" [dcTypeIdentifier]="{code: 'IMMA', step : 'E'}" ></app-document>
            <div *ngIf="formSubmitted && docs && docs.length==0">
                <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
            </div>

            <app-document *ngIf="importData !== null && importData?.importAuthorizationEntity.medType==2" [documents]="docs" [nrCerere]="generatedDocNrSeq" [dcTypeIdentifier]="{code: 'IMMN', step : 'E'}" ></app-document>
            <div *ngIf="formSubmitted && docs && docs.length==0">
                <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
            </div>

            <div formGroupName="importAuthorizationEntity">
                <div class="row">


                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <ng-select [items]="manufacturersRfPr | async"
                                       bindLabel="description"
                                       placeholder="Vînzător"
                                       formControlName="seller"
                                       [loading]="loadingManufacturerRfPr"
                                       [typeahead]="manufacturerInputsRfPr"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item?.description}}
                                    <small class="form-text text-muted">{{item?.address}}, {{item?.country?.description}}</small>
                                </ng-template>
                            </ng-select>

                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <div class="md-form">
                                <input id="adresa" mdbInputDirective type="text" class="form-control"
                                       [attr.disabled]="true" [value]="sellerAddress"> <!--{{sellerAddress.value}}-->
                                <label for="adresa">Adresa vînzătorului</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="basisForImport" mdbInputDirective type="text" class="form-control" formControlName="basisForImport">
                            <label for="basisForImport">Temeiul pentru autorizație de import
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <ng-select [items]="importer | async"
                                       bindLabel="name"
                                       placeholder="Importator"
                                       formControlName="importer"
                                       [loading]="loadingCompany"
                                       [typeahead]="companyInputs"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item?.name}} <br/>
                                    <small class="form-text text-muted">IDNO: {{item?.idno}}</small>
                                </ng-template>
                            </ng-select>
                            <div *ngIf="activeLicenses==null ">
                                <small class="text-muted"><strong class="text-danger">Importatorul selectat nu are licente valabile</strong></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="importerAddress" mdbInputDirective type="text" class="form-control"
                                   [value]="importerAddress" [attr.disabled]="true">
                            <label for="importerAddress">Ţara şi adresa importatorului
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <!--=======================================================================================-->

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="contract" mdbInputDirective type="text" class="form-control"
                                   formControlName="contract">
                            <label for="contract">Contract
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker26" placeholder="Data contractului"
                                       formControlName="contractDate">
                                <mat-datepicker-toggle matSuffix [for]="picker26"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker26></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--<div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">-->
                        <!--<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>-->
                        <!--</div>-->
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="anexa" mdbInputDirective type="text" class="form-control"
                                   formControlName="anexa">
                            <label for="anexa">Anexa la contract
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker25" placeholder="Data anexei"
                                       formControlName="anexaDate">
                                <mat-datepicker-toggle matSuffix [for]="picker25"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker25></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--<div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">-->
                        <!--<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>-->
                        <!--</div>-->
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="specification" mdbInputDirective type="text" class="form-control"
                                   formControlName="specification">
                            <label for="anexa">Specificație
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker27" placeholder="Data specificației"
                                       formControlName="specificationDate">
                                <mat-datepicker-toggle matSuffix [for]="picker27"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker27></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--<div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">-->
                        <!--<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>-->
                        <!--</div>-->
                    </div>


                    <div class="col-md-4" *ngIf="importData !== null && importData?.importAuthorizationEntity.medType==1">
                        <div class="md-form">
                            <input id="customsNumber" mdbInputDirective type="text" class="form-control" formControlName="customsNumber">
                            <label for="customsNumber">Nr. declaraţiei vamale
                                <!--<span class="text-danger">*</span>-->
                            </label>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="importData !== null && importData?.importAuthorizationEntity.medType==1">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker22" placeholder="Data declaraţiei  vamale"
                                       formControlName="customsDeclarationDate">
                                <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker22></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="conditionsAndSpecification" mdbInputDirective type="text" class="form-control"
                                   formControlName="conditionsAndSpecification">
                            <label for="conditionsAndSpecification">Altele
                                <!--<span class="text-danger">*</span>-->
                            </label>
                        </div>
                    </div>
                    <!--=======================================================================================-->

                </div>


                <hr>


                <section>

                    <h5 class="text-center font-weight-bold" *ngIf="importData !== null && importData?.importAuthorizationEntity.medType===1">Informația despre Medicamentul Înregistrat</h5>
                    <h5 class="text-center font-weight-bold" *ngIf="importData !== null && importData?.importAuthorizationEntity.medType===2">Informația despre Medicamentul Neînregistrat</h5>
                    <hr>
                    <div formArrayName="unitOfImportTable">
                        <div class="row">

                            <div class="col-4" *ngIf="importData !== null && importData?.importAuthorizationEntity.medType==1">
                                <!--<div class="col-4">-->
                                <div class="md-form-modified">
                                    <ng-select [items]="medicaments | async"
                                               bindLabel="name"
                                               placeholder="Codul medicamentului"
                                               formControlName="medicament"
                                               [loading]="loadingmedicaments"
                                               [typeahead]="medicamentsInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}};
                                            <small class="form-text text-muted">Cod: {{item?.code}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.medicament').invalid">
                                        <small class="text-muted"><strong class="text-danger">Medicamentul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="name" mdbInputDirective type="text" class="form-control"
                                           formControlName="name">
                                    <label for="name">Denumirea comercială a medicamentului</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.name').invalid">
                                    <small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form-modified">
                                    <ng-select
                                            [items]="internationalMedicamentNames | async"
                                            bindLabel="description"
                                            placeholder="Denumirea comună internaționala"
                                            formControlName="internationalMedicamentName"
                                            [loading]="loadinginternationalMedicamentName"
                                            [typeahead]="internationalMedicamentNameInputs"
                                            required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.description}} <br/>
                                            <small class="form-text text-muted">Cod: {{item?.code}}</small>
                                        </ng-template>
                                    </ng-select>

                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.internationalMedicamentName').invalid">
                                        <small class="text-muted"><strong class="text-danger">Denumirea trebuie selectata</strong></small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="quantity" mdbInputDirective type="number" min="0"  class="form-control"
                                           formControlName="quantity">
                                    <label for="quantity">Cantitatea</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.quantity').invalid">
                                    <small class="text-muted"><strong class="text-danger">Cantitatea trebuie selectată, min 0.01</strong></small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form">
                                    <input id="price" mdbInputDirective type="number" min="0"  class="form-control" formControlName="price">
                                    <label for="price">Pretul</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.price').invalid">
                                    <small class="text-muted"><strong class="text-danger">Prețul trebuie selectat, min 0.01</strong></small>
                                </div>
                                <div *ngIf="invalidPrice">
                                    <small class="text-muted"><strong class="text-danger">Prețul este mai mare decât cel înregistrat in monimclatorul</strong></small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form-modified">
                                    <!--<md-form-field class="w-100">-->
                                    <ng-select id="currency" placeholder="Valuta" formControlName="currency" >
                                        <ng-option *ngFor="let valuta of valutaList" [value]="valuta">{{ valuta.shortDescription }}</ng-option>
                                    </ng-select>
                                    <!--</md-form-field>-->
                                </div>
                                <div *ngIf="[formSubmitted]==true && evaluateImportForm.get('currency').invalid "> /*!evaluateImportForm.get('currency')=== null &&*/
                                    <small class="text-muted"><strong class="text-danger">Valuta trebuie introdusă</strong>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form">
                                    <input id="summ" mdbInputDirective type="number" class="form-control"
                                           [attr.disabled]="true"
                                           formControlName="summ">
                                    <label for="summ">Suma</label>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="customsCodes | async"
                                               bindLabel="code"
                                               placeholder="Codul Vamal"
                                               formControlName="customsCode"
                                               [loading]="loadingcustomsCodes"
                                               [typeahead]="customsCodesInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.description}};
                                            <small class="form-text text-muted">Cod AMED: {{item?.code}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.customsCode').invalid">
                                        <small class="text-muted"><strong class="text-danger">Codul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>

                            <!--======================================================================-->
                            <div class="col-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="pharmaceuticalForm | async"
                                               bindLabel="description"
                                               placeholder="Forma medicamentoasă"
                                               formControlName="pharmaceuticalForm"
                                               [loading]="loadingpharmaceuticalForm"
                                               [typeahead]="pharmaceuticalFormInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.description}};
                                            <!--<small class="form-text text-muted">Cod: {{item?.code}}</small>-->
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.pharmaceuticalForm').invalid">
                                        <small class="text-muted"><strong class="text-danger">Forma medicamentoasă trebuie selectată</strong></small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="dose" mdbInputDirective type="text" class="form-control"
                                           formControlName="dose">
                                    <label for="dose">Doza</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.dose').invalid">
                                    <small class="text-muted"><strong class="text-danger">Doza trebuie selectată</strong></small>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="md-form">
                                    <input id="unitsOfMeasurement" mdbInputDirective type="text" class="form-control"
                                           formControlName="unitsOfMeasurement">
                                    <label for="dose">Divizare (Unitatea  de măsură)</label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.unitsOfMeasurement').invalid">
                                    <small class="text-muted"><strong class="text-danger">Divizarea trebuie selectată</strong></small>
                                </div>
                            </div>
                            <!--======================================================================-->


                            <div class="col-md-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="manufacturersRfPr | async"
                                               bindLabel="description"
                                               placeholder="Producatorul"
                                               formControlName="producer"
                                               [loading]="loadingManufacturerRfPr"
                                               [typeahead]="manufacturerInputsRfPr"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.description}};
                                            <small class="form-text text-muted">{{item?.address}}, {{item?.country.description}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.producer').invalid">
                                        <small class="text-muted"><strong class="text-danger">Producatorul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="producerAddress" mdbInputDirective type="text" class="form-control"
                                           [value]="producerAddress" [attr.disabled]="true">
                                    <label for="producerAddress">Ţara şi adresa producătorului
                                        <span class="text-danger">*</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form-modified">
                                    <ng-select [items]="atcCodes | async"
                                               bindLabel="code"
                                               placeholder="Cod ATC"
                                               formControlName="atcCode"
                                               [loading]="loadingAtcCodes"
                                               [typeahead]="atcCodesInputs"
                                               required="true">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.code}} <br/>
                                            <small class="form-text text-muted">Denumire: {{item?.description}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.atcCode').invalid">
                                        <small class="text-muted"><strong class="text-danger">Codul trebuie selectat</strong></small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4" *ngIf="importData?.importAuthorizationEntity.medType==1">
                                <div class="md-form">
                                    <input id="registrationRmNumber" mdbInputDirective type="text" class="form-control" formControlName="registrationRmNumber">
                                    <label for="registrationRmNumber">Nr. de înregistrare în RM
                                        <span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.registrationRmNumber').invalid">
                                    <small class="text-muted"><strong class="text-danger">Nr. de înregistrare în RM trebuie selectat</strong></small>
                                </div>
                            </div>
                            <!--<div class="col-md-4" *ngIf="importData?.importAuthorizationEntity.medType==1">-->
                            <!--<div class="md-form">-->
                            <!--<input id="registrationRmDate" mdbInputDirective type="text" class="form-control" formControlName="registrationRmDate">-->
                            <!--<label for="registrationRmDate">Data de înregistrare în RM-->
                            <!--<span class="text-danger">*</span>-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="col-4" *ngIf="importData !== null && importData?.importAuthorizationEntity.medType==1">
                                <div class="md-form-modified">
                                    <mat-form-field class="w-100">
                                        <input matInput [matDatepicker]="picker32" placeholder="Data de înregistrare în RM"
                                               formControlName="registrationRmDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker32></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.registrationRmDate').invalid">
                                        <small class="text-muted"><strong class="text-danger">Data de înregistrare în RM trebuie selectată</strong></small>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-4" *ngIf="importData?.importAuthorizationEntity.medType==1">-->
                            <div class="col-4" >
                                <div class="md-form-modified">
                                    <mat-form-field class="w-100">
                                        <input matInput [matDatepicker]="picker24" placeholder="Termen de valabilitate"
                                               formControlName="expirationDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker24"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker24></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">
                                    <small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <!--<button class="btn btn-danger waves-light btn-md" (click)="deleteImportTypeForm(i)">Sterge</button>-->
                            <!--<button type="submit" class="btn btn-indigo waves-light btn-md" mdbWavesEffect (click)="addImportTypeForm()" (click)="getProducerAddress(i)">Adauga</button>-->
                            <button type="submit" class="btn btn-indigo waves-light btn-md" mdbWavesEffect (click)="addUnitOfImport()">Adauga</button>
                        </div>
                        <!--</div>-->
                    </div>

                    <table class="table table-widths text-center">
                        <thead class="black white-text">
                        <tr>
                            <th scope="col">Denumirea comercială a medicamentului</th>
                            <th scope="col">Codul ATC</th>
                            <th scope="col">Doza</th>
                            <th scope="col">Divizare</th>
                            <th scope="col">Producatorul</th>
                            <th scope="col">Cantitate</th>
                            <th scope="col">Pretul</th>
                            <th scope="col">Valuta</th>
                            <th scope="col">Suma</th>
                            <!--<th scope="col">Ţara şi adresa producătorului materiei prime</th>-->
                            <th scope="col">Termen de valabilitate</th>
                            <th scope="col">Codul Vamal</th>
                            <th scope="col">Actiuni</th>

                            <!--<th scope="col">Actiuni</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let unitOfImport of unitOfImportTable;let i = index">
                            <th scope="row">{{ unitOfImport?.name }}</th>
                            <td>{{ unitOfImport?.atcCode.code}}</td>
                            <td>{{ unitOfImport?.dose }}</td>
                            <td>{{ unitOfImport?.unitsOfMeasurement }}</td>
                            <td>{{ unitOfImport?.producer.description }}</td>
                            <td>{{ unitOfImport?.quantity }}</td>
                            <td>{{ unitOfImport?.price }}</td>
                            <td>{{ unitOfImport?.currency.shortDescription}}</td>
                            <td>{{ unitOfImport?.summ |  number : '1.2-2'}}</td>
                            <!--<td>{{ unitOfImport?.producer.address }}, {{ unitOfImport?.producer.country.description }}</td>-->
                            <td>{{ unitOfImport?.expirationDate | date:'mediumDate' }}</td>
                            <td>{{ unitOfImport?.customsCode.code }}</td>


                            <td>
                                <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeunitOfImport(i)" mdbWavesEffect>Stergere</button>
                            <!--</td>-->
                            <!--<td>-->
                                <button class="btn btn-blue-color waves-light btn-sm waves-light" (click)="showunitOfImport(unitOfImport)" mdbWavesEffect>Vizualizare</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div *ngIf="formSubmitted && unitOfImportTable.length===0">
                        <small class="text-muted"><strong class="text-danger">Nici o unitate de import nu a fost adaugata</strong></small>
                    </div>

                    <hr>
                </section>
                <div class="text-center">
                    <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl " mdbWavesEffect (click)="nextStep()" type="button">Submit</button>
                    <button class="btn btn-danger waves-light btn-sm btn-sm-bl " mdbWavesEffect (click)="interruptProcess()">Intrerupere</button>
                </div>
            </div>
        </form>
        <app-xchangeinfo (changed)="currencyChanged($event)"></app-xchangeinfo>
    </div>
</div>

