<div class="container z-depth-2 sky">
  <div class="table-width">
    <div class="text-right">
      <mat-form-field class="w-50">
        <mat-icon matPrefix class="pr-search">search</mat-icon>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class="w-50">
      </mat-form-field>
    </div>
    <hr>
    <div class="example-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="codeAmed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Code </th>
          <td mat-cell *matCellDef="let element"> {{element.codeAmed}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="long_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Long Name </th>
          <td mat-cell *matCellDef="let element"> {{element.long_name}} </td>
        </ng-container>

        <ng-container matColumnDef="units_of_measurement_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Units of measurement ID </th>
          <td mat-cell *matCellDef="let element"> {{element.units_of_measurement_id}} </td>
        </ng-container>

        <ng-container matColumnDef="allow_for_ranges">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Allow for ranges </th>
          <td mat-cell *matCellDef="let element"> {{element.allow_for_ranges}} </td>
        </ng-container>

        <ng-container matColumnDef="start_series">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Start series </th>
          <td mat-cell *matCellDef="let element"> {{element.start_series}} </td>
        </ng-container>

        <ng-container matColumnDef="end_series">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> End series </th>
          <td mat-cell *matCellDef="let element"> {{element.end_series}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="black white-text"> Actiune </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect data-toggle="modal" data-target="#edit" (click)="edit.show()">Editare</button>
            <button class="btn btn-dark-red-color waves-light btn-sm waves-light" mdbWavesEffect>Stergere</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <div class="position-button mt-3">
    <button class="btn btn-dark-green-color waves-light btn-sm waves-light" mdbWavesEffect data-toggle="modal" data-target="#add"
      (click)="add.show()">Adaugare</button>
  </div>
</div>


<div mdbModal #edit="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="editLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Editare</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="edit.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="md-form mb-5">
          <input id="codeAmed" type="text" class="form-control" mdbInputDirective [formControl]="codeEdit">
          <label for="codeAmed" data-error="wrong" data-success="right">Code</label>
        </div>

        <div class="md-form mb-5">
          <input id="name" type="text" class="form-control" mdbInputDirective [formControl]="nameEdit">
          <label for="name" data-error="wrong" data-success="right">Name</label>
        </div>

        <div class="md-form mb-5">
          <input id="long_name" type="text" class="form-control" mdbInputDirective [formControl]="long_nameEdit">
          <label for="long_name" data-error="wrong" data-success="right">Long Name</label>
        </div>

        <div class="md-form mb-5">
          <input id="units_of_measurement_id" type="number" class="form-control" mdbInputDirective [formControl]="units_of_measurement_idEdit">
          <label for="units_of_measurement_id" data-error="wrong" data-success="right">Units of measurement ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="allow_for_ranges" type="number" class="form-control" mdbInputDirective [formControl]="allow_for_rangesEdit">
          <label for="allow_for_ranges" data-error="wrong" data-success="right">Allow for Ranges</label>
        </div>

        <div class="md-form mb-5">
          <input id="start_series" type="number" class="form-control" mdbInputDirective [formControl]="start_seriesEdit">
          <label for="start_series" data-error="wrong" data-success="right">Start series</label>
        </div>

        <div class="md-form mb-5">
          <input id="end_series" type="number" class="form-control" mdbInputDirective [formControl]="end_seriesEdit">
          <label for="end_series" data-error="wrong" data-success="right">End series</label>
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect>Salveaza
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #add="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="addLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Adaugare</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="add.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>


      <!--Body-->
      <div class="modal-body">

        <div class="md-form mb-5">
          <input id="codeAmed" type="text" class="form-control" mdbInputDirective [formControl]="codeAdd">
          <label for="codeAmed" data-error="wrong" data-success="right">Code</label>
        </div>

        <div class="md-form mb-5">
          <input id="name" type="text" class="form-control" mdbInputDirective [formControl]="nameAdd">
          <label for="name" data-error="wrong" data-success="right">Name</label>
        </div>

        <div class="md-form mb-5">
          <input id="long_name" type="text" class="form-control" mdbInputDirective [formControl]="long_nameAdd">
          <label for="long_name" data-error="wrong" data-success="right">Long Name</label>
        </div>

        <div class="md-form mb-5">
          <input id="units_of_measurement_id" type="number" class="form-control" mdbInputDirective [formControl]="units_of_measurement_idAdd">
          <label for="units_of_measurement_id" data-error="wrong" data-success="right">Units of measurement ID</label>
        </div>

        <div class="md-form mb-5">
          <input id="allow_for_ranges" type="number" class="form-control" mdbInputDirective [formControl]="allow_for_rangesAdd">
          <label for="allow_for_ranges" data-error="wrong" data-success="right">Allow for Ranges</label>
        </div>

        <div class="md-form mb-5">
          <input id="start_series" type="number" class="form-control" mdbInputDirective [formControl]="start_seriesAdd">
          <label for="start_series" data-error="wrong" data-success="right">Start series</label>
        </div>

        <div class="md-form mb-5">
          <input id="end_series" type="number" class="form-control" mdbInputDirective [formControl]="end_seriesAdd">
          <label for="end_series" data-error="wrong" data-success="right">End series</label>
        </div>

      </div>


      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect>Salveaza
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>