<div class="container-fluid sky z-depth-2">
  <form [formGroup]='rForm'>
    <h3 class="text-center my-3 font-weight-bold">Inregistrare cerere</h3>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <div class="md-form">
          <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                 formControlName="requestNumber" [attr.disabled]="true">
          <label for="nrCererii">Nr. cererii</label>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="md-form-modified">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr>
    <app-document [documents]="documents" [nrCerere]="rForm.get('requestNumber').value"></app-document>
    <div *ngIf="formSubmitted && documents.length==0">
      <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
    </div>
    <hr>
    <div class="row">

      <div class="col-md-6" formGroupName="medicament">
        <div class="md-form-modified">
          <ng-select id="company" name="company" [items]="companies"
                     bindLabel="name"
                     placeholder="Compania solicitant *"
                     formControlName="company">
          </ng-select>
          <div *ngIf="formSubmitted && rForm.get('medicament.company').invalid">
            <small class="text-muted"><strong class="text-danger">Compania solicitantă trebuie selectată</strong></small>
          </div>
          <div *ngIf="formSubmitted && isWrongValueCompany && rForm.get('medicament.company').valid">
            <small class="text-muted"><strong class="text-danger">Compania solicitantă este incorectă</strong></small>
          </div>
        </div>
      </div>
      <div class="col-md-6" formGroupName="medicament">
        <div class="md-form">
          <input id="med" mdbInputDirective type="text" class="form-control" formControlName="name">
          <label for="med">Medicamentul
            <span class="text-danger">*</span>
          </label>
          <div *ngIf="formSubmitted && rForm.get('medicament.name').invalid">
            <small class="text-muted"><strong class="text-danger">Medicamentul trebuie introdus</strong></small>
          </div>
        </div>
      </div>

      <div class="col-md-12" formGroupName="type">
        <div class="md-form">
          <h5 class="text-center font-weight-bold">
            Inregistrare
          </h5>
          <hr>
          <mat-radio-group formControlName="codeAmed">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <mat-radio-button name="prop1" value="ATAC"><span class="cursor">Autorizatie de activitate</span></mat-radio-button>
                </div>
                <div class="col-md-12">
                  <mat-radio-button name="prop2" value="ATIE"><span class="cursor">Autorizatie de import/export</span></mat-radio-button>
                </div>
                <div class="col-md-12">
                  <mat-radio-button name="prop3" value="MACPS"><span class="cursor">Modificarea autorizaţiei de activitate cu precursori/psihotrope/stupefiante</span></mat-radio-button>
                </div>
                <div class="col-md-12">
                  <mat-radio-button name="prop4" value="DACPS"><span class="cursor">Duplicatul autorizatiei de activitate cu precursori/psihotrope/stupefiante</span></mat-radio-button>
                </div>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
      <div class="text-center w-100 mt-3">
        <div class="alert alert-primary">
          <span>Nr. de inregistrare a cererii: </span>
          <strong>{{generatedDocNrSeq}}</strong>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="nextStep()">
        Urmatorul pas
      </button>
    </div>
  </form>
</div>

