<div class="container-fluid sky z-depth-2">
    <form [formGroup]='rForm'>
        <h3 class="text-center my-3 font-weight-bold">Inregistrare cerere</h3>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="requestNumber" [attr.disabled]="true">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <hr>
        <app-document [documents]="documents" [nrCerere]="rForm.get('requestNumber').value"
                      [dcTypes]="docTypes"></app-document>
        <div *ngIf="formSubmitted && documents.length==0">
            <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="md-form-modified">
                    <ng-select [items]="companies | async"
                               bindLabel="name"
                               placeholder="Compania solicitant"
                               formControlName="company"
                               [loading]="loadingCompany"
                               [typeahead]="companyInputs"
                               required="true">
                        <ng-template ng-option-tmp let-item="item">
                            {{item?.name}} <br/>
                            <small class="form-text text-muted">{{item?.idno}}</small>
                        </ng-template>
                    </ng-select>
                    <div *ngIf="formSubmitted && rForm.get('company').invalid">
                        <small class="text-muted"><strong class="text-danger">Compania solicitantă trebuie
                            selectată</strong></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="md-form">
                    <input id="persResDepCereriiFirstname" mdbInputDirective type="text" class="form-control"
                           formControlName="mandatedFirstname">
                    <label for="persResDepCereriiFirstname">Nume persoana responsabilă <span
                            class="text-danger">*</span></label>

                </div>
                <div *ngIf="formSubmitted && !rForm.get('mandatedFirstname').valid">
                    <small class="text-muted"><strong class="text-danger">Prenumele persoanei de contact trebuie
                        introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="persResDepCereriiLastname" mdbInputDirective type="text" class="form-control"
                           formControlName="mandatedLastname">
                    <label for="persResDepCereriiLastname">Prenume persoana responsabilă <span
                            class="text-danger">*</span></label>

                </div>
                <div *ngIf="formSubmitted && !rForm.get('mandatedLastname').valid">
                    <small class="text-muted"><strong class="text-danger">Numele persoanei de contact trebuie
                        introdus</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="telefonContact" mdbInputDirective type="text" class="form-control"
                           formControlName="phoneNumber" maxlength="9"
                    >
                    <label for="telefonContact">Telefon de contact </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="idnp" mdbInputDirective type="text" class="form-control"
                           formControlName="idnp">
                    <label for="idnp">IDNP </label>

                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form">
                    <input id="emailContact" mdbInputDirective type="email" class="form-control"
                           formControlName="email">
                    <label for="emailContact">Email de contact</label>
                </div>
                <div *ngIf="formSubmitted && !rForm.get('email').valid">
                    <small class="text-muted"><strong class="text-danger">Email ul nu este valid.</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="nrProcurii1" mdbInputDirective type="text" class="form-control"
                           formControlName="requestMandateNr">
                    <label for="nrProcurii1">Nr. procurii </label>
                </div>

            </div>
            <div class="col-md-3">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input id="dataProcurii1" matInput [matDatepicker]="picker3" [max]="maxDate"
                               placeholder="Data eliberării procurii" formControlName="requestMandateDate">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12" formGroupName="type">
                <div class="md-form">
                    <h5 class="text-center font-weight-bold">
                        Inregistrare
                    </h5>
                    <hr>
                    <mat-radio-group formControlName="code">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-radio-button name="prop1" value="ATAC"><span class="cursor">Autorizatie de activitate</span>
                                    </mat-radio-button>
                                </div>
                                <div class="col-md-12">
                                    <mat-radio-button name="prop2" value="ATIE"><span class="cursor">Autorizatie de import/export</span>
                                    </mat-radio-button>
                                </div>
                                <div class="col-md-12">
                                    <mat-radio-button name="prop3" value="MACPS"><span class="cursor">Modificarea autorizaţiei de activitate cu precursori/psihotrope/stupefiante</span>
                                    </mat-radio-button>
                                </div>
                                <div class="col-md-12">
                                    <mat-radio-button name="prop4" value="DACPS"><span class="cursor">Duplicatul autorizatiei de activitate cu precursori/psihotrope/stupefiante</span>
                                    </mat-radio-button>
                                </div>

                            </div>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
            <div class="text-center w-100 mt-3">
                <div class="alert alert-primary">
                    <span>Nr. de inregistrare a cererii: </span>
                    <strong>{{generatedDocNrSeq}}</strong>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect (click)="nextStep()">
                Urmatorul pas
            </button>
        </div>
    </form>
</div>

