<div>
    <div class="container-fluid sky z-depth-2">
        <h3 class="text-center my-3 font-weight-bold">Declarare importului</h3>

        <form [formGroup]="evaluateImportForm">
            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input id="requestNumber" mdbInputDirective type="text" class="form-control" formControlName="requestNumber"
                               [attr.disabled]="true">
                        <label for="requestNumber">Nr. cererii</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="md-form-modified">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker" placeholder="Data"
                                   formControlName="startDate" [attr.disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="company" mdbInputDirective type="text" class="form-control"
                               value={{evaluateImportForm.value.company.name}} [attr.disabled]="true">
                        <label for="company">Compania solicitant
                        </label>
                    </div>
                </div>

            </div>

            <!--<app-document [documents]="docs" [nrCerere]="evaluateImportForm.get('requestNumber').value"></app-document>-->
            <!--<app-document *ngIf="importData !== null && importData?.importAuthorizationEntity.medType==1" [documents]="docs" [nrCerere]="evaluateImportForm.get('requestNumber').value" [dcTypeIdentifier]="{code: 'IMMA', step : 'F'}"></app-document>-->
            <app-document  [documents]="docs" [nrCerere]="generatedDocNrSeq" [dcTypeIdentifier]="{code: 'IMMN', step : 'F'}"></app-document>
            <div *ngIf="formSubmitted && docs && docs.length==0">
                <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
            </div>

            <br>
            <br>
            <br>

            <!--<div class="gradient-card-header bg-sidebar border-gradient">-->
            <!--<div class="container-fluid">-->
            <!--&lt;!&ndash; Title &ndash;&gt;-->
            <!--<div class="row">-->
            <!--<div class="col-12">-->
            <!--<div class="card-header-title white-text">Documente de iesire</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->

            <!--=================================================================-->
            <!-- Card content -->
            <!--<div class="card-body card-body-cascade">-->
            <!--<table class="table table-widths-lg text-center">-->
            <!--<thead class="bg-sidebar white-text">-->
            <!--<tr>-->
            <!--<th scope="col">Denumirea</th>-->
            <!--<th scope="col">Numar</th>-->
            <!--<th scope="col">Statut document</th>-->
            <!--<th scope="col">Statut emitere</th>-->
            <!--<th>Actiuni</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr *ngFor="let a of outDocuments">-->
            <!--<th scope="row">{{ a.name }}</th>-->
            <!--<th scope="row">{{ a.number }}</th>-->
            <!--<th scope="row">{{ a.status }}</th>-->
            <!--<th scope="row">-->
            <!--<mat-checkbox-->
            <!--*ngIf="a.docType && (a.docType.category=='SR' || a.docType.category=='AP' || a.docType.category=='AH' || a.docType.category=='AF')"-->
            <!--#checkBoxResponse [checked]="a.responseReceived || a.status=='Atasat'"-->
            <!--(change)="checkResponseReceived(a,checkBoxResponse)"-->
            <!--[disabled]="a.status=='Atasat'">Emitere document-->
            <!--</mat-checkbox>-->
            <!--</th>-->
            <!--<td>-->
            <!--<button class="btn btn-default btn-sm waves-light" mdbWavesEffect (click)="viewDoc(a)"><i-->
            <!--class="fa fa-file fa-lg" aria-hidden="true"></i>-->
            <!--</button>-->
            <!--<button *ngIf="a.status=='Nu este atasat' && a.responseReceived==false && (a.docType.category=='SR' || a.docType.category=='AP' || a.docType.category=='AH' || a.docType.category=='AF')"-->
            <!--class="btn btn-dark-red-color btn-sm waves-light" mdbWavesEffect (click)="remove(a)">-->
            <!--<i class="fa fa-trash fa-lg" aria-hidden="true"></i>-->
            <!--</button>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
            <!--<div *ngIf="formSubmitted && !isResponseReceived">-->
            <!--<small class="text-muted"><strong class="text-danger">Nici un document pentru emitere nu a fost-->
            <!--selectat</strong></small>-->
            <!--</div>-->
            <!--=================================================================-->

            <br>

            <hr>
            <h5 class="text-center font-weight-bold" id="invoiceInfo">Informația despre Invoice</h5>
            <hr>

            <div formGroupName="importAuthorizationEntity">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="invoiceNumber" mdbInputDirective type="text" class="form-control" formControlName="invoiceNumber">
                            <label for="invoiceNumber">Invoice
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div *ngIf="formSubmitted && evaluateImportForm.get('importAuthorizationEntity.invoiceNumber').invalid">
                            <small class="text-muted"><strong class="text-danger">Nr. de de invoice trebuie selectat</strong></small>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker29" placeholder="Data de invoice"
                                       formControlName="invoiceDate">
                                <mat-datepicker-toggle matSuffix [for]="picker29"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker29></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div *ngIf="formSubmitted && evaluateImportForm.get('importAuthorizationEntity.invoiceDate').invalid">
                            <small class="text-muted"><strong class="text-danger">Data de invoice trebuie selectată</strong></small>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="invoiceSpecificatie" mdbInputDirective type="text" class="form-control" formControlName="invoiceSpecificatie">
                            <label for="invoiceSpecificatie">Specificație
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div *ngIf="formSubmitted && evaluateImportForm.get('importAuthorizationEntity.invoiceSpecificatie').invalid">
                            <small class="text-muted"><strong class="text-danger">Specificația trebuie selectată</strong></small>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="invoiceBasis" mdbInputDirective type="text" class="form-control" formControlName="invoiceBasis">
                            <label for="invoiceBasis"  >Temeiul pentru invoice
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div *ngIf="formSubmitted && evaluateImportForm.get('importAuthorizationEntity.invoiceBasis').invalid">
                            <small class="text-muted"><strong class="text-danger">Indicați temeiul pentru import</strong></small>
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="md-form-modified">
                            <ng-select id="customsPoints" placeholder="Vama"
                                       formControlName="customsPoints">
                                <ng-option *ngFor="let point of customsPointsList" [value]="point">{{ point?.description }} - {{point?.code}}</ng-option>
                            </ng-select>
                        </div>
                        <div *ngIf="formSubmitted && evaluateImportForm.get('importAuthorizationEntity.customsPoints').invalid ">
                            <small class="text-muted"><strong class="text-danger">Vama trebuie selectată</strong>
                            </small>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="invoiceCustomsNumber" mdbInputDirective type="text" class="form-control" formControlName="invoiceCustomsNumber">
                            <label for="invoiceCustomsNumber">Numarul Declaratiei vamale
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div *ngIf="formSubmitted && evaluateImportForm.get('importAuthorizationEntity.invoiceCustomsNumber').invalid">
                            <small class="text-muted"><strong class="text-danger">Numărul declarației vamale trebuie selectat</strong></small>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker28" placeholder="Data declaraţiei  vamale"
                                       formControlName="invoiceCustomsDate">
                                <mat-datepicker-toggle matSuffix [for]="picker28"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker28></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div *ngIf="formSubmitted && evaluateImportForm.get('importAuthorizationEntity.invoiceCustomsDate').invalid">
                            <small class="text-muted"><strong class="text-danger">Data declarației vamale trebuie selectată</strong></small>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-12">
                        <hr>
                        <h5 class="text-center font-weight-bold">Informația despre Autorizație</h5>
                        <hr>
                        <br>
                        <br>
                    </div>
                    <!--=================================================================-->
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <ng-select [items]="manufacturersRfPr | async"
                                       bindLabel="description"
                                       placeholder="Vînzător"
                                       formControlName="seller"
                                       [loading]="loadingManufacturerRfPr"
                                       [typeahead]="manufacturerInputsRfPr"
                                       disabled
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item?.description}}
                                    <small class="form-text text-muted">{{item.address}}, {{item.country.description}}</small>
                                </ng-template>
                            </ng-select>

                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <div class="md-form">
                                <input id="adresa" mdbInputDirective type="text" class="form-control"
                                       [attr.disabled]="true" [value]="sellerAddress"> <!--{{sellerAddress.value}}-->
                                <label for="adresa">Adresa vînzătorului</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="basisForImport" mdbInputDirective type="text" class="form-control" formControlName="basisForImport" disabled>
                            <label for="basisForImport">Temeiul pentru autorizație de import
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form-modified">
                            <ng-select [items]="importer | async"
                                       bindLabel="name"
                                       placeholder="Importator"
                                       formControlName="importer"
                                       [loading]="loadingCompany"
                                       [typeahead]="companyInputs"
                                       required="true">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.name}} <br/>
                                    <small class="form-text text-muted">IDNO: {{item.idno}}</small>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="importerAddress" mdbInputDirective type="text" class="form-control"
                                   [value]="importerAddress" disabled>
                            <label for="importerAddress">Ţara şi adresa importatorului
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="contract" mdbInputDirective type="text" class="form-control"
                                   formControlName="contract" disabled>
                            <label for="contract">Contract
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker26" placeholder="Data contractului"
                                       formControlName="contractDate" disabled>
                                <mat-datepicker-toggle matSuffix [for]="picker26"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker26></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--<div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">-->
                        <!--<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>-->
                        <!--</div>-->
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="anexa" mdbInputDirective type="text" class="form-control"
                                   formControlName="anexa" disabled>
                            <label for="anexa">Anexa la contract
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker25" placeholder="Data anexei"
                                       formControlName="anexaDate" disabled>
                                <mat-datepicker-toggle matSuffix [for]="picker25"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker25></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--<div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">-->
                        <!--<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>-->
                        <!--</div>-->
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="specification" mdbInputDirective type="text" class="form-control"
                                   formControlName="specification" disabled>
                            <label for="anexa">Specificație
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker27" placeholder="Data specificației"
                                       formControlName="specificationDate" disabled>
                                <mat-datepicker-toggle matSuffix [for]="picker27"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker27></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--<div *ngIf="addMedicamentClicked && evaluateImportForm.get('importAuthorizationEntity.unitOfImportTable.expirationDate').invalid">-->
                        <!--<small class="text-muted"><strong class="text-danger">Termenul de valabilitate trebuie selectat</strong></small>-->
                        <!--</div>-->
                    </div>


                    <div class="col-md-4" *ngIf="importData?.importAuthorizationEntity.customsNumber">
                        <div class="md-form">
                            <input id="customsNumber" mdbInputDirective type="text" class="form-control" formControlName="customsNumber" disabled>
                            <label for="customsNumber">Nr. declaraţiei vamale
                                <!--<span class="text-danger">*</span>-->
                            </label>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="importData?.importAuthorizationEntity.customsDeclarationDate">
                        <div class="md-form-modified">
                            <mat-form-field class="w-100">
                                <input matInput [matDatepicker]="picker22" placeholder="Data declaraţiei  vamale"
                                       formControlName="customsDeclarationDate" disabled>
                                <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker22></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="conditionsAndSpecification" mdbInputDirective type="text" class="form-control"
                                   formControlName="conditionsAndSpecification" disabled>
                            <label for="basisForImport">Altele
                                <!--<span class="text-danger">*</span>-->
                            </label>
                        </div>
                    </div>
                </div>


                <hr>

                <h5 class="text-center font-weight-bold ">Specificaţia tehnică şi de preţ a obiectelor importului</h5>
                <section>


                    <hr>

                    <table class="table table-widths text-center">
                        <thead class="black white-text">
                        <tr>
                            <!--<th scope="col">Denumirea comercială a medicamentului</th>-->
                            <!--<th scope="col">Codul ATC</th>-->
                            <!--<th scope="col">Doza</th>-->
                            <!--<th scope="col">Divizare</th>-->
                            <!--<th scope="col">Producatorul</th>-->
                            <th scope="col" *ngIf="importData?.medType == 1 || importData?.medType == 2">Cod AMED</th>
                            <th scope="col">Denumire</th>
                            <!--<th scope="col">Data</th>-->
                            <th scope="col">Cantitatea solicitată</th>
                            <!--<th scope="col">Cantitate aprobată</th>-->
                            <th scope="col">Pretul</th>
                            <!--<th scope="col">Valuta</th>-->
                            <th scope="col">Suma</th>
                            <th scope="col">Actiuni</th>
                            <!--<th scope="col">Ţara şi adresa producătorului materiei prime</th>-->
                            <!--<th scope="col">Termen de valabilitate</th>-->
                            <!--<th scope="col">Codul Vamal</th>-->
                            <!--<th scope="col">Aprobat</th>-->
                            <!--<th scope="col">Actiuni</th>-->

                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr *ngFor="let unitOfImport of importData?.importAuthorizationEntity.importAuthorizationDetailsEntityList;let i = index">-->
                        <!--<th scope="row">{{ unitOfImport.name }}</th>-->
                        <!--<td *ngIf="importData?.importAuthorizationEntity.medType!==4">{{ unitOfImport.atcCode.code}}</td>-->
                        <!--<td>{{ unitOfImport.dose }}</td>-->
                        <!--<td>{{ unitOfImport.unitsOfMeasurement }}</td>-->
                        <!--<td>{{ unitOfImport.producer.description }}</td>-->
                        <!--<td>{{ unitOfImport.quantity }}</td>-->
                        <!--<td>{{ unitOfImport.approvedQuantity }}</td>-->
                        <!--<td>{{ unitOfImport.currencyCode }}</td>-->
                        <!--<td>{{ unitOfImport.currency.shortDescription}}</td>-->
                        <!--<td>{{ unitOfImport.summ | number : '1.2-2'}}</td>-->
                        <!--&lt;!&ndash;<td>{{ unitOfImport.producer.address }}, {{ unitOfImport.producer.country.description }}</td>&ndash;&gt;-->
                        <!--<td>{{ unitOfImport.expirationDate | date:'mediumDate' }}</td>-->
                        <!--<td>{{ unitOfImport.customsCode.code }}</td>-->
                        <!--<td>-->
                        <!--<mat-checkbox [disabled]="true" [checked]="importData?.importAuthorizationEntity.importAuthorizationDetailsEntityList[i].approved" (change)="setApproved(i)"></mat-checkbox>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--<button class="btn btn-primary waves-light btn-sm waves-light" (click)="showunitOfImport(unitOfImport, i)" mdbWavesEffect>Adaugă</button>-->
                        <!--</td>-->
                        <!--</tr>-->

                        <tr *ngFor="let invoiceDetail of invoiceDetails;let i = index">
                            <td *ngIf="importData?.medType == 1 || importData?.medType == 2">{{ invoiceDetail.codeAmed }}</td>
                            <td>{{ invoiceDetail.name }}</td>
                            <!--<td>{{ invoiceDetail.data | date:'mediumDate' }}</td>-->
                            <td>{{ invoiceDetail.quantity }}</td>
                            <td>{{ invoiceDetail.price }}</td>
                            <td>{{ invoiceDetail.sum | number : '1.2-2'}}</td>
                            <button class="btn btn-dark-red-color waves-light btn-sm waves-light" (click)="removeunitOfImport(i)" mdbWavesEffect>Sterge</button>

                        </tr>
                        </tbody>
                    </table>
                    <!--<div *ngIf="formSubmitted && unitOfImportTable.length===0">-->
                    <!--<small class="text-muted"><strong class="text-danger">Nici o unitate de import nu a fost adaugata</strong></small>-->
                    <!--</div>-->

                    <!--<button class="btn btn-default btn-sm waves-light" mdbWavesEffect (click)="viewDoc()">Autorizatie</button>-->
                    <button id="adauga" class="btn btn-primary waves-light btn-sm waves-light pull-right" (click)="showunitOfImport()" mdbWavesEffect>Adaugă unitate de import</button>
                    <div *ngIf="formSubmitted && invoiceDetails.length == 0 ">
                        <small class="text-muted"><strong class="text-danger">Nici o poziție nu a fost adaugată</strong></small>
                    </div>

                    <hr>
                    <br>
                    <br>
                </section>
                <div class="text-center">
                    <button class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl " mdbWavesEffect (click)="nextStep(true, true)" type="button">Sălvează Declarația</button>
                    <button class="btn btn-danger waves-light btn-sm btn-sm-bl " mdbWavesEffect (click)="nextStep(false)" type="button">Respinge Declarația</button>
                    <button class="btn btn-dark-red-color waves-light btn-sm btn-sm-bl " mdbWavesEffect (click)="interruptProcess()">
                        Intrerupere
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

