<div class="container-fluid sky z-depth-2">
    <div class="row">
        <div class="col-4">
            <div class="widget widget-stats bg-gradient-red">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-medkit fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Numarul de cereri nefinisate</div>
                    <div class="stats-number">{{requestsNumber}}</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="widget widget-stats bg-gradient-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-bandcamp fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Numarul de cereri expirate</div>
                    <div class="stats-number">{{expiredReqNumber}}</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="widget widget-stats bg-gradient-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-bell fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Numarul de cereri urgente</div>
                    <div class="stats-number">{{emergentReqNumber}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-width">
        <div class="text-right">
            <mat-form-field class="w-25">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtru" class="w-25">
            </mat-form-field>
        </div>
        <div class="example-container">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="requestNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Numar cerere
                    </th>
                    <td mat-cell *matCellDef="let element" class="width__homepage__td">
                        <a title="Deschide proces" (click)="navigateToUrl(element)" *ngIf="isLink(element)" mdbTooltip="{{element.requestNumber}}"
                            placement="top">
                            {{element.requestNumber}}
                        </a>
                        <span class="homepage__name" title="Deschide proces" *ngIf="!isLink(element)" mdbTooltip="{{element.requestNumber}}"
                            placement="top">
                            {{element.requestNumber}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="processName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Nume cerere
                    </th>
                    <td mat-cell *matCellDef="let element" class="width__homepage__td"><span mdbTooltip="{{element.processName}}"
                            placement="top">{{element.processName}}</span></td>
                </ng-container>

                <ng-container matColumnDef="requestType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Tip cerere</th>
                    <td mat-cell *matCellDef="let element" class="width__homepage__td"><span mdbTooltip="{{element.requestType}}" placement="top">{{element.requestType}}</span></td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Utilizator</th>
                    <td mat-cell *matCellDef="let element" class="width__homepage__td"><span mdbTooltip="{{element.username}}" placement="top">{{element.username}}</span></td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Data
                        inregistrare</th>
                    <td mat-cell *matCellDef="let element" class="width__homepage__td"><span mdbTooltip="{{element.startDate | date:
                        'dd/MM/yyyy'}}" placement="top">{{element.startDate | date:
                            'dd/MM/yyyy'}}</span></td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Data inchidere</th>
                    <td mat-cell *matCellDef="let element" class="width__homepage__td"><span mdbTooltip="{{element.endDate | date:
                        'dd/MM/yyyy'}}" placement="top">{{element.endDate | date:
                            'dd/MM/yyyy'}}</span></td>
                </ng-container>

                <ng-container matColumnDef="step">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Etapa</th>
                    <td mat-cell *matCellDef="let element" class="width__homepage__td"><span mdbTooltip="{{element.step}}" placement="top">{{element.step}}</span></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>