<div class="container-fluid sky z-depth-2">
    <div class="row">
        <div class="col-4">
            <div class="widget widget-stats bg-gradient-red">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-medkit fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Numarul de cereri nefinisate</div>
                    <div class="stats-number">{{requestsNumber}}</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="widget widget-stats bg-gradient-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-bandcamp fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Numarul de cereri expirate</div>
                    <div class="stats-number">{{expiredReqNumber}}</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="widget widget-stats bg-gradient-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-bell fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Numarul de cereri urgente</div>
                    <div class="stats-number">{{emergentReqNumber}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-width">
        <div class="text-right">
            <mat-form-field class="w-25">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtru" class="w-25">
            </mat-form-field>
        </div>
        <div class="example-container">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="requestNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Numar cerere</th>
                    <td mat-cell *matCellDef="let element">
                        <a title="Deschide proces" (click)="navigateToUrl(element)" *ngIf="isLink(element)">
                            {{element.requestNumber}}
                        </a>
                        <i class="font-weight-bold" title="Deschide proces" *ngIf="!isLink(element)">
                            {{element.requestNumber}}
                        </i>
                    </td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Data inceperii</th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Compania solicitant</th>
                    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                </ng-container>


                <ng-container matColumnDef="deponent">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Depunator</th>
                    <td mat-cell *matCellDef="let element"> {{element.mandatedContact}} </td>
                </ng-container>

                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Subiect</th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Data finisare</th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="step">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-sidebar white-text"> Pas</th>
                    <td mat-cell *matCellDef="let element"> {{element.step}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>