.table-width {
  width: 100%;
}

th, td {
  text-align: center !important;
}

mat-header-cell {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

table td a {
  text-decoration: underline;
  color: #488CD3;
  font-weight: bold;
}

.example-container {
  height: 500px;
  overflow: auto;
}

table {
  width: 100%;
}

.md-form-modified {
  position: relative;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

.btn-large {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

/deep/ .mat-checkbox-frame {
  border-color: gray;
}

.mat-column-select {
  overflow: initial;
}