<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Inregistrarea cererii de nimicire a medicamentelor</h3>
    <hr>

    <form [formGroup]="mForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCererii">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data de inregistrare a cererii"
                               id="dataCererii"
                               formControlName="dataCererii">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified-select">
                    <ng-select class="custom" [items]="companii | async"
                               bindLabel="name"
                               placeholder="Companii"
                               formControlName="company"
                               [required]="true"
                               [loading]="loadingCompany"
                               [typeahead]="companyInputs"
                    >
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br />
                            <small class="form-text text-muted">{{item.idno}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('company').valid">
                    <small class="text-muted"><strong class="text-danger">Agentul economic trebuie introdus</strong>
                    </small>
                </div>
            </div>
        </div>

        <app-document [documents]="docs" [nrCerere]="mForm.get('nrCererii').value"></app-document>
        <div *ngIf="rFormSubbmitted && docs.length==0">
            <small class="text-muted"><strong class="text-danger">Nici un document nu a fost incarcat</strong></small>
        </div>

    </form>


    <h3 class="text-center my-3 font-weight-bold">Colectare date</h3>
    <hr>
    <form [formGroup]="rForm">
        <div class="row">

            <div class="col-md-3">
                <div class="md-form-modified-select">
                    <ng-select class="custom" [items]="medicamente | async"
                                   bindLabel="name"
                                   placeholder="Medicament"
                                   formControlName="medicaments"
                                   [required]="true"
                                   [typeahead]="medInputs"
                                   [loading]="medLoading"
                    >
                        <ng-template ng-option-tmp let-item="item">
                            <div>{{item.name}}  </div>
                            <small class="form-text text-muted">{{item.code}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('medicaments').valid">
                    <small class="text-muted"><strong class="text-danger">Medicamentul trebuie introdus</strong>
                    </small>
                </div>
            </div>


            <div class="col-md-3">
                <div class="md-form">
                    <input id="forma" mdbInputDirective type="text" class="form-control" formControlName="forma"
                    >
                    <label for="forma">Forma</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="doza" mdbInputDirective type="text" class="form-control" formControlName="doza"
                    >
                    <label for="doza">Doza</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="ambalajPrimar" mdbInputDirective type="text" class="form-control"
                           formControlName="ambalajPrimar"
                    >
                    <label for="ambalajPrimar">Ambalaj primar</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="md-form">
                    <input id="seria" mdbInputDirective type="text" class="form-control" formControlName="seria"
                    >
                    <label for="seria">Seria</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="quantity" mdbInputDirective type="text" class="form-control"
                           formControlName="quantity"
                    >
                    <label for="quantity">Cantitatea<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('quantity').valid">
                    <small class="text-muted"><strong class="text-danger">Cantitatea trebuie introdusa</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="reasonDestroy" mdbInputDirective type="text" class="form-control"
                           formControlName="reasonDestroy"
                    >
                    <label for="reasonDestroy">Cauza inutilitatii<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="rFormSubbmitted && !rForm.get('reasonDestroy').valid">
                    <small class="text-muted"><strong class="text-danger">Cauza inutilitatii trebuie introdusa</strong>
                    </small>
                </div>
            </div>


            <div class="col-md-10">
                <div class="md-form">
                <textarea type="text" id="note" class="md-textarea form-control" mdbInputDirective rows="2"
                          formControlName="note"></textarea>
                    <label for="note">Nota</label>
                </div>
            </div>

            <div class="col">
                <div class="text-center">
                    <div class="md-form mt-button">
                        <button type="button" class="btn btn-indigo waves-light btn-sm btn-sm-bl" mdbWavesEffect
                                (click)="addNewMedicament()">Adauga
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr>
    <table class="table table-widths text-center">
        <thead class="black white-text">
        <tr>
            <th scope="col">Medicament</th>
            <th scope="col">Cantitatea</th>
            <th scope="col">Cauza distrugerii</th>
            <th scope="col">Actiuni</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let meds of medicamentsToDestroy;let i = index">
            <th scope="row">{{ meds.medicamentName }}</th>
            <td>{{ meds.quantity }}</td>
            <td>{{ meds.uselessReason }}</td>
            <td>
                <button class="btn btn-dark-red-color waves-light btn-sm waves-light" type="button"
                        (click)="removeMedicamentToDestroy(i)" mdbWavesEffect>Sterge
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="fFormSubbmitted && medicamentsToDestroy.length==0">
        <small class="text-muted"><strong class="text-danger">Nici un medicament pentru nimicire nu a fost
            adaugat</strong></small>
    </div>
    <hr>

     <div class="text-center">
         <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                 (click)="submitNew()">Urmatorul pas
         </button>
     </div>


</div>