<div class="container-fluid sky z-depth-2">
  <h3 class="text-center my-3 font-weight-bold">Inregistrarea cererii de nimicire a medicamentelor</h3>
  <hr>
  <form [formGroup]='dataForm'>
    <div class="row">
      <div class="col-lg-5">
        <div class="md-form">
          <input id="nrCererii" mdbInputDirective type="text" class="form-control" formControlName="nrCererii"
            [attr.disabled]="true">
          <label for="nrCererii">Nr. cererii</label>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="md-form-modified">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-2 position-button mt-3">
        <label class="btn btn-indigo btn-sm" for="incarcaraFisier">
          <input id="incarcaraFisier" type="file" style="display:none;" (change)="onChange($event)" onclick="this.value=null;">
          Incarca Cerere
        </label>
      </div>
    </div>
  </form>
  <hr>
  <table class="table table-widths-lg text-center">
    <thead class="black white-text">
      <tr>
        <th scope="col">Denumire</th>
        <th scope="col">Format</th>
        <th scope="col">Data incarcarii</th>
        <th scope="col">Actiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of cerere">
        <th scope="row">{{ x.denumirea }}</th>
        <td>{{ x.format }}</td>
        <td>{{ x.dataIncarcarii }}</td>
        <td>
          <button class="btn btn-mdb-color btn-sm waves-light" mdbWavesEffect>View</button>
          <button class="btn btn-dark-red-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Stergere</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="row">
    <div class="col-4">
      <div class="md-form">
        <input id="compSolicitant" mdbInputDirective type="text" class="form-control">
        <label for="compSolicitant">Compania solicitant
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-4">
      <div class="md-form">
        <input id="med" mdbInputDirective type="text" class="form-control">
        <label for="med">Medicamentul
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="offset-1 col-3">
      <div class="md-form">
        <mat-radio-group [(ngModel)]="model3">
          <div class="row">
            <div class="col">
              <mat-radio-button name="prop1" value="A2">Primară</mat-radio-button>
            </div>
            <div class="col">
              <mat-radio-button name="prop2" value="B2">Repetată</mat-radio-button>
            </div>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <hr>
  <h5 class="text-center font-weight-bold">Medicamentele de nimicit</h5>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="md-form">
        <input id="denumire" mdbInputDirective type="text" class="form-control">
        <label for="denumire">Denumirea
          <span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
          <mat-select placeholder="Forma farmaceutică">
            <mat-option *ngFor="let x of forma" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form">
        <input id="doza" mdbInputDirective type="text" class="form-control">
        <label for="doza">Doza
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
          <mat-select placeholder="mg">
            <mat-option *ngFor="let x of forma" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
          <mat-select placeholder="Ambalaj primar">
            <mat-option *ngFor="let x of forma" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form">
        <input id="seria" mdbInputDirective type="text" class="form-control">
        <label for="seria">Seria
        </label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form">
        <input id="quantity" mdbInputDirective type="text" class="form-control">
        <label for="quantity">Cantitatea
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="md-form-modified">
        <mat-form-field class="w-100">
          <mat-select placeholder="grame">
            <mat-option *ngFor="let x of forma" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-5">
      <div class="md-form">
        <mat-form-field class="w-100">
          <mat-select placeholder="Cauza inutilitatii">
            <mat-option *ngFor="let x of forma" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-5">
      <div class="md-form">
        <mat-form-field class="w-100">
          <mat-select placeholder="Metoda de nimicire">
            <mat-option *ngFor="let x of forma" [value]="x.value">{{ x.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-2">
      <div class="md-form">
        <button class="mt-3 btn btn-dark-red-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Sterge din lista</button>
      </div>
    </div>
  </div>
  <div class="position-button">
    <button class="mt-3 btn btn-mdb-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Adauga medicament nou</button>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="md-form">
        <textarea id="nota" type="text" class="md-textarea form-control" mdbInputDirective></textarea>
        <label for="nota">Nota</label>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Confirmare
      cerere</button>
    <button type="button" class="btn btn-dark-red-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Anulare</button>
  </div>
</div>