<div class="container-fluid sky z-depth-2">
    <form [formGroup]="mForm">
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="nrCererii" mdbInputDirective type="text" class="form-control"
                           formControlName="nrCererii">
                    <label for="nrCererii">Nr. cererii</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Data de inregistrare a cererii"
                               id="dataCererii"
                               formControlName="dataCererii">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form-modified-select">
                    <ng-select class="custom" [items]="companii | async"
                               bindLabel="name"
                               placeholder="Agentul economic"
                               formControlName="company"
                               [required]="true"
                               [loading]="loadingCompany"
                               [typeahead]="companyInputs"
                    >
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br/>
                            <small class="form-text text-muted">{{item.idno}}</small>
                        </ng-template>
                    </ng-select>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('company').valid">
                    <small class="text-muted"><strong class="text-danger">Agentul economic trebuie introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-1">
                <div class="md-form">
                    <button class="btn btn-mdb-color btn-sm" mdbTooltip="Agent economic nou" (click)="newAgent()"><i
                            class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <app-document [documents]="docs" [nrCerere]="mForm.get('nrCererii').value"
                      [dcTypeIdentifier]="{code : 'INMD', step : 'R'}"></app-document>


        <h3 class="text-center my-3 font-weight-bold">Persoana reprezentativa</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="md-form">
                    <input id="persResDepCereriiFirstname" mdbInputDirective type="text" class="form-control"
                           formControlName="persResDepCereriiFirstname">
                    <label for="persResDepCereriiFirstname">Nume persoană depunătoare <span class="text-danger">*</span></label>

                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('persResDepCereriiFirstname').valid">
                    <small class="text-muted"><strong class="text-danger">Prenumele persoanei de contact trebuie introdus</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <input id="persResDepCereriiLastname" mdbInputDirective type="text" class="form-control"
                           formControlName="persResDepCereriiLastname">
                    <label for="persResDepCereriiLastname">Prenume persoană depunătoare <span class="text-danger">*</span></label>

                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('persResDepCereriiLastname').valid">
                    <small class="text-muted"><strong class="text-danger">Numele persoanei de contact trebuie introdus</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <input id="idnp" mdbInputDirective type="text" class="form-control"
                           formControlName="idnp" maxlength="13"
                    >
                    <label for="idnp">Act de identitate</label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="telefonContact" mdbInputDirective type="text" class="form-control"
                           formControlName="telefonContact" maxlength="9"
                    >
                    <label for="telefonContact">Telefon de contact </label>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('telefonContact').valid">
                    <small class="text-muted"><strong class="text-danger">Telefonul nu este valid.</strong>
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="emailContact" mdbInputDirective type="email" class="form-control"
                           formControlName="emailContact">
                    <label for="emailContact">Email de contact</label>
                </div>
                <div *ngIf="mFormSubbmitted && !mForm.get('emailContact').valid">
                    <small class="text-muted"><strong class="text-danger">Email ul nu este valid.</strong>
                    </small>
                </div>
            </div>

            <div class="col-md-3">
                <div class="md-form">
                    <input id="nrProcurii1" mdbInputDirective type="text" class="form-control"
                           formControlName="nrProcurii1">
                    <label for="nrProcurii1">Nr. procurii </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form-modified">
                    <mat-form-field class="w-100">
                        <input id="dataProcurii1" matInput [matDatepicker]="picker3" [max]="maxDate"
                               placeholder="Data eliberării procurii" formControlName="dataProcurii1"
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker3 [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="md-form">
	                    <textarea type="text" id="reqSubject" class="md-textarea form-control" mdbInputDirective rows="1"
                                  formControlName="regSubject"></textarea>
                    <label for="reqSubject">Subiectul cererii<span class="text-danger">*</span></label>
                </div>
                <div *ngIf="mFormSubbmitted && mForm.get('regSubject').invalid">
                    <small class="text-muted"><strong class="text-danger">Subiectul cererii trebuie introdus</strong>
                    </small>
                </div>
            </div>
        </div>

    </form>

    <div class="text-center">
        <button type="button" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect
                (click)="submitNew()">Urmatorul pas
        </button>
    </div>


</div>