<h2 mat-dialog-title align="center">Adauga Farmacist/Sef de filiala</h2>
<mat-dialog-content>
    <form [formGroup]='rForm'>
        <div class="row">
            <div class="col">
                <div class="md-form">
                    <input id="farm" mdbInputDirective type="text" class="form-control"
                           formControlName="farm">
                    <label for="farm">Farmacist/Sef de filiala</label>
                </div>
            </div>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn btn-dark-green-color btn-sm-bl btn-sm" (click)="ok()">Salvare</button>
    <button class="btn btn-dark-red-color btn-sm-bl btn-sm" (click)="cancel()">Inchidere</button>
</mat-dialog-actions>