<div class="container-fluid sky z-depth-2">
    <h3 class="text-center my-3 font-weight-bold">Adaugare metoda de nimicire a medicamentelor</h3>
    <hr>
    <form [formGroup]='qForm'>
  <div class="mb-5">
      <div class="md-form">
          <input id="cod" mdbInputDirective type="text" class="form-control" formControlName="cod">
          <label for="cod">Cod
            <strong class="text-danger">*</strong>
          </label>
        </div>
  </div>
  <div class="mb-5">
      <div class="md-form">
          <input id="denumireaMetodei" mdbInputDirective type="text" class="form-control" formControlName="denumireaMetodei">
          <label for="denumireaMetodei">Denumirea metodei
            <strong class="text-danger">*</strong>
          </label>
        </div>
  </div>
  <div class="mb-5">
      <div class="md-form">
          <input id="descriere" mdbInputDirective type="text" class="form-control" formControlName="descriere">
          <label for="descriere">Descriere
            <strong class="text-danger">*</strong>
          </label>
        </div>
  </div>
    </form>
    <div class="text-center">
      <button type="submit" [disabled]="!qForm.valid" (click)="addForm()" class="btn btn-dark-green-color waves-light btn-sm btn-sm-bl" mdbWavesEffect>Adaugare</button>
      <button type="button" class="btn btn-danger btn-sm waves-light" mdbWavesEffect (click)="cancel()">Anulare</button>
    </div>
  </div>
  
  
  <div class="alerts-position">
    <div *ngIf="qForm.controls['cod'].touched && !qForm.controls['cod'].valid">
      <div *ngIf="!qForm.controls['cod'].errors.valid" class="alert alert-danger alert-dismissible fade show animated fadeIn" role="alert">
        In campul
        <strong>cod</strong> este necesar de introdus date
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div *ngIf="qForm.controls['denumireaMetodei'].touched && !qForm.controls['denumireaMetodei'].valid">
      <div *ngIf="!qForm.controls['denumireaMetodei'].errors.valid" class="alert alert-danger alert-dismissible fade show animated fadeIn"
        role="alert">
        In campul
        <strong>Denumirea metodei</strong> este necesar de introdus date
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div *ngIf="qForm.controls['descriere'].touched && !qForm.controls['descriere'].valid">
      <div *ngIf="!qForm.controls['descriere'].errors.valid" class="alert alert-danger alert-dismissible fade show animated fadeIn"
        role="alert">
        In campul
        <strong>descriere</strong> este necesar de introdus date
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>