<div>
    <div mdbModal #frame="mdbModal" class="modal fade right modal-scrolling" id="frameModalTop" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info modal-size" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header peach-gradient">
                    <p class="h6 white-text">Rata medie a BNM pentru luna precedentă evaluării dosarului
                    </p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="container">
                        <div class="row" *ngFor="let avgCur of currencies; let i = index">
                            <div class="col-12">
                                <div class="row p-0 text-center font-weight-bold alert alert-currency">
                                    <div class="col-4">{{'1 ' + avgCur?.currency?.shortDescription}}</div>
                                    <div class="col">=</div>
                                    <div class="col-4">
                                        <input #exchangeField
                                               id="myText"
                                               type="number"
                                               class="text-right font-weight-bold w-100 input-currency"
                                               [value]="avgCur?.value | number:'1.4'"
                                               (change)="exchangeRateModified(i, exchangeField.value)"/>
                                    </div>
                                    <div class="col-2 text-left font-weight-bold">MDL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <button type="button" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
            class="btn peach-gradient btn-md btn-fixed z-depth-5">Curs valutar
    </button>
</div>